<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="mySeriatimTypeLabel" translate="finreApp.seriatimType.home.createOrEditLabel">Create or
      edit a SeriatimType</h4>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label for="id" translate="global.field.id">ID</label>
      <input type="text" class="form-control" id="id" name="id"
             ng-model="vm.seriatimType.id" readonly/>
    </div>
    <div class="form-group">
      <label class="control-label" translate="finreApp.seriatimType.name" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name"
             ng-model="vm.seriatimType.name"
             required/>
      <div ng-show="editForm.name.$invalid">
        <p class="help-block"
           ng-show="editForm.name.$error.required" translate="entity.validation.required">
          This field is required.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" translate="finreApp.seriatimType.description"
             for="field_description">Description</label>
      <input type="text" class="form-control" name="description" id="field_description"
             ng-model="vm.seriatimType.description"
      />
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
