<div class="container-fluid panel panel-default">
  <div class="row panel-heading">
    <h2>Seriatim Types</h2>
  </div>
  <div class="row panel-body">
    <button class="btn rga-button" ui-sref="seriatim-type.new">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs">
        Seriatim Type
      </span>
      </button>
  </div>
</div>
<div class="panel panel-default table-responsive">
  <table class="jh-table table table-striped table-hover clickable">
    <thead class="rga-thead">
      <tr>
        <th>
          <span translate="finreApp.seriatimType.name">Name</span>
        </th>
        <th>
          <span translate="finreApp.seriatimType.description">Description</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ui-sref="seriatim-type-detail({id:seriatimType.id})" ng-repeat="seriatimType in vm.seriatimTypes track by seriatimType.id">
        <td>{{seriatimType.name}}</td>
        <td>{{seriatimType.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
