
<div>
    <h2><span translate="finreApp.allocationType.detail.title">AllocationType</span> {{vm.allocationType.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="finreApp.allocationType.name">Name</dt></dt>
        <dd>
            <span>{{vm.allocationType.name}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.allocationType.description">Description</dt></dt>
        <dd>
            <span>{{vm.allocationType.description}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.allocationType.sortOrder">SortOrder</dt></dt>
        <dd>
            <span>{{vm.allocationType.sortOrder}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.allocationType.default_flag">Default_flag</dt></dt>
        <dd>
            <span>{{vm.allocationType.default_flag}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.allocationType.lastUser">LastUser</dt></dt>
        <dd>
            <span>{{vm.allocationType.lastUser}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.allocationType.lastUpdate">LastUpdate</dt></dt>
        <dd>
            <span>{{vm.allocationType.lastUpdate | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span translate="finreApp.allocationType.creationTS">CreationTS</dt></dt>
        <dd>
            <span>{{vm.allocationType.creationTS | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span translate="finreApp.allocationType.creationUser">CreationUser</dt></dt>
        <dd>
            <span>{{vm.allocationType.creationUser}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.allocationType.effBeginTs">EffBeginTs</dt></dt>
        <dd>
            <span>{{vm.allocationType.effBeginTs | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span translate="finreApp.allocationType.effEndTs">EffEndTs</dt></dt>
        <dd>
            <span>{{vm.allocationType.effEndTs | date:'mediumDate'}}</span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
