<div class="panel panel-default container-fluid">
  <div class="panel-heading row">
    <h2>Allocation Types</h2>
  </div>
  <div class="panel-body row">
    <button class="btn rga-button" ui-sref="allocation-type.new">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs">
        Allocation Type
      </span>
    </button>
  </div>
</div>
<div class="panel panel-default table-responsive">
  <table class="jh-table table table-striped table-hover clickable">
    <thead class="rga-thead">
      <tr>
        <th>
          <span translate="finreApp.allocationType.name">Name</span>
        </th>
        <th>
          <span translate="finreApp.allocationType.description">Description</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ui-sref="allocation-type.edit({id:allocationType.id})" ng-repeat="allocationType in vm.allocationTypes track by allocationType.id">
        <td >{{allocationType.name}}</td>
        <td >{{allocationType.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
