
<ul class="nav nav-pills nav-justified">
  <li role="presentation" ui-sref-active="current"><a id="treatyDetailTab"  ui-sref="treaty-detail({id:vm.treatyId,dealId:vm.dealId})">Treaty</a></li>
  <li role="presentation" ui-sref-active="current"><a id="contactCompanyTab" ui-sref="contacts-company-detail({id:vm.treatyId,dealId:vm.dealId})">Companies & Contacts</a></li>
  <li ng-hide="vm.treatyTransaction.agreementType.id==2"  role="presentation" ui-sref-active="current"><a id="treatyTrackingTab" ui-sref="treaty-tracking-all({treatyId:vm.treatyId,dealId:vm.dealId})">Treaty Tracking</a></li>
  <li ng-hide="!vm.treatyAmendments.treaty.treatyCurrencies.length==0"  role="presentation" ui-sref-active="current"><a id="noTransactionTab" uib-tooltip="Cannot add transactions because the treaty has no currencies.">Cash Transactions</a></li>
  <li ng-hide="vm.treatyAmendments.treaty.treatyCurrencies.length==0"  role="presentation" ui-sref-active="current"><a id="TransactionTab"  ui-sref="treaty-transaction-cash({id:vm.treatyId,dealId:vm.dealId})">Cash Transactions</a></li>


  <li role="presentation" ui-sref-active="current"><a id="amendmentsTab" ui-sref="treaty-amendments-all({treatyId:vm.treatyId,dealId:vm.dealId})">Amendments</a></li>
</ul>
<br>
<div class="panel">
  <div class="panel-heading rga-header">
    <div class="row">
      <div class="form-group col-sm-12">
        <div class="col-sm-4"> <br>
          <button id="editAmendments" type="submit"
                  ui-sref="treaty-amendments-detail.edit({dealId:vm.dealId,id:vm.treatyAmendments.id, treatyId: vm.treatyId})"
                  class="btn rga-button" uib-tooltip="Edit Amendments">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button id="backAmendmentList" type="submit"
                  ui-sref="treaty-amendments-all({treatyId:vm.treatyId,dealId:vm.dealId})"
                  class="btn rga-button" uib-tooltip="Amendments List">
            <span class="glyphicon glyphicon-arrow-left"></span> Back to Amendments List
          </button>
        </div>
        <div class="col-sm-8">
          <h3 class="rga-right"><strong class="rga-font fa">
            {{vm.treatyAmendments.treaty.deal.name}}  - {{vm.treatyAmendments.treaty.agreementType.name}} - {{vm.treatyAmendments.treaty.productStructure.name}} - {{vm.treatyAmendments.treaty.treatyName}}</strong></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="panel align-right">
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label" translate="finreApp.treatyAmendments.amendmentName"
                 >AmendmentName</label>
       <input readonly class="form-control" ng-model="vm.treatyAmendments.amendmentName"/>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" translate="finreApp.treatyAmendments.effectiveDate">EffectiveDate</label>
          <br>
          <input type="text" class="form-control" ng-model="vm.treatyAmendments.effectiveDate" readonly/>
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label" translate="finreApp.treatyAmendments.comments"
                 for="field_comments">Comments</label>
              <textarea readonly type="text" class="form-control" name="comments" id="field_comments"
                        ng-model="vm.treatyAmendments.comments"/>
        </div>
      </div>
    </div>
  </div>
</div>
