<div>
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" ui-sref-active="current">
      <a ui-sref="treaty-detail({id:vm.treatyId,dealId:vm.dealId})">Treaty</a>
    </li>
    <li role="presentation" ui-sref-active="current">
      <a ui-sref="contacts-company-detail({id:vm.treatyId,dealId:vm.dealId})">Companies & Contacts</a>
    </li>
    <li ng-show="vm.treaty.disabledTracking===0 || vm.trackingCount > 0" role="presentation" ui-sref-active="current">
      <a ui-sref="treaty-tracking-all({treatyId:vm.treatyId,dealId:vm.dealId})">Treaty Tracking</a>
    </li>
    <li ng-show="vm.treaty.treatyCurrencies.length==0" role="presentation" ui-sref-active="current">
      <a uib-tooltip="Cannot add transactions because the treaty has no currencies.">Cash Transactions</a>
    </li>
    <li ng-show="vm.treaty.treatyCurrencies.length!=0" role="presentation" ui-sref-active="current">
      <a ui-sref="treaty-transaction-cash({id:vm.treatyId,dealId:vm.dealId})">Cash Transactions</a>
    </li>
    <li role="presentation" ui-sref-active="current">
      <a ui-sref="treaty-amendments-all({treatyId:vm.treatyId,dealId:vm.dealId})">Amendments</a>
    </li>
  </ul>
  <intro-button options="vm.introOptions" />
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-3">
          <h5>
            <label class="control-label"> Deal Name </label>
            <br> {{ vm.treaty.deal.name }}
          </h5>
        </div>
        <div class="col-sm-3">
          <h5>
            <label class="control-label">Agreement Type</label>
            <br> {{ vm.treaty.agreementType.name }}</h5>
        </div>
        <div class="col-sm-3">
          <h5>
            <label class="control-label">Product Structure</label>
            <br> {{ vm.treaty.productStructure.name }}
          </h5>
        </div>
        <div class="col-sm-3">
          <h5>
            <label class="control-label">Treaty Name</label>
            <br> {{ vm.treaty.treatyName }} </h5>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <a ng-show="vm.treaty.treatyStatus.id===1||vm.treaty.treatyStatus.id===4" ng-disabled="true" type="button" uib-tooltip="You cannot add amendments to this treaty because the status is Pending or Terminated."
        class="btn rga-button">
        <span class="hidden-xs">
          New Amendment
        </span>
      </a>
      <button id="newAmendment" ng-show="vm.treaty.treatyStatus.id !==1 && vm.treaty.treatyStatus.id !== 4" class="step1 btn rga-button"
        ui-sref="treaty-amendments-all.new({dealId:vm.dealId,treatyId:vm.treatyId})">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs">
          New Amendment
        </span>
      </button>
      <button id="backToTreatyList" type="submit" ui-sref="treaty-deal({dealId:vm.dealId})" class="step2 btn rga-button-inverse">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Treaty List
      </button>
    </div>
  </div>

  <div class="step3 panel panel-default">
    <table class="jh-table table table-striped">
      <thead class="ammendments rga-thead">
        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
          <th ng-click="amendmentNumberSort()">
            <span translate="finreApp.treatyAmendments.amendmentName">AmendmentName</span>
            <span class="glyphicon glyphicon-sort{{vm.amendmentSort == null ? '' : (vm.amendmentSort ? '-by-attributes' : '-by-attributes-alt' )}}"></span>
          </th>
          <th jh-sort-by="effectiveDate">
            <span translate="finreApp.treatyAmendments.effectiveDate">EffectiveDate</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>
          <th jh-sort-by="comments">
            <span translate="finreApp.treatyAmendments.comments">Comments</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-repeat="treatyAmendments in vm.treatyAmendments track by treatyAmendments.id">
        <tr class="cursor-pointer">
          <td ui-sref="treaty-amendments-detail({id:treatyAmendments.id,treatyId:vm.treatyId,dealId:vm.dealId})">{{treatyAmendments.amendmentName}}</td>
          <td ui-sref="treaty-amendments-detail({id:treatyAmendments.id,treatyId:vm.treatyId,dealId:vm.dealId})">{{treatyAmendments.effectiveDate | date:'mediumDate'}}
          </td>
          <td ui-sref="treaty-amendments-detail({id:treatyAmendments.id,treatyId:vm.treatyId,dealId:vm.dealId})">{{treatyAmendments.comments}}</td>
          <td class="text-right">
            <div class="step4 btn-group flex-btn-group-container">
              <button id="editAmendment" type="submit" ui-sref="treaty-amendments-all.edit({dealId:vm.dealId,id:treatyAmendments.id, treatyId: vm.treatyId})"
                class="btn btn-default rga-font" uib-tooltip="Edit Amendment">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button type="submit" ng-click="vm.deleteAmendment(treatyAmendments.id)" ng-class="{'disabled': vm.treaty.treatyStatus.id === 4 || vm.actualUser !== 'Admin'}"
                class="btn btn-default rga-font">
                <span class="glyphicon glyphicon-remove"></span>
                <md-tooltip md-direction="top" ng-show="vm.actualUser !== 'Admin'">
                  Only the Admin can delete Amendments</md-tooltip>
                <md-tooltip md-direction="top" ng-show="vm.actualUser === 'Admin' && vm.treaty.treatyStatus.id !== 4">
                  Delete Amendment</md-tooltip>
                <md-tooltip md-direction="top" ng-show="vm.actualUser === 'Admin' && vm.treaty.treatyStatus.id === 4">
                  You cannot delete amendments on terminated treaties</md-tooltip>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--<div class="text-center">-->
  <!--<jhi-item-count ng-show="vm.treatyAmendments.length > 0"  page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>-->
  <!--<div id="noPages"  ng-show="vm.treatyAmendments.length == 0" class="text-center">-->
  <!--<br>-->
  <!--Showing 0 - 0 of 0 items.-->
  <!--</div>-->
  <!--<uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"-->
  <!--ng-change="vm.transition()"></uib-pagination>-->
  <!--</div>-->
</div>
