<div class="rga-modal">
  <form name="editForm" role="form" id="myModal" novalidate ng-submit="vm.save()">
    <div class="modal-header">
      <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clearx()">
        <span class="glyphicon glyphicon-remove-circle"></span>
      </button>
     <h4 class="modal-title" id="myTreatyAmendmentsLabel" ><strong>
        <span translate="finreApp.treatyAmendments.home.createOrEditLabel" ></span>
      </strong></h4>
   </div>
    <div class="modal-body">
      <jh-alert-error></jh-alert-error>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><strong> Amendment Information </strong> </h4>
          <h5 ng-if="vm.actualUser==='Admin'"> Status {{ vm.treatyAmendments.notificationStatus.name}} </h5>
          </div>
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-sm-12">
               {{vm.treatyAmendments.treaty.deal.name}} - {{vm.treatyAmendments.treaty.agreementType.name}} - {{vm.treatyAmendments.treaty.productStructure.name}}  - {{vm.treatyAmendments.treaty.treatyName}}</div>
        </div>
          <div class="row">
            <div class="form-group col-sm-3" ng-class="{'has-error': editForm.amendmentName.$invalid}">
              <label class="control-label" translate="finreApp.treatyAmendments.amendmentName"
                     for="field_amendmentName">AmendmentName</label>
              <input type="text" class="form-control" name="amendmentName" id="field_amendmentName"
                     ng-model="vm.treatyAmendments.amendmentName" required/>
            </div>
            <div class="form-group col-sm-3"  ng-class="{'has-error': editForm.effectiveDate.$invalid}">
              <label class="control-label" translate="finreApp.treatyAmendments.effectiveDate"
                     for="field_effectiveDate">EffectiveDate</label>
              <div class="input-group">
                <input id="field_effectiveDate" type="text" class="form-control" name="effectiveDate" required
                       onkeyup="
                                    var date = this.value;
                                    if (date.match(/^\d{4}$/) !== null) {
                                       this.value = date + '-';
                                    } else if (date.match(/^\d{4}\-\d{2}$/) !== null) {
                                       this.value = date + '-';
                                    }" maxlength="10"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.treatyAmendments.effectiveDate"
                       is-open="vm.datePickerOpenStatus.effectiveDate"/>
              <span class="input-group-btn">
                  <button id="calendarEffective" type="button" class="btn btn-default" ng-click="vm.openCalendar('effectiveDate')">
                    <em class="glyphicon glyphicon-calendar"></em></button>
              </span>
              </div>
            </div>
            <div class="form-group col-sm-6" ng-class="{'has-error': editForm.comments.$invalid}">
              <label class="control-label" translate="finreApp.treatyAmendments.comments"
                     for="field_comments">Comments</label>
            <textarea type="text" class="form-control" name="comments" id="field_comments"
                      ng-model="vm.treatyAmendments.comments" required> </textarea>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="cancel" type="button" class="btn btn-default rga-font" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
        translate="entity.action.cancel">Cancel</span>
      </button>
      <button id="saveAdmin"
              ng-show="vm.actualUser=='Admin'"
              type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-default rga-font">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Review/Approve</span>
      </button>
      <button id="saveNoAdmin" ng-show="vm.actualUser!='Admin'" type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-default rga-font">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
      </button>

    </div>
      </div>
  </form>
</div>
