<form name="deleteForm"  novalidate show-validation ng-submit="vm.confirmDelete(vm.treatyAmendments.id)">
  <div class="modal-header">
    <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
  </div>
  <div class="modal-body">

    <p translate="finreApp.treatyAmendments.delete.question" translate-values="{id: '{{vm.treatyAmendments.id}}'}">Are
      you sure you want to delete this TreatyAmendments?

    </p>
      <label class="control-label" ng-class="{'has-error': editForm.reason.$invalid}"> Please enter a reason why you wish to delete this amendment.</label>
            <textarea type="text" class="form-control" name="reason" ng-class="{'has-error': editForm.reason.$invalid}"
                      ng-model="vm.treatyAmendments.reason"
             required/>



  </div>
  <div class="modal-footer">
    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button id="delete" type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
