<div>
  <div class="rga-well">
    <h3><strong class="rga-font fa fa-lg"><strong> Reports</strong></strong></h3>
  </div>

  <div class="container-fluid">
      <intro-button options="vm.introOptions"/>

  </div>
  <br/>

  <uib-accordion close-others="true">
    <uib-accordion-group ng-repeat="reportLevel in vm.reportBylevel | orderBy:'level' "
                         class="panel" is-open="reportLevel.status">
      <uib-accordion-heading>
        <div class="accordion-header">{{reportLevel.level}}
        </div>
      </uib-accordion-heading>
        <table class="step1 jh-table table table-striped table-hover">
          <!-- <thead class="rga-thead">
          <tr>
            <th><span>Report Name </span></th>
            <th><span >Report Description </span></th>
          </tr>
          </thead> -->
          <tbody>
            <tr ng-repeat="reports in reportLevel.reports | orderBy:'name'" >
              <td style="min-width:500px;" ui-sref="reports-detail({id:reports.id})"><strong>{{reports.name}}</strong></td>
              <td ui-sref="reports-detail({id:reports.id})"><strong>{{reports.description}}</strong></td>
            </tr>
          </tbody>
        </table>


    </uib-accordion-group>
  </uib-accordion>

  <div class="panel panel-default">



  </div>
</div>
