
<div>
    <h2 class="rga-font"> <strong>{{vm.reports.name}}</strong></h2>
  <button type="submit"
          ui-sref="reports"
          class="btn rga-button">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;  Back to Reports Listing
  </button>
    <hr>
  <md-switch class="md-switch"  aria-label="RGA Switch"
             ng-model="vm.flagChange"
             aria-label="RGA Switch" ng-true-value="'SSRS'" ng-false-value="'TABLEAU'"
             class="md-warn"
             ng-change="vm.switchChange()"><strong>  Report format: {{vm.flagChange}} </strong>
  </md-switch>
    <dl class="dl-horizontal jh-entity-details">
      <iframe ng-if="vm.reportLink"  ng-src="{{vm.reportLink}}" width="100%" height="800">  </iframe>
      <div ng-if="!vm.reportLink"  > No report in {{vm.flagChange}}</div>
    </dl>

</div>
