<form name="deleteForm" ng-submit="vm.confirmDelete(vm.reports.id)">
    <div class="modal-header">
        <button id="confirmDelete" type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="entity.delete.title">Confirm delete operation</h4>
    </div>
    <div class="modal-body">

        <p data-translate="finreApp.reports.delete.question" translate-values="{id: '{{vm.reports.id}}'}">Are you sure you want to delete this Reports?</p>
    </div>
    <div class="modal-footer">
        <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button id="delete" type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span data-translate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
