<div class="panel panel-default container-fluid">
  <div class="panel-heading row">

    <div class="col-md-2">
      <h2>Reports</h2>
      <button id="newReport" class="btn btn-block rga-button col-md-2" ui-sref="reports-admin.new">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs">
                New Report
            </span>
      </button>
    </div>
  </div>
  <div class="panel-body row">

  </div>
</div>
<div class="panel panel-default table-responsive">
  <table class="jh-table table table-striped table-hover clickable">
    <thead class="rga-thead">
    <tr>
      <th>
        <span>Name</span>
      </th>
      <th>
        <span>Description</span>
      </th>
      <th>
        <span>Category</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="reports in vm.reports | orderBy:'name'" >
      <td class="col-md-2" ui-sref="reports-admin.edit({id:reports.id})"><strong>{{reports.name}}</strong></td>
      <td class="col-md-5"  ui-sref="reports-admin.edit({id:reports.id})"><strong>{{reports.description}}</strong></td>
      <td class="col-md-2"  ui-sref="reports-admin.edit({id:reports.id})"><strong>{{reports.reportLevel}}</strong></td>
    </tr>
    </tbody>
  </table>
</div>
