
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReportsLabel" data-translate="finreApp.reports.home.createOrEditLabel">Create or edit a Reports</h4>
    </div>
    <div class="modal-body">

        <div class="form-group" ng-class="{'has-error': editForm.name.$invalid}">
            <label class="control-label" data-translate="finreApp.reports.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.reports.name" required
                     />
        </div>

      <div class="form-group" ng-class="{'has-error': editForm.description.$invalid}">
        <label class="control-label" for="field_name">Description</label>
        <textarea type="text" class="form-control" name="description" id="field_description"
               ng-model="vm.reports.description" required
        ></textarea>
      </div>

      <div class="form-group" ng-class="{'has-error': editForm.reportLevel.$invalid}">
        <label class="control-label"  for="field_name">Category</label>
        <input type="text" class="form-control" name="reportLevel" id="field_Level"
               ng-model="vm.reports.reportLevel" required
        />
      </div>
      <div class="form-group">
            <div class="form-group" >
            <div>
                    <label class="control-label"  for="field_name">Tableau Default</label>
                     <md-checkbox class="md-primary  md-top" ng-model="vm.reports.flagFormat" ng-true-value=1 ng-false-value=0/>
                   
                 </div>
                </br>
        <label class="control-label"  for="field_name">Tableau Link</label>
        <input type="text" class="form-control" name="level" id="tableautLink"
               ng-model="vm.reports.tableautLink"
        />     
      </div>
 
    </div>
     
      <div class="form-group">
        <label class="control-label"  for="field_name">SSRS Link</label>
        <input type="text" class="form-control" name="level" id="reportLink"
               ng-model="vm.reports.reportLink"
        />
      </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
