<form name="editForm" role="form" novalidate ng-submit="vm.save()">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myProductStructureLabel" translate="finreApp.productStructure.home.createOrEditLabel">
      Create or edit a ProductStructure</h4>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label for="id" translate="global.field.id">ID</label>
      <input type="text" class="form-control" id="id" name="id"
             ng-model="vm.productStructure.id" readonly/>
    </div>
    <div class="form-group">
      <label class="control-label" translate="finreApp.productStructure.name" for="field_name">Name</label>
      <input type="text" class="form-control" name="name" id="field_name"
             ng-model="vm.productStructure.name"
      />
    </div>
    <div class="form-group">
      <label class="control-label" translate="finreApp.productStructure.description"
             for="field_description">Description</label>
      <input type="text" class="form-control" name="description" id="field_description"
             ng-model="vm.productStructure.description"
      />
    </div>
    <div class="form-group">
      <label class="control-label" translate="finreApp.productStructure.structureCode" for="field_structureCode">StructureCode</label>
      <input type="text" class="form-control" name="structureCode" id="field_structureCode"
             ng-model="vm.productStructure.structureCode"
      />
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
    </button>
  </div>
</form>
