<div class="container-fluid panel panel-default">
  <div class="row panel-heading">
    <h2>Product Structures</h2>
  </div>
  <div class="row panel-body">
    <button class="btn rga-button" ui-sref="product-structure.new">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs">
        Product Structure
      </span>
    </button>
  </div>
</div>
<div class="panel panel-default table-responsive">
  <table class="jh-table table table-striped table-hover clickable">
    <thead class="rga-thead">
      <tr>
        <th>
          <span translate="finreApp.productStructure.name">Name</span>
        </th>
        <th>
          <span translate="finreApp.productStructure.structureCode">StructureCode</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ui-sref="product-structure-detail({id:productStructure.id})" ng-repeat="productStructure in vm.productStructures track by productStructure.id">
        <td>{{productStructure.name}}</td>
        <td>{{productStructure.structureCode}}</td>
      </tr>
    </tbody>
  </table>
</div>
