<div>
  <h2><span translate="finreApp.productStructure.detail.title">ProductStructure</span> {{vm.productStructure.id}}</h2>
  <hr>
  <dl class="dl-horizontal">
    <dt><span translate="finreApp.productStructure.name">Name</dt>
    </dt>
    <dd>
            <span>{{vm.productStructure.name}}<span>
    </dd>
    <hr>
    <dt><span translate="finreApp.productStructure.description">Description</dt>
    </dt>
    <dd>
            <span>{{vm.productStructure.description}}<span>
    </dd>
    <hr>
    <dt><span translate="finreApp.productStructure.structureCode">StructureCode</dt>
    </dt>
    <dd>
            <span>{{vm.productStructure.structureCode}}<span>
    </dd>
    <hr>
  </dl>

  <button type="submit"
          onclick="window.history.back()"
          class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
  </button>
</div>
