
<div>
    <h2><span data-translate="finreApp.riskCriteria.detail.title">Risk Criteria</span> {{vm.riskCriteria.id}}</h2>
    <hr>

    <dl class="dl-horizontal jh-entity-details">
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="risk-criteria-detail.edit({id:vm.riskCriteria.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
