<div class="panel panel-default container-fluid">
  <div class="row panel-heading">
    <h2>Product Subtypes</h2>
  </div>
  <div class="row panel-body">
    <button class="btn rga-button" ui-sref="product-subtype.new">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs">
        Product Subtype
      </span>
    </button>
  </div>
</div>
<div class="panel panel-default table-responsive">
  <table class="jh-table table table-striped table-hover clickable">
    <thead class="rga-thead">
      <tr>
        <th>
          <span translate="finreApp.productSubtype.name">Name</span>
        </th>
        <th>
          <span translate="finreApp.productSubtype.description">Description</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ui-sref="product-subtype-detail({id:productSubtype.id})" ng-repeat="productSubtype in vm.productSubtypes track by productSubtype.id">
        <td>{{productSubtype.name}}</td>
        <td>{{productSubtype.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
