<ul class="nav nav-pills nav-justified">
  <li role="presentation" ui-sref-active="current">
    <a id="treatyDetailTab" ui-sref="treaty-detail({id:vm.treatyId,dealId:vm.dealId})">Treaty</a>
  </li>
  <li role="presentation" ui-sref-active="current">
    <a id="contactCompanyTab" ui-sref="contacts-company-detail({id:vm.treatyId,dealId:vm.dealId})">Companies & Contacts</a>
  </li>
  <li ng-show="vm.treaty.disabledTracking===0 || vm.trackingCount > 0" role="presentation" ui-sref-active="current">
    <a id="treatyTrackingTab" ui-sref="treaty-tracking-all({treatyId:vm.treatyId,dealId:vm.dealId})">Treaty Tracking</a>
  </li>
  <li ng-show="vm.treaty.treatyCurrencies.length==0" role="presentation" ui-sref-active="current">
    <a id="noTransactionTab" uib-tooltip="Cannot add transactions because the treaty has no currencies.">Cash Transactions</a>
  </li>
  <li ng-show="vm.treaty.treatyCurrencies.length!=0" role="presentation" ui-sref-active="current">
    <a id="TransactionTab" ui-sref="treaty-transaction-cash({id:vm.treatyId,dealId:vm.dealId})">Cash Transactions</a>
  </li>
  <li role="presentation" ui-sref-active="current">
    <a id="amendmentsTab" ui-sref="treaty-amendments-all({treatyId:vm.treatyId,dealId:vm.dealId})">Amendments</a>
  </li>
</ul>
<intro-button options="vm.introOptions" />
<div class="panel panel-default" id="myModal">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-3">
        <h5>
          <label class="control-label"> Deal Name </label>
          <br> {{ vm.treaty.deal.name }}
        </h5>
      </div>
      <div class="col-sm-3">
        <h5>
          <label class="control-label">Agreement Type</label>
          <br> {{ vm.treaty.agreementType.name }}</h5>
      </div>
      <div class="col-sm-3">
        <h5>
          <label class="control-label">Product Structure</label>
          <br> {{ vm.treaty.productStructure.name }}
        </h5>
      </div>
      <div class="col-sm-3">
        <h5>
          <label class="control-label">Treaty Name</label>
          <br> {{ vm.treaty.treatyName }} </h5>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-5 no-padding-left">
          <button id="backTreatyList" type="submit" ui-sref="treaty-deal({dealId:vm.dealId})" class="step1 btn rga-button-inverse">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Treaty List
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="step2 row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Associated Companies</h3>
      </div>
      <table class="table">
        <thead>
          <th class="col-sm-2 text-left">Client Co. #</th>
          <th class="col-sm-5 text-left">Company Name</th>
          <th class="col-sm-2 text-left">Company Type</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-if="vm.xrefTreatyCompanies.length === 0" style="text-align:center;">
            <td colspan="4">No Companies Found</td>
          </tr>
          <tr ng-repeat="xrefcompany in vm.xrefTreatyCompanies">
            <td>{{xrefcompany.company.clientCompanyId}}</td>
            <td>
              <a ui-sref="company-detail({id:xrefcompany.company.id})">{{xrefcompany.company.name}}</a>
            </td>
            <td>{{xrefcompany.companyType}}</td>

            <td align="right">
              <button ng-if="vm.trackingCount===0 || !xrefcompany.companyType.includes('Ceding')  " ng-if="vm.authority !== 'ViewOnly'"
                id="removeCompany" class="btn btn-default" ng-click="removeCompany(xrefcompany,$index)">
                <span class="glyphicon glyphicon-remove"></span>
                <md-tooltip md-direction="top" ng-show="vm.trackingCount>0">
                  Remove This Company and Save
                </md-tooltip>
              </button>
              <button ng-if="vm.trackingCount>0 && xrefcompany.companyType.includes('Ceding')  " class="btn btn-default disabled">
                <span class="glyphicon glyphicon-remove"></span>
                <md-tooltip md-direction="top" ng-show="vm.trackingCount>0 && xrefcompany.companyType.includes('Ceding')  ">
                  You cannot remove Ceding Companies from this treaty because the date calcs on Treaty Tracking records may be adversely affected.
                </md-tooltip>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="panel-body">
        <form name="contactForm" class="form" role="form" novalidate show-validation>
          <div class="row">
            <div class="col-sm-12">
              <label class="control-label">Company</label>
              <br/>
              <input type="text" id="searchCompanyInput" class="step3 form-control" placeholder="Start typing a company name or client company number..."
                uib-tooltip="Search the Companies Lists" ng-model="vm.selectedCompany" uib-typeahead="company as company.clientCompanyId+' &nbsp;-&nbsp; '+company.name for company in vm.companies | filter:$viewValue|limitTo:20"
                ng-change="vm.searchCompanies();" />
            </div>
            <div class="col-sm-6">
              <br/>
              <label class="control-label">Type</label>
              <br/>
              <select ng-disabled="!vm.selectedCompany" class="form-control" id="field_companyOptionsTypeSelected" name="companyOptionsTypeSelected"
                ng-model="vm.companyTypeOption" ng-options="companyType as companyType.name for companyType in vm.companyTypes track by companyType.name">
                <option value=""></option>
              </select>
            </div>
            <div class="col-sm-6">
              <br/>
              <br class="spacing-no-label"/>
              <button ng-if="vm.authority !== 'ViewOnly'" ng-disabled="!vm.selectedCompany || !vm.companyTypeOption" class="btn rga-button step4 btn-block" type="button" id="addAndSave" ng-click="addCompany()">
                <span class="glyphicon glyphicon-plus"></span> Add Company
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Associated Contacts</h3>
        <button id="newContact" style="margin-top:-37px;" class="pull-right step6 btn rga-button-inverse" ui-sref="contacts-company-detail.xnew({id:vm.treatyId,dealId:vm.dealId, contactId: ''})">Create New Contact</button>
      </div>
      <table class="table">
        <thead>
          <th class="col-sm-4 text-left">Contact Name</th>
          <th class="col-sm-4 text-left">Company Name</th>
          <th class="col-sm-2 text-left">Contact Type</th>
          <th class="col-sm-2 text-left">Subtype</th>
          <th ng-if="vm.authority !== 'ViewOnly'" class="col-sm-1 text-left"></th>
        </thead>
        <tr ng-if="vm.xrefTreatyContacts.length === 0" style="text-align:center;">
          <td colspan="5">No Contacts Found</td>
        </tr>
        <tr ng-repeat="xrefContact in vm.xrefTreatyContacts">
          <td>
            <a ui-sref="contact-detail({id:xrefContact.contact.id})" id="{{$index}}-contact-name">{{xrefContact.contact.firstName}} {{xrefContact.contact.lastName}}</a>
          </td>
          <td> {{xrefContact.contact.contactCompanyName}} </td>
          <td id="{{$index}}-contact-type">{{xrefContact.contactType.name}}</td>
          <td>
            <span id="{{$index}}-subtype" ng-if="xrefContact.contactSubtype.name">{{xrefContact.contactSubtype.name}}</span>
            <span id="{{$index}}-subtype" ng-if="!xrefContact.contactSubtype.name"> N/A</span>
          </td>
          <td ng-if="vm.authority !== 'ViewOnly'" align="right">

            <button id="{{$index}}-removeContact" class="btn btn-default" ng-click="removeContact($index)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <md-tooltip md-direction="top">
              Remove This Contact and save
            </md-tooltip>
          </td>
        </tr>
      </table>
      <div class="panel-body">
        <form name="contactForm" role="form" novalidate show-validation>
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label">Contact</label>
              <br/>
              <input type="text" id="searchExistingContactInput" class="step5 form-control" placeholder="Search Existing Contacts" autocomplete="off" uib-tooltip="Query Contacts" ng-model="vm.selectedContact" uib-typeahead="contact as contact.firstName+' '+contact.lastName for contact in vm.contacts | filter:$viewValue|limitTo:20" ng-change="vm.searchContacts();" />
            </div>
            <div class="col-sm-6">
              <label class="control-label">Contact Type</label>
              <select class="step7 form-control" id="field_contactType" name="contactSubType" ng-model="vm.selectedContactType" ng-options="contactType as contactType.name for contactType in vm.contactTypes|orderBy:'name'" required>
                <option value=""></option>
              </select>
            </div>
            <div class="col-sm-6">
              <br/>
              <label class="control-label">Subtype</label>
              <select class="step8 form-control" id="field_contactSubType" name="contactSubType" ng-model="vm.selectedContactSubtype" ng-options="contactSubtype as contactSubtype.name for contactSubtype in vm.contactSubtypes  | orderBy:'name'  track by contactSubtype.id" ng-disabled="vm.subtypeDisabled" ng-required="vm.selectedContactType.name==='Internal'">
                <option value=""></option>
              </select>
            </div>
            <div class="col-sm-6">
              <br/>
              <br class="spacing-no-label"/>
              <button ng-if="vm.authority !== 'ViewOnly'" id="addAndsaveContact" class="step9 btn rga-button btn-block" ng-disabled="contactForm.$invalid || isSaving || vm.selectedContact.id==undefined"
              uib-tooltip="Add/Save Contact" ng-click="addContact()">
                <span class="glyphicon glyphicon-plus"></span> Add Contact
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
