<div>
    <h2 data-translate="sessions.title" translate-values="{username: '{{vm.account.login}}'}">Active sessions for [<strong>{{vm.account.login}}</strong>]</h2>

    <div class="alert alert-success" ng-show="vm.success" data-translate="sessions.messages.success">
        <strong>Session invalidated!</strong>
    </div>
    <div class="alert alert-danger" ng-show="vm.error" data-translate="sessions.messages.error">
        <strong>An error has occured!</strong> The session could not be invalidated.
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-translate="sessions.table.ipaddress">IP Address</th>
                    <th data-translate="sessions.table.useragent">User agent</th>
                    <th data-translate="sessions.table.date">Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="session in vm.sessions">
                    <td>{{session.ipAddress}}</td>
                    <td>{{session.userAgent}}</td>
                    <td>{{session.tokenDate | date:'longDate'}}</td>
                    <td>
                        <button type="submit"
                                class="btn btn-primary"
                                ng-click="vm.invalidate(session.series)" data-translate="sessions.table.button">
                                 Invalidate
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
