<div id="top">
  <h2>Welcome to FASTopedia!!!<br/>
    <small>Your source for all things FAST!</small></h2>
  <div class="container-fluid">
    <div class="row mainButtons">
      <div ng-show="vm.admin" class="col-sm-6">
          <button ng-click="vm.createNewItem()" class="btn rga-button">
              <span class="glyphicon glyphicon-plus"></span> <span class="hidden-sm hidden-xs">Add Section</span>
          </button>
          <button ng-click="vm.setOpen(1)" class="btn rga-button-inverse">Expand</button>
          <button ng-click="vm.setOpen(0)" class="btn rga-button-inverse">Collapse</button>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <input maxlength="32" ng-keypress="vm.enterOnSearch($event)" type="text" class="form-control" ng-model="vm.searchQuery" placeholder="Search for..."/>
          <span class="input-group-btn">
            <button ng-click="vm.search()" class="btn rga-button" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
          <span ng-show="vm.searching" class="input-group-btn">
            <button ng-click="vm.clearSearch()" class="btn rga-button" type="button"><span class="glyphicon glyphicon-trash"></span></button>
          </span>
        </div>
      </div>
  </div>
</div>
<input id="imageUploader" type="file" style="visibility: hidden;" onchange="uploadImage(this, currentDocumentUpload.update)" ng-model="vm.fileUploader" accept="image/*" />
<div ng-show="!vm.searching" class="wiki">
  <div class="row" ng-if="document.parentId === 0" ng-repeat="document in vm.documents">
    <div class="editor col-xs-12" ng-show="document.editing">
      <div class="col-sm-8" ng-class="{'has-error':document.title.length > 60}">
        <input class="form-control" ng-model="document.title" ng-change="document.title.length <= 60 && vm.saveContent(document)" />
        <span ng-show="document.title.length > 60" class="help-block">The title cannot be longer than 60.</span>
      </div>
      <div class="alignRight col-sm-4">
        <button ng-click="vm.doneEditing(document)" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
      </div>
      <div class="col-xs-12">
        <text-angular data-item="document" ta-toolbar="vm.toolbar" ng-change="vm.saveContent(document)" ng-model="document.content"></text-angular>
      </div>
    </div>
    <div ng-show="!document.editing" class="level1 sticky col-xs-12">
      <div class="col-xs-8">
        <h1 ng-click="vm.toggleOpen(document)">
          {{document.title}}&nbsp;<span class="caret {{document.open ? 'caret-up' : ''}}"></span>
        </h1>
      </div>
      <div ng-show="vm.admin" class="icons alignRight col-xs-4">
        <span ng-click="vm.createNewItem(document.id)" class="glyphicon glyphicon-plus text-primary"></span>
        <span ng-click="vm.edit(document)" class="text-primary glyphicon glyphicon-pencil"></span>
        <span ng-class="{'disabled':$index === 0}" ng-click="vm.moveUp(vm.documents, $index)" class="text-default glyphicon glyphicon-arrow-up"></span>
        <span ng-class="{'disabled':$index >= vm.documents.length - 1}" ng-click="vm.moveDown(vm.documents, $index)" class="text-default glyphicon glyphicon-arrow-down"></span>
        <span ng-class="{'disabled':document.subdocuments.length !== 0}" ng-click="vm.remove(vm.documents, $index)" class="text-danger glyphicon glyphicon-trash">
          <md-tooltip ng-show="document.subdocuments.length !== 0">The subitems must be deleted before deleting</md-tooltip>
        </span>
      </div>     
    </div>
    <div ng-show="!document.editing && document.open" class="col-xs-12">
      <div class="content" id="content" ta-bind ng-model="document.content"></div>
    </div> 
    <div ng-show="document.open" class="col-xs-12 no-padding-right">
      <div ng-repeat="subdocument in document.subdocuments" class="col-xs-12 no-padding-right">
        <div class="editor col-xs-12" ng-show="subdocument.editing">
          <div class="col-sm-8" ng-class="{'has-error':subdocument.title.length > 60}">
            <input class="form-control" ng-model="subdocument.title" ng-change="sub.title.length <= 60 && vm.saveContent(subdocument)" />
            <span ng-show="subdocument.title.length > 60" class="help-block">The title cannot be longer than 60.</span>
          </div>
          <div class="alignRight col-sm-4">
            <button ng-click="vm.doneEditing(subdocument)" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
          </div>
          <div class="col-xs-12">
            <text-angular data-item="subdocument" ta-toolbar="vm.toolbar" ng-change="vm.saveContent(subdocument)" ng-model="subdocument.content" class="toolbarLevel2"></text-angular>
          </div>
        </div>
        <div ng-show="!subdocument.editing" class="sticky level2 col-xs-12">
          <div class="col-xs-8">
              <h2 ng-click="vm.toggleOpen(subdocument)">
                {{subdocument.title}}&nbsp;<span class="caret {{subdocument.open ? 'caret-up' : ''}}"></span>
              </h2>
            </div>
            <div ng-show="vm.admin" class="icons alignRight col-xs-4">
              <span ng-click="vm.createNewItem(subdocument.id)" class="glyphicon glyphicon-plus text-primary"></span>
              <span ng-click="vm.edit(subdocument)" class="text-primary glyphicon glyphicon-pencil"></span>
              <span ng-class="{'disabled':$index === 0}" ng-click="vm.moveUp(document.subdocuments, $index)" class="text-default glyphicon glyphicon-arrow-up"></span>
              <span ng-class="{'disabled':$index >= document.subdocuments.length - 1}" ng-click="vm.moveDown(document.subdocuments, $index)" class="text-default glyphicon glyphicon-arrow-down"></span>
              <span ng-class="{'disabled':subdocument.subdocuments.length !== 0}" ng-click="vm.remove(document.subdocuments, $index)" class="text-danger glyphicon glyphicon-trash">
                <md-tooltip ng-show="subdocument.subdocuments.length !== 0">The subitems must be deleted before deleting</md-tooltip>
              </span>
            </div>      
        </div>
        <div ng-show="!subdocument.editing && subdocument.open" class="col-xs-12">
          <div class="content" ta-bind ng-model="subdocument.content"></div>
        </div>
        <div ng-show="subdocument.open" class="col-xs-12 no-padding-right">
          <div ng-repeat="subs in subdocument.subdocuments" class="col-xs-12 no-padding-right">
            <div class="editor col-xs-12" ng-show="subs.editing">
              <div class="col-sm-8" ng-class="{'has-error':subs.title.length > 60}">
                <input class="form-control" ng-model="subs.title" ng-change="subs.title.length <= 60 && vm.saveContent(subs)" />
                <span ng-show="subs.title.length > 60" class="help-block">The title cannot be longer than 60.</span>
              </div>
              <div class="alignRight col-sm-4">
                <button ng-click="vm.doneEditing(subs)" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
              </div>
              <div class="col-xs-12">
                <text-angular data-item="subs" ta-toolbar="vm.toolbar" ng-change="vm.saveContent(subs)" ng-model="subs.content" class="toolbarLevel3"></text-angular>
              </div>
            </div>
            <div ng-show="!subs.editing" class="sticky level3 col-xs-12">
              <div class="col-xs-8">
                  <h3 ng-click="vm.toggleOpen(subs)">
                      {{subs.title}}&nbsp;<span class="caret {{subs.open ? 'caret-up' : ''}}"></span>
                    </h3>
                </div>
                <div ng-show="vm.admin" class="icons alignRight col-xs-4">
                  <span ng-click="vm.edit(subs)" class="text-primary glyphicon glyphicon-pencil"></span>
                  <span ng-class="{'disabled':$index === 0}" ng-click="vm.moveUp(subdocument.subdocuments, $index)" class="text-default glyphicon glyphicon-arrow-up"></span>
                  <span ng-class="{'disabled':$index >= subdocument.subdocuments.length - 1}" ng-click="vm.moveDown(subdocument.subdocuments, $index)" class="text-default glyphicon glyphicon-arrow-down"></span>
                  <span ng-click="vm.remove(subdocument.subdocuments, $index)" class="text-danger glyphicon glyphicon-trash"></span>
                </div>
            </div>
            <div ng-show="!subs.editing && subs.open" class="col-xs-12">
              <div class="content" ta-bind ng-model="subs.content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="vm.searching" class="wiki">
    <div class="row" ng-repeat="document in vm.searchResults">
      <div class="editor col-xs-12" ng-show="document.editing">
        <div class="col-sm-6">
          <input class="form-control" ng-model="document.title" ng-change="vm.saveContent(document)" />
        </div>
        <div class="alignRight col-sm-6">
          <button ng-click="vm.doneEditing(document)" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
        </div>
        <div class="col-xs-12">
          <text-angular data-item="document" ta-toolbar="vm.toolbar" ng-change="vm.saveContent(document)" ng-model="document.content"></text-angular>
        </div>
      </div>
      <div ng-show="!document.editing" class="col-xs-12">
        <div class="col-xs-6">
          <h1>{{document.title}}</h1>
        </div>
        <div ng-show="vm.admin" class="icons alignRight col-xs-6">
          <span ng-click="vm.edit(document)" class="text-primary glyphicon glyphicon-pencil"></span>
        </div>
        <div class="col-xs-12">
          <div id="content" class="content" ta-bind ng-model="document.content"></div>
        </div>      
      </div>
    </div>
  </div>

