<div class="container-fluid panel panel-default">
  <div class="panel-heading row">
      <h2>Agreement Types</h2>
  </div>
  <div class="row panel-body">
    <button class="btn rga-button" ui-sref="agreement-type.new">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs">
        Agreement Type
      </span>
    </button>
  </div>
</div>
<div class="panel panel-default">
  <table class="jh-table table table-striped table-hover clickable">
    <thead class="rga-thead">
      <tr>
        <th>
          <span translate="finreApp.agreementType.name">Name</span>
        </th>
        <th>
          <span translate="finreApp.agreementType.description">Description</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ui-sref="agreement-type-detail({id:agreementType.id})" ng-repeat="agreementType in vm.agreementTypes track by agreementType.id">
        <td>{{agreementType.name}}</td>
        <td>{{agreementType.description}}</td>
        
      </tr>
    </tbody>
  </table>
</div>
