<div class="rga-modal" id="myModal">
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
        <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStructuredFinanceLabel" translate="finreApp.structuredFinance.home.createOrEditLabel">Create or edit a StructuredFinance</h4>
    </div>
    <div class="modal-body">

      <div class="panel panel-default">
        <div class="row">

          <div class="col-sm-12">
            <br>
            <div class="form-group col-md-3" >
              <label    translate="finreApp.structuredFinance.deal">deal</label>
              </br>{{vm.structuredFinance.deal.name}}

            </div>
            <div class="form-group col-sm-3" >
              <label class="control-label" translate="finreApp.structuredFinance.effectiveDate">EffectiveDate</label>
              </br>
              <div class="input-group">
                {{vm.structuredFinance.deal.effectiveDate| date:'mediumDate'}}
              </div>
            </div>
            <div class="form-group col-sm-3"  >
              <label class="control-label" translate="finreApp.structuredFinance.dealMaturityDate">EffectiveDate</label>
              </br>
              {{vm.structuredFinance.deal.maturityDate | date:'mediumDate'}}
            </div>
            <div class="form-group col-sm-3">
              <label class="control-label" translate="finreApp.structuredFinance.yearEndDate">yearEndDate</label>
              </br>
              {{vm.dealEndMonth.name}} {{vm.structuredFinance.deal.yearEndDay}}
            </div>
          </div>
        </div>
      </div>

      <uib-accordion close-others="false">
        <!------------------------- REPORTING REQUIREMENTS SECTION ----------------------------->
        <uib-accordion-group class="panel panel-default" id="generalInfo" is-open="vm.requirements">
          <uib-accordion-heading> <h4><strong>Reporting Requirements </strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.requirements, 'glyphicon-chevron-right': !vm.requirements}"></em>
          </h4>
          </uib-accordion-heading>
          <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingCategory.$invalid}">
            <label translate="finreApp.structuredFinance.reportingCategory">ID</label>
            <select  uib-tooltip="Reporting Category" class="form-control"  ng-model="vm.structuredFinance.reportingCategory"
                     name="reportingCategory"
                     ng-options="reportingCategory as reportingCategory for reportingCategory in vm.reportingCategory | orderBy:'name'  track by reportingCategory"
                     required
            >
              <option value=""></option>
            </select>
          </div>
          <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingReq.$invalid}">
            <label class="control-label" translate="finreApp.structuredFinance.reportingReq" ></label>
            <textarea type="text" class="form-control" name="reportingReq"
                   ng-model="vm.structuredFinance.reportingReq"
                      required
            >
            </textarea>
          </div>
          <div class="form-group col-md-3" ng-class="{'has-error': editForm.preparer.$invalid}">
            <label class="control-label" translate="finreApp.structuredFinance.preparer">Preparer </label>
            <select  uib-tooltip="Preparer" class="form-control"  ng-model="vm.structuredFinance.preparer" name="preparer"
                     ng-options="preparer as preparer for preparer in vm.preparer   track by preparer" required
            >
              <option value=""></option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" translate="finreApp.structuredFinance.rptRefDoc">rptRefDoc</label>
            <textarea type="text" class="form-control" name="rptRefDoc"
                   ng-model="vm.structuredFinance.rptRefDoc">
            </textarea>
          </div>
          <div class="form-group col-md-3" ng-class="{'has-error': editForm.rptReqEffDate.$invalid}">
            <label class="control-label" translate="finreApp.structuredFinance.rptReqEffDate">Rpt. Req. Eff. Date </label>
              <div class="input-group">
                <input  type="text" class="form-control" name="rptReqEffDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.structuredFinance.rptReqEffDate" is-open="vm.datePickerOpenStatus.rptReqEffDate"
                        required
                        onkeyup="
                    var date = this.value;
                    if (date.match(/^\d{4}$/) !== null) {
                       this.value = date + '-';
                    } else if (date.match(/^\d{4}\-\d{2}$/) !== null) {
                       this.value = date + '-';
                    }" maxlength="10"/>
                    <span class="input-group-btn">
                        <button id="calendarRptEff" type="button" class="btn btn-default" ng-click="vm.openCalendar('rptReqEffDate')"><em class="glyphicon glyphicon-calendar"></em></button>
                    </span>
              </div>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" translate="finreApp.structuredFinance.comments" for="field_comments">Comments</label>
            <textarea type="text" class="form-control" name="comments"
                   ng-model="vm.structuredFinance.comments">
           </textarea>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" translate="finreApp.structuredFinance.contentSpecifications" for="field_ContentSpecifications">Content Specifications</label>
            <textarea type="text" class="form-control" name="contentSpecifications" id="field_contentSpecifications"
                   ng-model="vm.structuredFinance.contentSpecifications">
            </textarea>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" translate="finreApp.structuredFinance.fileName" for="field_fileName">Filename</label>
            <textarea type="text" class="form-control" name="fileName" id="field_fileName"
                   ng-model="vm.structuredFinance.fileName"></textarea>
          </div>
        </uib-accordion-group>


        <uib-accordion-group class="panel panel-default" id="reportingDue" is-open="vm.reporting">
          <uib-accordion-heading> <h4><strong>Reporting Due</strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.reporting, 'glyphicon-chevron-right': !vm.reporting}"></em>
          </h4>
          </uib-accordion-heading>

          <div class="row">
            <div class="form-group col-sm-3" ng-class="{'has-error': editForm.reportingFrequency.$invalid}">
              <label class="control-label" translate="finreApp.structuredFinance.reportingFrequency"></label>
              <select uib-tooltip="Select Frequency first" class="form-control" name="reportingFrequency" required
                      ng-model="vm.structuredFinance.reportingFrequency"
                      ng-change="vm.changeReportingFrequency()"
                      ng-disabled=" vm.structuredFinance.tracking > 0"
                      ng-options="periodOptions as periodOptions.name for periodOptions in vm.periodOptions track by periodOptions.id"
                      required
              >

                <option value=""></option>
              </select>
            </div>
            <div class="form-group col-sm-2" ng-class="{'has-error': editForm.reportingduedays.$invalid}">
              <label class="control-label" translate="finreApp.structuredFinance.reportingduedays"></label>
              <input  type="number"  class="form-control" name="reportingduedays"

                      ng-model="vm.structuredFinance.numberOfDays"
                      ng-readonly="vm.structuredFinance.dayType==='On' || vm.structuredFinance.reportingFrequency.name=='Occurrence'"
                      ng-change="vm.numberOfDay(0)"
                      ng-required="vm.structuredFinance.reportingFrequency.name!='Occurrence'"
                      ng-disabled="vm.structuredFinance.reportingFrequency.name=='Occurrence' || vm.structuredFinance.tracking > 0"
              />
            </div>
            <div class="form-group col-sm-3" ng-class="{'has-error': editForm.reportDayType.$invalid}">
              <label class="control-label">Day Type</label>
              <select class="form-control" ng-model="vm.structuredFinance.dayType" name="reportDayType"
                      ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
                      ng-change="vm.changeON(vm.reportingDue)"
                      ng-required="vm.structuredFinance.reportingFrequency.name!='Occurrence'"
                      ng-disabled="vm.structuredFinance.reportingFrequency.name=='Occurrence' || vm.structuredFinance.tracking > 0"
              >
                <option value="">---</option>
              </select>
            </div>
            <div class="form-group col-sm-3" ng-class="{'has-error': editForm.reportingdueperiod.$invalid}">
              <label class="control-label" translate="finreApp.structuredFinance.reportingdueperiod"
                     for="field_reportingdueperiod">Period</label>
              <select class="form-control" id="field_reportingdueperiod" name="reportingdueperiod"
                      ng-model="vm.structuredFinance.period"
                      ng-options="DayTypeOptionsRep as DayTypeOptionsRep for DayTypeOptionsRep in vm.DayTypeOptionsRep track by DayTypeOptionsRep"
                      ng-change="vm.changeON(vm.reportingDue)"
                      ng-required="vm.structuredFinance.reportingFrequency.name!='Occurrence'"
                      ng-disabled="vm.structuredFinance.reportingFrequency.name=='Occurrence' || vm.structuredFinance.tracking > 0"
              >
                <option value=""></option>
              </select>
            </div>
            <div class="form-group col-md-12">
              <label class="control-label" translate="finreApp.structuredFinance.comments" for="field_comments">Comments</label>
              <textarea type="text" class="form-control" name="comments" id="field_comments"
                     ng-model="vm.structuredFinance.reportingDueComment"
              ></textarea>
            </div>
          </div>
          <!---------------------- REPORTING DUE SECTION YEAR EXCEPTION----------------------------->
          <div class="row" >
            <div class="form-group col-sm-3" >
              <label class="control-label" >Year End Exception</label>
              <br>
              <md-switch ng-click="vm.changYearExceptFlag()" ng-model="vm.structuredFinance.yearEndException"
                         ng-change="vm.changeYearEx()"
                         ng-disabled="vm.structuredFinance.reportingFrequency.name=='Annual' || vm.structuredFinance.tracking > 0"
                         aria-label="Year End Exception" ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn">
              {{vm.structuredFinance.yearEndException}}
              </md-switch>
            </div>
            <div  ng-if="vm.structuredFinance.yearEndException==='Yes'" >
              <div class="form-group col-sm-2"  ng-class="{'has-error': editForm.reportingduedaysYr.$invalid}">
                <label class="control-label" translate="finreApp.structuredFinance.reportingduedays"></label>
                <input  type="number" class="form-control" name="reportingduedaysYr"
                        ng-model="vm.structuredFinance.numberOfDaysYr"
                        ng-required="vm.structuredFinance.yearEndException==='Yes'"
                        ng-readonly="vm.structuredFinance.dayTypeYr==='On'"
                        ng-change="vm.numberOfDay(1)"
                        ng-disabled=" vm.structuredFinance.tracking > 0"
                />
              </div>
              <div class="form-group col-sm-3"  ng-class="{'has-error': editForm.reportDayTypeYr.$invalid}">
                <label class="control-label">Day Type</label>
                <select class="form-control" ng-model="vm.structuredFinance.dayTypeYr" name="reportDayTypeYr"
                        ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
                        ng-required="vm.structuredFinance.yearEndException==='Yes'"
                        ng-change="vm.changeON(vm.reportingDueYr)"
                        ng-disabled=" vm.structuredFinance.tracking > 0"
                >
                  <option value="">---</option>
                </select>
              </div>
              <div class="form-group col-sm-3" ng-class="{'has-error': editForm.reportingdueperiodYr.$invalid}">
                <label class="control-label" translate="finreApp.structuredFinance.reportingdueperiod"
                       for="field_reportingdueperiodYr">Period</label>
                <select class="form-control" id="field_reportingdueperiodYr" name="reportingdueperiodYr"
                        ng-model="vm.structuredFinance.periodYr"
                        ng-options="DayTypeOptionsRep as DayTypeOptionsRep for DayTypeOptionsRep in vm.DayTypeOptionsRep track by DayTypeOptionsRep"
                        ng-required="vm.structuredFinance.yearEndException==='Yes'"
                        ng-disabled=" vm.structuredFinance.tracking > 0"

                >
                  <option value=""></option>
                </select>
              </div>
              <div class="form-group col-md-12">
                <label class="control-label" translate="finreApp.structuredFinance.reportingDueCommentYr" for="field_reportingDueCommentYr">Comments</label>
                <textarea type="text" class="form-control" name="reportingDueCommentYr" id="field_reportingDueCommentYr"
                       ng-model="vm.structuredFinance.reportingDueCommentYr"
                ></textarea>
              </div>
            </div>  </div>
        </uib-accordion-group>
      </uib-accordion>
    </div>
    <div class="modal-footer">
        <button id="cancel" type="button" class="btn btn-default rga-font" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button id="saveStructuredFinance" type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-default rga-font">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
</div>
