<ul class="nav nav-pills nav-justified">
  <li role="presentation" class=""><a ui-sref="deal-detail({dealId:vm.dealId, page:vm.page})">Deal Details</a></li>
  <li role="presentation" class="" ><a ui-sref="deal-tracking({dealId:vm.dealId})">Deal Tracking</a></li>
  <li role="presentation" class=""><a ui-sref="treaty-deal({dealId:vm.dealId, page:vm.page})">Treaties & Tracking</a></li>
  <li role="presentation" class=""><a ui-sref="treaty-transaction-relief({dealId:vm.dealId, page:vm.page})">Relief Transactions</a></li>
  <li role="presentation" class="current"><a ui-sref="structured-finance.deal({dealId:vm.dealId})">Structured Finance</a></li>
</ul>

<ul class="nav nav-pills-structured-red nav-justified">
  <li role="presentation" class="current"><a ui-sref="structured-finance.detail({id:vm.id,dealId:vm.dealId})">Reporting Requirement Details</a></li>
  <li role="presentation" class=""><a ui-sref="structured-tracking.list({financeId:vm.id,dealId:vm.dealId})">Tracking Records</a>
</ul>
<div class="panel align-right" >
  <div class="panel-heading rga-header" >
    <div class="row">
      <div class="col-sm-2">
        <h5><label class="control-label" > Deal Name </label><br>
          {{ vm.deal.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Product Line</label> <br>
          {{ vm.deal.productLine.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Product Subtype</label><br>
          {{vm.deal.productSubtype.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Effective Date</label><br>
          {{vm.deal.effectiveDate|date: 'mediumDate'}} </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >GFS Assignee</label><br>
          {{vm.deal.gfsAssignee.firstName }}  {{vm.deal.gfsAssignee.lastName }} </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Maturity Date</label><br>
          {{vm.deal.maturityDate|date: 'mediumDate'}}</h5>
      </div>
    </div>

    <button id="editStructured" type="submit"
            ui-sref="structured-finance.editDetail({id:vm.id, dealId:vm.dealId})"
            class="btn rga-button"
            uib-tooltip="Edit Requirements">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>&nbsp;
    <button id="backRequirements" type="submit"
            ui-sref="structured-finance.deal({dealId:vm.dealId})"
            class="btn rga-button">
      <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back to Requirements</span>
    </button>
  </div>
  <uib-accordion close-others="false">
    <uib-accordion-group class="panel panel-default" id="generalInfo" is-open="vm.requirements">
      <uib-accordion-heading> <h4><strong>Reporting Requirement Details </strong>
        <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.requirements, 'glyphicon-chevron-right': !vm.requirements}"></em>
      </h4>
      </uib-accordion-heading>
        <div class="row">
          <div class="form-group col-md-3">
            <label translate="finreApp.structuredFinance.reportingCategory"></label>
            <input class="form-control" readonly ng-model="vm.structuredFinance.reportingCategory"/>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" translate="finreApp.structuredFinance.reportingReq" ></label>
            <textarea class="form-control" readonly ng-model="vm.structuredFinance.reportingReq"></textarea>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" translate="finreApp.structuredFinance.preparer">Preparer </label>
            <input class="form-control" readonly ng-model="vm.structuredFinance.preparer"/>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" translate="finreApp.structuredFinance.rptRefDoc">rptRefDoc</label>
            <textarea class="form-control" readonly ng-model="vm.structuredFinance.rptRefDoc"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3">
            <label class="control-label">Reporting Req. Eff. Date </label>
            </br>
            <input class="form-control" readonly ng-model="vm.structuredFinance.rptReqEffDate"/>
          </div>
          <div class="form-group col-md-3">
            <label class="control-label" translate="finreApp.structuredFinance.comments" >Comments</label>
            <textarea class="form-control" readonly ng-model="vm.structuredFinance.comments"></textarea>

          </div>
          <div class="form-group col-md-3">
            <label class="control-label" translate="finreApp.structuredFinance.contentSpecifications" >Content Specifications</label>
            <textarea class="form-control" readonly ng-model="vm.structuredFinance.contentSpecifications"></textarea>

          </div>
          <div class="form-group col-md-3">
            <label class="control-label" translate="finreApp.structuredFinance.fileName" >Filename</label>
            <textarea class="form-control" readonly ng-model="vm.structuredFinance.fileName"></textarea>
          </div>
        </div>
    </uib-accordion-group>


    <uib-accordion-group class="panel panel-default" id="reportingDue" is-open="vm.reporting">
      <uib-accordion-heading> <h4><strong>Reporting Due</strong>
        <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.reporting, 'glyphicon-chevron-right': !vm.reporting}"></em>
      </h4>
      </uib-accordion-heading>

        <div class="row">
          <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingFrequency.$invalid}">
            <label class="control-label" translate="finreApp.structuredFinance.reportingFrequency"></label>
            <input class="form-control" readonly ng-model="vm.structuredFinance.reportingFrequency.name"/>
          </div>
          <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingduedays.$invalid}">
            <label class="control-label" translate="finreApp.structuredFinance.reportingduedays"></label>
            <input class="form-control" readonly ng-model="vm.structuredFinance.numberOfDays"/>
          </div>
          <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportDayType.$invalid}">
            <label class="control-label">Day Type</label>
            <input class="form-control" readonly ng-model="vm.structuredFinance.dayType"/>
          </div>
          <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingdueperiod.$invalid}">
            <label class="control-label" translate="finreApp.structuredFinance.reportingdueperiod">Period</label>
            <input class="form-control" readonly ng-model="vm.structuredFinance.period"/>
          </div>

        </div>
      <!---------------------- REPORTING DUE SECTION YEAR EXCEPTION----------------------------->
      <div class="row" >
        <div class="form-group col-md-12">
          <label class="control-label" translate="finreApp.structuredFinance.comments" >Comments</label>
          <textarea class="form-control" readonly ng-model="vm.structuredFinance.reportingDueComment"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3" >
          <label class="control-label" >Year End Exception</label>
          <input class="form-control" readonly ng-model="vm.structuredFinance.yearEndException"/>
        </div>
              <div  ng-if="vm.structuredFinance.yearEndException==='Yes'" >
                  <div class="form-group col-md-3"  ng-class="{'has-error': editForm.reportingduedaysYr.$invalid}">
                    <label class="control-label" translate="finreApp.structuredFinance.reportingduedays"></label>
                    <input class="form-control" readonly ng-model="vm.structuredFinance.numberOfDaysYr"/>
                  </div>
                  <div class="form-group col-md-3"  ng-class="{'has-error': editForm.reportDayTypeYr.$invalid}">
                    <label class="control-label">Day Type</label>
                    <input class="form-control" readonly ng-model="vm.structuredFinance.dayTypeYr"/>
                  </div>
                <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingdueperiodYr.$invalid}">
                  <label class="control-label" translate="finreApp.structuredFinance.reportingdueperiod">Period</label>
                  <input class="form-control" readonly ng-model="vm.structuredFinance.periodYr"/>
                </div>
                </div>
        </div>
        <div class="row">
              <div  ng-if="vm.structuredFinance.yearEndException==='Yes'" >
                <div class="form-group col-md-12">
                  <label class="control-label" translate="finreApp.structuredFinance.reportingDueCommentYr" for="field_reportingDueCommentYr">Comments</label>
                  <textarea class="form-control" readonly ng-model="vm.structuredFinance.reportingDueCommentYr"></textarea>
                </div>
            </div>
        </div>
    </uib-accordion-group>
  </uib-accordion>
</div>

