<ul class="nav nav-pills nav-justified">
  <li role="presentation" class=""><a id="dealDetail" ui-sref="deal-detail({dealId:vm.dealId, page:vm.page})">Deal Details</a></li>
  <li role="presentation" class="" ><a id="dealTracking" ui-sref="deal-tracking({dealId:vm.dealId})">Deal Tracking</a></li>
  <li role="presentation" class=""><a id="treatiesDeal" ui-sref="treaty-deal({dealId:vm.dealId, page:vm.page})">Treaties & Tracking</a></li>
  <li role="presentation" class=""><a id="reliefLink" ui-sref="treaty-transaction-relief({dealId:vm.dealId, page:vm.page})">Relief Transactions</a></li>
  <li role="presentation" class="current"><a id="structureLink" ui-sref="structured-finance.deal({dealId:vm.dealId})">Structured Finance</a></li>
</ul>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-2">
        <h5><label class="control-label" >Deal Name </label><br>
          {{ vm.deal.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Product Line</label> <br>
          {{ vm.deal.productLine.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Product Subtype</label><br>
          {{vm.deal.productSubtype.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Effective Date</label><br>
          {{vm.deal.effectiveDate|date: 'mediumDate'}} </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >GFS Assignee</label><br>
          {{vm.deal.gfsAssignee.firstName }}  {{vm.deal.gfsAssignee.lastName }} </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Maturity Date</label><br>
          {{vm.deal.maturityDate|date: 'mediumDate'}}</h5>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-5 no-padding-left">
          <button   id="newStructuredFinance" class="btn rga-button" ui-sref="structured-finance.new({dealId:vm.dealId})">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs">
                Reporting Requirement
            </span>
          </button>

        </div>
        <div class="col-sm-2 text-center">
        </div>
        <div class="col-xs-5 no-padding-right">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <table class="jh-table table table-striped">
    <thead class="rga-thead">
      <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
        <th></th>
        <th jh-sort-by="reportingCategory"><span translate="finreApp.structuredFinance.reportingCategory"></span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="reportingReq"><span translate="finreApp.structuredFinance.reportingReq"></span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="preparer"><span translate="finreApp.structuredFinance.preparer"></span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="reportingFrequency.name"><span translate="finreApp.structuredFinance.ReportingDueInformation"></span> <span class="glyphicon glyphicon-sort"></span></th>
        <th> Tracking</th>
        <th></th>
      </tr>
    </thead>
    <tbody  ng-repeat="structuredFinance in vm.structuredFinances track by structuredFinance.id " >
      <tr class="cursor-pointer">
        <td >
          <button   id="collapsedStructuredFinance"  ng-show="structuredFinance.trackings.length > 0" type="button" class="btn btn-default btn-xs"
                   ng-click="structuredTracking.isCollapsed = !structuredTracking.isCollapsed"
                   uib-tooltip="Expand/Collapse">
            <em class="glyphicon glyphicon-triangle-bottom"></em>
          </button>
        </td>
        <td ui-sref="structured-finance.detail({id:structuredFinance.id, dealId:vm.dealId})">{{structuredFinance.reportingCategory}}</td>
        <td ui-sref="structured-finance.detail({id:structuredFinance.id, dealId:vm.dealId})">{{structuredFinance.reportingReq}}</td>
        <td ui-sref="structured-finance.detail({id:structuredFinance.id, dealId:vm.dealId})">{{structuredFinance.preparer}}</td>
        <td ui-sref="structured-finance.detail({id:structuredFinance.id, dealId:vm.dealId})">{{structuredFinance.reportingFrequency.name}} - {{structuredFinance.numberOfDays}} {{structuredFinance.dayType}} {{structuredFinance.period}}  </td>
        <td>
          <div class="form-group">
            <div class="badge">{{structuredFinance.trackings.length}}</div>
        </div></td>
        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button  id="editStructuredFinance" type="submit"
                    ui-sref="structured-finance.edit({id:structuredFinance.id ,dealId:vm.dealId})"
                    class="btn btn-default rga-font"
            uib-tooltip="Edit Reporting Requirement">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button  id="deleteStructuredFinance" type="submit" uib-tooltip="Delete Reporting Requirement"
                    ui-sref="structured-finance.delete({id:structuredFinance.id})"
                    class="btn btn-default rga-font">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </td>
      </tr>
      <tr ng-show="structuredFinance.trackings.length > 0" uib-collapse="!structuredTracking.isCollapsed">
        <td></td>
        <td></td>
        <td colspan="3">
          <table class="table table-bordered">
            <tbody ng-repeat="tracking in structuredFinance.trackings |orderBy:'-clientReportingDate' ">
            <tr class="colorTracking">
              <td><strong class="fa fa-calendar fa-lg"></strong></td>
              <td><a ui-sref="structured-tracking-detail({dealId:tracking.deal.id,id:tracking.id})">Reporting Year/Quarter:  {{tracking.quarter}}</a></td>
              <td ui-sref="structured-tracking-detail({dealId:tracking.deal.id,id:tracking.id})"> Period: {{tracking.clientReportingDate | date:'yyyy-MM'}}</td>
              <td ui-sref="structured-tracking-detail({dealId:tracking.deal.id,id:tracking.id})">{{tracking.trackingStatus}}</td>
            </tr>
            </tbody>
          </table>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="vm.totalItems!=0" class="text-center">
  <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
  <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                  ng-change="vm.transition()"></uib-pagination>
</div>

<div ng-if="vm.totalItems==0" class="text-center">
  <div  id="noPages"  class="text-center"> Showing 0 - 0 of 0 items.</div>
  <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                  ng-change="vm.transition()"></uib-pagination>
</div>

