<div>
    <div class="container-fluid">
        <div class="row panel panel-default">
            <div class="panel-heading col-xs-12">
                <h2>Intro</h2>
            </div>
            <div class="panel-body col-xs-12">
                <button ng-disabled="vm.adding" ng-click="vm.createNewIntro()" class="btn rga-button">
                    <span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs">Add Page</span>
                </button>
            </div>
        </div>
        <div class="intros row" ng-repeat="intro in vm.intros" ng-if="intro.isActive">
            <div ng-show="!intro.editing" class="intro col-sm-3">
                <h3>{{intro.title}}</h3>
                <small>
                    ID: {{intro.id}}<br/>
                    {{intro.description}}
                </small>
                <br/>
            </div>
            <div ng-show="intro.editing" class="intro col-sm-3">
                <div class="form-group" ng-class="{'has-error':intro.title.length > 60}">
                    <input ng-change="intro.title.length <= 60 && vm.save(intro)" class="form-control" ng-model="intro.title"></input>
                    <span ng-show="intro.title.length > 60" class="help-block">The title cannot be longer than 60.</span>
                </div>
                <small>
                    ID: {{intro.id}}<br/>
                    <div class="form-group" ng-class="{'has-error':intro.description.length > 400}">
                        <textarea rows="9" ng-change="intro.description.length <= 400 && vm.save(intro)" class="form-control" ng-model="intro.description"></textarea>
                        <span ng-show="intro.description.length > 400" class="help-block">The description cannot be longer than 400.</span>
                    </div>
                </small>
            </div>
            <div class="col-sm-9 no-padding-right">
                <div class="icons col-xs-12">
                    <span ng-click="vm.addStep(intro)" class="text-primary glyphicon glyphicon-plus">
                        <md-tooltip md-direction="top">
                            Add a step
                        </md-tooltip>    
                    </span>
                    <span ng-show="!intro.editing" ng-click="vm.editIntro(intro)" class="text-primary glyphicon glyphicon-pencil">
                        <md-tooltip md-direction="top">
                            Edit "{{intro.title}}"    
                        </md-tooltip>
                    </span>
                    <span ng-show="intro.editing" ng-click="vm.doneEditingIntro(intro)" class="text-primary glyphicon glyphicon-ok">
                        <md-tooltip md-direction="top">
                            Done Editing    
                        </md-tooltip>
                    </span>
                    <span ng-show="!intro.editing" ng-class="{'disabled':vm.activeCount(intro) > 0}" ng-click="vm.removeIntro(intro)" class="text-danger glyphicon glyphicon-trash">
                        <md-tooltip ng-show="intro.steps.length === 0" md-direction="top">
                            Remove "{{intro.title}}"
                        </md-tooltip>  
                        <md-tooltip ng-show="vm.activeCount(intro) > 0" md-direction="top">
                            Cannot remove "{{intro.title}}" unless<br/>
                            the steps underneath it are also deleted
                        </md-tooltip>  
                    </span>
                    <span ng-show="intro.editing" ng-click="vm.cancelEditingIntro(intro)" class="text-danger glyphicon glyphicon-remove">
                        <md-tooltip md-direction="top">
                            Cancel Editing
                        </md-tooltip>  
                    </span>
                    <span ng-click="vm.toggleStepsShowing(intro)" class="icon text-default glyphicon glyphicon-chevron-{{intro.expanded ? 'up' : 'down'}}">
                        <md-tooltip md-direction="top">
                            Show/Hide Steps
                        </md-tooltip>  
                    </span>
                </div>
                <div ng-show="!intro.expanded" class="steps col-xs-12">
                    <div class="step col-xs-12">
                        <p class="lead">In Use: {{vm.inUseCount(intro)}} / Not In Use: {{vm.NotInUseCount(intro)}}</p>
                    </div>
                </div>
                <div ng-show="intro.expanded" class="steps col-xs-12">
                    <div ng-class="{'bg-info':step.inUse}" ng-repeat="step in intro.steps"  ng-if="step.isActive" class="bg-success step col-xs-12">
                        <div class="col-xs-10">
                            <h5><strong>Step {{step.order}}</strong><br/>
                                <small>ID: {{step.id}}</small></h5>
                            <p ng-show="!step.editing">{{step.content}}</p>
                            <div class="form-group" ng-class="{'has-error':step.content.length > 400}">
                                <textarea rows="4" ng-change="step.content.length <= 400 && vm.save(intro)" class="form-control" ng-show="step.editing" ng-model="step.content"></textarea>
                                <span ng-show="step.content.length > 400" class="help-block">The description cannot be longer than 400.</span>
                            </div>
                        </div>
                        <div class="icons col-xs-2">
                            <span ng-class="{'disabled':$index === 0 || intro.steps[$index].inUse !== intro.steps[$index - 1].inUse}" ng-click="vm.moveUp(intro, $index)" class="glyphicon glyphicon-arrow-up"></span>
                            <br/>
                            <span ng-class="{'disabled':$index === intro.steps.length - 1 || intro.steps[$index].inUse !== intro.steps[$index + 1].inUse}" ng-click="vm.moveDown(intro, $index)" class="glyphicon glyphicon-arrow-down"></span>
                            <br/>
                            <span ng-show="!step.editing" ng-click="vm.editStep(intro, $index)" class="text-primary glyphicon glyphicon-pencil"></span>
                            <span ng-show="step.editing" ng-click="vm.doneEditingStep(intro, $index)" class="text-primary glyphicon glyphicon-ok"></span>
                            <br/>
                            <span ng-show="!step.editing" ng-class="{'disabled': step.inUse}" ng-click="vm.removeStep(intro, $index)" class="text-danger glyphicon glyphicon-trash">
                                <md-tooltip md-direction="top" ng-show="step.inUse">
                                    You cannot delete a<br/>
                                    step that is in use.
                                </md-tooltip>
                            </span>
                            <span ng-show="step.editing" ng-click="vm.cancelEditingStep(intro, $index)" class="text-danger glyphicon glyphicon-remove">
                                <md-tooltip md-direction="top">
                                    Cancel Editing
                                </md-tooltip>
                            </span>
                            <br/>
                        </div>
                        <div ng-show="vm.isSupport" class="col-xs-12">
                            <md-switch ng-change="vm.save(intro)" aria-label="inUse" ng-true-value="1" ng-false-value="0" class="md-switch" ng-model="step.inUse"><strong>{{step.inUse ? '':'Not'}} In Use</strong></md-switch>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
