<ul class="nav nav-pills nav-justified">
  <li role="presentation" class=""><a ui-sref="deal-detail({dealId:vm.dealId, page:vm.page})">Deal Details</a></li>
  <li role="presentation" class="" ><a ui-sref="deal-tracking({dealId:vm.dealId})">Deal Tracking</a></li>
  <li role="presentation" class=""><a ui-sref="treaty-deal({dealId:vm.dealId, page:vm.page})">Treaties & Tracking</a></li>
  <li role="presentation" class=""><a ui-sref="treaty-transaction-relief({dealId:vm.dealId, page:vm.page})">Relief Transactions</a></li>
  <li role="presentation" class="current"><a ui-sref="structured-finance.deal({dealId:vm.dealId})">Structured Finance</a></li>
</ul>
<ul class="nav nav-pills-structured-red nav-justified">
  <li role="presentation" class=""><a ui-sref="structured-finance.detail({id:vm.financeId,dealId:vm.dealId})">Reporting Requirement Details</a></li>
  <li role="presentation" class="current"><a ui-sref="structured-tracking.list({financeId:vm.financeId,dealId:vm.dealId})">Tracking Records</a>
</ul>
<div class="panel align-right">
  <div class="panel-heading rga-header">
    <div class="row">
      <div class="col-sm-2">
        <h5><label class="control-label" > Deal Name </label><br>
          {{ vm.deal.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Product Line</label> <br>
          {{ vm.deal.productLine.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Product Subtype</label><br>
          {{vm.deal.productSubtype.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Effective Date</label><br>
          {{vm.deal.effectiveDate|date:'mediumDate'}} </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Maturity Date</label><br>
          {{vm.deal.maturityDate|date: 'mediumDate'}} </h5>
      </div>

      <div class="col-sm-2">
        <h5><label class="control-label" >Reporting Requirement</label><br>
          {{vm.structuredFinance.reportingReq}}
          </h5>
      </div>
    </div>

    <div class="row ">
      <div class="form-group col-sm-4">
        <button id="newTracking" class="btn rga-button" ui-sref="structured-tracking.new({dealId:vm.deal.id,financeId:vm.structuredFinance.id})">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs">
            </span>  New Tracking
        </button>
        <button id="backToRequirements" type="submit"
                ui-sref="structured-finance.deal({dealId:vm.dealId})"
                class="btn rga-button">
          <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back to Requirements</span>
        </button>
      </div>
      <!------------- Filter TRACKINGS ------------------>
    </div>
  </div>

  <!------------- Filter TRACKINGS END------------------>
  <div class="tracking-well">
    <div class="row">
  <div  class="col-sm-12 no-padding-left">
  <div class="form-group col-sm-2">
    <label class="control-label">Rpt Period Start</label><br>
    <div class="input-group">
      <input  type="text" class="form-control" name="searchStartDate"
              onkeyup=" this.value = dateMask(this.value);" maxlength="7"
              placeholder="YYYY-MM" uib-datepicker-popup="{{vm.format}}"
              ng-model="vm.searchStartDate"
              is-open="vm.datePickerOpenStatus.searchStartDate"
              datepicker-options="vm.dateOptions" />
              <span class="input-group-btn">
                <button id="calendarSearchStart" type="button" class="btn btn-default" ng-click="vm.openCalendar('searchStartDate')">
                  <em class="glyphicon glyphicon-calendar"></em></button>
            </span>
    </div>
  </div>
    <div align="center" class="form-group col-sm-1">
      <br>
      <br>
      <label>TO</label>
    </div>
  <div class="form-group col-sm-2">
    <label class="control-label">Rpt Period End</label><br>
    <div class="input-group">
      <input  type="text" class="form-control" name="searchEndDate"
              onkeyup=" this.value = dateMask(this.value);" maxlength="7"
              placeholder="YYYY-MM" uib-datepicker-popup="{{vm.format}}"
              ng-model="vm.searchEndDate"
              is-open="vm.datePickerOpenStatus.searchEndDate"
              datepicker-options="vm.dateOptions"/>
              <span class="input-group-btn">
              <button id="calendarSearchEnd" type="button" class="btn btn-default" ng-click="vm.openCalendar('searchEndDate')">
                <em class="glyphicon glyphicon-calendar"></em></button>
            </span>
    </div>
  </div>
    <div align="left" class="form-group col-sm-6">
      <label class="control-label">&nbsp;</label><br>
    <button id="filterTrackings" class="btn rga-button" ng-click="vm.searchDates()">
      <span class="glyphicon glyphicon-filter"> <span class="hidden-xs"></span></span>  Filter
    </button>
    <button id="clearFilter" class="btn rga-button" ng-click="vm.reset()">
      <span class="glyphicon glyphicon-remove"> <span class="hidden-xs"> </span></span> Clear Filter
    </button>
  </div>
</div>
  </div>
  </div>


  <div class="panel panel-default">
    <table class="jh-table table table-striped">
      <thead class="rga-thead">
      <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
        <th jh-sort-by="clientReportingDate"><span>Reporting Year/Quarter</span> <span
          class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="clientReportingDate"><span>Reporting Month</span> <span
          class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="reportingReceiptDate"><span>Reporting Due Date</span>
          <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="reportingReceiptDate"><span>Reporting Receipt Date</span>
          <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="comments"><span translate="finreApp.structuredTracking.comments">Comments</span>
          <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="trackingStatus"><span>TrackingStatus</span>
          <span class="glyphicon glyphicon-sort"></span></th>

        <th></th>
      </tr>

      </thead>
      <tbody>
      <tr ng-repeat="structuredTracking in vm.structuredTrackings track by structuredTracking.id" class="cursor-pointer">
        <td ui-sref="structured-tracking-detail({dealId:structuredTracking.deal.id,id:structuredTracking.id})">{{structuredTracking.quarter}}</td>
        <td ui-sref="structured-tracking-detail({dealId:structuredTracking.deal.id,id:structuredTracking.id})">{{structuredTracking.month}}</td>
        <td ng-show="structuredTracking.calcReportingDueDate!=null && structuredTracking.calcReportingDueYex ==null" ui-sref="structured-tracking-detail({dealId:structuredTracking.deal.id,id:structuredTracking.id})">{{structuredTracking.calcReportingDueDate| date:'mediumDate'}}</td>
        <td ng-show="structuredTracking.calcReportingDueDate==null && structuredTracking.calcReportingDueYex !=null" ui-sref="structured-tracking-detail({dealId:structuredTracking.deal.id,id:structuredTracking.id})">{{structuredTracking.calcReportingDueYex| date:'mediumDate'}}</td>
        <td ui-sref="structured-tracking-detail({dealId:structuredTracking.deal.id,id:structuredTracking.id})">{{structuredTracking.reportingReceiptDate| date:'mediumDate'}}</td>
        <td ui-sref="structured-tracking-detail({dealId:structuredTracking.deal.id,id:structuredTracking.id})">{{structuredTracking.comments}}</td>
        <td ui-sref="structured-tracking-detail({dealId:structuredTracking.deal.id,id:structuredTracking.id})">{{structuredTracking.trackingStatus}}</td>

        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button id="editTrackingRecord" type="submit"
                    ui-sref="structured-tracking.edit({dealId:structuredTracking.deal.id,financeId:structuredTracking.structuredFinance.id,id:structuredTracking.id})"
                    class="btn btn-default rga-font"
                    uib-tooltip="Edit Tracking Record">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button id="deleteTracking" type="submit"
                    ui-sref="structured-tracking.delete({dealId:structuredTracking.deal.id,financeId:structuredTracking.structuredFinance.id,id:structuredTracking.id})"
                    class="btn btn-default rga-font"
                    uib-tooltip="Delete">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="vm.totalItems!=0" class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                    ng-change="vm.transition()"></uib-pagination>
  </div>

  <div ng-if="vm.totalItems==0" class="text-center">
   <div  id="noPages"  class="text-center"> Showing 0 - 0 of 0 items.</div>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                    ng-change="vm.transition()"></uib-pagination>
  </div>
</div>
