<ul class="nav nav-pills nav-justified">
  <li role="presentation" class=""><a ui-sref="deal-detail({dealId:vm.structuredTracking.deal.id, page:vm.page})">Deal Details</a></li>
  <li role="presentation" class=""><a ui-sref="treaty-deal({dealId:vm.structuredTracking.deal.id, page:vm.page})">Treaties & Tracking</a></li>

  <li role="presentation" class=""><a ui-sref="treaty-transaction-relief({dealId:vm.structuredTracking.deal.id, page:vm.page})">Relief Transactions</a></li>
  <li role="presentation" class="current"><a ui-sref="structured-finance.deal({dealId:vm.structuredTracking.deal.id})">Structured Finance</a></li>
</ul>

<ul class="nav nav-pills-structured-red nav-justified">
  <li role="presentation" class=""><a ui-sref="structured-finance.detail({id:vm.structuredTracking.structuredFinance.id,dealId:vm.structuredTracking.deal.id})">Reporting Requirement Details</a></li>
  <li role="presentation" class="current"><a ui-sref="structured-tracking.list({financeId:vm.structuredTracking.structuredFinance.id,dealId:vm.structuredTracking.deal.id})">Tracking Records</a>
</ul>
<div class="panel align-right" >
  <div class="panel-heading rga-header" >
    <div class="row">
      <div class="col-sm-3">
        <h5><label class="control-label" > Deal Name </label><br>
          {{ vm.structuredTracking.deal.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Product Line</label> <br>
          {{vm.structuredTracking.deal.productLine.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Product Subtype</label><br>
          {{vm.structuredTracking.deal.productSubtype.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Effective Date</label><br>
          {{vm.structuredTracking.deal.effectiveDate|date: 'mediumDate'}} </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Maturity Date</label><br>
          {{vm.structuredTracking.deal.maturityDate|date: 'mediumDate'}} </h5>
      </div>
    </div>

    <button id="editStructuredTracking" type="submit"
            ui-sref="structured-tracking.edit({ dealId:vm.structuredTracking.deal.id,financeId:vm.structuredTracking.structuredFinance.id,id:vm.structuredTracking.id})"
            class="btn rga-button"
            uib-tooltip="Edit Tracking">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>&nbsp;
    <button id="backToTrackingList" type="submit"
            ui-sref="structured-tracking.list({financeId:vm.structuredTracking.structuredFinance.id,dealId:vm.structuredTracking.deal.id})"
            class="btn rga-button">
      <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back to Tracking List</span>
    </button>
  </div>
  <uib-accordion close-others="false">
      <uib-accordion-group class="panel panel-default" id="generalInfo" is-open="vm.requirements">
        <uib-accordion-heading> <h4><strong>Reporting Requirement Details </strong>
          <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.requirements, 'glyphicon-chevron-right': !vm.requirements}"></em>
        </h4>
        </uib-accordion-heading>
        <div class="form-group col-md-3">
          <label translate="finreApp.structuredTracking.reportingCategory"></label>
          <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.reportingCategory"/>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" translate="finreApp.structuredTracking.reportingReq" ></label>
          <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.reportingReq"></textarea>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" translate="finreApp.structuredTracking.preparer">Preparer </label>
          <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.preparer"/>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" translate="finreApp.structuredTracking.rptRefDoc">rptRefDoc</label>
          <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.rptRefDoc"></textarea>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label">Reporting Req. Eff. Date </label>
          </br>
          <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.rptReqEffDate"/>


        </div>
        <div class="form-group col-md-3">
          <label class="control-label" translate="finreApp.structuredTracking.comments" >Comments</label>
          <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.comments"></textarea>

        </div>
        <div class="form-group col-md-3">
          <label class="control-label" translate="finreApp.structuredTracking.contentSpecifications" >Content Specifications</label>
          <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.contentSpecifications"></textarea>

        </div>
        <div class="form-group col-md-3">
          <label class="control-label" translate="finreApp.structuredTracking.fileName" >Filename</label>
          <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.fileName"></textarea>
        </div>
      </uib-accordion-group>

    <uib-accordion-group class="panel panel-default" id="reportingDue" is-open="vm.reporting">
      <uib-accordion-heading> <h4><strong>Reporting Due</strong>
        <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.reporting, 'glyphicon-chevron-right': !vm.reporting}"></em>
      </h4>
      </uib-accordion-heading>

      <div class="row">
        <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingFrequency.$invalid}">
          <label class="control-label" translate="finreApp.structuredTracking.reportingFrequency"></label>
          <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.reportingFrequency.name"/>
        </div>
        <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingduedays.$invalid}">
          <label class="control-label" translate="finreApp.structuredTracking.reportingduedays"></label>
          <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.numberOfDays"/>
        </div>
        <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportDayType.$invalid}">
          <label class="control-label">Day Type</label>
          <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.dayType"/>
        </div>
        <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingdueperiod.$invalid}">
          <label class="control-label" translate="finreApp.structuredTracking.reportingdueperiod">Period</label>
          <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.period"/>
        </div>

      </div>
      <!---------------------- REPORTING DUE SECTION YEAR EXCEPTION----------------------------->
      <div class="row" >
        <div class="form-group col-md-12">
          <label class="control-label" translate="finreApp.structuredTracking.comments" >Comments</label>
          <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.reportingDueComment"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3" >
          <label class="control-label" >Year End Exception</label>
          <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.yearEndException"/>
        </div>
        <div  ng-if="vm.structuredTracking.structuredFinance.yearEndException==='Yes'" >
          <div class="form-group col-md-3"  ng-class="{'has-error': editForm.reportingduedaysYr.$invalid}">
            <label class="control-label" translate="finreApp.structuredTracking.reportingduedays"></label>
            <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.numberOfDaysYr"/>
          </div>
          <div class="form-group col-md-3"  ng-class="{'has-error': editForm.reportDayTypeYr.$invalid}">
            <label class="control-label">Day Type</label>
            <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.dayTypeYr"/>
          </div>
          <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingdueperiodYr.$invalid}">
            <label class="control-label" translate="finreApp.structuredTracking.reportingdueperiod"
            >Period</label>
            <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.periodYr"/>
          </div>

        </div>
      </div>
      <div class="row">
        <div  ng-if="vm.structuredTracking.structuredFinance.yearEndException==='Yes'" >
          <div class="form-group col-md-12">
            <label class="control-label" translate="finreApp.structuredTracking.reportingDueCommentYr" for="field_reportingDueCommentYr">Comments</label>
            <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.reportingDueCommentYr"></textarea>
          </div>
        </div>
      </div>
    </uib-accordion-group>


      <uib-accordion-group class="panel panel-default" id="trackingRecordInfo" is-open="vm.tracking">
        <uib-accordion-heading> <h4><strong>Tracking Info</strong>
          <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.tracking, 'glyphicon-chevron-right': !vm.tracking}"></em>
        </h4>
        </uib-accordion-heading>
        <div class="form-group col-md-3">
          <label>Client Reporting Date</label>
          <input class="form-control" readonly  ng-model="vm.structuredTracking.clientReportingDate" />
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" >Reporting Due</label>
          <div ng-if="vm.structuredTracking.calcReportingDueYex==null"  class="input-group">
            <input id="field_calcReportingDueDate" type="text" class="form-control" name="calcReportingDueDate"
                   ng-model="vm.structuredTracking.calcReportingDueDate"
                   readonly
            />
          </div>
          <div ng-if="vm.structuredTracking.calcReportingDueDate==null && vm.structuredTracking.calcReportingDueYex !=null" class="input-group">
            <input  id="field_calcReportingDueYex" type="text" class="form-control" name="calcReportingDueYex"
                    ng-model="vm.structuredTracking.calcReportingDueYex"
                    readonly
            />
          </div>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label">Reporting Receipt Date</label>
          <input class="form-control" readonly  ng-model="vm.structuredTracking.reportingReceiptDate" />
        </div>

        <div class="form-group col-sm-3">
          <label class="control-label" >Status</label>
          <input class="form-control" readonly ng-model="vm.structuredTracking.trackingStatus"  />

        </div>

        <div class="form-group col-md-12">
          <label class="control-label" translate="finreApp.structuredTracking.comments"> </label>
          <textarea class="form-control" readonly ng-model="vm.structuredTracking.comments"></textarea>
        </div>

      </uib-accordion-group>
</uib-accordion>
</div>
