<div class="rga-modal " >
  <form name="editForm" id="myModal" role="form" novalidate show-validation>
    <div class="modal-header">
        <div class="col-sm-8">
          <h4 class="modal-title" id="myStructuredTrackingLabel">Create or Edit Reporting Requirement Tracking
          </b>
          </h4>
        </div>
        <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()"><span class="glyphicon glyphicon-remove-circle"></span></button>
      </div>
    <div class="modal-body">


      <div class="panel panel-default">
        <div class="row">

          <div class="col-sm-12">
            <br>
            <div class="form-group col-md-3" >
              <label    translate="finreApp.structuredTracking.deal">deal</label>
              </br>{{vm.structuredTracking.deal.name}}

            </div>
            <div class="form-group col-sm-3" >
              <label class="control-label" translate="finreApp.structuredTracking.effectiveDate">EffectiveDate</label>
              </br>
              <div class="input-group">
                {{vm.structuredTracking.deal.effectiveDate| date:'mediumDate'}}
              </div>
            </div>
            <div class="form-group col-sm-3"  >
              <label class="control-label" translate="finreApp.structuredTracking.dealMaturityDate">EffectiveDate</label>
              </br>
              {{vm.structuredTracking.deal.maturityDate | date:'mediumDate'}}
            </div>
            <div class="form-group col-sm-3">
              <label class="control-label" translate="finreApp.structuredTracking.yearEndDate">yearEndDay</label>
              </br>
              {{vm.dealEndMonth.name}} {{vm.structuredTracking.deal.yearEndDay}}
            </div>
          </div>
        </div>
      </div>

      <uib-accordion close-others="false">
        <uib-accordion-group class="panel panel-default" id="generalInfo" is-open="vm.requirements">
          <uib-accordion-heading> <h4><strong>Reporting Requirement Details </strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.requirements, 'glyphicon-chevron-right': !vm.requirements}"></em>
          </h4>
          </uib-accordion-heading>
          <div class="row">
            <div class="form-group col-md-3">
              <label translate="finreApp.structuredTracking.reportingCategory"></label>
              <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.reportingCategory"/>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label" translate="finreApp.structuredTracking.reportingReq" ></label>
              <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.reportingReq"></textarea>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label" translate="finreApp.structuredTracking.preparer">Preparer </label>
              <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.preparer"/>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label" translate="finreApp.structuredTracking.rptRefDoc">rptRefDoc</label>
              <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.rptRefDoc"></textarea>
            </div>
            </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="control-label" translate="finreApp.structuredTracking.rptReqEffDate">Reporting Req. Eff. Date</label>
              <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.rptReqEffDate"/>

            </div>
            <div class="form-group col-md-3">
              <label class="control-label" translate="finreApp.structuredTracking.comments" >Comments</label>
              <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.comments"></textarea>

            </div>
            <div class="form-group col-md-3">
              <label class="control-label" translate="finreApp.structuredTracking.contentSpecifications" >Content Specifications</label>
              <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.contentSpecifications"></textarea>

            </div>
            <div class="form-group col-md-3">
              <label class="control-label" translate="finreApp.structuredTracking.fileName" >Filename</label>
              <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.fileName"></textarea>
            </div>
          </div>
        </uib-accordion-group>

        <uib-accordion-group class="panel panel-default" id="reportingDue" is-open="vm.reporting">
          <uib-accordion-heading> <h4><strong>Reporting Due</strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.reporting, 'glyphicon-chevron-right': !vm.reporting}"></em>
          </h4>
          </uib-accordion-heading>

          <div class="row">
            <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingFrequency.$invalid}">
              <label class="control-label" translate="finreApp.structuredTracking.reportingFrequency"></label>
              <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.reportingFrequency.name"/>
            </div>
            <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingduedays.$invalid}">
              <label class="control-label" translate="finreApp.structuredTracking.reportingduedays"></label>
              <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.numberOfDays"/>
            </div>
            <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportDayType.$invalid}">
              <label class="control-label">Day Type</label>
              <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.dayType"/>
            </div>
            <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingdueperiod.$invalid}">
              <label class="control-label" translate="finreApp.structuredTracking.reportingdueperiod">Period</label>
              <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.period"/>
            </div>
            </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label" translate="finreApp.structuredTracking.comments" >Comments</label>
              <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.reportingDueComment"></textarea>
            </div>
          </div>
          <!---------------------- REPORTING DUE SECTION YEAR EXCEPTION----------------------------->
          <div class="row">
            <div class="form-group col-md-3" >
              <label class="control-label" >Year End Exception</label>
              <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.yearEndException"/>
            </div>
            <div  ng-if="vm.structuredTracking.structuredFinance.yearEndException==='Yes'" >
              <div class="form-group col-md-3"  ng-class="{'has-error': editForm.reportingduedaysYr.$invalid}">
                <label class="control-label" translate="finreApp.structuredTracking.reportingduedays"></label>
                <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.numberOfDaysYr"/>
              </div>
              <div class="form-group col-md-3"  ng-class="{'has-error': editForm.reportDayTypeYr.$invalid}">
                <label class="control-label">Day Type</label>
                <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.dayTypeYr"/>
              </div>
              <div class="form-group col-md-3" ng-class="{'has-error': editForm.reportingdueperiodYr.$invalid}">
                <label class="control-label" translate="finreApp.structuredTracking.reportingdueperiod"
                >Period</label>
                <input class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.periodYr"/>
              </div>
              </div>
            </div>
          <div class="row">
            <div  ng-if="vm.structuredTracking.structuredFinance.yearEndException==='Yes'" >
              <div class="form-group col-md-12">
                <label class="control-label" translate="finreApp.structuredTracking.reportingDueCommentYr">Comments</label>
                <textarea class="form-control" readonly ng-model="vm.structuredTracking.structuredFinance.reportingDueCommentYr"></textarea>
              </div>
            </div>
          </div>
        </uib-accordion-group>

        <uib-accordion-group class="panel panel-default" id="trackingRecordInfo" is-open="vm.tracking">
          <uib-accordion-heading> <h4><strong>Tracking Info </strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.tracking, 'glyphicon-chevron-right': !vm.tracking}"></em>
          </h4>
          </uib-accordion-heading>
          <div class="row">
              <div class="form-group col-sm-3">
                <label class="control-label"
                       for="field_clientReportingDate">Client Reporting Date</label>
                <div class="input-group"  ng-class="{'has-error': editForm.clientReportingDate.$invalid}">
                  <input id="field_clientReportingDate" type="text" class="form-control" name="clientReportingDate"
                         ng-model="vm.structuredTracking.clientReportingDate" placeholder="YYYY-MM"
                         ng-change="vm.calculateDate(vm.structuredTracking.clientReportingDate, vm.structuredTracking.structuredFinance.yearEndException, vm.structuredTracking)"
                         onkeyup="
                    var date = this.value;
                    if (date.match(/^\d{4}$/) !== null) {
                       this.value = date + '-';
                    } else if (date.match(/^\d{4}\-\d{2}$/) !== null) {
                       this.value = date;
                    }" maxlength="7"
                         uib-datepicker-popup="{{vm.format}}"
                         is-open="vm.datePickerOpenStatus.clientReportingDate"
                         datepicker-options="vm.dateOptions" required/>
                  <span class="input-group-btn" >
                    <button id="calendarReporting" type="button" class="btn btn-default"
                            ng-click="vm.openCalendar('clientReportingDate')">
                      <em class="glyphicon glyphicon-calendar"></em></button>
                  </span>
                </div>
              </div>
            <div class="form-group col-sm-3">
              <label class="control-label" >Reporting Due</label>
              <div ng-if="vm.structuredTracking.calcReportingDueYex==null"  class="input-group">
                <input id="field_calcReportingDueDate" type="text" class="form-control" name="calcReportingDueDate"
                       ng-model="vm.structuredTracking.calcReportingDueDate"
                       readonly
                />
              </div>
              <div ng-if="vm.structuredTracking.calcReportingDueDate==null && vm.structuredTracking.calcReportingDueYex !=null" class="input-group">
                <input  id="field_calcReportingDueYex" type="text" class="form-control" name="calcReportingDueYex"
                       ng-model="vm.structuredTracking.calcReportingDueYex"
                       readonly
                />
              </div>
            </div>
              <div class="form-group col-sm-3">
                <label class="control-label"
                       for="field_reportingReceiptDate">Reporting Receipt Date</label>
                <div class="input-group" ng-class="{'has-error': editForm.reportingReceiptDate.$invalid}">
                  <input id="field_reportingReceiptDate" type="text" class="form-control" name="reportingReceiptDate"
                         uib-datepicker-popup="{{dateformat}}" ng-model="vm.structuredTracking.reportingReceiptDate"
                         is-open="vm.datePickerOpenStatus.reportingReceiptDate" required />
                  <span class="input-group-btn">
                      <button id="calendarReportingRec" type="button" class="btn btn-default"
                              ng-click="vm.openCalendar('reportingReceiptDate')">
                        <em class="glyphicon glyphicon-calendar"></em></button>
                  </span>
                </div>
              </div>
              <div class="col-sm-3" >
                <label class="control-label">Status</label>
                <input readonly class="form-control"  ng-model="vm.structuredTracking.trackingStatus" />
              </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <label class="control-label" translate="finreApp.structuredTracking.comments"
                     for="field_comments">Comments</label>
              <textarea type="text" class="form-control" name="comments" id="field_comments"
                     ng-model="vm.structuredTracking.comments"
              ></textarea>
            </div>
          </div>

        </uib-accordion-group>
      </uib-accordion>
      <div class="modal-footer">
        <button id="cancelSF" type="button" class="btn btn-default rga-font" data-dismiss="modal" ng-click="vm.clear()">
          <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button id="saveSFPeriod" ng-show="editForm.$invalid  && vm.structuredTracking.clientReportingDate!=null" type="submit" ng-disabled="vm.structuredTracking.clientReportingDate==null || isSaving" class="btn btn-default rga-font"
                ng-click="vm.saveMessage(1)">
          <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>

        <button id="saveSFComplete" ng-show="editForm.$valid" type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-default rga-font"
                ng-click="vm.saveMessage(2)">
          <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
        <button id="saveSFIncomplete" ng-show="editForm.$invalid && vm.structuredTracking.clientReportingDate==null"
                class="btn btn-default rga-font"
                uib-tooltip="To save, Client Reporting Date is required.">
          <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>



      </div>
    </div>
  </form>
</div>
