<div class="rga-modal" id="myModal">
<form name="deleteForm" ng-submit="vm.confirmDelete(vm.structuredTracking.id)">
    <div class="modal-header">
        <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title">Confirm Delete Operation</h4>
    </div>
    <div class="modal-body">

        <p translate="finreApp.structuredTracking.delete.question">Are you sure you want to delete this StructuredTracking?</p>
    </div>
    <div class="modal-footer">
        <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button id="deletedStructuredTracking" type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
</div>
