<form name="editForm" role="form" novalidate ng-submit="vm.save()">
  <div class="modal-header">
    <div class="col-sm-4">
      <h4 class="modal-title">Create or Edit a User</h4>
    </div>
    <div class="col-sm-7 text-right">
      <!-- <md-switch class="margin-zero" ng-true-value="1" ng-false-value="0" ng-model="vm.user.activated"><strong>Activated:</strong> {{vm.user.activated ? "Yes": "No&nbsp;"}}</md-switch> -->
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
  </div>
  <div class="modal-body row">
    <div ng-class="{'has-error':editForm.email.$invalid}" class="form-group col-sm-6">
      <label class="control-label">Email</label>
      <input required type="email" class="form-control" name="email" ng-model="vm.user.email" />
    </div>
    <div ng-class="{'has-error':editForm.login.$invalid}" class="form-group col-sm-6">
      <label class="control-label">Login (RGA s-id)</label>
      <input required type="text" class="form-control" name="login" ng-model="vm.user.login" />
    </div>
    <div ng-class="{'has-error':editForm.firstName.$invalid}" class="form-group col-sm-6">
      <label class="control-label">First Name</label>
      <input required type="text" class="form-control" name="firstName" ng-model="vm.user.firstName" />
    </div>
    <div ng-class="{'has-error':editForm.lastName.$invalid}" class="form-group col-sm-6">
      <label class="control-label">Last Name</label>
      <input required type="text" class="form-control" name="lastName" ng-model="vm.user.lastName" />
    </div>
    <div ng-class="{'has-error':editForm.auths.$invalid}" class="form-group col-sm-6">
      <label class="control-label">Permissons</label>
      <div class="checkbox" ng-repeat="auth in vm.authChoices.slice(0,vm.authChoices.length/2)">
        <label>
          <input ng-disabled="vm.user.id === vm.currentUserId" type="checkbox" ng-model="auth.isChecked" >
          {{auth.name}}
        </label>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label class="control-label"></label>
      <div class="checkbox" ng-repeat="auth in vm.authChoices.slice(vm.authChoices.length/2,vm.authChoices.length)">
        <label>
          <input ng-disabled="vm.user.id === vm.currentUserId" type="checkbox" ng-model="auth.isChecked" > 
          {{auth.name}}
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn rga-button">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
    </button>
  </div>
</form>
