<div class="panel panel-default container-fluid">
  <div class="panel-heading row">
    <h2>Manage Users</h2>
  </div>
  <div class="panel-body row">
    <button ui-sref="users.new()" class="btn rga-button"><span class="glyphicon glyphicon-plus"></span> Add User</button>&nbsp;
    <button ui-sref="authority-descriptions" class="btn rga-button-inverse"><span class="glyphicon glyphicon-info-sign"></span> View Role Descriptions</button>
    <!-- <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="auth in vm.authorities" role="presentation"><a>{{auth.name}}</a></li>
    </ul> -->
    <!-- <uib-accordion>
      <uib-accordion-group class="panel-default" heading="{{auth.name}}" ng-repeat="auth in vm.authorities">
        {{auth.description}}
      </uib-accordion-group>
    </uib-accordion> -->
  </div>
</div>
<div class="panel panel-default table-responsive">
  <table class="jh-table table table-striped table-hover clickable">
    <thead class="rga-thead">
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Login (RGA s-id)</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in vm.users | orderBy:'id'" >
      <td ui-sref="users.edit({id:user.id})">{{user.id}}</td>
      <td ui-sref="users.edit({id:user.id})">{{user.email}}</td>
      <td ui-sref="users.edit({id:user.id})">{{user.firstName}}</td>
      <td ui-sref="users.edit({id:user.id})">{{user.lastName}}</td>
      <td ui-sref="users.edit({id:user.id})">{{user.login}}</td>
      <td><button ng-disabled="user.id === vm.currentUserId" class="btn btn-default pull-right rga-main-font" ng-click="vm.removeUser(user)"><span class="glyphicon glyphicon-remove"></span></button></td>
    </tr>
    </tbody>
  </table>
</div>
