<div class="rga-modal">
      <div class="modal-header">
        <div class="col-xs-11">
          <h4 class="modal-title"><strong>Role Descriptions</strong></h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.close()">&times;</button>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-bordered">
            <thead>
                <th>Role</th>
                <th>Description</th>
            </thead>
            <tbody>
                <tr ng-repeat="auth in vm.authorities">
                    <td>{{auth.name}}</td>
                    <td>{{auth.description}}</td>
                </tr>
            </tbody>
        </table>  
      </div>
      <!-- <div class="modal-footer">
        
      </div> -->
  </div>
  