<style>
  #loading-bar {
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: wait;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
  }
</style>
<ul class="nav nav-pills-structured-red nav-justified">
  <li class="step1" role="presentation" ui-sref-active="current"><a ui-sref="company-mdm">MDM Companies</a>
    <li class="step2" role="presentation" ui-sref-active=""><a class="noRightMargin" ui-sref="company">Non MDM Companies</a></li>
</ul>
<intro-button options="vm.introOptions" />
<div class="panel panel-default container-fluid">
  <div class="panel-heading row">
    <div class="col-sm-12">
      <h3><strong class="rga-font fa fa-lg"> <strong translate="finreApp.company.home.title"></strong></strong>
      </h3>
    </div>
  </div>
  <div class="panel-body row spacing">
    <div class="inline-block col-sm-6 col-xs-12 no-padding-left">
      <div>
        <button ng-click="vm.refreshAllMdmCompanies()" class="btn rga-button refreshMdm">
          <span ng-class="{'glyphicon-spin':vm.refreshingAllMdm}" class="glyphicon glyphicon-refresh"></span>
          <md-tooltip md-direction="top">Refresh All MDM Companies</md-tooltip>
        </button>
      </div>
      &nbsp;
      <div>
        <strong>Last Updated:</strong> {{vm.statInfo.lastUpdated ? vm.statInfo.lastUpdated.fromNow() : ''}}
        <br/>
        <strong>Records Updated:</strong> {{vm.statInfo.lastUpdatedCount}}
      </div>  
    </div>
    <div class="col-sm-6 col-xs-12 input-group">
      <span class="step3 input-group-addon">
        <md-tooltip md-direction="top">
          Check to search for newly added MDM company to import
        </md-tooltip>
        <em ng-if="vm.searchingCompany==true" class="fa fa-spinner fa-spin" style="font-size:24px"></em>
        <input ng-model="vm.MdmImport" type="checkbox" aria-label="..." />
      </span>
      <div class="input-group pull-right step4">
        <input type="text" class="form-control" ng-model="vm.searchQuery" placeholder="Search by Company Name or Client Id" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()">
        <span class="input-group-btn width-min">
          <button id="btnSearch" class="btn btn-block rga-button" ng-click="vm.newsearch(vm.searchQuery)">
            <span class="glyphicon glyphicon-search" ></span>
            <md-tooltip md-direction="top">
              Search by Name or Client Id
            </md-tooltip>
          </button>
        </span>
        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
          <button id="clearSearch" class="btn btn-block rga-button" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </span>
      </div>
      <!-- /input-group -->
    </div>
  </div>
</div>

<div class="panel panel-default">
  <table class="step5 jh-table table table-striped table-hover">
    <thead class="rga-thead">
      <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
        <th jh-sort-by="clientCompanyId">Client Co.#<span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="name"><span translate="finreApp.company.companyName">CompanyName</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="affiliateName"><span translate="finreApp.company.affiliateName">AffiliateName</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="city"><span translate="finreApp.company.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="state"><span translate="finreApp.company.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="countryName"><span translate="finreApp.company.country">Country</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="region"><span translate="finreApp.company.region"></span> <span class="glyphicon glyphicon-sort"></span></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="company in vm.mdmcompanies  track by company.id" class="cursor-pointer">
        <td ng-if="!company.import==1" ui-sref="company-detail({id:company.id})">{{company.clientCompanyId}}</td>
        <td ng-if="!company.import==1" ui-sref="company-detail({id:company.id})">{{company.name}}</td>
        <td ng-if="!company.import==1" ui-sref="company-detail({id:company.id})">{{company.affiliateName}}</td>
        <td ng-if="!company.import==1" ui-sref="company-detail({id:company.id})">{{company.city}}</td>
        <td ng-if="!company.import==1" ui-sref="company-detail({id:company.id})">{{company.state}}</td>
        <td ng-if="!company.import==1" ui-sref="company-detail({id:company.id})">
          <span ng-if="!company.clientCompanyId">{{company.country.name}}</span>
          <span ng-if="company.clientCompanyId">{{company.countryName}}</span>
        </td>
        <td ng-if="company.import==1">{{company.clientCompanyId}}</td>
        <td ng-if="company.import==1">{{company.name}}</td>
        <td ng-if="company.import==1">{{company.affiliateName}}</td>
        <td ng-if="company.import==1">{{company.name}}</td>
        <td ng-if="company.import==1">{{company.city}}</td>
        <td ng-if="company.import==1">{{company.state}}</td>
        <td ng-if="company.import==1">
          <span ng-if="!company.clientCompanyId">{{company.country.name}}</span>
          <span ng-if="company.clientCompanyId">{{company.countryName}}</span>
        </td>
        <td ng-if="!company.import==1">{{company.region}}</td>
        <td class="text-right">
          <div class="step6 btn-group flex-btn-group-container">
            <button id="editCompany" ng-if="company.import==0" type="submit" ui-sref="company-mdm.edit({id:company.id})" class="btn btn-default rga-font">
                  <md-tooltip md-direction="top">
                    Edit Company
                  </md-tooltip>
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>

            <button id="importCompany" ng-if="company.import==1" type="submit" ng-click="vm.importMdmCompany(company)" class="btn btn-default rga-font">
                  <md-tooltip md-direction="top">
                   IMPORT COMPANY
                  </md-tooltip>
                  <span class="glyphicon glyphicon-import"> IMPORT</span>
                </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="vm.totalItems!=0" class="text-center">
  <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
  <uib-pagination class="step7 pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>

<div ng-if="vm.totalItems==0" class="text-center">
  <div class="text-center"> Showing 0 - 0 of 0 items.</div>
  <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>
