<ul class="nav nav-pills-structured-red nav-justified">
  <li class="step1" role="presentation" ui-sref-active="">
    <a ui-sref="company-mdm">MDM Companies</a>
    <li class="step2" role="presentation" ui-sref-active="current">
      <a class="noRightMargin" ui-sref="company">Non MDM Companies</a>
    </li>
</ul>
<intro-button options="vm.introOptions" />
<div class="panel panel-default container-fluid">
  <div class="panel-heading row">
    <div class="col-xs-12">
        <h3>
            <strong class="rga-font fa fa-lg">
              <strong translate="finreApp.company.home.title"></strong>
            </strong>
          </h3>
    </div>
  </div>
  <div class="panel-body row spacing">
    <div class="col-sm-6 col-xs-12 no-padding-left">
      <button id="newCompany" class="step4 btn rga-button" ui-sref="company.new">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-xs" translate="finreApp.company.home.createLabel">
          Create new Company
        </span>
      </button>
    </div>
    <div class="step3 col-sm-6 col-xs-12 input-group pull-right">
      <input type="text" class="form-control" ng-model="vm.searchQuery" placeholder="{{ 'Search for Non MDM Company' | translate }}"
        uib-tooltip="Search for Non MDM Company" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()">
      <span class="input-group-btn width-min">
        <button id="newSearch" class="btn btn-block rga-button" ng-click="vm.newsearch(vm.searchQuery)">
          <span class="glyphicon glyphicon-search"></span>
          <md-tooltip md-direction="top"> Search for Non MDM Company </md-tooltip>
        </button>
      </span>
      <span class="input-group-btn width-min" ng-if="vm.currentSearch">
        <button id="clearSearch" class="btn btn-block rga-button" ng-click="vm.clear()">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </span>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <table class="step5 jh-table table table-striped table-hover">
    <thead class="rga-thead">
      <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
        <th jh-sort-by="clientCompanyId">Client Co.#
          <span class="glyphicon glyphicon-sort"></span>
        </th>
        <th jh-sort-by="name">
          <span translate="finreApp.company.companyName">CompanyName</span>
          <span class="glyphicon glyphicon-sort"></span>
        </th>
        <th jh-sort-by="affiliateName">
          <span translate="finreApp.company.affiliateName">AffiliateName</span>
          <span class="glyphicon glyphicon-sort"></span>
        </th>
        <th jh-sort-by="city">
          <span translate="finreApp.company.city">City</span>
          <span class="glyphicon glyphicon-sort"></span>
        </th>
        <th jh-sort-by="state">
          <span translate="finreApp.company.state">State</span>
          <span class="glyphicon glyphicon-sort"></span>
        </th>

        <th jh-sort-by="countryName">
          <span translate="finreApp.company.country">Country</span>
          <span class="glyphicon glyphicon-sort"></span>
        </th>
        <th jh-sort-by="region">
          <span translate="finreApp.company.region"></span>
          <span class="glyphicon glyphicon-sort"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="company in vm.companies track by company.id" class="cursor-pointer">
        <td ui-sref="company-detail({id:company.id})">{{company.name}}</td>
        <td ui-sref="company-detail({id:company.id})">{{company.affiliateName}}</td>
        <td ui-sref="company-detail({id:company.id})">{{company.city}}</td>
        <td ui-sref="company-detail({id:company.id})">{{company.state}}</td>
        <td ui-sref="company-detail({id:company.id})">
          <span ng-if="!company.clientCompanyId">{{company.country.name}}</span>
          <span ng-if="company.clientCompanyId">{{company.countryName}}</span>
        </td>
        <td ui-sref="company-detail({id:company.id})">{{company.region}}</td>
        <td class="text-right">
          <div class="step6 btn-group flex-btn-group-container">
            <button id="editCompany" type="submit" ui-sref="company.edit({id:company.id})" class="btn btn-default rga-font">
              <span class="glyphicon glyphicon-pencil"></span>
              <md-tooltip md-direction="top"> Edit Company </md-tooltip>
            </button>
            <button id="deleteCompany" type="submit" ui-sref="company.delete({id:company.id})" class="btn btn-default rga-font">
              <span class="glyphicon glyphicon-remove"></span>
              <md-tooltip md-direction="top"> Delete Company </md-tooltip>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="vm.totalItems!=0" class="text-center">
  <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
  <uib-pagination class="pagination-sm step7" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>

<div ng-if="vm.totalItems==0" class="text-center">
  <div id="noPages" class="text-center"> Showing 0 - 0 of 0 items.</div>
  <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>
