<form name="deleteForm" ng-submit="vm.confirmDelete(vm.company.id)">
  <div class="modal-header">
    <button id="confirmDelete" type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
  </div>
  <div class="modal-body">

    <div >
    <p ng-if="vm.treatyList.length!==0"> This Company is associated
      with # {{vm.treatyList.length}}  treaties. You can not delete</p>
    </div>
    <div>
      <p  ng-if="vm.treatyList.length===0">
        Are you sure you want to delete Company?
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button id="delete" ng-show="vm.treatyList.length==0" type="submit" ng-disabled="deleteForm.$invalid || vm.treatyList.length!==0" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
