<div class="panel align-right">
  <div class="panel-heading rga-header">

    <div class="row">
      <div class="form-group col-sm-12">
        <div class="col-sm-4"> <br>
          <button id="editCompany" type="submit"
                  ui-sref="company-detail.edit({id:vm.company.id})"
                  class="btn btn-default rga-button">
            <md-tooltip md-direction="top">
              Edit Company Record
            </md-tooltip>
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button id="goMdmCompany" ng-if="vm.company.mdmId" type="submit"
                  ui-sref="company-mdm"
                  class="btn rga-button">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Back to MDM Companies List
          </button>
          <button id="goCompany"  ng-if="!vm.company.mdmId"  type="submit"
                  ui-sref="company"
                  class="btn rga-button">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Back to Company List
          </button>
        </div>
        <div ng-if="vm.company.mdmId!=null" class="col-sm-8">
        <div class="rga-right"><strong class="rga-font fa">
          <h3>{{vm.company.name}} </h3></strong>
        </div>
        </div>
        <div ng-if="vm.company.mdmId==null" class="col-sm-8">
          <input type="text"  id="searchCompanyInput" class="form-control" placeholder="Search MDM for new company to be merged with this company and imported" autocomplete="off"
                 uib-tooltip="Search MDM for new company to be merged with this company and imported" ng-model="vm.selectedCompany"
                 uib-typeahead="company as company.clientCompanyId+' &nbsp;-&nbsp; '+company.name for company in vm.companiesAbc | filter:$viewValue|limitTo:20" ng-change="vm.newsearch(vm.selectedCompany)"
                 typeahead-min-length="2">
          <em ng-if="vm.searchingCompany==true" class="fa fa-spinner fa-spin" style="font-size:24px"></em>
          <button id="mergeCompany" type="submit"
                  ng-click="vm.mergeMdmCompany(vm.company)"
                  ng-disabled ="vm.selectedCompany.id==undefined"
                  class="btn btn-default rga-font">
            <span class="glyphicon glyphicon-copy"></span>
            <md-tooltip md-direction="top"> Merge Company </md-tooltip>
          </button>
          <div class="rga-right"><strong class="rga-font fa">
            <h3>{{vm.company.name}} </h3></strong>
        </div>
      </div>
    </div>
  </div></div>
  <div class="panel panel-default">
    <div class="panel-heading"> <h4><strong>Basic Information  </strong> </h4>  </div>
    <div class="panel-body">
      <div class="row">
        <div ng-if="vm.company.mdmId!=null" class="form-group col-sm-4">
          <label class="control-label" >Client Co.# </label>
          <input type="text" class="form-control" name="companyName"
                 ng-model="vm.company.clientCompanyId" readonly
          />
        </div>
        <div class="form-group col-sm-4">
          <label class="control-label" translate="finreApp.company.companyName">CompanyName</label>
         <input class="form-control" readonly ng-model="vm.company.name"/>
        </div>
        <div class="form-group col-sm-4">
          <label class="control-label" translate="finreApp.company.affiliateName">AffiliateName</label>
          <input class="form-control" readonly ng-model="vm.company.affiliateName"/>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading"> <h4><strong>Address Information </strong> </h4> </div>
    <div class="panel-body">

      <div class="row">
        <div class="form-group col-sm-3" ng-class="{'has-error': editForm.country.$invalid}">
          <label class="control-label" translate="finreApp.company.country">Country</label>
          <br/>
          <span ng-if="vm.company.country !== null"><input class="form-control" readonly ng-model="vm.company.country.name"/></span>
          <span  ng-if="vm.company.country === null"><input class="form-control" readonly ng-model="vm.company.countryName"/></span>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label" translate="finreApp.company.region">Region</label>
          <input class="form-control" readonly ng-model="vm.company.country.region"/>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" translate="finreApp.company.city">City</label>
          <input class="form-control" readonly ng-model="vm.company.city"/>
        </div>
        <div class="form-group col-sm-2" >
          <label class="control-label">State</label>
          <div ng-show="vm.toggleState">
            <input class="form-control" readonly ng-model="vm.company.state"/>
          </div>
          <div ng-show="!vm.toggleState">
            <input class="form-control" readonly ng-model="vm.company.state"/>       </div>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label">PostalCode</label>
          <input class="form-control" readonly ng-model="vm.company.postalCode"/>
        </div>
      </div>
    </div>
  </div>

</div>
