<div class="rga-modal ">
  <form name="editForm" class="css-form" id="myModal" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
      <button id="clear" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.xclear()">
        <span class="glyphicon glyphicon-remove-circle"></span>
      </button>
      <h4 class="modal-title" translate="finreApp.company.home.createOrEditLabel">Create or edit a
        Company</h4>
    </div>
    <div class="modal-body">


      <div class="panel panel-default">
        <div class="panel-heading"> <h4><strong>Basic Information</strong> </h4>  </div>
        <div class="panel-body">
          <div class="row">
            <div ng-if="vm.company.mdmId!=null" class="form-group col-sm-4">
              <label class="control-label" >Client Co.# </label>
              <input type="text" class="form-control" name="companyName"
                     ng-model="vm.company.clientCompanyId" readonly
                  />
            </div>
            <div class="form-group col-sm-4">
              <label class="control-label" translate="finreApp.company.companyName">CompanyName</label>
              <input type="text" class="form-control" name="companyName"
                     ng-model="vm.company.name" placeholder="Company Name" required
                     ng-readonly="vm.company.mdmId!=null"
              uib-tooltip="Input Company Name"/>

            </div>
            <div class="form-group col-sm-4">
              <label class="control-label" translate="finreApp.company.affiliateName">AffiliateName</label>
              <input type="text" class="form-control"
                     ng-model="vm.company.affiliateName" placeholder="Parent Company" uib-tooltip="Input Parent Company Name"/>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"> <h4><strong> Address Information </strong> </h4> </div>
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-sm-3" ng-class="{'has-error': editForm.country.$invalid}">
              <label class="control-label" translate="finreApp.company.country">Country</label>
              <select class="form-control" name="country" ng-model="vm.company.country"
                      ng-options=" country as country.name for country in vm.countries|orderBy:'name' track by country.name"
                      ng-change="vm.selectedCountry()" uib-tooltip="Select Country" required>
                <option value="">-- Country --</option>
              </select>
            </div>
            <div class="form-group col-sm-2">
              <label class="control-label" translate="finreApp.company.region">Region</label>
              <input type="text" class="form-control" name="region"
                     ng-model="vm.company.country.region" placeholder="Region" uib-tooltip="Input Region"
              readonly/>
            </div>
            <div class="form-group col-sm-3">
              <label class="control-label" translate="finreApp.company.city">City</label>
              <input type="text" class="form-control" name="city"ng-model="vm.company.city" placeholder="City"
                      uib-tooltip="Input City"/>
            </div>
            <div class="form-group col-sm-2" >
              <label class="control-label">{{vm.stateLbl}}</label>
              <div ng-show="vm.toggleState">
                <select class="form-control" name="state" ng-model="vm.company.state"
                        ng-options="state.description as state.description for state in vm.states track by state.description"
                        uib-tooltip="Select State">
                  <option value="">-- State --</option>
                </select>
              </div>
              <div ng-show="!vm.toggleState">
                <input type="text" class="form-control" name="state"
                       ng-model="vm.company.state" placeholder="{{vm.stateLbl}}"   uib-tooltip="Input {{vm.stateLbl}}"/>
              </div>
            </div>
            <div class="form-group col-sm-2">
              <label class="control-label">{{vm.zip}}</label>
              <input type="text" class="form-control" name="postalCode"
                     ng-model="vm.company.postalCode" placeholder="{{vm.zip}}" uib-tooltip="Input {{vm.zip}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="cancel" type="button" class="btn btn-default rga-font" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
      </button>
      <button id="saveCompany" type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-default rga-font">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
      </button>
    </div>
  </form>
</div>
