<div class="rga-modal" id="myModal">
    <form class="css-form input.ng-invalid" name="editForm" role="form" novalidate>
        <div class="modal-header">
            <div class="col-md-9">
                <h4 class="modal-title" id="myDealTrackingLabel"
                    translate="finreApp.dealTracking.home.createOrEditLabel">Create or edit a DealTracking</h4>
            </div>
            <div class="col-md-3" align="right">
                <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="vm.clear()">&times;
                </button>
                <md-switch align="right" class="md-switch" aria-label="RGA Switch" ng-disabled="true"
                           ng-model="vm.dealTracking.dealTrackingStatus" ng-true-value="'Open'"
                           ng-false-value="'Closed'" class="md-warn">
                    Status: {{vm.dealTracking.dealTrackingStatus}}
                </md-switch>
            </div>
        </div>
        <div class="modal-body">

            <div class="panel panel-default">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <h5><label class="control-label"> Deal Name </label><br>
                                {{ vm.deal.name}}
                            </h5>
                        </div>
                      <div class="col-sm-2">
                        <h5><label class="control-label">Deal Type</label> <br> {{ vm.deal.dealType.name}}</h5>
                      </div>
                        <div class="col-sm-2">
                            <h5><label class="control-label">Product Line</label> <br>
                                {{ vm.deal.productLine.name}}</h5>
                        </div>
                        <div class="col-sm-2">
                            <h5><label class="control-label">Product Subtype</label><br>
                                {{vm.deal.productSubtype.name}}</h5>
                        </div>
                        <div class="col-sm-2">
                            <h5><label class="control-label">Effective Date</label><br>
                                {{vm.deal.effectiveDate|date: 'mediumDate'}} </h5>
                        </div>
                        <div class="col-sm-2">
                            <h5><label class="control-label">GFS Assignee</label><br>
                                {{vm.deal.gfsAssignee.firstName }} {{vm.deal.gfsAssignee.lastName }} </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-sm-3">
                    <label class="control-label">Reporting Period</label>
                    <div ng-class="{'has-error': editForm.reportingPeriodEndDate.$invalid}" class="input-group">
                        <input type="text" class="form-control" name="reportingPeriodEndDate" required
                               onkeyup="this.value = dateMaskYM(this.value);" maxlength="7"
                               placeholder="YYYY-MM" uib-datepicker-popup="yyyy-MM"
                               datepicker-options="vm.dateOptions"
                               ng-model="vm.dealTracking.reportingPeriodEndDate"
                               is-open="vm.datePickerOpenStatus.reportingPeriodEndDate"/>
                        <span class="input-group-btn">
                            <button id="openPeriod" type="button" class="btn btn-default"
                                  ng-click="vm.openCalendar('reportingPeriodEndDate')">
                              <em class="glyphicon glyphicon-calendar"></em></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label">Reporting Validation Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="reportingValidationDate"
                               onkeyup=" this.value = dateMask(this.value);" maxlength="10"
                               placeholder="YYYY-MM-DD" uib-datepicker-popup="{{dateformat}}"
                               ng-model="vm.dealTracking.reportingValidationDate"
                               is-open="vm.datePickerOpenStatus.reportingValidationDate"/>
                        <span class="input-group-btn">
                            <button id="openRepValidation" type="button" class="btn btn-default"
                                  ng-click="vm.openCalendar('reportingValidationDate')">
                              <em class="glyphicon glyphicon-calendar"></em></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label">Password</label><br>
                    <input name="password" type="text" class="form-control" placeholder="Password"
                           ng-model="vm.dealTracking.password"/>
                </div>
                <div class="form-group col-sm-3">
                    <label class="control-label"> <strong>Reporting Revised</strong></label>
                  <br>
                    <md-switch class="md-switch" aria-label="RGA Switch" ng-model="vm.dealTracking.reportingRevisedFlag"
                               ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn">
                        {{vm.dealTracking.reportingRevisedFlag}}
                    </md-switch>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3 col-sm-6">
                    <md-switch class="md-switch" aria-label="RGA Switch"
                               ng-model="vm.dealTracking.reportingArmFlag"
                               aria-label="RGA Switch" ng-true-value="0" ng-false-value="1"
                               class="md-warn" ng-change="vm.clearField()">
                        <strong>Report to RM Date </strong></md-switch>
                    <div ng-hide="vm.dealTracking.reportingArmFlag===0"><span>N/A</span></div>
                    <div class="input-group" ng-hide="vm.dealTracking.reportingArmFlag===1"
                         ng-class="{'has-error': editForm.reportArmDate.$invalid}">
                        <input type="text" class="form-control" name="reportArmDate"
                               onkeyup=" this.value = dateMask(this.value);" maxlength="10"
                               placeholder="YYYY-MM-DD" uib-datepicker-popup="{{dateformat}}"
                               ng-model="vm.dealTracking.reportingArmDate"
                               is-open="vm.datePickerOpenStatus.reportArmDate"
                               ng-required="vm.dealTracking.reportingArmFlag===0"/>
                        <span class="input-group-btn">
                            <button id="openRepArm" type="button" class="btn btn-default" ng-click="vm.openCalendar('reportArmDate')">
                              <em class="glyphicon glyphicon-calendar"></em></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <md-switch class="md-switch" aria-label="RGA Switch"
                               ng-model="vm.dealTracking.financeDateFlag" ng-change="vm.clearField()"
                               aria-label="RGA Switch" ng-true-value="0" ng-false-value="1"
                               class="md-warn">
                    <strong>Stat. Est. to Finance Date</strong></md-switch>
                    <div ng-hide="vm.dealTracking.financeDateFlag===0"><span>N/A</span></div>
                    <div class="input-group" ng-hide="vm.dealTracking.financeDateFlag===1"
                         ng-class="{'has-error': editForm.financeDate.$invalid}">
                        <input type="text" class="form-control" name="financeDate"
                               onkeyup=" this.value = dateMask(this.value);" maxlength="10"
                               placeholder="YYYY-MM-DD" uib-datepicker-popup="{{dateformat}}"
                               ng-model="vm.dealTracking.financeDate"
                               is-open="vm.datePickerOpenStatus.financeDate"
                               ng-required="vm.dealTracking.financeDateFlag==0"/>
                        <span class="input-group-btn">
                            <button id="openFinanceDate" type="button" class="btn btn-default" ng-click="vm.openCalendar('financeDate')">
                              <em class="glyphicon glyphicon-calendar"></em></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label class="control-label"> <strong>Add'l Reporting</strong></label>
                  <br>
                    <md-switch class="md-switch" aria-label="RGA Switch" ng-model="vm.dealTracking.reportingFlag"
                               ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn">
                        {{vm.dealTracking.reportingFlag}}
                    </md-switch>
                </div>
            </div>
        </div>

        <div class="modal-footer">
          <button id="cancel" type="button" class="btn btn-default rga-font" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
          </button>
          <!--<button ng-show="editForm.$invalid" type="submit" ng-click="vm.save(1) " ng-disabled="isSaving"
                  class="btn btn-default rga-font">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
          </button>
          <button ng-show="!editForm.$invalid" type="submit" ng-click="vm.saveMessage()"
                  ng-disabled="editForm.$invalid || isSaving" class="btn btn-default rga-font">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
          </button>-->
          <!--<button uib-tooltip="To save, you must specify a Reporting Period." tooltip-enable="editForm.$invalid" type="submit" ng-click="(!editForm.$invalid && !isSaving) && vm.saveMessage()"-->
                  <!--ng-class="{'disabled': editForm.$invalid}" class="btn btn-default rga-font">-->
            <!--<span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>-->

          <!--</button>-->
          <button id="saveDealTracking" type="submit" ng-click="vm.verifySave(editForm)"
                  ng-class="{'disabled': editForm.reportingPeriodEndDate.$invalid}" class="btn btn-default rga-font" aria-label="Save">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
            <md-tooltip ng-show="editForm.reportingPeriodEndDate.$invalid" md-z-index="10000" md-direction="top">To save, you must specify a Reporting Period.</md-tooltip>
          </button>
        </div>
    </form>
</div>
