<ul class="nav nav-pills nav-justified">
  <li role="presentation" class=""><a id="dealDetail" ui-sref="deal-detail({dealId:vm.dealId, page:vm.page})">Deal Details</a></li>
  <li role="presentation" class="step1 current"><a id="dealTracking" ui-sref="deal-tracking({dealId:vm.dealId})">Deal Tracking</a></li>
  <li role="presentation" class=""><a id="treatiesDeal" ui-sref="treaty-deal({dealId:vm.dealId, page:vm.page})">Treaties & Tracking</a></li>
  <li role="presentation" class=""><a id="reliefLink" ui-sref="treaty-transaction-relief({dealId:vm.dealId, page:vm.page})">Relief Transactions</a></li>
  <li ng-show="vm.deal.productSubtype.name=='Structured'" role="presentation" class=""><a id="structureLink" ui-sref="structured-finance.deal({dealId:vm.dealId})">Structured Finance</a></li>
</ul>
<intro-button options="vm.introOptions" />
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-2">
        <h5><label class="control-label"> Deal Name </label><br> {{ vm.deal.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Deal Type</label> <br> {{ vm.deal.dealType.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Product Line</label> <br> {{ vm.deal.productLine.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Product Subtype</label><br> {{vm.deal.productSubtype.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Effective Date</label><br> {{vm.deal.effectiveDate|date: 'mediumDate'}} </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">GFS Assignee</label><br> {{vm.deal.gfsAssignee.firstName }} {{vm.deal.gfsAssignee.lastName
          }} </h5>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <button id="newDealTracking" ui-sref="deal-tracking.new({dealId:vm.dealId})" class="step2 btn rga-button">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;New Tracking
            <md-tooltip md-direction="top">
              Add A Deal Tracking
            </md-tooltip>
          </button>
      </div>
    </div>
  </div>
  <div class="panel-footer">
      <div class="row">
        <div class="col-sm-6 step3">
          <div class="col-sm-6 no-padding-left">
            <div class="form-group">
              <label class="control-label">Rpt Period Start</label><br>
              <div class="input-group">
                <input type="text" class="form-control" name="searchStartDate" onkeyup=" this.value = dateMaskYM(this.value);" maxlength="7"
                  placeholder="YYYY-MM" uib-datepicker-popup="{{vm.format}}" datepicker-options="vm.dateOptions" ng-model="vm.searchStartDate"
                  is-open="vm.datePickerOpenStatus.searchStartDate" />
                <span class="input-group-btn">
                    <button id="calendar" type="button" class="btn btn-default" ng-click="vm.openCalendar('searchStartDate')">
                      <em class="glyphicon glyphicon-calendar"></em></button>
                  </span>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label">Rpt Period End</label><br>
            <div class="input-group">
              <input type="text" class="form-control" name="searchEndDate" onkeyup=" this.value = dateMaskYM(this.value);" maxlength="7"
                placeholder="YYYY-MM" uib-datepicker-popup="{{vm.format}}" datepicker-options="vm.dateOptions" ng-model="vm.searchEndDate"
                is-open="vm.datePickerOpenStatus.searchEndDate" />
              <span class="input-group-btn">
                  <button id="calendarSearchStart" type="button" class="btn btn-default" ng-click="vm.openCalendar('searchEndDate')">
                    <em class="glyphicon glyphicon-calendar"></em></button>
                </span>
            </div>
          </div>
        </div>
        <div class="step4 form-group col-sm-5">
          <label class="control-label">&nbsp;</label><br>
          <button id="calendarSearchEnd" ng-disabled="vm.searchEndDate === null || vm.searchStartDate ===null" class="btn rga-button"
            ng-click="vm.filterByReportingPeriod()">
              <span class="glyphicon glyphicon-filter"> </span>&nbsp;Filter
              <md-tooltip md-direction="top">
                Please Insert Period Start and Period End for search
              </md-tooltip>
            </button>
          <button id="resetFilter" class="btn rga-button" ng-click="vm.reset()">
              <span class="glyphicon glyphicon-remove"> </span>&nbsp;Clear Filter
            </button>
        </div>
        <div ng-show="vm.deleteMultipleTracking.length>1" align="right" ng-click="vm.deleteMultiple()" class="form-group col-sm-1">
          <label class="control-label">&nbsp;</label><br>
          <button id="deleteMultiple" class="btn rga-button"> Delete</button> </div>
      </div>
    </div>
</div>
<div class="table-responsive panel panel-default">
  <table class="step5 jh-table table table-striped ">
    <thead class="rga-thead">
      <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
        <th jh-sort-by="reportingPeriodEndDate"><span>Reporting Year/Quarter </span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="reportingPeriodEndDate"><span>Reporting Month</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="reportingValidationDate"><span>Reporting Validation Date </span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="reportingArmDate"><span>Reporting RM Date </span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="financeDate"><span>Stat. Est. to Finance Date </span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="reportingRevisedFlag"><span>Reporting Revised </span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="dealTrackingStatus"><span>Status </span> <span class="glyphicon glyphicon-sort"></span></th>
        <th ng-if="vm.authority !== 'ViewOnly'" align="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Delete Multiples <input align="right" ng-model="vm.deleteFlag" type="checkbox" ng-change="vm.deleteFlagChange()"
          /> </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="dealTracking in vm.dealTrackings track by dealTracking.id" class="cursor-pointer">
        <td ui-sref="deal-tracking-detail({dealId:vm.dealId,id:dealTracking.id})">{{dealTracking.reportingPeriodEndDate}}</td>
        <td ui-sref="deal-tracking-detail({dealId:vm.dealId,id:dealTracking.id})">{{dealTracking.month}}</td>
        <td ui-sref="deal-tracking-detail({dealId:vm.dealId,id:dealTracking.id})">{{dealTracking.reportingValidationDate}}</td>
        <td ui-sref="deal-tracking-detail({dealId:vm.dealId,id:dealTracking.id})">{{dealTracking.reportingArmDate}}</td>
        <td ui-sref="deal-tracking-detail({dealId:vm.dealId,id:dealTracking.id})">{{dealTracking.financeDate}}</td>
        <td ui-sref="deal-tracking-detail({dealId:vm.dealId,id:dealTracking.id})">{{dealTracking.reportingRevisedFlag}}</td>
        <td ui-sref="deal-tracking-detail({dealId:vm.dealId,id:dealTracking.id})">{{dealTracking.dealTrackingStatus}}</td>
        <td ng-if="vm.authority !== 'ViewOnly'" class=" text-left">
          <div  ng-show="!vm.deleteFlag" class="step6 btn-group flex-btn-group-container">
            <button id="dealTrackingEdit" type="submit" ui-sref="deal-tracking.edit({id:dealTracking.id})" class="btn btn-default rga-font">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" ></span>
                          <md-tooltip md-direction="top">Edit Tracking Record</md-tooltip>
                        </button>
            <button id="dealTrackingDelete" type="submit" ui-sref="deal-tracking.delete({id:dealTracking.id})" class="btn btn-default rga-font">
                          <span class="glyphicon glyphicon-remove"></span>
                            <span class="hidden-xs hidden-sm"></span>
                          <md-tooltip md-direction="top">Delete Tracking Record</md-tooltip>
                        </button>
          </div>
          <div ng-show="vm.deleteFlag" class="btn-group flex-btn-group-container form-group">
            <input class="form-control inputCheck" ng-model="dealTracking.checked" ng-click="vm.forDelete(dealTracking)" type="checkbox"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="vm.totalItems!=0" class=" text-center">
  <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
  <uib-pagination class="step7 pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>
<div ng-if="vm.totalItems==0" class=" text-center">
  <div id="noPages" class="text-center"> Showing 0 - 0 of 0 items.</div>
  <uib-pagination class="step7 pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>
