<ul class="nav nav-pills nav-justified">
  <li role="presentation" class=""><a id="dealDetail" ui-sref="deal-detail({dealId:vm.dealId, page:vm.page})">Deal Details</a></li>
  <li role="presentation" class="current" ><a id="dealTracking" ui-sref="deal-tracking({dealId:vm.dealId})">Deal Tracking</a></li>
  <li role="presentation" class=""><a id="treatiesDeal" ui-sref="treaty-deal({dealId:vm.dealId, page:vm.page})">Treaties & Tracking</a></li>
  <li role="presentation" class=""><a id="reliefLink" ui-sref="treaty-transaction-relief({dealId:vm.dealId, page:vm.page})">Relief Transactions</a></li>
  <li ng-show="vm.deal.productSubtype.name=='Structured'"  role="presentation" class=""><a id="structureLink" ui-sref="structured-finance.deal({dealId:vm.dealId})">Structured Finance</a></li>
</ul>
<div class="panel align-right">
  <div class="panel-heading rga-header">
    <div class="row">
      <div class="col-sm-2">
        <h5><label class="control-label" > Deal Name </label><br>
          {{ vm.deal.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Product Line</label> <br>
          {{ vm.deal.productLine.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Product Subtype</label><br>
          {{vm.deal.productSubtype.name}}</h5>
      </div>
      <div class="col-sm-3">
        <h5><label class="control-label" >Effective Date</label><br>
          {{vm.deal.effectiveDate|date: 'mediumDate'}} </h5>
      </div>
      <div class="col-sm-3">
        <h5><label class="control-label" >GFS Assignee</label><br>
          {{vm.deal.gfsAssignee.firstName }}  {{vm.deal.gfsAssignee.lastName }} </h5>
      </div>
    </div>
  </div>

<div class="panel-body">
  <div class="row">
    <div class="col-md-12">
    <button id="editTracking" type="submit"
            ui-sref="deal-tracking-detail.edit({id:vm.dealTracking.id})"
            class="btn btn-default rga-button">
      <span class="glyphicon glyphicon-pencil"></span>
      <span class="hidden-xs hidden-sm"></span>
    </button>

    <button id="backTrackingList" type="submit"
            ui-sref="deal-tracking({dealId:vm.dealId})"
            class="btn rga-button">
      <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Back to Tracking List
    </button>
    </div>
  </div>
  <br>
  <div class="row">

    <div class="form-group col-sm-3" >
      <label class="control-label" >Reporting Period </label>
        <input  type="text" class="form-control" name="reportingPeriodEndDate"  readonly
                ng-model="vm.dealTracking.reportingPeriodEndDate"

        />

    </div>
    <div class="form-group col-sm-3" >
      <label class="control-label" >Reporting Validation Date</label>
        <input  type="text" class="form-control" name="reportingValidationDate"
               ng-model="vm.dealTracking.reportingValidationDate"  readonly

        />
    </div>
    <div class="form-group col-sm-3"ng-class="{'has-error': editForm.password.$invalid}">
      <label class="control-label">Password</label><br>
      <input  readonly name="password" type="text" class="form-control" placeholder="Password" ng-model="vm.dealTracking.password"/>
    </div>
    <div class="form-group col-sm-3">
      <label class="control-label"> <strong>Reporting Revised</strong></label>
    <br>
      {{vm.dealTracking.reportingRevisedFlag}}
    </div>

  </div>
  <div class="row">

    <div class="form-group col-sm-3" >
      <md-switch disabled class="md-switch"   aria-label="RGA Switch"
                 ng-model="vm.dealTracking.reportingArmFlag"
                 aria-label="RGA Switch" ng-true-value="0" ng-false-value="1"
                 class="md-warn">
        <strong>Report to RM Date </strong> </md-switch>
      <div ng-hide="vm.dealTracking.reportingArmFlag===0"><span >N/A</span></div>
      <div ng-hide="vm.dealTracking.reportingArmFlag===1"  ng-class="{'has-error': editForm.reportArmDate.$invalid}">
        <input  type="text" class="form-control" name="reportArmDate"
                ng-model="vm.dealTracking.reportingArmDate" readonly
                />

      </div>
    </div>
    <div class="form-group col-sm-3">
      <md-switch disabled class="md-switch"   aria-label="RGA Switch"
                 ng-model="vm.dealTracking.financeDateFlag"
                 aria-label="RGA Switch" ng-true-value="0" ng-false-value="1"
                 class="md-warn">
        <strong>Stat. Est. to Finance Date</strong> </md-switch>
      <div ng-hide="vm.dealTracking.financeDateFlag===0"><span >N/A</span></div>
      <div ng-hide="vm.dealTracking.financeDateFlag===1" ng-class="{'has-error': editForm.financeDate.$invalid}">
        <input class="form-control" readonly
          ng-model="vm.dealTracking.financeDate"/>

      </div>
    </div>
    <div class="form-group col-sm-3">
      <label class="control-label"> <strong>Deal Tracking Status</strong></label>
      <br>
      {{vm.dealTracking.dealTrackingStatus}}
    </div>
    <div class="form-group col-sm-3">
      <label class="control-label"> <strong> Add'l Reporting</strong></label>
      <br>
      {{vm.dealTracking.reportingFlag}}
    </div>



  </div>

</div>
</div>
