<div>
  <h2><span translate="finreApp.contactSubtype.detail.title">ContactSubtype</span> {{vm.contactSubtype.id}}</h2>
  <hr>
  <dl class="dl-horizontal">
    <dt><span translate="finreApp.contactSubtype.name">Name</dt>
    </dt>
    <dd>
            <span>{{vm.contactSubtype.name}}<span>
    </dd>
    <hr>
    <dt><span translate="finreApp.contactSubtype.description">Description</dt>
    </dt>
    <dd>
            <span>{{vm.contactSubtype.description}}<span>
    </dd>
    <hr>
  </dl>

  <button type="submit"
          onclick="window.history.back()"
          class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
  </button>
</div>
