<div class="container-fluid panel panel-default">
  <div class="row panel-heading">
    <h2>Contact Subtypes</h2>
  </div>
  <div class="panel-body row">
    <button class="btn rga-button" ui-sref="contact-subtype.new">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs">
        Contact Subtype
      </span>
    </button>
  </div>
</div>
<div class="table-responsive panel panel-default">
  <table class="jh-table table table-striped table-hover clickable">
    <thead class="rga-thead">
      <tr>
        <th>
          <span translate="finreApp.contactSubtype.name">Name</span>
        </th>
        <th>
          <span translate="finreApp.contactSubtype.description">Description</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ui-sref="contact-subtype-detail({id:contactSubtype.id})" ng-repeat="contactSubtype in vm.contactSubtypes track by contactSubtype.id">
        <td>{{contactSubtype.name}}</td>
        <td>{{contactSubtype.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
