
<div class="row">
  <div class="rga-well">
      <intro-button options="vm.introOptions"/>
    <h3><strong class="rga-font fa fa-lg"><strong> <span data-translate="finreApp.riskManagement.detail.title">Risk Management</span> </strong></strong></h3>
      <div class="rga-header ">
        <div class="row">
          <div class="col-sm-2">
            <h5><label class="control-label"> Deal Name </label><br>
              {{ vm.deal.name}}
            </h5>
          </div>
          <div class="col-sm-2">
            <h5><label class="control-label">Deal Type</label> <br> {{ vm.deal.dealType.name}}</h5>
          </div>
          <div class="col-sm-2">
            <h5><label class="control-label">Product Line</label> <br>
              {{ vm.deal.productLine.name}}</h5>
          </div>
          <div class="col-sm-2">
            <h5><label class="control-label">Product Subtype</label><br>
              {{vm.deal.productSubtype.name}}</h5>
          </div>
          <div class="col-sm-2">
            <h5><label class="control-label">Effective Date</label><br>
              {{vm.deal.effectiveDate|date: 'mediumDate'}} </h5>
          </div>
          <div class="col-sm-2">
            <h5><label class="control-label">GFS Assignee</label><br>
              {{vm.deal.gfsAssignee.firstName }} {{vm.deal.gfsAssignee.lastName }} </h5>
          </div>
        </div>
      </div>
  </div>
  <br>
</div>
<div class="row">
  <div class="step1 form-group col-sm-3">
    <label class="control-label"
    > Quarter End </label>
    <div class="input-group"  ng-class="{'has-error': editForm.monthYear.$invalid}">
      <input id="field_monthYear" type="text" class="form-control" name="monthYear"
             ng-model="vm.monthYear" placeholder="YYYY-MM"
             onkeyup="
                    var date = this.value;
                    if (date.match(/^\d{4}$/) !== null) {
                       this.value = date + '-';
                    } else if (date.match(/^\d{4}\-\d{2}$/) !== null) {
                       this.value = date;
                    }" maxlength="7"
             uib-datepicker-popup="yyyy-MM"
             ng-change="vm.getQuarter(vm.riskManagement.monthYear)"
             is-open="vm.datePickerOpenStatus.monthYear"
             datepicker-options="vm.dateOptions" required/>
                <span class="input-group-btn" >
                    <button id="calendarMonthYear" type="button" class="btn btn-default"
                            ng-click="vm.openCalendar('monthYear')">
                      <em class="glyphicon glyphicon-calendar"></em></button>
                </span>

    </div>

  </div>
  <div class="form-group col-sm-1 center">
<label class="control-label" >&nbsp;&nbsp;&nbsp;</label>
    <br>
    <button id="loadQuarter" ng-disabled="!vm.monthYear" class="step2 btn rga-button" ng-click="vm.loadQuarter()"> LOAD </button>

  </div>
  <div ng-if="vm.flagRecords">
    <br>
    No data has been uploaded for this period.

  </div>
  <div ng-if="vm.accordion[0].code!=null" class="form-group col-sm-3">
    <label class="control-label">Currency</label>


    <select uib-tooltip="Currency Code" class="form-control" name="currrencyCode"
            ng-model="vm.currencyCodeSelected" multiple
            ng-options="code for code in vm.currencyCode | orderBy:code track by code">
    </select>
  </div>
  <div ng-if="vm.accordion[0].code!=null" align="left" class="col-sm-5">
    <label class="control-label" > &nbsp &nbsp &nbsp &nbsp</label><br>
    <button id="filter" ng-if="!vm.filter && vm.currencyCodeSelected.length!==0" class="btn rga-button"  ng-click="vm.filterByCode()">
      <span class="glyphicon glyphicon-filter"> </span>&nbsp;Filter

    </button>

    <button id="reset" ng-if="vm.filter" class="btn rga-button"  ng-click="vm.reset()">
      <span class="glyphicon glyphicon-remove"> </span>&nbsp;Clear Filter
    </button>

    <button id="expand" class="btn rga-button"  ng-click="vm.expand()">
      &nbsp;Expand All
    </button>

    <button id="collapsed"  class="btn rga-button"  ng-click="vm.collapse()">
      &nbsp;Collapse All
    </button>
  </div>

<br>
</div>
<form class="css-form input.ng-invalid" name="editForm" id="MyForm" role="form" novalidate show-validation>

<div class="row">

  <label ng-hide="false">
    <span ng-if="!editForm.$dirty" ng-hide="true"> {{vm.flagDirty=0}}</span>
    <span ng-if="editForm.$dirty"> <span ng-hide="true"> {{vm.flagDirty=1}}</span><h4>
           <strong style="color:#cb0202"  class="rga-font fa fa-md blink align-right">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ALERT: Your changes have not been saved! Navigating away from this page will cause you to lose your changes!
        </strong></h4></span></label>
</div>
<div class="row">
  <div>
  <uib-accordion close-others="oneAtATime">
  <uib-accordion-group ng-if="vm.accordion[0].code!=null" ng-repeat="risk in vm.accordion | orderBy:'code' track by $index" ng-init="parentIdx = $index"class="panel panel-default-notifications" is-open="risk.status">
    <uib-accordion-heading>
      <div class="accordion-header">{{risk.code}}

      </div>
    </uib-accordion-heading>

    <div class="table-responsive">

      <table class="jh-table table table-striped table-hover">
        <thead class="rga-thead">
        <tr jh-sort="vm.predicate" ascending="vm.reverse" ng-click="vm.transition(risk)">
        <!--  <th jh-sort-by="country.name"><span>Country</span> <span class="glyphicon glyphicon-sort"></span></th>-->
          <th jh-sort-by="riskCriteria.name"><span>Risk Criteria </span> <span class="glyphicon glyphicon-sort"></span></th>
          <th jh-sort-by="amount"><span>Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
          <th jh-sort-by="convertedAmount"><span>Converted Amount </span> <span class="glyphicon glyphicon-sort"></span></th>
          <th ng-if="vm.authority !== 'ViewOnly'"> Edit </th>
          <th>  </th>
          <th>  </th>
          <th>  </th>
        <!--  <th jh-sort-by="monthYear"><span>Year Quarter</span> <span class="glyphicon glyphicon-sort"></span></th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="riskManagement in risk.risk | orderBy:'riskCriteria.name' track by $index " class="cursor-pointer">

          <!-- <td>{{riskManagement.country.name}}</td>-->
          <td>{{riskManagement.riskCriteria.name}}  </td>
          <td  >
            <input type="text" class="form-control"
                   name="amount{{$parent.$index}}{{$index}}"
                   ng-model="riskManagement.amount"
                   ng-change="vm.changeAmount(riskManagement)"
                   ui-number-mask="2"
                   ui-negative-number
                   ng-readonly="!riskManagement.edit==1"
          />

         </td>
          <td  >
            <input type="text" class="form-control"
                   name="convertedAmount{{$parent.$index}}{{$index}}"
                   ng-model="riskManagement.convertedAmount"
                   ui-number-mask="2"
                   ui-negative-number
                   readonly
            />

          </td>
          <td ng-if="vm.authority !== 'ViewOnly'"> <button id="saveValue" class="btn btn-default btn-xs btn-secondary" ng-click="vm.saveValue(riskManagement);riskManagement.edit=1"  ng-if="riskManagement.edit!==1" > <span class="glyphicon glyphicon-pencil"></span>
            <md-tooltip md-direction="top">
              Edit
            </md-tooltip>
          </button>
            <button name="buttonAccept{{parentIdx}}{{$index}}" class="btn btn-default btn-xs btn-secondary" ng-click="riskManagement.edit=0;vm.acceptChanges(riskManagement.amount,riskManagement,editForm,parentIdx,$index)" ng-if="riskManagement.edit===1"  ><span class="glyphicon glyphicon-ok"></span>
              <md-tooltip md-direction="top">
                Accept Changes
              </md-tooltip>

            </button>
            <button name="buttonCancel{{parentIdx}}{{$index}}" class="btn btn-default btn-xs btn-secondary" ng-click="riskManagement.edit=0;vm.updateCancel(riskManagement,editForm,parentIdx,$index)" ng-if="riskManagement.edit===1"  ><span class="glyphicon glyphicon-remove"></span>
              <md-tooltip md-direction="top">
                Cancel Changes
              </md-tooltip>
            </button>
          </td>
          <td>    <button name="buttonControlSave{{$parent.$index}}{{$index}}"  ng-show="editForm.amount{{parentIdx}}{{$index}}.$dirty" ng-click="vm.updateRisk(riskManagement,editForm,parentIdx,$index)"  class="btn btn-default btn-xs btn-secondary" ng-if="riskManagement.edit!==1" >

            <span class="glyphiconl">save
               <md-tooltip md-direction="top">
              Save Changes to DB
            </md-tooltip>
          </span></button></td>
          <td>   <button name="buttonControlCancel{{$parent.$index}}{{$index}}" ng-show="editForm.amount{{parentIdx}}{{$index}}.$dirty" ng-click="vm.updateCancel(riskManagement,editForm,parentIdx,$index)"  class="btn btn-default btn-xs btn-secondary" ng-if="riskManagement.edit!==1" > <span class="glyphiconl">Revert
             <md-tooltip md-direction="top">
              Revert Changes
            </md-tooltip>
          </span></button></td>
        <!--  <td>{{riskManagement.monthYear | date:'yyyy-MM'}}</td>-->
        </tr>
        </tbody>
      </table>

    </div>

  </uib-accordion-group>
  </uib-accordion>
</div>
</div>
</form>
<br>
<div class="row">

  <br>
  <div class="form-group col-sm-3">
    <button type="submit"
            onclick="window.history.back()"
            class="step3 btn btn-default rga-font">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
  </div>
</div>

