<div class="rga-modal" id="myModal" xmlns="http://www.w3.org/1999/html">
<form name="editForm" role="form" >

    <div class="modal-header">
        <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRiskManagementLabel">Risk Management Data Upload</h4>
    </div>
    <div class="modal-body">

      <div class="row">
      <div class="form-group col-sm-3">
        <label class="control-label">Quarter End </label>
        <div class="input-group"  ng-class="{'has-error': editForm.monthYear.$invalid}">
          <input id="field_monthYear" type="text" class="form-control" name="monthYear"
                 ng-model="vm.riskManagement.monthYear" placeholder="YYYY-MM"
                 ng-change="vm.checkDate(vm.riskManagement.monthYear)"
                 onkeyup="
                    var date = this.value;
                    if (date.match(/^\d{4}$/) !== null) {
                       this.value = date + '-';
                    } else if (date.match(/^\d{4}\-\d{2}$/) !== null) {
                       this.value = date;
                    }" maxlength="7"
                 uib-datepicker-popup="yyyy-MM"
                 ng-change="vm.getQuarter(vm.riskManagement.monthYear)"
                 is-open="vm.datePickerOpenStatus.monthYear"
                 datepicker-options="vm.dateOptions" required/>
                  <span class="input-group-btn" >
                      <button id="openMonthYear" type="button" class="btn btn-default"
                              ng-click="vm.openCalendar('monthYear')">
                        <em class="glyphicon glyphicon-calendar"></em></button>
                  </span>
        </div>

      </div>
        <div ng-if="vm.warningMessage" class="form-group col-sm-6">   {{vm.warningMessage}}  </div>
        <div ng-if="vm.warningMessage" class="form-group col-sm-3"> Overwrite:
          <input type="checkbox" ng-model="vm.overwrite"  />
        </div>
      </div>
      <div class="row">
        <div ng-if="vm.riskManagement.monthYear" class="form-group col-sm-12 center-block"  ng-class="{'has-error': editForm.uploadText.$invalid}">
            <label>Please copy and paste the data to be uploaded for <span ng-if="vm.quarter">
{{vm.riskManagement.monthYear| date:'yyyy'}}-Q{{vm.quarter}}
       </span></label>

            <textarea cols="10" rows="10" type="text" class="form-control" id="uploadText" name="uploadText"
                    ng-model="vm.riskManagement.uploadText" required
                      placeholder="Please ensure the following are valid: Deal Name, Currency Code, Risk Criteria and Amounts (numeric values)."
            ng-readonly="!vm.riskManagement.monthYear"
                      ng-disabled="vm.warningMessage!=null && vm.overwrite==false"
            >


          </textarea> <md-tooltip  md-direction="top">
          <span data-tooltip=ng-if="!vm.riskManagement.monthYear"> Please first select quarter and year</span>
          <span ng-if="vm.riskManagement.monthYear"> Please copy and paste the Data for upload </span>
        </md-tooltip>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button id="cancel" type="button" class="btn btn-default rga-font"data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button id="saveManagement" type="button" ng-disabled="editForm.$invalid || isSaving" class="btn btn-default rga-font"  ng-click="vm.save()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span >Upload</span>
        </button>
    </div>
</form>
</div>
