<div>
  <div class="rga-well">
      
    <h3><strong class="rga-font fa fa-lg"><strong> Risk Management </strong></strong></h3>
  </div>
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3" >
            <label class="control-label">List of Deals</label><br>
            <select uib-tooltip="Select Deal" class="form-control" name="dealList" ng-model="vm.dealTreaty"
                    ng-options="deal as deal.name for deal in vm.dealsList | orderBy :'name'"
                    ng-required="true">
              <option value=""></option>
            </select>
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label"
                  >Client Reporting Date</label>
            <div class="input-group"  ng-class="{'has-error': editForm.monthYear.$invalid}">
              <input id="field_monthYear" type="text" class="form-control" name="monthYear"
                     ng-model="vm.monthYear" placeholder="YYYY-MM"
                     onkeyup="
                    var date = this.value;
                    if (date.match(/^\d{4}$/) !== null) {
                       this.value = date + '-';
                    } else if (date.match(/^\d{4}\-\d{2}$/) !== null) {
                       this.value = date;
                    }" maxlength="7"
                     uib-datepicker-popup="yyyy-MM"
                     ng-change="vm.getQuarter(vm.riskManagement.monthYear)"
                     is-open="vm.datePickerOpenStatus.monthYear"
                     datepicker-options="vm.dateOptions" required />
                  <span class="input-group-btn">
                      <button id="openMonthYear" type="button" class="btn btn-default"
                              ng-click="vm.openCalendar('monthYear')">
                        <em class="glyphicon glyphicon-calendar"></em></button>
                  </span>
            </div>
          </div>
           </div>
       </div>
       <br/>
       <div class="table-responsive">
         <table class="jh-table table table-striped table-hover">
           <thead class="rga-thead">
                   <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                     <th jh-sort-by="deal.name"><span>Deal Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                     <th jh-sort-by="country.name"><span>Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                     <th jh-sort-by="riskCriteria"><span>Risk Criteria </span> <span class="glyphicon glyphicon-sort"></span></th>
                     <th jh-sort-by="amount"><span>Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                     <th jh-sort-by="monthYear"><span>Year Quarter</span> <span class="glyphicon glyphicon-sort"></span></th>
                   </tr>
               </thead>
               <tbody>
                   <tr ng-repeat="riskManagement in vm.riskManagements track by riskManagement.id" class="cursor-pointer">
                    <td>{{riskManagement.deal.name}}</td>
                     <td>{{riskManagement.country.name}}</td>
                     <td>{{riskManagement.riskCriteria.name}}</td>
                     <td>{{riskManagement.amount}}</td>
                     <td>{{riskManagement.monthYear | date:'yyyy-MM'}}</td>
                   </tr>
               </tbody>
           </table>
       </div>
  <div ng-if="vm.totalItems!=0" class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                    ng-change="vm.transition()"></uib-pagination>
  </div>

  <div ng-if="vm.totalItems==0" class="text-center">
    <div  id="noPages"  class="text-center"> Showing 0 - 0 of 0 items.</div>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                    ng-change="vm.transition()"></uib-pagination>
  </div>
   </div>
