<div>
    <h2 translate="finreApp.riskFee.home.title">RiskFees</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="risk-fee.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="finreApp.riskFee.home.createLabel">
                        Create new RiskFee
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'finreApp.riskFee.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="finreApp.riskFee.rate">Rate</span></th>
                    <th><span translate="finreApp.riskFee.treatyId">TreatyId</span></th>
                    <th><span translate="finreApp.riskFee.treatyReference">TreatyReference</span></th>
                    <th><span translate="finreApp.riskFee.period">Period</span></th>
                    <th><span translate="finreApp.riskFee.comments">Comments</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="riskFee in vm.riskFees track by riskFee.id">
                    <td><a ui-sref="risk-fee-detail({id:riskFee.id})">{{riskFee.id}}</a></td>
                    <td>{{riskFee.rate}}</td>
                    <td>{{riskFee.treatyId}}</td>
                    <td>{{riskFee.treatyReference}}</td>
                    <td>{{riskFee.period}}</td>
                    <td>{{riskFee.comments}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="risk-fee-detail({id:riskFee.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="risk-fee.edit({id:riskFee.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="risk-fee.delete({id:riskFee.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
