
<div>
    <h2><span translate="finreApp.riskFee.detail.title">RiskFee</span> {{vm.riskFee.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="finreApp.riskFee.rate">Rate</dt></dt>
        <dd>
            <span>{{vm.riskFee.rate}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.riskFee.treatyId">TreatyId</dt></dt>
        <dd>
            <span>{{vm.riskFee.treatyId}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.riskFee.treatyReference">TreatyReference</dt></dt>
        <dd>
            <span>{{vm.riskFee.treatyReference}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.riskFee.period">Period</dt></dt>
        <dd>
            <span>{{vm.riskFee.period}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.riskFee.comments">Comments</dt></dt>
        <dd>
            <span>{{vm.riskFee.comments}}<span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
