
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRiskFeeLabel" translate="finreApp.riskFee.home.createOrEditLabel">Create or edit a RiskFee</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.riskFee.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.riskFee.rate" for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                    ng-model="vm.riskFee.rate"
                    required />
            <div ng-show="editForm.rate.$invalid">
                <p class="help-block"
                    ng-show="editForm.rate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.rate.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.riskFee.treatyId" for="field_treatyId">TreatyId</label>
            <input type="number" class="form-control" name="treatyId" id="field_treatyId"
                    ng-model="vm.riskFee.treatyId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.riskFee.treatyReference" for="field_treatyReference">TreatyReference</label>
            <input type="text" class="form-control" name="treatyReference" id="field_treatyReference"
                    ng-model="vm.riskFee.treatyReference"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.riskFee.period" for="field_period">Period</label>
            <input type="text" class="form-control" name="period" id="field_period"
                    ng-model="vm.riskFee.period"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.riskFee.comments" for="field_comments">Comments</label>
            <input type="text" class="form-control" name="comments" id="field_comments"
                    ng-model="vm.riskFee.comments"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
