<head>
  <style>
    #loading-bar {
      pointer-events: all;
      z-index: 99999;
      border: none;
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      cursor: wait;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.6);
    }

  </style>
</head>
<ul class="nav nav-pills nav-justified">
  <li role="presentation" ui-sref-active="current">
    <a id="treatyDetailTab" ui-sref="treaty-detail({id:vm.treatyId,dealId:vm.dealId})">Treaty</a>
  </li>
  <li role="presentation" ui-sref-active="current">
    <a id="contactCompanyTab" ui-sref="contacts-company-detail({id:vm.treatyId,dealId:vm.dealId})">Companies & Contacts</a>
  </li>
  <li ng-show="vm.treatyTransaction.treaty.disabledTracking===0 || vm.trackingCount > 0" role="presentation" ui-sref-active="current">
    <a id="treatyTrackingTab" ui-sref="treaty-tracking-all({treatyId:vm.treatyId,dealId:vm.dealId})">Treaty Tracking</a>
  </li>
  <li ng-show="vm.treatyTransaction.treaty.treatyCurrencies.length==0" role="presentation" ui-sref-active="current">
    <a id="noTransactionTab" uib-tooltip="Cannot add transactions because the treaty has no currencies.">Cash Transactions</a>
  </li>
  <li ng-show="vm.treatyTransaction.treaty.treatyCurrencies.length!=0" role="presentation" ui-sref-active="current">
    <a id="transactionTab" ui-sref="treaty-transaction-cash({id:vm.treatyId, dealId:vm.dealId})">Cash Transactions</a>
  </li>
  <li role="presentation" ui-sref-active="current">
    <a id="amendmentsTab" ui-sref="treaty-amendments-all({treatyId:vm.treatyId,dealId:vm.dealId})">Amendments</a>
  </li>
</ul>
<intro-button options="vm.introOptions" />
<div class="panel panel-default loading-bar-transaction">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-3">
        <h5>
          <label class="control-label"> Deal Name </label>
          <br> {{ vm.treatyTransaction.treaty.deal.name }}
        </h5>
      </div>
      <div class="col-sm-3">
        <h5>
          <label class="control-label">Agreement Type</label>
          <br> {{ vm.treatyTransaction.treaty.agreementType.name }}</h5>
      </div>
      <div class="col-sm-3">
        <h5>
          <label class="control-label">Product Structure</label>
          <br> {{ vm.treatyTransaction.treaty.productStructure.name }}
        </h5>
      </div>
      <div class="col-sm-3">
        <h5>
          <label class="control-label">Treaty Name</label>
          <br> {{ vm.treatyTransaction.treaty.treatyName }} </h5>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="form-group col-md-12">
        <div class="col-md-8">
        <button ng-if="vm.authority !== 'ViewOnly'" ng-show="vm.treatyTransaction.treaty.treatyStatus.name!=='Terminated'" ng-click="vm.mainTransactionAdd()"
          class="step1 btn rga-button">
          <md-tooltip md-direction="top">
            Add Transaction
          </md-tooltip>
          <span class="glyphicon glyphicon-plus"></span> Cash Transaction
        </button>
        <button ng-show="vm.treatyTransaction.treaty.treatyStatus.name==='Terminated'" class="step1 btn rga-button disabled">
          <md-tooltip md-direction="top">
            You cannot add transactions because this treaty is Terminated.
          </md-tooltip>
          <span class="glyphicon glyphicon-plus"></span> Cash Transaction
        </button>
        <button type="submit" ui-sref="treaty-deal({dealId:vm.dealId})" class="step2 btn rga-button">
          <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Treaty List
        </button>
          <button ng-show="editForm.$dirty && vm.authority !== 'ViewOnly' &&  vm.treatyTransaction.treaty.treatyStatus.name!=='Terminated'" type="submit" ng-disabled="editForm.$invalid || isSaving || vm.saveflag===1 "
                  class="btn btn-default rga-font" ng-click="vm.save(editForm)">
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span translate="entity.action.save">Save</span>
          </button>
          <div ng-if="editForm.$dirty && vm.treatyTransaction.treaty.treatyStatus.name==='Terminated'"
               class="alert-transaction alert-danger blink">
            <strong>ALERT:</strong> Your changes cannot be saved, because this treaty is Terminated!
          </div>
          <div ng-if="editForm.$dirty && vm.treatyTransaction.treaty.treatyStatus.name!=='Terminated'"
               class="alert-transaction alert-danger blink">
            <strong>ALERT:</strong> Your changes have not been saved!
          </div>
        </div>

      <div class="col-md-4" style="text-align:right">
        <button class="btn rga-button step3" ng-click="vm.toggleFilter()">
          <span class="glyphicon glyphicon-filter"></span> {{vm.filterStatus ? 'Hide' : 'Show'}} Filter
        </button>
        <span style="display:inline-block;" class="step4">
          <button class="btn rga-button" ng-click="vm.collapse(1)">
            <span class="glyphicon glyphicon-plus-sign"></span> Expand All
          </button>
          <button class="btn rga-button" ng-click="vm.collapse(2)">
            <span class="glyphicon glyphicon-minus-sign"></span> Collapse All
          </button>
        </span>
      </div>
      </div>
    </div>
  </div>
  <div class="panel-footer closeableSlide {{vm.filterStatus ? 'showCloseableSlide' : 'hideCloseableSlide'}}">
    <div class="row">
      <div class="col-md-2">
        <div class="col-sm-12">
          <label class="control-label">Rpt Period Start</label>
          <br>
          <div class="input-group">
            <input type="text" class="form-control" name="searchStartDate" onkeyup=" this.value = dateMaskYM(this.value);" maxlength="7"
              placeholder="YYYY-MM" uib-datepicker-popup="{{vm.format}}" datepicker-options="vm.dateOptions" ng-model="vm.searchStartDate"
              is-open="vm.datePickerOpenStatus.searchStartDate" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openCalendar('searchStartDate')">
                <em class="glyphicon glyphicon-calendar"></em>
              </button>
            </span>
          </div>
        </div>

        <div class="col-sm-12">
          <br/>
          <label class="control-label">Rpt Period End</label>
          <br>
          <div class="input-group">
            <input type="text" class="form-control" name="searchEndDate" onkeyup=" this.value = dateMaskYM(this.value);" maxlength="7"
              placeholder="YYYY-MM" uib-datepicker-popup="{{vm.format}}" datepicker-options="vm.dateOptions" ng-model="vm.searchEndDate"
              is-open="vm.datePickerOpenStatus.searchEndDate" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.openCalendar('searchEndDate')">
                <em class="glyphicon glyphicon-calendar"></em>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <label class="control-label">Transaction Status</label>
        <br>
        <select class="form-control" multiple size='6' ng-options="ts.name for ts in vm.transactionStatuses | orderBy:'name' track by ts.id"
          ng-model="vm.transactionStatusFilter"></select>
      </div>
      <div class="col-md-2">
        <label class="control-label">Funding Type</label>
        <br>
        <select class="form-control" multiple size='6' ng-options="ft.name for ft in vm.fundingTypeOptionsFilter | orderBy:'name' track by ft.id"
          ng-model="vm.fundingTypeFilter"></select>
      </div>
      <div class="col-md-2">
        <label class="control-label">Currency</label>
        <br>
        <select class="form-control" multiple size='6' ng-options="c.code for c in vm.currencyOptions | orderBy:'code' track by c.id"
          ng-model="vm.currencyFilter"></select>
      </div>
      <div class="col-md-2">
        <label class="control-label">Allocation Type</label>
        <br>
        <select class="form-control" multiple size='6' ng-options="at.name for at in vm.allocationTypes | orderBy:'name' track by at.id"
          ng-model="vm.allocationTypeFilter"></select>
      </div>
      <div class="col-md-2 buttons">
        <br/>
        <span class="introSpan">
          <button ng-show="!((vm.searchEndDate == null && vm.searchStartDate != null) || (vm.searchStartDate == null && vm.searchEndDate != null) || (vm.estimated==null && vm.actual==null && vm.expected==null))"
            class="btn btn-block rga-button" ng-click="vm.filter(editForm)">
            <span class="glyphicon glyphicon-filter"> </span>&nbsp;Filter
            <md-tooltip md-direction="top">
              Click to apply the filter.
            </md-tooltip>
          </button>
          <button ng-show="(vm.estimated==null && vm.actual==null && vm.expected==null)|| (vm.searchEndDate == null && vm.searchStartDate != null) || (vm.searchStartDate == null && vm.searchEndDate != null)"
            class="btn rga-button btn-block  disabled" readonly="true">
            <span class="glyphicon glyphicon-filter"> </span>&nbsp;Filter
            <md-tooltip ng-show="((vm.searchEndDate == null && vm.searchStartDate != null) || (vm.searchStartDate == null && vm.searchEndDate != null)) && !((vm.estimated==null && vm.actual==null && vm.expected==null))"
              md-direction="top">
              Specify or Remove BOTH Reporting Period parameters.
            </md-tooltip>
            <md-tooltip ng-show="(vm.estimated==null && vm.actual==null && vm.expected==null) && !((vm.searchEndDate == null && vm.searchStartDate != null) || (vm.searchStartDate == null && vm.searchEndDate != null))"
              md-direction="top">
              Make a selection first
            </md-tooltip>

            <md-tooltip ng-show="((vm.searchEndDate == null && vm.searchStartDate != null) || (vm.searchStartDate == null && vm.searchEndDate != null)) &&(vm.estimated==null && vm.actual==null && vm.expected==null) "
              md-direction="top">
              Make a selection first
            </md-tooltip>
          </button>
          <br/>
          <button class="btn rga-button btn-block" ng-click="vm.reset(1,editForm)">
            <span class="glyphicon glyphicon-remove"> </span>&nbsp;Clear Filter
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default loading-bar-transaction">
  <ul class="cashNav nav nav-pills nav-justified">
    <li class="step5 active" role="presentation" ui-sref-active="current">
      <a ui-sref="treaty-transaction-cash({id:vm.treatyId,dealId:vm.dealId})">Cash Transactions ({{vm.treatyTransaction.treaty.deal.productLine.name}})</a>
    </li>
    <!--BLANK SPACE-->
    <li class="step6" ng-show="vm.treatyTransaction.treaty.agreementType.name!=='Retro – Internal'" role="presentation" ui-sref-active="">
      <a ui-sref="treaty-transaction-cash-mix({id:vm.treatyId,dealId:vm.dealId})">Cash Transactions MIX</a>
    </li>
    <li class="step6" ng-show="vm.treatyTransaction.treaty.agreementType.name==='Retro – Internal'" role="presentation" class="disabled">
      <a>Cash Transactions MIX</a>
      <md-tooltip md-direction="top">
        Mix transactions are not allowed on Retro Internals.
      </md-tooltip>
    </li>
  </ul>
  <table class="step7 jh-table table table-striped ">
    <thead class="rga-thead">
      <tr>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td class="col-md-1">
          <label ng-click="vm.sortBy('transactionStatus.name')" class="control-label">Status
            <span class="glyphicon glyphicon-sort"></span>
          </label>
        </td>
        <td class="form-width">
          <label ng-click="vm.sortBy('settlementDate')" class="control-label">&nbsp;&nbsp;&nbsp; Settlement Date
            <span class="glyphicon glyphicon-sort"></span>
          </label>
        </td>
        <td class="form-width">
          <label>&nbsp;&nbsp;&nbsp; CFRI Rpt Per.&nbsp;&nbsp;&nbsp;
            <span ng-click="vm.sortBy('accountingDate')" class="glyphicon glyphicon-sort"></span>
          </label>
        </td>
        <td class="col-md-3">
          <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Legal Entity
          </label>
        </td>
        <td class="select-width">
          <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Funding Type
          </label>
        </td>
        <td class="col-md-1">
          <label class="control-label">Currency </label>
        </td>
        <td class="select-width">
          <label class="control-label"> Net Total</label>
        </td>

        <td class="col-md-2">
          <label> Conv. Amount</label>
        </td>
        <td class="col-md-1">
          <br>
        </td>
        <td class="col-md-1">
          <br>
        </td>
      </tr>




    </thead>
  </table>
  <md-content flex="false">
    <md-list>
      <div class="scroll-wrapper" style="width:100%;height:500px;">
        <ng-form class="css-form input.ng-invalid" name="editForm" id="MyForm" role="form" novalidate show-validation>
          <table class="table table-condensed table-grey tab-header-fixed">
            <tbody ng-repeat="mainTransaction in vm.mainTransactionList">
              <tr ng-class="{'success' : mainTransaction.isNew}">
                <td>

                  <button type="button" class="btn btn-default btn-xs" ng-click="mainTransaction.isCollapsed = !mainTransaction.isCollapsed">
                    <em class="glyphicon glyphicon-triangle-bottom"></em>
                  </button>
                </td>
                <td ng-hide="mainTransaction.id !== null  && mainTransaction.transactionStatus.name==='Actual' && editForm['transactionStatus' + $index].$dirty===false"
                  class="col-md-1 select-width" ng-class="{'has-error': editForm['transactionStatus' + $index].$invalid}">
                  <select class="form-control " ng-change="vm.changeStatusFunding(mainTransaction,1)" ng-model="mainTransaction.transactionStatus"
                    name="transactionStatus{{$index}}" ng-options="transactionStatuses as transactionStatuses.name for transactionStatuses in vm.transactionStatuses |orderBy:'name' track by transactionStatuses.id"
                    required ng-disabled="vm.treatyTransaction.treaty.mdmAttributes.length==0 || ( mainTransaction.id !== null  && mainTransaction.transactionStatus.name==='Actual' && editForm['transactionStatus' + $index].$dirty===false )">
                    <option value=""></option>
                  </select>
                </td>
                <td class="col-md-1" align="middle" style="vertical-align: middle" ng-show="mainTransaction.id !== null  && mainTransaction.transactionStatus.name==='Actual' && editForm['transactionStatus' + $index].$dirty===false">
                  <input class="form-control" ng-model="mainTransaction.transactionStatus.name" readonly/>
                  <md-tooltip md-direction="top" md-delay="1" ng-show="mainTransaction.id !== null  && mainTransaction.transactionStatus.name==='Actual' && editForm['transactionStatus' + $index].$dirty===false">
                    Status cannot be changed on Actuals.
                    <br> For a different status, create a new transaction,
                    <br> and then delete this one.
                  </md-tooltip>
                </td>
                <td class="col-md-2 form-width">
                  <div class="input-group" ng-class="{'has-error': editForm['settlementDate' + $index].$invalid}">
                    <input type="text" class="form-control" ng-model="mainTransaction.settlementDate" placeholder="YYYY-MM-DD" onkeyup=" this.value = dateMask(this.value);"
                      maxlength="10" name="settlementDate{{$index}}" uib-datepicker-popup="{{dateformat}}" is-open="mainTransaction.settlementDateOpened"
                      ng-disabled="mainTransaction.transactionStatus.name=='Estimated'"
                      ng-required="mainTransaction.transactionStatus.name=='Actual' && vm.treatyTransaction.treaty.agreementType.name!=='Retro – Internal' &&  mainTransaction.fundingType.name!=='Term Adj'"
                    />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="vm.openSettlementDate(mainTransaction)">
                        <em class="glyphicon glyphicon-calendar"></em>
                      </button>
                    </span>
                  </div>
                </td>
                <td class="col-md-2 form-width">
                  <div class="input-group" ng-class="{'has-error': editForm['accountingDateOpened' + $index].$invalid}">
                    <input type="text" class="form-control" ng-model="mainTransaction.accountingDate" placeholder="YYYY-MM" onkeyup=" this.value = dateMaskYM(this.value);"
                      maxlength="7" uib-datepicker-popup="yyyy-MM" required ng-change="vm.exchangeRate(mainTransaction)" name="accountingDateOpened{{$index}}"
                      is-open="mainTransaction.accountingDateOpened" datepicker-options="{minMode: 'month'}" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="vm.openAccountingDate(mainTransaction)">
                        <em class="glyphicon glyphicon-calendar"></em>
                      </button>
                    </span>
                  </div>
                </td>

                <!--   uib-tooltip="Legal Entity:&nbsp;{{transaction.company.name}} "-->
                <td class="col-md-3">
                  <div ng-class="{'has-error': editForm['legalEntity' + $index].$invalid}">
                    <md-tooltip md-direction="top">
                      Legal Entity:&nbsp;{{mainTransaction.company.name}} - {{mainTransaction.company.clientCompanyId}}
                    </md-tooltip>
                    <select placeholder="Legal Entity" class="form-control" name="legalEntity{{$index}}" aria-required="true" ng-change="vm.updateLegalEntity(mainTransaction)"
                      ng-model="mainTransaction.company" ng-options="legalEntityOptions as legalEntityOptions.name + ' - ' + legalEntityOptions.clientCompanyId  for legalEntityOptions in vm.legalEntityOptions | orderBy:'name'  track by legalEntityOptions.id"
                      ng-required="mainTransaction.transactionStatus.id != 2">
                      <option value=""></option>
                    </select>
                  </div>

                </td>
                <td class="col-md-2 select-width" ng-class="{'has-error': editForm['fundingType' + $index].$invalid}">
                  <select class="form-control" name="fundingType{{$index}}" ng-model="mainTransaction.fundingType" ng-disabled="mainTransaction.transactionStatus.name==='Estimated' ||mainTransaction.fundingType.name=='N/A'"
                    ng-options="fundingTypeOptions as fundingTypeOptions.name for fundingTypeOptions in mainTransaction.fundingTypeOptions | orderBy:'name'  track by fundingTypeOptions.name"
                    ng-change="vm.checkFundingType(mainTransaction)" required>
                    <option value=""></option>
                  </select>

                </td>
                <td class="col-md-2">
                  <div class="input-group rga-display" ng-class="{'has-error': editForm['currency' + $index].$invalid}">
                    <span class="input-group-addon margin-zero currencyFont">{{mainTransaction.currency.code}}</span>
                    <select class="input-group-addon" name="currency{{$index}}" ng-model="mainTransaction.currency" ng-change="vm.exchangeRate(mainTransaction);vm.changeStatusFunding(mainTransaction,0)"
                      ng-options="currencyOptions as currencyOptions.name for currencyOptions in vm.currencyOptions|orderBy:'name' track by currencyOptions.id"
                      required>
                      <option value=""></option>
                    </select>
                    <input class="form-control" type="text" name="netTotal{{$index}}" dataformatas="" ng-change="vm.exchangeRate(mainTransaction)"
                      ng-model="mainTransaction.netTotal" placeholder="Net Total" ui-number-mask="2" ui-negative-number required/>
                  </div>
                  <!-- /input-group -->
                </td>
                <td class="col-md-2">
                  <div class="input-group">
                    <md-tooltip ng-if="mainTransaction.originalConvertedAmount===mainTransaction.convertedNetTotal" md-direction="top">
                      Converted @ Plan Rate
                    </md-tooltip>
                    <md-tooltip ng-if="mainTransaction.originalConvertedAmount!=mainTransaction.convertedNetTotal" md-direction="top">
                      Converted @ Bank Rate
                    </md-tooltip>

                    <input type="text" class="form-control" ng-model="mainTransaction.convertedNetTotal" ui-number-mask="2" ui-negative-number
                      ng-readonly="mainTransaction.currency.id===842575305 || mainTransaction.transactionStatus.name=='Estimated'"
                      required>
                  </div>
                </td>
                <td ng-if="vm.authority !== 'ViewOnly'" class="col-md-1">
                  <div ng-show="vm.treatyTransaction.treaty.treatyStatus.name!=='Terminated'" class="step8 btn-group rga-display" role="group">
                    <button type="button" ng-click="vm.removeTransaction($index)" class="btn btn-xs btn-default">
                      <span class="glyphicon glyphicon-remove"></span>
                      <md-tooltip md-direction="top">
                        Delete
                      </md-tooltip>
                    </button>
                    <button type="button" ng-click="vm.copyTransaction($index)" class="btn btn-xs btn-default">
                      <span class="glyphicon glyphicon-duplicate"></span>
                      <md-tooltip md-direction="top">
                        Copy
                      </md-tooltip>
                    </button>
                    <button type="button" ng-if="mainTransaction.transactionStatus.name=='Actual' && !editForm.$dirty" ui-sref="treaty-transaction-cash.edit-detail({id:mainTransaction.treaty.id,transactionId:mainTransaction.id,dealId:vm.dealId})"
                      class="btn btn-xs btn-default">
                      <span class="glyphicon glyphicon-envelope"></span>
                      <md-tooltip md-direction="top">
                        Notify Finance
                      </md-tooltip>
                    </button>
                  </div>
                </td>
              </tr>
              <!---------- SUBTRANSACTION ------------- -->

              <tr uib-collapse="mainTransaction.isCollapsed">
                <td></td>
                <td colspan="8">
                  <table class="table table-bordered">
                    <tr ng-class="{'success' : transaction.isNew}" class="active" ng-repeat="transaction in mainTransaction.subTransactions">
                      <!---------- For the tracking record   ------------- -->
                      <td class="col-md-2">
                        <div ng-show="(mainTransaction.transactionStatus.name=='Actual' && vm.treatyTransaction.treaty.agreementType.name!=='Retro – Internal')"
                          ng-class="{'has-error': editForm['tracking' + $parent.$index + $index].$invalid}">
                          <md-tooltip md-direction="top">
                            Tracking Record
                          </md-tooltip>
                          <span ng-if="!(mainTransaction.transactionStatus.name=='Actual' && (mainTransaction.fundingType.name=='Accrual' || mainTransaction.fundingType.name=='Term Adj'))" ng-show="transaction.trackingList.length == 0">
                            Tracking record is required for Actuals.
                            <span ng-show="transaction.treaty.disabledTracking===0"> Click to
                              <a ui-sref="treaty-tracking-all({treatyId:vm.treatyId,dealId:vm.dealId})">Add Tracking.</a>
                            </span>
                          </span>
                          <span ng-if="mainTransaction.transactionStatus.name=='Actual' && (mainTransaction.fundingType.name=='Accrual' || mainTransaction.fundingType.name=='Term Adj')" ng-show="transaction.trackingList.length == 0">
                            <span ng-show="transaction.treaty.disabledTracking===0"> Click to
                              <a ui-sref="treaty-tracking-all({treatyId:vm.treatyId,dealId:vm.dealId})">Add Tracking.</a>
                            </span>
                          </span>
                          <select name="tracking{{$parent.$index}}{{$index}}" ng-required="(mainTransaction.transactionStatus.name=='Actual' && vm.treatyTransaction.treaty.agreementType.name!=='Retro – Internal') && !(mainTransaction.transactionStatus.name=='Actual' && (mainTransaction.fundingType.name=='Accrual' || mainTransaction.fundingType.name=='Term Adj'))"
                            aria-required="true" ng-change="vm.changeSubTracking(transaction.tracking,'{{transaction.tracking.id}}','{{transaction.id}}')"
                            class="form-control" ng-show="transaction.trackingList.length >= 1" ng-model="transaction.tracking"
                            ng-options="Trackings as  Trackings.currency.code+ ' - ' + Trackings.trackingStatus+ ' - ' + (Trackings.reportingMonthYear | date:'yyyy-MM') | limitTo: 22  for Trackings in transaction.trackingList | orderBy:'reportingMonthYear'  track by Trackings.id">

                            <option value=""></option>
                          </select>

                        </div>
                      </td>
                      <!---------- For the tracking record  ------------- -->
                      <td class="col-md-2">
                        <div ng-class="{'has-error': editForm['allocation' + $parent.$index + $index].$invalid}">
                          <md-tooltip md-direction="top">
                            Allocation: {{transaction.allocationType.name}}
                          </md-tooltip>
                          <select ng-required="true" aria-required="true" class="form-control" name="allocation{{$parent.$index}}{{$index}}" ng-model="transaction.allocationType"
                            ng-options="allocationTypes as allocationTypes.name for allocationTypes in vm.allocationTypes | orderBy:'name'  track by allocationTypes.id">
                            <option value=""></option>
                          </select>
                        </div>
                      </td>

                      <td class="col-md-2">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="transaction.reportingDate" datepicker-options="{minMode: 'month'}" ng-change="vm.trackingByPeriod(transaction,mainTransaction)"
                            placeholder="YYYY-MM" onkeyup=" this.value = dateMaskYM(this.value);" maxlength="7" uib-datepicker-popup="yyyy-MM"
                            is-open="transaction.reportingDateOpened" required>
                          <md-tooltip md-direction="top">
                            Reporting Period
                          </md-tooltip>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openReportingDate(transaction);">
                              <em class="glyphicon glyphicon-calendar"></em>
                            </button>
                          </span>
                        </div>
                      </td>
                      <td class="col-md-2">
                        <div ng-show="transaction.treaty.mdmAttributes.length >= 1" ng-class="{'has-error': editForm['mdm' + $parent.$index + $index].$invalid}">
                          <md-tooltip md-direction="top">
                            Enterprise Key: {{transaction.mdm.enterpriseId}} {{transaction.mdm.ekComment}}
                          </md-tooltip>
                          <select name="mdm{{$parent.$index}}{{$index}}" placeholder="MDM" ng-change="vm.checkCompanyEk(mainTransaction,transaction)"
                            class="form-control" aria-required="true" ng-model="transaction.mdm" ng-options="mdm as mdm.enterpriseId  + ' ' + mdm.ekComment for mdm in vm.treatyTransaction.treaty.mdmAttributes | orderBy:'id'  track by mdm.id"
                            ng-required="mainTransaction.transactionStatus.name !='Estimated'">
                            <option value=""></option>
                          </select>
                        </div>
                        <div ng-if="!transaction.treaty.mdmAttributes.length > 0">
                          <strong style="color:#cb0202">
                            This treaty has no EKs. Only Estimates can be entered.
                          </strong>
                        </div>
                      </td>
                      <td class="col-md-2">
                        <input required class="form-control" type="text" name="Amount" autocomplete="off" ng-change="vm.SubTransactionCurrency(transaction,mainTransaction) "
                          ng-model="transaction.amount" placeholder="Amount" ui-number-mask="2" ui-negative-number>
                        <md-tooltip md-direction="top">
                          Original Amount
                        </md-tooltip>
                      </td>
                      <td class="col-md-3">
                        <input class="form-control " type="text" ng-model="transaction.convertedAmount" placeholder="USD Converted Amount" ng-readonly="mainTransaction.currency.id===842575305 ||mainTransaction.transactionStatus.name=='Estimated'"
                          ui-number-mask="2" ui-negative-number required>
                        <md-tooltip md-direction="top">
                          USD Converted Amount
                        </md-tooltip>
                      </td>
                      <td ng-if="vm.authority !== 'ViewOnly'">
                        <div ng-show="vm.treatyTransaction.treaty.treatyStatus.name!=='Terminated'" class="btn-group rga-display" role="group">
                          <button ng-click="vm.removeSubTransaction(mainTransaction,$index)" ng-disabled="transaction.tracking.id!=null" ng-if="mainTransaction.subTransactions.length >= 2"
                            class="btn btn-xs btn-default">

                            <span class="glyphicon glyphicon-remove">
                              <md-tooltip ng-show="transaction.tracking.id==null" md-direction="top">
                                Delete Allocation
                              </md-tooltip>

                              <md-tooltip ng-show="transaction.tracking.id!=null" md-direction="top">
                                To remove this allocation, you must first disassociate the tracking record.
                              </md-tooltip>
                            </span>
                          </button>
                          <button ng-click="vm.addSubTransaction(mainTransaction)" class="btn btn-xs btn-default">
                            <md-tooltip md-direction="top">
                              Add New Allocation
                            </md-tooltip>

                            <span class="glyphicon glyphicon-plus"></span>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          </ng-form>
      </div>
    </md-list>
  </md-content>
</div>
</div>


