<div class="rga-modal ">
  <div class="modal-header">
    <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>

      <h3><strong class="rga-font fa fa-md">{{vm.treatyTransaction.treaty.deal.name}}  - {{vm.treatyTransaction.treaty.agreementType.name}} - {{vm.treatyTransaction.treaty.productStructure.name}} - {{vm.treatyTransaction.treaty.treatyName}} &nbsp;&nbsp;</strong></h3>

    <h4 class="modal-title">Notify Finance of Cash Receipt</h4>
  </div>

  <div class="modal-body">
    <form enctype="multipart/form-data" id="fileUploadForm">

  <table class="table-bordered table-striped">
    <thead align="center">
    <th class="center">Funding Type</th>
    <th align="center" class="col-md-3">Header Description</th>
    <th align="center">Business Unit</th>
    <th align="center" class="col-md-1">Client Company</th>
    <th align="center" class="col-md-1">Enterprise Key</th>
    <th align="center" class="col-md-3">Line Description</th>
    <th align="center">Base Currency</th>
    <th align="center" class="col-md-2">Base Amount</th>
    </thead>
    <tr class="success" ng-repeat="transaction in vm.treatyTransaction.subTransactions" >
      <td class="col-md-2">{{vm.treatyTransaction.fundingType.name}}</td>
      <td class="col-md-3">{{transaction.treaty.deal.name}}-{{transaction.reportingDate | date:'yyyy-MM'}}</td>
      <td class="col-md-1">{{transaction.mdm.businessUnitId}}</td>
      <td class="col-md-1">{{vm.treatyTransaction.company.clientCompanyId}}</td>
      <td class="col-md-1">{{transaction.mdm.enterpriseId}}</td>
      <td class="col-md-3">{{transaction.treaty.deal.name}}-{{transaction.treaty.agreementType.name}}-{{transaction.reportingDate | date:'MM-yyyy'}}</td>
      <td class="col-md-1">{{vm.treatyTransaction.currency.code}}</td>
      <td class="col-md-2">{{transaction.amount  | number}}</td>
    </tr>
  </table>
  <br>
  <div class="row">
    <div class="col-md-12">
      <label> Type a contact name:</label>
      <div class="input-group">
        <input class="form-control" type="text" id="searchCompanyInput" placeholder="Please type at least 2 letters to search for contacts"
          autocomplete="off" uib-tooltip="Type the name(s) of email recipients." ng-model="vm.searchQuery" uib-typeahead="contact as contact.firstName+'&nbsp;'+contact.lastName for contact in vm.listOfContacts | filter:$viewValue|limitTo:20"
          ng-change="vm.newsearch(vm.searchQuery)" typeahead-min-length="2">
        <span class="input-group-btn">
          <button ng-disabled="!vm.searchQuery.id" id="addContact" ng-click="vm.addContact(vm.searchQuery)" class="btn rga-button">Add Contact</button>
        </span>
      </div>
    </div>
      <div class="col-md-6" ng-if="vm.treatyTransaction.mixTransactions==1"  ng-class="{'has-error': !vm.treatyTransaction.subject}">
        <br>
        <label> Subject: </label>
        <br>
        <input class="form-control" type="text"
               id="subjectInput" placeholder="subject"
               required
               ng-model="vm.treatyTransaction.subject"
              >
      </div>
    <div class="col-md-12" >
      <br/>
      <label>Contacts:</label>
      <div  ng-repeat="contact in vm.selectedContactsInfo track by contact.email" >
        - {{contact.firstName}}&nbsp;&nbsp;  {{contact.lastName}} - {{contact.email}} &nbsp;&nbsp;&nbsp;&nbsp; <button  type="button" ng-click="vm.removeContact($index)"  class="btn btn-xs"><span class="glyphicon glyphicon-remove"></span>
        <md-tooltip md-direction="top">
          Delete
        </md-tooltip>
      </button>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12" >
      <label> Comments to Finance:</label>
      <text-angular ta-toolbar="vm.toolbar" ng-model="vm.treatyTransaction.emailComment"></text-angular>
      <!-- <textarea class="form-control" ng-model="vm.treatyTransaction.emailComment" ></textarea> -->
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12" >
    <input class="form-control" type="file" name="file" fast-uploader="vm.fileAttch"/>
    <br/>
      <label>Size: {{vm.fileAttch.size || ''}}</label>
      <br>
    </div>
  </div>
  </form>
  </div>
  <div class="modal-footer">
    <button id="cancelEmail" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button id="sendEmail" type="button" ng-disabled="vm.selectedContactsInfo.length===0" class="btn btn-danger"
            ng-click="vm.sendToFinance()">
      <span class="glyphicon glyphicon-envelope"></span>&nbsp;<span>Send Email</span>
    </button>
  </div>
</div>
