<style>
  #loading-bar {
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: wait;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
  }
</style>
<ul class="nav nav-pills nav-justified">
  <li role="presentation" class=""><a id="dealDetail" ui-sref="deal-detail({dealId:vm.dealId, page:vm.page})">Deal Details</a></li>
  <li role="presentation" class=""><a id="dealTracking" ui-sref="deal-tracking({dealId:vm.dealId})">Deal Tracking</a></li>
  <li role="presentation" class=""><a id="treatiesDeal" ui-sref="treaty-deal({dealId:vm.dealId, page:vm.page})">Treaties & Tracking</a></li>
  <li role="presentation" class="step1 current"><a id="reliefLink" ui-sref="treaty-transaction-relief({dealId:vm.dealId, page:vm.page})">Relief Transactions</a></li>
  <li ng-show="vm.deal.productSubtype.name=='Structured'" role="presentation" class=""><a id="structureLink" ui-sref="structured-finance.deal({dealId:vm.dealId})">Structured Finance</a></li>
</ul>
<intro-button options="vm.introOptions" />
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-2">
        <h5><label class="control-label"> Deal Name </label><br><span id="relief-deal-name">{{vm.deal.name}}</span></h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Deal Type</label> <br> {{ vm.deal.dealType.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Product Line</label> <br> {{ vm.deal.productLine.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Product Subtype</label><br> {{vm.deal.productSubtype.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Effective Date</label><br> {{vm.deal.effectiveDate|date: 'mediumDate'}} </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">GFS Assignee</label><br> {{vm.deal.gfsAssignee.firstName }} {{vm.deal.gfsAssignee.lastName
          }} </h5>
      </div>
    </div>
  </div>
  <div ng-show="vm.authority !== 'ViewOnly'" class="panel-body">
    <div class="row">
      <div class="col-xs-5">
        <button id="addTransaction" ng-click="vm.addTransaction()" class="step2 btn rga-button">
          <span class="glyphicon glyphicon-plus"></span>&nbsp;New Relief
          <md-tooltip md-direction="top">
            Add A Relief Transaction
          </md-tooltip>
        </button>
            <button ng-if="reliefForm.$dirty && vm.authority !== 'ViewOnly'" id="saveAllTransactions" type="submit" ng-disabled="reliefForm.$invalid || vm.isSaving===false || vm.isSavingCompany===false"
                    class="btn btn-default rga-font" ng-click="vm.save(reliefForm)">
              <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
            </button>

        <div ng-if="reliefForm.$dirty"
             class="alert-transaction alert-danger blink">
          <strong>ALERT:</strong> Your changes have not been saved! </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="step3 col-md-4 no-padding-left">
        <div class="form-group col-md-6"><label class="control-label">Rpt Period Start</label><br>
          <div class="input-group">
            <input type="text" class="form-control" name="searchStartDate" onkeyup=" this.value = dateMaskYM(this.value);" maxlength="7"
              placeholder="YYYY-MM" uib-datepicker-popup="{{vm.format}}" datepicker-options="vm.dateOptions" ng-model="vm.searchStartDate"
              is-open="vm.datePickerOpenStatus.searchStartDate" />
            <span class="input-group-btn">
                <button id="openCalendarStart" type="button" class="btn btn-default" ng-click="vm.openCalendar('searchStartDate')">
                  <em class="glyphicon glyphicon-calendar"></em></button>
              </span>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label">Rpt Period End</label><br>
          <div class="input-group">
            <input type="text" class="form-control" name="searchEndDate" onkeyup=" this.value = dateMaskYM(this.value);" maxlength="7"
              placeholder="YYYY-MM" uib-datepicker-popup="{{vm.format}}" datepicker-options="vm.dateOptions" ng-model="vm.searchEndDate"
              is-open="vm.datePickerOpenStatus.searchEndDate" />
            <span class="input-group-btn">
              <button id="openCalendarEnd"  type="button" class="btn btn-default" ng-click="vm.openCalendar('searchEndDate')">
                <em class="glyphicon glyphicon-calendar"></em></button>
            </span>
          </div>
        </div>
      </div>

      <div class="step4 col-md-3">
        <label class="control-label"> Transaction Status</label><br>
        <md-checkbox class="md-primary  md-top" ng-model="vm.estimated" ng-true-value="'Estimated'" ng-false-value="null">Estimated
        </md-checkbox>
        <md-checkbox class="md-primary  md-top" ng-model="vm.actual" ng-true-value="'Actual'" ng-false-value="null">Actual
        </md-checkbox>
      </div>
      <div align="left" class="step5 form-group col-md-5">
        <label class="control-label">&nbsp;</label><br>
        <button id="filterReportingPeriod" ng-show="!((vm.searchEndDate == null && vm.searchStartDate != null) || (vm.searchStartDate == null && vm.searchEndDate != null) || (vm.estimated==null && vm.actual==null))"
          class="btn rga-button" ng-click="vm.filterByReportingPeriod(reliefForm)">
          <span class="glyphicon glyphicon-filter"> </span>&nbsp;Filter
            <md-tooltip md-direction="top">
              Click to apply the filter.
            </md-tooltip>
          </button>


        <button id="disabledButton" ng-show="(vm.estimated==null && vm.actual==null && vm.expected==null)|| (vm.searchEndDate == null && vm.searchStartDate != null) || (vm.searchStartDate == null && vm.searchEndDate != null)"
          class="btn rga-button disabled" readonly="true">
            <span class="glyphicon glyphicon-filter"> </span>&nbsp;Filter
            <md-tooltip ng-show="((vm.searchEndDate == null && vm.searchStartDate != null) || (vm.searchStartDate == null && vm.searchEndDate != null)) && !((vm.estimated==null && vm.actual==null ))" md-direction="top">
              Specify or Remove BOTH Reporting Period parameters.
            </md-tooltip>
            <md-tooltip ng-show="(vm.estimated==null && vm.actual==null) && !((vm.searchEndDate == null && vm.searchStartDate != null) || (vm.searchStartDate == null && vm.searchEndDate != null))" md-direction="top">
              Make a selection first
            </md-tooltip>

            <md-tooltip ng-show="((vm.searchEndDate == null && vm.searchStartDate != null) || (vm.searchStartDate == null && vm.searchEndDate != null)) &&(vm.estimated==null && vm.actual==null ) " md-direction="top">
              Make a selection first
            </md-tooltip>
          </button>



        <button id="resetFiter" class="btn rga-button" ng-click="vm.reset(reliefForm)">
            <span class="glyphicon glyphicon-remove"> </span>&nbsp;Clear Filter
          </button>
        <button id="expandAll" class="btn rga-button" ng-click="vm.collapse(1)">
            &nbsp;Expand All
          </button>
        <button id="collapseAll" class="btn rga-button" ng-click="vm.collapse(0)">
            &nbsp;Collapse All
          </button>
      </div>
      <!-- <label class="control-label">&nbsp;</label><br>
      <div ng-show="vm.deleteMultipleTracking.length>1" align="right" ng-click="vm.deleteMultiple()" class="form-group col-md-1">
        <button class="btn rga-button"> Delete</button> </div> -->
    </div>
  </div>
</div>
<div class=" panel panel-default">
  <table class="step6 jh-table table table-condensed table-striped">
    <thead class="rga-thead">
      <td> &nbsp;&nbsp;&nbsp;</td>
      <td ng-click="vm.sortBy('transactionStatus')" align="left" class="col-md-1">
        <span>Status </span><span class="glyphicon glyphicon-sort"> </span></td>
      <td ng-click="vm.sortBy('reportingDate')" align="left" class="col-md-2"> <span>Reporting Period </span><span class="glyphicon glyphicon-sort"> </span></td>
      <td align="left" class="col-md-1  select-width"> Country</td>
      <td align="left"> &nbsp;&nbsp;&nbsp;Region </td>
      <td></td>
      <td></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;Currency &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Net Total</td>
      <td></td>
      <td></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conv. Net Total </td>
      <td></td>
    </thead>
  </table>
  <div class="panel-body transactionTable">
    <md-content flex="false">
      <md-list>
        <div class=" scroll-wrapper" style="width:100%;height:500px;">

          <form class="css-form input.ng-invalid" name="reliefForm" id="reliefForm" role="form" novalidate show-validation ng-submit="$event.preventDefault()">

            <table class="table table-condensed table-striped" ng-show="vm.transactionList.length >= 1">
              <tbody ng-repeat="transaction in vm.transactionList track by $index">
                <tr ng-class="{'success':transaction.isNew}">
                  <td>
                    <button id="collapseTrans" type="button" class="step7 btn btn-default btn-xs" ng-click="transaction.isCollapsed = !transaction.isCollapsed">
                <em class="glyphicon glyphicon-triangle-bottom"></em>
              </button>
                  </td>
                  <td align="left" class="col-md-1">
                    <select ng-if="transaction.id == null" class="form-control" id="Status" ng-model="transaction.transactionStatus">
                      <option value="Actual">Actual</option>
                      <option value="Estimated">Estimated</option>
                    </select>
                    <input ng-if="transaction.id != null" class="form-control" id="Status" type="text" ng-model="transaction.transactionStatus" readonly/>
                  </td>
                  <td align="left" class="col-md-2">
                    <div class="input-group" ng-class="{'has-error': reliefForm['reportingDate' + $index].$invalid}">
                      <input type="text" class="form-control" ng-model="transaction.reportingDate" placeholder="YYYY-MM" onkeyup=" this.value = dateMaskYM(this.value);"
                        maxlength="7" name="reportingDate{{$index}}" uib-datepicker-popup="yyyy-MM" datepicker-options="{minMode: 'month'}"
                        is-open="transaction.reportingDateOpened" ng-change="vm.exchangeRate(transaction)" required/>
                      <span class="input-group-btn">
                      <button  id="calendarPeriod" type="button" class="btn btn-default" ng-click="vm.openReportingDate(transaction)"><em class="glyphicon glyphicon-calendar"></em></button>
                    </span>
                    </div>
                  </td>
                  <td align="left">
                    <div ng-class="{'has-error': reliefForm['country' + $index].$invalid}">
                      <select required class="form-control" name="country{{$index}}" ng-model="transaction.country" ng-options=" country as country.name for country in vm.countries track by country.name"
                        ng-change="vm.selectedCountry(transaction)" required>
                <option value="">-- Country --</option>
              </select>
                    </div>
                  </td>
                  <td align="left">
                    <input type="text" class="form-control" name="region" ng-model="transaction.country.region" placeholder="Region" readonly/>
                  </td>
                  <td align="left">
                    <div ng-class="{'has-error': reliefForm['currencyTransaction' + $index].$invalid || reliefForm['netTotal' + $index].$invalid}"
                      class="input-group rga-display">
                      <span class="input-group-addon margin-zero currencyFont">{{transaction.currency.code}}</span>
                      <md-tooltip md-direction="top">
                        Currency: {{transaction.currency.name}}
                      </md-tooltip>
                      <select class="input-group-addon" name="currencyTransaction{{$index}}" required ng-model="transaction.currency" ng-change="vm.exchangeRate(transaction)"
                        ng-options="currencyOptions as currencyOptions.name for currencyOptions in vm.currencyOptions| unique : 'code'|orderBy:'name' track by currencyOptions.id">
                  <option value=""></option>
                </select>
                      <input class="form-control" type="text" dataformatas="" ng-change="vm.exchangeRate(transaction)" name="netTotal{{$index}}"
                        ng-model="transaction.netTotal" placeholder="Net Total" ui-number-mask="2" ui-negative-number required/>
                    </div>
                  </td>
                  <td align="left">
                    <div class="input-group">
                      <md-tooltip md-direction="top">
                        @ Plan Rate
                      </md-tooltip>
                      <input type="text" class="form-control" name="converted{{$index}}" ng-model="transaction.convertedNetTotal" ui-number-mask="2"
                        ui-negative-number readonly>
                    </div>
                  </td>
                  <td class="step8"  ng-if="vm.authority !== 'ViewOnly'" align="left">
                    <div class="btn-group rga-display" role="group">
                      <button id="deleteTransaction" type="button" ng-click="vm.removeTransaction($index)" class="btn btn-xs btn-default md-top">
                  <span class="glyphicon glyphicon-remove"></span>
                  <md-tooltip md-direction="top">
                    Delete This Transaction
                  </md-tooltip>
                </button>
                      <button id="copyTransaction" type="button" ng-click="vm.copyTransaction($index)" class="btn btn-xs btn-default md-top">
                  <span class="glyphicon glyphicon-duplicate"></span>
                  <md-tooltip md-direction="top">
                    Copy This Transaction
                  </md-tooltip>
                </button>
                    </div>
                  </td>
                </tr>
                <!------------------- SUBTRANSACTIONS ------------ -->
                <tr uib-collapse="transaction.isCollapsed">
                  <td colspan="15">
                    <table class="table">
                      <tr ng-class="{'success':transactionSub.isNew}" class="active" ng-repeat="transactionSub in transaction.subTransactions |orderBy:'orderBy'">
                  </td>
                  <td class="col-md-2">
                    <span ng-class="{'has-error': reliefForm['Amount' + $parent.$index + '-' + $index].$invalid}">
                      <input class="form-control" type="text" name="Amount{{$parent.$index + '-' + $index}}"  dataformatas=""
                        ng-change="vm.SubTransactionCurrency(transactionSub,transaction) "
                        ng-model="transactionSub.amount" placeholder="Amount" ui-number-mask="2"  ui-negative-number
                        required/>
                    </span>
                    <md-tooltip md-direction="top">
                      Enter Amount
                    </md-tooltip>
                  </td>
                  <td class="col-md-2">
                    <md-tooltip md-direction="top">
                      Converted Amount
                    </md-tooltip>
                    <input type="text" class="form-control" ng-model="transactionSub.convertedAmount" ui-number-mask="2" ui-negative-number readonly>
                  </td>
                  <td class="col-md-3">
                    <div ng-class="{'has-error': reliefForm['selectedCompany' + $parent.$index + '-' + $index].$invalid}">
                      <input autocomplete="off" type="text" class="form-control" placeholder="Legal Entity" uib-typeahead="company as company.clientCompanyId+' &nbsp;-&nbsp; '+company.name for company in vm.companies | filter:$viewValue|limitTo:20"
                        ng-change="vm.searchCompanies(transactionSub.company,reliefForm['selectedCompany' + {{$parent.$index}} + '-' + {{$index}}],reliefForm,vm.transactionList)"
                        typeahead-min-length="1" typeahead-on-select="vm.selectedCompany(transactionSub,this,reliefForm)" name="selectedCompany{{$parent.$index}}-{{$index}}"
                        ng-model="transactionSub.company" required>
                      <md-tooltip md-direction="top">
                        Legal Entity{{transactionSub.company.name ? ': ' + transactionSub.company.name : ''}}
                      </md-tooltip>
                    </div>
                  </td>
                  <td class="col-md-6">

                        <md-checkbox ng-model="transactionSub.assuming" ng-true-value="1" ng-false-value="0" ng-required="transactionSub.internal==0 && transactionSub.interim==0 && transactionSub.ultimate==0 && transactionSub.externalRetro==0"
                          class="md-top inputCheck">{{vm.companyTypes[0].name}}</md-checkbox>
                        <md-checkbox ng-model="transactionSub.ultimate" ng-true-value="1" ng-false-value="0" ng-required="transactionSub.internal==0 && transactionSub.interim==0 && transactionSub.assuming==0 && transactionSub.externalRetro==0"
                          class="md-top inputCheck">{{vm.companyTypes[1].name}}</md-checkbox>
                        <md-checkbox ng-model="transactionSub.interim" ng-true-value="1" ng-false-value="0" ng-required="transactionSub.ultimate==0 && transactionSub.internal==0 && transactionSub.assuming==0 && transactionSub.externalRetro==0"
                          class="md-top inputCheck">{{vm.companyTypes[2].name}}</md-checkbox>
                        <md-checkbox ng-model="transactionSub.internal" ng-true-value="1" ng-false-value="0" ng-required="transactionSub.ultimate==0 && transactionSub.interim==0 && transactionSub.assuming==0 && transactionSub.externalRetro==0"
                          class="md-top inputCheck">{{vm.companyTypes[3].name}}</md-checkbox>
                        <md-checkbox ng-model="transactionSub.externalRetro" ng-true-value="1" ng-false-value="0" ng-required="transactionSub.ultimate==0 && transactionSub.interim==0 && transactionSub.assuming==0 && transactionSub.internal==0"
                                     class="md-top inputCheck">{{vm.companyTypes[4].name}}</md-checkbox>

                  </td>
                  <td ng-if="vm.authority !== 'ViewOnly'" class="col-sm-1">
                    <div class="btn-group rga-display" role="group">
                      <button id="removeSubTransaction"
                              ng-click="vm.removeSubTransaction(transaction,$index)"
                              ng-show="(transaction.subTransactions.length >= 2)"

                              class="btn btn-xs btn-default md-top ">
                        <span class="glyphicon glyphicon-remove"></span>
                        <md-tooltip md-direction="top">
                          Delete This SubTransaction
                        </md-tooltip>
                      </button>
                      <button id="addSubTransaction" ng-click="vm.addSubTransaction(transaction, $parent.$index)" class="btn btn-xs btn-default md-top">
                        <span class="glyphicon glyphicon-plus"></span>
                        <md-tooltip md-direction="top">
                          Add SubTransaction
                        </md-tooltip>
                      </button>
                      <button ng-class="{'disabled':$index === 0}" ng-click="vm.move(transaction.subTransactions, $index,'UP')" class="btn btn-xs btn-default md-top">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                          <md-tooltip ng-hide="$index === 0" md-direction="top">
                          Move Up
                        </md-tooltip>
                      </button>
                      <button ng-class="{'disabled':$index >= transaction.subTransactions.length - 1}" ng-click="vm.move(transaction.subTransactions, $index,'Down')" class="btn btn-xs btn-default md-top">
                        <span class="glyphicon glyphicon-arrow-down"></span>
                          <md-tooltip ng-hide="$index >= transaction.subTransactions.length - 1" md-direction="top">
                           Move Down
                        </md-tooltip>

                      </button>
                    </div>
                  </td>
                  </tr>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <label class="-align-right" ng-hide="false">
          <div  class="col-md-12">
          <span ng-if="!reliefForm.$dirty" ng-hide="true"> {{vm.flagDirty=0}}</span>
            <span ng-if="reliefForm.$dirty"> <span ng-hide="true"> {{vm.flagDirty=1}}</span><h4>
             </h4></span>
          </div></label>
            <label ng-hide="true">
          <span ng-if="!reliefForm.$dirty"> {{vm.flagDirty=0}} {{reliefForm.$dirty}}</span>
          <span ng-if="reliefForm.$dirty"> {{vm.flagDirty=1}} {{reliefForm.$dirty}}</span>
        </label>

          </form>
        </div>
      </md-list>
    </md-content>
  </div>
</div>
