<div class="modal-header">
  <button aria-label="Close" data-dismiss="modal" class="close" type="button" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="showHealthLabel">
    {{'health.indicator.' + vm.baseName(vm.currentHealth.name) | translate}}
    {{vm.subSystemName(vm.currentHealth.name)}}
  </h4>
</div>
<div class="modal-body pad">
  <div ng-show="vm.currentHealth.details">
    <h4 data-translate="health.details.properties">Properties</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="col-md-6 text-left" data-translate="health.details.name">Name</th>
        <th class="col-md-6 text-left" data-translate="health.details.value">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="(k,v) in vm.currentHealth.details">
        <td class="col-md-6 text-left">{{k}}</td>
        <td class="col-md-6 text-left">{{v}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="vm.currentHealth.error">
    <h4 data-translate="health.details.error">Error</h4>
    <pre>{{vm.currentHealth.error}}</pre>
  </div>
</div>
<div class="modal-footer">
  <button data-dismiss="modal" class="btn btn-default pull-left" type="button" ng-click="vm.cancel()">Done</button>
</div>
