<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Management Information</h3>
  </div>
  <div class="panel-body">
  <!------------------- END USER COMPUTING  --------------------- -->
    <uib-accordion close-others="oneAtATime">

      <!------------------- GENERAL INFORMATION  --------------------- -->
      <uib-accordion-group class="panel panel-default" is-open="general.open">
        <uib-accordion-heading>
          <div class="accordion-header">General Information
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': general.open, 'glyphicon-triangle-right': !general.open}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3">
            <button id="editGeneralInfo" type="submit" ui-sref="treaty-detail.edit-management({treatyId:vm.treatyId,dealId:vm.dealId,hash:'generalInfo'})"
              class="btn btn-default rga-font" uib-tooltip="Edit General Info">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treatyManagement.accountingPeriod"></label>
            <br>
            <input class="form-control" ng-model="vm.treatyManagement.accountingFrequency.name" readonly>

          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treatyManagement.quotaShare"></label>
            <br>
            <div class="input-group">
              <input type="number" class="form-control" name="quotaShare" ng-model="vm.treatyManagement.quotaShare" readonly>
              <span class="input-group-addon">%</span>
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label class="control-label" translate="finreApp.treatyManagement.confirmationRequested"></label>
            <br>
            <input class="form-control" ng-model="vm.treatyManagement.confirmationRequested" readonly>
          </div>


        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treatyManagement.treatyReferenceAp"></label>
            <br>
            <textarea type="text" class="form-control" ng-model="vm.treatyManagement.accountingTreatyReference" readonly></textarea>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treatyManagement.quotasharecomment"></label>
            <textarea type="text" class="form-control" name="quotasharecomment" ng-model="vm.treatyManagement.quotaShareComment" readonly></textarea>
          </div>
          <div class="form-group col-sm-5">
            <label class="control-label" translate="finreApp.treatyManagement.ConfirmationRequestedComment"></label>
            <br>
            <textarea type="text" class="form-control" name="confirmationRequestedComment" id="field_ConfirmationRequestedComment" ng-model="vm.treatyManagement.confirmationRequestedComment"
              readonly></textarea>
          </div>

        </div>
      </uib-accordion-group>
      <!------------Experience Refund Provisions---------------->
      <uib-accordion-group class="panel panel-default" id="eucInfo" is-open="vm.refund">
        <uib-accordion-heading>
          <div class="accordion-header">Experience Refund Provisions
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': vm.refund, 'glyphicon-triangle-right': !vm.refund}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3">
            <button id="editRecapInfo" type="submit" ui-sref="treaty-detail.edit-management({treatyId:vm.treatyId,dealId:vm.dealId,hash:'refund'})"
              class="btn btn-default rga-font" uib-tooltip="Edit Recapture Info">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treatyManagement.calendarization">calendarizationd</label>
            <input class="form-control" readonly ng-model="vm.treatyManagement.calendarization" />
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treatyManagement.treatyReferenceCalendarization"></label>
            <textarea class="form-control" readonly ng-model="vm.treatyManagement.calendarizationTreatyRefer"></textarea>
          </div>
          <div class="form-group col-sm-5" ng-class="{'has-error': editForm.CalendarizationComment.$invalid}">
            <label class="control-label"> Calendarization Comments</label>
            <textarea class="form-control" readonly ng-model="vm.treatyManagement.calendarizationComments">/</textarea>
          </div>

        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treatyManagement.refundEliminationFlag"></label>
            <input class="form-control" readonly ng-model="vm.treatyManagement.refundEliminationFlag" />
          </div>
          <div class="form-group col-sm-4" ng-class="{'has-error': editForm.refundEliminationRef.$invalid}">
            <label class="control-label" translate="finreApp.treatyManagement.refundEliminationRef"></label>
            <textarea class="form-control" readonly ng-model="vm.treatyManagement.refundEliminationRef">
            </textarea>
          </div>
          <div class="form-group col-sm-5" ng-class="{'has-error': editForm.refundComments.$invalid}">
            <label class="control-label">Experience Refund Comments</label>
            <textarea class="form-control" readonly ng-model="vm.treatyManagement.refundComments"></textarea>
          </div>


        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label class="control-label"> General Comment Refund</label>
            <textarea type="text" class="form-control" name="generalCommentRefund" readonly ng-model="vm.treatyManagement.generalCommentRefund"></textarea>
          </div>

        </div>

      </uib-accordion-group>
      <!------------------- RECAPTURE INFORMATION  --------------------- -->
      <uib-accordion-group class="panel panel-default" is-open="recapture.open">
        <uib-accordion-heading>
          <div class="accordion-header">Recapture Information
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': recapture.open, 'glyphicon-triangle-right': !recapture.open}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3">
            <button id="editRecap" type="submit" ui-sref="treaty-detail.edit-management({treatyId:vm.treatyId,dealId:vm.dealId,hash:'recaptureInfo'})"
              class="btn btn-default rga-font" uib-tooltip="Edit Recapture Info">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treatyManagement.summaryDate">SummaryDate</label>
            <br>
            <input type="text" max="12" class="form-control" ng-model="vm.treatyManagement.summaryDate" readonly/>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treatyManagement.summary">Summary</label>
            <textarea class="form-control" readonly ng-model="vm.treatyManagement.treatyReferenceRecapture"></textarea>
          </div>
          <div class="form-group col-sm-5">
            <label class="control-label" translate="finreApp.treatyManagement.recapturetermComment"></label>
            <textarea class="form-control" readonly ng-model="vm.treatyManagement.recaptureComment"></textarea>
          </div>
        </div>
      </uib-accordion-group>
      <!------------------- RISK FEE RATE INFORMATION  --------------------- -->
      <uib-accordion-group class="panel panel-default" is-open="riskFee.open">
        <uib-accordion-heading>
          <div class="accordion-header">Risk Fee Rate Information
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': riskFee.open, 'glyphicon-triangle-right': !riskFee.open}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3">
            <button id="editRiskFee" type="submit" ui-sref="treaty-detail.edit-management({treatyId:vm.treatyId,dealId:vm.dealId,hash:'riskFeeInfo'})"
              class="btn btn-default rga-font" uib-tooltip="Edit Risk Fee Rate Info">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <table class="table" name="tableRiskFee">
              <thead>
                <th class="col-sm-1 text-center">
                  <strong> Rate %</strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Min Risk Fee Amt </strong>
                </th>
                <th class="col-sm-2 text-center" translate="finreApp.treatyManagement.period "> </th>
                <th class="col-sm-3 text-center" translate="finreApp.treatyManagement.treatyReferenceRiskFee"> </th>
                <th class="col-sm-3 text-center" translate="finreApp.treatyManagement.riskfeeComments "></th>
                <th></th>
              </thead>
              <tr ng-repeat="RiskFee in vm.riskfeeArray">
                <td class="col-sm-1">
                  <span>{{RiskFee.rate}}
                    <span ng-if="RiskFee.rate">%</span>
                  </span>
                </td>
                <td class="col-sm-2 text-center">
                  <span>{{RiskFee.minimumRiskFeeAmount| number:0 }}</span>
                  <span></span>
                </td>
                <td class="col-sm-2 text-center">
                  <span>{{RiskFee.period}} </span>
                </td>
                <td class="col-sm-3 text-center">
                  <span>{{RiskFee.treatyReference}} </span>
                </td>
                <td class="col-sm-3 text-center">
                  <span>{{RiskFee.comments}}</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </uib-accordion-group>



    </uib-accordion>
  </div>
</div>
