<div class="rga-modal" id="myModal">
  <form name="editForm" role="form"  novalidate show-validation>
    <div class="modal-header">
      <div class="col-sm-8">
        <h4 class="modal-title" id="myTreatyManagementLabel" translate="finreApp.treatyManagement.home.createOrEditLabel">
          <strong>   Create or Edit Treaty Management Information </strong></h4>
      </div>
      <div class="col-sm-3">
        <md-switch ng-disabled="true"  class="md-switch" ng-model="vm.treatyManagement.inputStatus" aria-label="RGA Switch" ng-true-value="'In Process'" ng-false-value="'Complete'">
          Input {{vm.treatyManagement.inputStatus}}</span>
        </md-switch>
      </div>
      <div class="col-sm-1">
        <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <div class="panel panel-default">
        <div class="row">
          <br>
          <div class="col-sm-12">
            <div class="col-sm-2">
              <label class="control-label" translate="finreApp.treatyManagement.dealname"></label>
              <br>
              {{ vm.treaty.deal.name}}
            </div>
            <div class="col-sm-2">
              <label class="control-label" translate="finreApp.treatyManagement.agreementType"></label>
              <br>
              {{ vm.treaty.agreementType.name}}
            </div>
            <div class="col-sm-4">
              <label class="control-label" translate="finreApp.treatyManagement.productStructure"></label>
              <br>
              {{vm.treaty.productStructure.name}}
            </div>
            <div class="col-sm-2">
              <label class="control-label" translate="finreApp.treatyManagement.treatyName"></label>
              <br>
              {{vm.treaty.treatyName}}
            </div>

          </div>
        </div>
        </br>
      </div>


      <uib-accordion close-others="true">

        <uib-accordion-group class="panel panel-default" id="generalInfo" is-open="vm.general">
          <uib-accordion-heading>
            <h4><strong> General Information</strong>
              <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.general, 'glyphicon-chevron-right': !vm.general}"></em>
            </h4>
          </uib-accordion-heading>
          <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
          <br> <br>
          <div class="row" >
            <div class="form-group col-sm-4" ng-class="{'has-error': editForm.accountingPeriod.$invalid}" >
              <label class="control-label" translate="finreApp.treatyManagement.accountingPeriod">Accounting Period</label>
              <select required class="form-control"  ng-model="vm.treatyManagement.accountingFrequency" name="accountingPeriod"
                       id="field_accountingPeriod"
                       ng-change="vm.accountingPeriodChange()"
                       ng-options="periodOptions as periodOptions.name for periodOptions in vm.periodOptions track by periodOptions.name">
                <option value="">--</option>
              </select>
            </div>
            <div class="form-group col-sm-4"  ng-class="{'has-error': editForm.quotaShare.$invalid}">
              <label class="control-label" translate="finreApp.treatyManagement.quotaShare">QuotaShare</label>
              <div class="input-group">
                <input type="number"  class="form-control" name="quotaShare"
                       ng-model="vm.treatyManagement.quotaShare" ng-change="vm.quotaShareChange()"
                       >
                <span class="input-group-addon" >%</span>
              </div>
            </div>
            <div class="form-group col-sm-4">
              <label class="control-label" translate="finreApp.treatyManagement.confirmationRequested"></label>
              <br>
              <md-switch ng-model="vm.treatyManagement.confirmationRequested" aria-label="RGA Switch"
                         ng-change="vm.confirmationRqst()" ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn">
                {{vm.treatyManagement.confirmationRequested}}
              </md-switch>
            </div>

          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label class="control-label" translate="finreApp.treatyManagement.treatyReferenceAp" for="field_treatyReferenceAccounting"></label>
              <textarea type="text" class="form-control" name="treatyReferenceAccounting" id="field_treatyReferenceAccounting"
                        ng-model="vm.treatyManagement.accountingTreatyReference"
              ng-readonly="!vm.treatyManagement.accountingFrequency"> </textarea>
            </div>
            <div class="form-group col-sm-4">
              <label class="control-label" translate="finreApp.treatyManagement.quotasharecomment"></label>
              <textarea type="text" class="form-control" name="quotasharecomment"
                        ng-model="vm.treatyManagement.quotaShareComment"

              ></textarea>
            </div>
            <div class="form-group col-sm-4"  ng-class="{'has-error': editForm.confirmationRequestedComment.$invalid}">
              <label class="control-label" translate="finreApp.treatyManagement.ConfirmationRequestedComment"
                     for="field_ConfirmationRequestedComment"></label>
              <textarea type="text" class="form-control" name="confirmationRequestedComment" id="field_ConfirmationRequestedComment"
                        ng-model="vm.treatyManagement.confirmationRequestedComment"
                        ng-readonly="vm.treatyManagement.confirmationRequested === 'No'"
                       ></textarea>
            </div>
          </div>
        </uib-accordion-group>
        <!------------Experience Refund Provisions---------------->
        <uib-accordion-group class="panel panel-default" id="eucInfo" is-open="vm.refund">
          <uib-accordion-heading>
            <h4><strong>Experience Refund Provisions</strong>
              <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.refund, 'glyphicon-chevron-right': !vm.refund}"></em>
            </h4>
          </uib-accordion-heading>
          <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
          <br> <br>
          <div class="row">
            <div class="form-group col-sm-3">
              <label class="control-label" translate="finreApp.treatyManagement.calendarization" >calendarizationd</label>
              <br>
              <md-switch ng-model="vm.treatyManagement.calendarization" id=field_calendarization"
                         aria-label="RGA Switch"
                         ng-change="vm.calendarizationChange()" ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn">
                {{vm.treatyManagement.calendarization}}
              </md-switch>
            </div>
            <div class="form-group col-sm-4" ng-class="{'has-error': editForm.treatyReferenceCalendarization.$invalid}">
              <label class="control-label" translate="finreApp.treatyManagement.treatyReferenceCalendarization" for="field_treatyReferenceCalendarization"></label>
                        <textarea type="text" class="form-control" name="treatyReferenceCalendarization" id="field_treatyReferenceCalendarization"
                                  ng-model="vm.treatyManagement.calendarizationTreatyRefer"
                                  ng-readonly="vm.treatyManagement.calendarization === 'No'"
                                  ng-required="vm.treatyManagement.calendarization === 'Yes'"></textarea>
            </div>
            <div class="form-group col-sm-5" ng-class="{'has-error': editForm.CalendarizationComment.$invalid}">
              <label class="control-label"> Calendarization Comments </label>
                        <textarea type="text" class="form-control" name="CalendarizationComment"
                        ng-model="vm.treatyManagement.calendarizationComments"
                        ng-readonly="vm.treatyManagement.calendarization === 'No'"></textarea>
            </div>
          </div>
           <div class="row">
             <div class="form-group col-sm-3">
               <label class="control-label" translate="finreApp.treatyManagement.refundEliminationFlag" ></label>
               <br>
               <md-switch ng-model="vm.treatyManagement.refundEliminationFlag" id=field_refundEliminationFlag"
                          ng-change="vm.refundChange()"
                          aria-label="RGA Switch" ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn">
              {{vm.treatyManagement.refundEliminationFlag}}
               </md-switch>
             </div>
             <div class="form-group col-sm-4" ng-class="{'has-error': editForm.refundEliminationRef.$invalid}">
               <label class="control-label" translate="finreApp.treatyManagement.refundEliminationRef"></label>
                    <textarea type="text" class="form-control" name="refundEliminationRef"
                              ng-model="vm.treatyManagement.refundEliminationRef"
                              ng-readonly="vm.treatyManagement.refundEliminationFlag === 'No' "
                              ng-required="vm.treatyManagement.refundEliminationFlag === 'Yes'"></textarea>
             </div>
             <div class="form-group col-sm-5" ng-class="{'has-error': editForm.refundComments.$invalid}">
               <label class="control-label"> Experience Refund Comments</label>
                    <textarea type="text" class="form-control" name="refundComments"
                              ng-model="vm.treatyManagement.refundComments"
                              ng-readonly="vm.treatyManagement.refundEliminationFlag === 'No' "
                             ></textarea>
             </div>
           </div>
          <div class="row">
            <div class="form-group col-sm-12" ng-class="{'has-error': editForm.generalCommentRefund.$invalid}">
              <label class="control-label"> General Refund Comments </label>
                    <textarea type="text" class="form-control" name="generalCommentRefund"
                              ng-model="vm.treatyManagement.generalCommentRefund"
                    ></textarea>
            </div>

          </div>
        </uib-accordion-group>

        <uib-accordion-group class="panel panel-default" id="recaptureInfo" is-open="vm.recapture">
          <uib-accordion-heading>
            <h4><strong>Recapture Information</strong>
              <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.recapture, 'glyphicon-chevron-right': !vm.recapture}"></em>
            </h4>
          </uib-accordion-heading>
          <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
          <br> <br>
          <div class="row">
            <div class="form-group col-sm-12">
              <div class="row">
                <div class="form-group col-sm-4">
                  <label class="control-label" translate="finreApp.treatyManagement.summaryDate"
                         for="field_summaryDate">SummaryDate</label>
                  <div class="input-group" ng-class="{'has-error': editForm.summaryDate.$invalid}">
                    <input id="field_summaryDate" type="text" class="form-control" name="summaryDate"
                           onkeyup=" this.value = dateMask(this.value);" maxlength="10" ng-change="vm.changeRecapDate()"
                           uib-datepicker-popup="{{dateformat}}" ng-model="vm.treatyManagement.summaryDate"
                           is-open="vm.datePickerOpenStatus.summaryDate"/>
                    <span class="input-group-btn">
                        <button id="calendarSumary" type="button" class="btn btn-default" ng-click="vm.openCalendar('summaryDate')">
                          <em class="glyphicon glyphicon-calendar"></em></button>
                    </span>
                  </div>
                </div>
                <div class="form-group col-sm-4" ng-class="{'has-error': editForm.treatyReferenceRecapture.$invalid}">
                  <label class="control-label" translate="finreApp.treatyManagement.summary">Summary</label>
                  <textarea type="text" class="form-control" name="treatyReferenceRecapture"
                         ng-model="vm.treatyManagement.treatyReferenceRecapture"
                         ng-required="vm.treatyManagement.summaryDate"
                        ></textarea>
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label" translate="finreApp.treatyManagement.recapturetermComment"></label>
                <textarea type="text" class="form-control" name="recapturetermComment"
                          ng-model="vm.treatyManagement.recaptureComment"
                       ></textarea>
                </div>
              </div>
            </div>
          </div>
        </uib-accordion-group>
        <uib-accordion-group class="panel panel-default" id="riskFeeInfo" is-open="vm.riskFee">
          <uib-accordion-heading>
            <h4><strong>Risk Fee Rate Information</strong>
              <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.riskFee, 'glyphicon-chevron-right': !vm.riskFee}"></em>
            </h4>
          </uib-accordion-heading>
          <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
          <br> <br>
          <div class="row">
            <div class="form-group col-sm-3">
              <label> <span ng-if="vm.riskFeeRate">Risk Fee Rate</span> &nbsp;</label>
              <div class="input-group">
                <input type="number"   class="form-control"
                       ng-model="vm.riskFeeRate"
                       placeholder="Risk Fee Rate"
                       aria-describedby="field_riskFeeRate">
                <span class="input-group-addon" id="field_riskFeeRate">%</span>
              </div>

            </div>
            <div class="form-group col-sm-2"   ng-class="{'has-error': editForm.riskFeeRatePeriod.$invalid}" >
              <label class="control-label" for="field_riskFeeRatePeriod">Period</label>
              <select class="form-control" id="field_riskFeeRatePeriod" name="riskFeeRatePeriod"
                      ng-model="vm.riskFeeRatePeriod"
                      ng-options="periodOptionsRiskFee as periodOptionsRiskFee for periodOptionsRiskFee in vm.periodOptionsRiskFee track by periodOptionsRiskFee"
                      ng-required="vm.riskFeeRate || vm.riskFeeRate===0"
              >
                <option value=""></option>
              </select>
            </div>
            <div class="form-group col-sm-2"  ng-if="vm.riskFeeRatePeriod"  >
              <label class="control-label" translate="finreApp.treatyManagement.minimumRiskFee"></label>
              <br>
              <md-switch  ng-model="vm.minimumRiskFee" id=field_calendarization" aria-label="RGA Switch" ng-true-value="1" ng-false-value="0"
                         ng-change="vm.swichRisk()" class="md-warn md-top">
                <span ng-if="vm.minimumRiskFee===1">Yes</span> <span  ng-if="vm.minimumRiskFee===0">No</span>
                </span>
              </md-switch>

            </div>
            <div ng-if="vm.minimumRiskFee===1 && vm.riskFeeRatePeriod" class="form-group col-sm-4"   ng-class="{'has-error': editForm.riskFeeCurrency.$invalid || editForm.minimumRiskFeeAmount.$invalid }" >
              <label  class="control-label"> Currency &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Amount</label>
              <div  class="input-group rga-display" >
                <span  class="input-group-addon" > {{vm.riskFeeCurrency.code}}</span>
                <select  class="input-group-addon" ng-model="vm.riskFeeCurrency"  uib-tooltip="Currency: {{vm.treaty.brokerCurrency.currency.name }}"
                         ng-options="currencyOptions as currencyOptions.name for currencyOptions in vm.currencyOptions|orderBy:'name' track by currencyOptions.id"
                         name="riskFeeCurrency"
                         ng-disabled="vm.minimumRiskFee==0"
                         required
                >
                  <option value=""></option>
                </select>
                <input class="form-control" type="text" name="minimumRiskFeeAmount"  uib-tooltip="Minimum Risk Fee Amount" dataformatas=""
                     ng-model="vm.minimumRiskFeeAmount" placeholder="Fee Amount"  ui-number-mask="0"
                     ng-readonly="vm.minimumRiskFee==0"
                    required/>
            </div>
              </div>

          </div><div class="row">
            <div class="form-group col-sm-6" ng-class="{'has-error': editForm.treatyReference.$invalid}"  ng-if="vm.riskFeeRatePeriod">
              <label class="control-label" translate="finreApp.treatyManagement.treatyReferenceRiskFee"
                     for="field_treatyReference">treatyReference</label>
              <textarea type="text" class="form-control" name="treatyReference" id="field_treatyReference"
                     ng-model="vm.treatyReference"
                     ng-required="vm.riskFeeRatePeriod"></textarea>
            </div>
            <div class="form-group col-sm-6"  ng-if="vm.riskFeeRatePeriod">
              <label class="control-label" translate="finreApp.treatyManagement.riskfeeComments"
                     for="field_riskfeeComments">riskfeeComments</label>
            <textarea type="text" class="form-control" name="riskfeeComments" id="field_riskfeeComments"
                      ng-model="vm.riskfeeComments"></textarea>
            </div>
            <div class="form-group col-sm-6"  ng-if="!editForm.riskfeeComments.$invalid &&  !editForm.treatyReference.$invalid && !editForm.riskFeeRatePeriod.$invalid ">
              <label>&nbsp;</label>
              <button id="addRiskFee" class="btn btn-xs rga-button" title="Add Risk Fee Rate" uib-tooltip="Add Risk Fee Rate" ng-click="vm.addRiskFee()" ng-hide="$index > 0"  ng-if="vm.riskFeeRatePeriod">
                Add Risk Fee Rate
              </button>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-12">
              <table class="table" name="tableRiskFee" ng-if="vm.band > 0">

                <thead>
                <th class="col-sm-1 text-center" ><strong> Rate %</strong>  </th>
                <th class="col-sm-2 text-center" ><strong> Min Risk Fee Amt </strong>  </th>
                <th class="col-sm-2 text-center" translate="finreApp.treatyManagement.period " > </th>
                <th class="col-sm-3 text-center" translate="finreApp.treatyManagement.treatyReference"> </th>
                <th class="col-sm-3 text-center"  translate="finreApp.treatyManagement.riskfeeComments " ></th>

                </thead>

                <tr ng-repeat="RiskFee in  vm.treatyManagement.riskFees" >
                  <td class="col-sm-1" >
                    <span ng-if="RiskFee.edit!==1">{{RiskFee.rate}}<span ng-if="RiskFee.rate || RiskFee.rate==0 ">%</span></span>
                   <span ng-if="RiskFee.edit===1">

                <input type="text"  class="form-control"
                       ng-model="RiskFee.rate " placeholder="Risk Fee Rate" aria-describedby="field_riskFeeRate">

                </span>
                  </td>
                  <td class="col-sm-2 text-center" >
                    <span ng-if="RiskFee.edit!==1"> {{RiskFee.riskFeeCurrency.code}} {{RiskFee.minimumRiskFeeAmount| number:0 }}</span>
                    <span ng-if="RiskFee.edit===1">

                    <input class="form-control" type="text" ng-disabled="RiskFee.minimumRiskFeeAmount===''"
                           ng-model="RiskFee.minimumRiskFeeAmount" placeholder="Fee Amou" ui-number-mask="0"
                    />

                      </span>

                  </td>
                  <td class="col-sm-2 text-center">
                    <span ng-if="RiskFee.edit!==1">{{RiskFee.period}} </span>
                    <span ng-if="RiskFee.edit===1">
                    <select class="form-control"
                            ng-model="RiskFee.period"
                            ng-options="periodOptionsRiskFee as periodOptionsRiskFee for periodOptionsRiskFee in vm.periodOptionsRiskFee track by periodOptionsRiskFee"
                           >
                      <option value=""></option>
                    </select>
                      </span>
                  </td>
                  <td class="col-sm-3 text-center">
                    <span ng-if="RiskFee.edit!==1">{{RiskFee.treatyReference}} </span>
                    <span ng-if="RiskFee.edit===1">
                    <textarea type="text" class="form-control"
                           ng-model="RiskFee.treatyReference"
                          ></textarea>
                      </span>
                  </td>
                  <td class="col-sm-3 text-center">
                    <span ng-if="RiskFee.edit!==1">{{RiskFee.comments}}  </span>
                    <span ng-if="RiskFee.edit===1">
                  <textarea type="text" class="form-control"
                            ng-model="RiskFee.comments"></textarea>
                      </span>
                  </td>
                  <td   class="col-sm-1 btn-group">
                    <button id="removeRiskFee" class="btn btn-default btn-xs btn-secondary"ng-click="vm.removeRiskFee($index)" uib-tooltip="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                    <button id="editRiskFee" class="btn btn-default btn-xs btn-secondary" ng-click="RiskFee.edit=1"  ng-if="RiskFee.edit!==1" uib-tooltip="Edit" > <span class="glyphicon glyphicon-pencil"></span></button>
                    <button id="editAccept" class="btn btn-default btn-xs btn-secondary" ng-click="RiskFee.edit=0" ng-if="RiskFee.edit===1"   uib-tooltip="Accept" ><span class="glyphicon glyphicon-ok"></span> </button>
                  </td>

                </tr>
              </table>
            </div>
          </div>
        </uib-accordion-group>

      </uib-accordion>

    </div>
    <div class="modal-footer">
      <button id="cancelManagement" type="button" class="btn btn-default rga-font" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
      </button>
      <button id="save" ng-if="editForm.$invalid" type="submit" disabled class="btn btn-default rga-font" ng-click="vm.save()">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
      </button>
      <button id="saveComplete" type="submit" ng-if="editForm.$valid" class="btn btn-default rga-font" ng-click="vm.saveMessage()">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
      </button>
    </div>

  </form>
</div>
