<div class="panel panel-default container-fluid">
    <div class="panel-heading row">
        <h2>Gfs Assignees</h2>
    </div>
  <div class="row panel-body">
    <button class="btn rga-button" ui-sref="gfs-assignee.new">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="hidden-xs">
        Gfs Assignee
    </span>
    </button>
  </div>
</div>
<div class="panel panel-default table-responsive">
  <table class="jh-table table table-striped table-hover clickable">
    <thead class="rga-thead">
      <tr>
        <th>
          <span translate="finreApp.gfsAssignee.description">Description</span>
        </th>
        <th>
          <span translate="finreApp.gfsAssignee.firstName">firstName</span>
        </th>
        <th>
          <span translate="finreApp.gfsAssignee.lastName">lastName</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ui-sref="gfs-assignee-detail({id:gfsAssignee.id})" ng-repeat="gfsAssignee in vm.gfsAssignees track by gfsAssignee.id">
        <td>{{gfsAssignee.description}}</td>
        <td>{{gfsAssignee.firstName}}</td>
        <td>{{gfsAssignee.lastName}}</td>
      </tr>
    </tbody>
  </table>
</div>
