
<div>
    <h2><span translate="finreApp.gfsAssignee.detail.title">GfsAssignee</span> {{vm.gfsAssignee.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="finreApp.gfsAssignee.name">Name</dt></dt>
        <dd>
            <span>{{vm.gfsAssignee.name}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.gfsAssignee.description">Description</dt></dt>
        <dd>
            <span>{{vm.gfsAssignee.description}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.gfsAssignee.sortOrder">SortOrder</dt></dt>
        <dd>
            <span>{{vm.gfsAssignee.sortOrder}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.gfsAssignee.default_flag">Default_flag</dt></dt>
        <dd>
            <span>{{vm.gfsAssignee.default_flag}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.gfsAssignee.lastUser">LastUser</dt></dt>
        <dd>
            <span>{{vm.gfsAssignee.lastUser}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.gfsAssignee.lastUpdate">LastUpdate</dt></dt>
        <dd>
            <span>{{vm.gfsAssignee.lastUpdate | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span translate="finreApp.gfsAssignee.creationTS">CreationTS</dt></dt>
        <dd>
            <span>{{vm.gfsAssignee.creationTS | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span translate="finreApp.gfsAssignee.creationUser">CreationUser</dt></dt>
        <dd>
            <span>{{vm.gfsAssignee.creationUser}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.gfsAssignee.effBeginTs">EffBeginTs</dt></dt>
        <dd>
            <span>{{vm.gfsAssignee.effBeginTs | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span translate="finreApp.gfsAssignee.effEndTs">EffEndTs</dt></dt>
        <dd>
            <span>{{vm.gfsAssignee.effEndTs | date:'mediumDate'}}</span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
