
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGfsAssigneeLabel" translate="finreApp.gfsAssignee.home.createOrEditLabel">Create or edit a GfsAssignee</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="control-label" translate="finreApp.gfsAssignee.firstName" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.gfsAssignee.firstName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.gfsAssignee.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.gfsAssignee.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.gfsAssignee.lastName" for="field_lastName">lastName</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.gfsAssignee.lastName"
                     />
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
