<div>
    <h2 translate="finreApp.notificationStatus.home.title">NotificationStatuses</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="notification-status.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="finreApp.notificationStatus.home.createLabel">
                        Create new NotificationStatus
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'finreApp.notificationStatus.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="finreApp.notificationStatus.name">Name</span></th>
                    <th><span translate="finreApp.notificationStatus.description">Description</span></th>
                    <th><span translate="finreApp.notificationStatus.sortOrder">SortOrder</span></th>
                    <th><span translate="finreApp.notificationStatus.default_flag">Default_flag</span></th>
                    <th><span translate="finreApp.notificationStatus.lastUser">LastUser</span></th>
                    <th><span translate="finreApp.notificationStatus.lastUpdate">LastUpdate</span></th>
                    <th><span translate="finreApp.notificationStatus.creationTS">CreationTS</span></th>
                    <th><span translate="finreApp.notificationStatus.creationUser">CreationUser</span></th>
                    <th><span translate="finreApp.notificationStatus.effBeginTs">EffBeginTs</span></th>
                    <th><span translate="finreApp.notificationStatus.effEndTs">EffEndTs</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notificationStatus in vm.notificationStatuses track by notificationStatus.id">
                    <td><a ui-sref="notification-status-detail({id:notificationStatus.id})">{{notificationStatus.id}}</a></td>
                    <td>{{notificationStatus.name}}</td>
                    <td>{{notificationStatus.description}}</td>
                    <td>{{notificationStatus.sortOrder}}</td>
                    <td>{{notificationStatus.default_flag}}</td>
                    <td>{{notificationStatus.lastUser}}</td>
                        <td>{{notificationStatus.lastUpdate | date:'mediumDate'}}</td>
                        <td>{{notificationStatus.creationTS | date:'mediumDate'}}</td>
                    <td>{{notificationStatus.creationUser}}</td>
                        <td>{{notificationStatus.effBeginTs | date:'mediumDate'}}</td>
                        <td>{{notificationStatus.effEndTs | date:'mediumDate'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="notification-status-detail({id:notificationStatus.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification-status.edit({id:notificationStatus.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="notification-status.delete({id:notificationStatus.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
