
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNotificationStatusLabel" translate="finreApp.notificationStatus.home.createOrEditLabel">Create or edit a NotificationStatus</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.notificationStatus.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.notificationStatus.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.notificationStatus.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.notificationStatus.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.notificationStatus.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.notificationStatus.sortOrder" for="field_sortOrder">SortOrder</label>
            <input type="number" class="form-control" name="sortOrder" id="field_sortOrder"
                    ng-model="vm.notificationStatus.sortOrder"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.notificationStatus.default_flag" for="field_default_flag">Default_flag</label>
            <input type="text" class="form-control" name="default_flag" id="field_default_flag"
                    ng-model="vm.notificationStatus.default_flag"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.notificationStatus.lastUser" for="field_lastUser">LastUser</label>
            <input type="text" class="form-control" name="lastUser" id="field_lastUser"
                    ng-model="vm.notificationStatus.lastUser"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.notificationStatus.lastUpdate" for="field_lastUpdate">LastUpdate</label>
                <div class="input-group">
                    <input id="field_lastUpdate" type="text" class="form-control" name="lastUpdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.notificationStatus.lastUpdate" is-open="vm.datePickerOpenStatus.lastUpdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUpdate')"><em class="glyphicon glyphicon-calendar"></em></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.notificationStatus.creationTS" for="field_creationTS">CreationTS</label>
                <div class="input-group">
                    <input id="field_creationTS" type="text" class="form-control" name="creationTS" uib-datepicker-popup="{{dateformat}}" ng-model="vm.notificationStatus.creationTS" is-open="vm.datePickerOpenStatus.creationTS"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationTS')"><em class="glyphicon glyphicon-calendar"></em></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.notificationStatus.creationUser" for="field_creationUser">CreationUser</label>
            <input type="text" class="form-control" name="creationUser" id="field_creationUser"
                    ng-model="vm.notificationStatus.creationUser"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.notificationStatus.effBeginTs" for="field_effBeginTs">EffBeginTs</label>
                <div class="input-group">
                    <input id="field_effBeginTs" type="text" class="form-control" name="effBeginTs" uib-datepicker-popup="{{dateformat}}" ng-model="vm.notificationStatus.effBeginTs" is-open="vm.datePickerOpenStatus.effBeginTs"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('effBeginTs')"><em class="glyphicon glyphicon-calendar"></em></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="finreApp.notificationStatus.effEndTs" for="field_effEndTs">EffEndTs</label>
                <div class="input-group">
                    <input id="field_effEndTs" type="text" class="form-control" name="effEndTs" uib-datepicker-popup="{{dateformat}}" ng-model="vm.notificationStatus.effEndTs" is-open="vm.datePickerOpenStatus.effEndTs"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('effEndTs')"><em class="glyphicon glyphicon-calendar"></em></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
