
<div>
    <h2><span translate="finreApp.notificationStatus.detail.title">NotificationStatus</span> {{vm.notificationStatus.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="finreApp.notificationStatus.name">Name</dt></dt>
        <dd>
            <span>{{vm.notificationStatus.name}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.notificationStatus.description">Description</dt></dt>
        <dd>
            <span>{{vm.notificationStatus.description}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.notificationStatus.sortOrder">SortOrder</dt></dt>
        <dd>
            <span>{{vm.notificationStatus.sortOrder}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.notificationStatus.default_flag">Default_flag</dt></dt>
        <dd>
            <span>{{vm.notificationStatus.default_flag}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.notificationStatus.lastUser">LastUser</dt></dt>
        <dd>
            <span>{{vm.notificationStatus.lastUser}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.notificationStatus.lastUpdate">LastUpdate</dt></dt>
        <dd>
            <span>{{vm.notificationStatus.lastUpdate | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span translate="finreApp.notificationStatus.creationTS">CreationTS</dt></dt>
        <dd>
            <span>{{vm.notificationStatus.creationTS | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span translate="finreApp.notificationStatus.creationUser">CreationUser</dt></dt>
        <dd>
            <span>{{vm.notificationStatus.creationUser}}<span>
        </dd>
        <hr>
        <dt><span translate="finreApp.notificationStatus.effBeginTs">EffBeginTs</dt></dt>
        <dd>
            <span>{{vm.notificationStatus.effBeginTs | date:'mediumDate'}}</span>
        </dd>
        <hr>
        <dt><span translate="finreApp.notificationStatus.effEndTs">EffEndTs</dt></dt>
        <dd>
            <span>{{vm.notificationStatus.effEndTs | date:'mediumDate'}}</span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
