<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header margin-zero navbar-left">
      <button type="button" class="navbar-toggle" ng-click="vm.navCollapsed = !vm.navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="#/"><h2 class="form-group fastLogo margin-zero -align-left">
      </h2></a>
      <h2 class="fastWelcome -align-left"></h2>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse" uib-collapse="vm.navCollapsed"
         ng-switch="vm.isAuthenticated()">
      <ul class="nav navbar-nav navbar-right">

        <li class="homeStep2" ui-sref-active="active">
          <a ui-sref="home" ng-click="vm.navCollapsed = true">
            <strong class="rga-font fa fa-home fa-lg"> <strong translate="global.menu.home">Home</strong></strong>
          </a>
        </li>
        <li class="homeStep3" ng-show="!vm.eamTeam" ui-sref-active="active" ng-switch-when="true">
          <a id="mainDeal" ui-sref="deal({page:vm.dealPage})">
            <strong class="rga-font fa fa-chain fa-lg"> <strong translate="global.deals"></strong></strong>
          </a>
        </li>

        <li class="homeStep4" ng-show="!vm.eamTeam" ui-sref-active="active" ng-switch-when="true">
          <a id="mainCompanyMdm" ui-sref="company-mdm">
            <strong class="rga-font fa fa-industry fa-lg"> <strong translate="global.companies"></strong></strong>
          </a>
        </li>
        <li class="homeStep5" ng-show="!vm.eamTeam" ui-sref-active="active" ng-switch-when="true">
          <a id="mainContact" ui-sref="contact">
            <strong class="rga-font fa fa-users fa-lg"> <strong translate="global.contacts"></strong></strong>
          </a>
        </li>
        <li class="homeStep6" ng-show="!vm.eamTeam" ui-sref-active="active" ng-switch-when="true">
          <a id="mainReports" ui-sref="reports">
            <strong class="rga-font fa fa-list-alt fa-lg"><strong> Reports </strong> </strong></strong>
          </a>
        </li>

        <li class="homeStep7" ng-show="!vm.eamTeam" ui-sref-active="active" ng-switch-when="true">
            <a id="FASTopedia"  ui-sref="fastopedia">
              <strong class="rga-font fa fa-info fa-lg"><strong> FASTopedia </strong> </strong></strong>
            </a>
          </li>
          <li ui-sref-active="active" ng-show="vm.eamTeam || vm.itSupport" ng-switch-when="true">
            <a id="UserManagement"  ui-sref="users">
              <strong class="rga-font fa fa-lock fa-lg"><strong> Users </strong> </strong></strong>
            </a>
          </li>

        <li class="homeStep8" ng-show="vm.authority=='ROLE_APP_FINRE_OPS_ADMIN'" ng-class="{active: vm.$state.includes('admin')}"
            ng-switch-when="true" uib-dropdown
            class="dropdown pointer">
          <a id="mainAdmin" class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
            <span>
                <strong class="rga-font fa fa-gears fa-lg">
                  <strong translate="global.admin">
                    Admin
                  </strong></strong>
                <strong class="caret"></strong>
            </span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
              <li ui-sref-active="active">
                <a id="mainIntro" ui-sref="intro" data-toggle="collapse" data-target=".navbar-collapse.in">
                  <span class="fa fa-list rga-font"> Intro Admin Tool</span></a></li>

            <li ui-sref-active="active">
              <a id="mainAllocation" ui-sref="allocation-type" data-toggle="collapse" data-target=".navbar-collapse.in">
              <span class="fa fa-list rga-font">
              <span translate="global.menu.entities.allocationType">Allocation Type</span></span></a></li>
            <li ui-sref-active="active">
              <a id="mainAgreementType" ui-sref="agreement-type" data-toggle="collapse"
                 data-target=".navbar-collapse.in">
              <span class="fa fa-list rga-font">
              <span translate="global.menu.entities.agreementType">Agreement Type</span></span></a></li>
            <li ui-sref-active="active">
              <a id="mainContactSubType" ui-sref="contact-subtype" data-toggle="collapse"
                 data-target=".navbar-collapse.in">
              <span class="fa fa-list rga-font">
              <span translate="global.menu.entities.contactSubtype">Contact Subtype</span></span></a></li>

            <li ui-sref-active="active">
              <a id="mainFundingTYpe" ui-sref="funding-type" data-toggle="collapse" data-target=".navbar-collapse.in">
              <span class="fa fa-list rga-font">
              <span translate="global.menu.entities.fundingType">Funding Type</span></span></a></li>


            <li ui-sref-active="active">
              <a id="mainProductSubtype" ui-sref="product-subtype" data-toggle="collapse"
                 data-target=".navbar-collapse.in">
              <span class="fa fa-list rga-font">
              <span translate="global.menu.entities.productSubtype">Product Subtype</span></span></a></li>

            <li ui-sref-active="active">
              <a id="mainProductStructure" ui-sref="product-structure" data-toggle="collapse"
                 data-target=".navbar-collapse.in">
              <span class="fa fa-list rga-font">
              <span translate="global.menu.entities.productStructure">Product Structure</span></span></a></li>
            <li ui-sref-active="active">
              <a id="mainSeriatim" ui-sref="seriatim-type" data-toggle="collapse" data-target=".navbar-collapse.in">
              <span class="fa fa-list rga-font">
              <span translate="global.menu.entities.seriatimType">Seriatim Type</span></span></a></li>

            <li ui-sref-active="active">
              <a id="mainGfs" ui-sref="gfs-assignee" data-toggle="collapse" data-target=".navbar-collapse.in">
                <span class="fa fa-list rga-font">
                <span translate="global.menu.entities.gfsAssignee">Gfs Assignee</span></span></a></li>

            <li ui-sref-active="active">
              <a id="mainReportAdmin" ui-sref="reports-admin" data-toggle="collapse" data-target=".navbar-collapse.in">
                <span class="fa fa-list rga-font">
                <span>Reports</span></span></a></li>
            <li ui-sref-active="active">
              <a id="mainDealTypeAdmin" ui-sref="deal-type" data-toggle="collapse" data-target=".navbar-collapse.in">
                <span class="fa fa-list rga-font">
                <span>Deal Type</span></span></a></li>
            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
          </ul>
        </li>
          <li id="logout-button" ng-click="vm.logout()"><a><strong class="rga-font fa fa-sign-out fa-lg"><strong>Logout</strong></strong></a></li>
 
              </ul>
              <style>
                .logoutPopup {
                  width: 1px;
                  height: 1px;
                  background-color: #ffffff;
                  z-index: 1000;
                }
              </style>
              <div ng-if="vm.logoutUrl" class="logoutPopup">
                <iframe src="{{vm.logoutUrl}}" width="100%" height="100%" />
              </div>
            </div>
          </div>
        </nav>
