<div class="rga-modal " id="myModal">
  <form  class="css-form input.ng-invalid" name="editForm" role="form" novalidate show-validation>
    <div class="modal-header">

      <div class="col-sm-6">
      <h4 class="modal-title"><strong>
        <span translate="finreApp.treatyTracking.home.createOrEditLabel"></span>
      </strong>
      </h4>
        </div>
      <div class="col-sm-3">
        </div>
      <div class="col-sm-3" uib-tooltip="You will be prompted to change the status when you Save.">
        <label >Status: {{vm.treatyTracking.trackingStatus}}</label>
      </div>
      <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.xclear()">
        <span class="glyphicon glyphicon-remove-circle"></span>
      </button>

  </div>
  <div class="modal-body">

    <div class="panel panel-default">
      <div class="row">
        </br>
        <div class="col-sm-12">
          <div class="form-group col-sm-3">
              <label class="control-label" translate="finreApp.treatyTracking.dealname"></label>
              <br>{{ vm.treatyTracking.treaty.deal.name }}
          </div>
          <div class="form-group col-sm-2">
              <label class="control-label" translate="finreApp.treatyTracking.agreementType"></label>
              <br>{{ vm.treatyTracking.treaty.agreementType.name}}
          </div>
          <div class="form-group col-sm-3">
              <label class="control-label" translate="finreApp.treatyTracking.productStructure"></label>
              <br>{{ vm.treatyTracking.treaty.productStructure.name}}
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treatyTracking.treatyName"></label>
            <br>{{ vm.treatyTracking.treaty.treatyName}}
          </div>
        </div></div>
      </div>
      <div class="row">
        <div class="form-group col-sm-2" ng-class="{'has-error': editForm.reportingPeriod.$invalid}">
          <label class="control-label"> Client Period</label>
          <br>
          <br>
          <select class="form-control"  name="reportingPeriod" required
                  ng-model="vm.treatyTracking.reportingPeriod"
                  ng-readonly="vm.reportingPeriodOptions.length === 1"
                  ng-options="reportingPeriodOptions as reportingPeriodOptions for reportingPeriodOptions in vm.reportingPeriodOptions track by reportingPeriodOptions">
          </select>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label">Reporting Period</label>
          <br>
          <br>
          <div class="input-group" >
            <input type="text" class="form-control" name="reportingMonthYr" uib-datepicker-popup="{{vm.format}}"
                   ng-model="vm.treatyTracking.reportingMonthYear"
                   is-open="vm.datePickerOpenStatus.reportingMonthYear"
                   datepicker-options="vm.dateOptions" ng-required="true"
                   ng-disabled="vm.treatyTracking.cashSentRecDate!=null"
                   ng-change="vm.calculateDates(vm.treatyTracking.reportingMonthYear,1); vm.reportingMonthYearChange()"/>
            <span class="input-group-btn">
            <button id="calendarReporting"  ng-disabled="vm.subTransactionFlag===2" type="button" class="btn btn-default" ng-click="vm.openCalendar('reportingMonthYear')"><em class="glyphicon glyphicon-calendar"></em></button>
          </span>
          </div>
        </div>
        <div class="form-group col-sm-2" ng-class="{'has-error': editForm.currency.$invalid}">
        <label class="control-label">Currency</label>
          <br><br>
          <select class="form-control"  name="currency" ng-change="vm.getTransactions(vm.treatyTracking.id,vm.treatyTracking.reportingMonthYear)" required
                  ng-model="vm.treatyTracking.currency"
                  ng-disabled="vm.treatyTracking.cashSentRecDate!=null"
                  ng-options="currency as currency.code for currency in vm.currencyOptions track by currency.code">
            <option value=""></option>
          </select>
      </div>
        <div class="form-group col-sm-2" ng-class="{'has-error': editForm.cashDueTypeDropdown.$invalid}">
          <label class="control-label">Cash Due</label>
          <br><br>
          <!-- <md-switch class="md-switch"   aria-label="RGA Switch"
                     ng-model="vm.treatyTracking.cashDueFlag"
                     aria-label="RGA Switch" ng-true-value="'Yes'" ng-false-value="'No'"
                     class="md-warn"
                    >{{vm.treatyTracking.cashDueFlag}}
         </md-switch> -->
         <!-- <select name="cashDueTypeDropdown"  ng-change="vm.cashDueTypeChange(vm.cashDueTypeSelected, '{{vm.cashDueTypeSelected}}')" class="form-control" ng-model="vm.cashDueTypeSelected" ng-options="item for item in vm.cashDueTypeOptions" required></select> -->
          <select  class="form-control" name="cashDueTypeDropdown" ng-model="vm.cashDueTypeSelected"
                    ng-options="item as item for item in vm.cashDueTypeOptions| orderBy:'item' track by item"
                    required ng-init="vm.cashDueTypeInit()" ng-change="vm.cashDueTypeChange(vm.cashDueTypeSelected, '{{vm.cashDueTypeSelected}}')">
            <option value=""></option>
          </select>
        </div>
        <div class="form-group col-sm-4" ng-if="vm.treatyTracking.calculatedReportingDueYex==null && !vm.reportingQuarterFlag">
          <label class="control-label">Reporting Due Date</label><br>
          <span  ng-if="!vm.treaty.reportingDueDate.dayType.includes('On')"><span  translate="finreApp.treatyTracking.{{vm.treaty.reportingFrequency.name}}"></span> -
            {{vm.treaty.reportingDueDate.numberOfDays}}
            <span translate="finreApp.treatyTracking.{{vm.treaty.reportingDueDate.dayType}}"></span>
            <span translate="finreApp.treatyTracking.{{vm.treaty.reportingDueDate.period}}"></span> </span>
          <span ng-if="vm.treaty.reportingDueDate.dayType.includes('On')"><span translate="finreApp.treatyTracking.{{vm.treaty.reportingFrequency.name}}"></span> -
            <span translate="finreApp.treatyTracking.{{vm.treaty.reportingDueDate.dayType}}"></span>
            <span translate="finreApp.treatyTracking.{{vm.treaty.reportingDueDate.period}}"></span> </span>
          <input uib-tooltip="{{vm.treaty.reportingFrequency.name}} -  {{vm.treaty.reportingDueDate.numberOfDays}} {{vm.treaty.reportingDueDate.dayType}} {{vm.treaty.reportingDueDate.period}}" type="text" class="form-control" ng-model="vm.treatyTracking.calculatedReportingDueDate" readonly>
        </div>
        <div class="form-group col-sm-4"ng-if="vm.treatyTracking.treaty.yearEndException=='Yes' && vm.treatyTracking.calculatedReportingDueYex!=null && vm.uiFalgEndYearEx">
          <label class="control-label">Reporting Due Date YX </label><br>
          <span  ng-if="!vm.treaty.reportingDueYearEx.dayType.includes('On')"><span  translate="finreApp.treatyTracking.{{vm.treaty.reportingFrequency.name}}"></span> -
            {{vm.treaty.reportingDueYearEx.numberOfDays}}
            <span translate="finreApp.treatyTracking.{{vm.treaty.reportingDueYearEx.dayType}}"></span>
            <span translate="finreApp.treatyTracking.{{vm.treaty.reportingDueYearEx.period}}"></span> </span>
          <span ng-if="vm.treaty.reportingDueYearEx.dayType.includes('On')"><span translate="finreApp.treatyTracking.{{vm.treaty.reportingFrequency.name}}"></span> -
            <span translate="finreApp.treatyTracking.{{vm.treaty.reportingDueYearEx.dayType}}"></span>
            <span translate="finreApp.treatyTracking.{{vm.treaty.reportingDueYearEx.period}}"></span> </span>
          <input uib-tooltip="{{vm.treaty.reportingFrequency.name}} -  {{vm.treaty.reportingDueYearEx.numberOfDays}} {{vm.treaty.reportingDueYearEx.dayType}} {{vm.treaty.reportingDueYearExvm.treaty.reportingDueYearEx.period}}" type="text" class="form-control" ng-model="vm.treatyTracking.calculatedReportingDueYex" readonly>
        </div>
        <div class="form-group col-sm-4"ng-if="vm.reportingQuarterFlag==true && vm.uiFalgEndYearEx===false">
          <label class="control-label">Reporting Due Date Q- EX  </label><br>
          <span  ng-if="!vm.treaty.reportingDueQuarterEx.dayType.includes('On')"><span  translate="finreApp.treatyTracking.{{vm.treaty.reportingFrequency.name}}"></span> -
            {{vm.treaty.reportingDueQuarterEx.numberOfDays}}
            <span translate="finreApp.treatyTracking.{{vm.treaty.reportingDueQuarterEx.dayType}}"></span>
            <span translate="finreApp.treatyTracking.{{vm.treaty.reportingDueQuarterEx.period}}"></span> </span>
          <span ng-if="vm.treaty.reportingDueQuarterEx.dayType.includes('On')"><span translate="finreApp.treatyTracking.{{vm.treaty.reportingFrequency.name}}"></span> -
            <span translate="finreApp.treatyTracking.{{vm.treaty.reportingDueQuarterEx.dayType}}"></span>
            <span translate="finreApp.treatyTracking.{{vm.treaty.reportingDueQuarterEx.period}}"></span> </span>
          <input uib-tooltip="{{vm.treaty.reportingFrequency.name}} -  {{vm.treaty.reportingDueQuarterEx.numberOfDays}} {{vm.treaty.reportingDueQuarterEx.dayType}} {{vm.treaty.reportingDueQuarterEx.period}}" type="text" class="form-control" ng-model="vm.treatyTracking.calculatedReportingDueDate" readonly>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4" ng-if="!vm.assumingFlagQuarter">
          <label class="control-label">Grace Per. Expiration - Assuming</label>
          <br>
          <span ng-if="!vm.treaty.stmntDueAsmGracePeriod.dayType.includes('On')"><span translate="finreApp.treatyTracking.{{vm.treaty.settlementFrequency.name}}"></span> -
            {{vm.treaty.stmntDueAsmGracePeriod.numberOfDays}}
            <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueAsmGracePeriod.dayType}}"></span>
            <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueAsmGracePeriod.period}}"></span> </span>
          <span ng-if="vm.treaty.stmntDueAsmGracePeriod.dayType.includes('On')"><span translate="finreApp.treatyTracking.{{vm.treaty.settlementFrequency.name}}"></span> -
            <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueAsmGracePeriod.dayType}}"></span>
            <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueAsmGracePeriod.period}}"></span> </span><br>
          <input uib-tooltip="{{vm.treaty.settlementFrequency.name}} -  {{vm.treaty.stmntDueAsmGracePeriod.numberOfDays}} {{vm.treaty.stmntDueAsmGracePeriod.dayType}} {{vm.treaty.stmntDueAsmGracePeriod.period}}" type="text" class="form-control" ng-model="vm.treatyTracking.calculatedAssumingGraceDate" readonly>
        </div>
        <div class="form-group col-sm-4" ng-if="vm.assumingFlagQuarter">
          <label class="control-label">Grace Per. Expiration - Assuming Q-EX</label>
          <br>
          <span ng-if="!vm.treaty.stmntDueAsmQuarterEx.dayType.includes('On')"><span translate="finreApp.treatyTracking.{{vm.treaty.settlementFrequency.name}}"></span> -
            {{vm.treaty.stmntDueAsmQuarterEx.numberOfDays}}
            <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueAsmQuarterEx.dayType}}"></span>
            <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueAsmQuarterEx.period}}"></span> </span>
          <span ng-if="vm.treaty.stmntDueAsmQuarterEx.dayType.includes('On')"><span translate="finreApp.treatyTracking.{{vm.treaty.settlementFrequency.name}}"></span> -
            <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueAsmQuarterEx.dayType}}"></span>
            <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueAsmQuarterEx.period}}"></span> </span><br>
          <input uib-tooltip="{{vm.treaty.settlementFrequency.name}} -  {{vm.treaty.stmntDueAsmQuarterEx.numberOfDays}} {{vm.treaty.stmntDueAsmQuarterEx.dayType}} {{vm.treaty.stmntDueAsmQuarterEx.period}}" type="text" class="form-control" ng-model="vm.treatyTracking.calculatedAssumingGraceDate" readonly>
        </div>
        <div class="form-group col-sm-4"ng-if="!vm.cedingFlagQuarter">
          <label class="control-label">Grace Per. Expiration - Ceding</label>
          <br>
          <span ng-if="vm.treaty.stmntFrqncCeding &&!vm.treaty.stmntDueCedGracePeriod.dayType.includes('On')"><span translate="finreApp.treatyTracking.{{vm.treaty.stmntFrqncCeding.name}}"></span> -
            {{vm.treaty.stmntDueCedGracePeriod.numberOfDays}}
             <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueCedGracePeriod.dayType}}"></span>
             <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueCedGracePeriod.period}}"></span></span>
          <span ng-if="vm.treaty.stmntFrqncCeding && vm.treaty.stmntDueCedGracePeriod.dayType.includes('On')"><span translate="finreApp.treatyTracking.{{vm.treaty.stmntFrqncCeding.name}}"></span> -
             <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueCedGracePeriod.dayType}}"></span>
             <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueCedGracePeriod.period}}"></span>   </span>
          <span ng-if="!vm.treaty.stmntFrqncCeding"> No Settlement Due - Ceding </span>
          <br>
          <input ng-if="vm.treaty.stmntFrqncCeding" uib-tooltip="{{vm.treaty.stmntFrqncCeding.name}} -  {{vm.treaty.stmntDueCedGracePeriod.numberOfDays}} {{vm.treaty.stmntDueCedGracePeriod.dayType}} {{vm.treaty.stmntDueCedGracePeriod.period}}" type="text" class="form-control" ng-model="vm.treatyTracking.calculatedCedingGraceDate" readonly>
          <input ng-if="!vm.treaty.stmntFrqncCeding" type="text" class="form-control" ng-model="vm.treatyTracking.calculatedCedingGraceDate" readonly>
        </div>
        <div class="form-group col-sm-4" ng-if="vm.cedingFlagQuarter">
          <label class="control-label">Grace Per. Expiration - Ceding Q-EX</label>
          <br>
          <span ng-if="!vm.treaty.stmntDueCedQuarterEx.dayType.includes('On')"><span translate="finreApp.treatyTracking.{{vm.treaty.stmntFrqncCeding.name}}"></span> -
            {{vm.treaty.stmntDueCedQuarterEx.numberOfDays}}
             <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueCedQuarterEx.dayType}}"></span>
             <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueCedQuarterEx.period}}"></span></span>
          <span ng-if="vm.treaty.stmntDueCedQuarterEx.dayType.includes('On')"><span translate="finreApp.treatyTracking.{{vm.treaty.stmntFrqncCeding.name}}"></span> -
             <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueCedQuarterEx.dayType}}"></span>
             <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueCedQuarterEx.period}}"></span> </span>
          <span ng-if="!vm.treaty.stmntFrqncCeding"> No Settlement Due - Ceding </span>

          <br>
          <input ng-if="vm.treaty.stmntFrqncCeding"  uib-tooltip="{{vm.treaty.stmntFrqncCeding.name}} -  {{vm.treaty.stmntDueCedQuarterEx.numberOfDays}} {{vm.treaty.stmntDueCedQuarterEx.dayType}} {{vm.treaty.stmntDueCedQuarterEx.period}}" type="text" class="form-control" ng-model="vm.treatyTracking.calculatedCedingGraceDate" readonly>
          <input ng-if="!vm.treaty.stmntFrqncCeding"  type="text" class="form-control" ng-model="vm.treatyTracking.calculatedCedingGraceDate" readonly>
        </div>
        <div class="form-group col-sm-4">
          <label class="control-label">Broker Fee Due Date</label><br>
          <span ng-show="vm.treaty.stmntDueAsmBroker==null">
            No Broker Fee Due
          <br>
           <input readonly class="form-control" value="N/A"></span>
          <span ng-show="vm.treaty.stmntDueAsmBroker!=null"><span translate="finreApp.treatyTracking.{{vm.treaty.settlementFrequency.name}}"></span> - {{vm.treaty.stmntDueAsmBroker.numberOfDays}}
            <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueAsmBroker.dayType}}"></span>
            <span translate="finreApp.treatyTracking.{{vm.treaty.stmntDueAsmBroker.period}}"></span> </span>
          <span ng-show="vm.treaty.stmntDueAsmBroker!=null">
          <input uib-tooltip="{{vm.treaty.settlementFrequency.name}} -  {{vm.treaty.stmntDueAsmBroker.numberOfDays}} {{vm.treaty.stmntDueAsmBroker.dayType}} {{vm.treaty.stmntDueAsmBroker.period}}" type="text" class="form-control"
                 ng-model="vm.treatyTracking.brokerFeeDueDate" readonly>
            </span>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <label class="control-label" translate="finreApp.treatyTracking.reportingReceivedDate">ReportingReceivedDate</label>
          <div class="input-group">
            <input  type="text" class="form-control" name="reportingReceivedDate" required
                    onkeyup=" this.value = dateMask(this.value);" maxlength="10"
                    placeholder="YYYY-MM-DD" uib-datepicker-popup="{{dateformat}}" ng-model="vm.treatyTracking.reportingReceivedDate"
                    is-open="vm.datePickerOpenStatus.reportingReceivedDate"
                    ng-change="vm.futureDate(vm.treatyTracking.reportingReceivedDate); vm.calculateDates(vm.treatyTracking.reportingMonthYear,2)"/>
              <span class="input-group-btn">
                  <button id="calendaReportingRec" type="button" class="btn btn-default"
                          ng-click="vm.openCalendar('reportingReceivedDate')">
                    <em class="glyphicon glyphicon-calendar"></em></button>
              </span>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label  class="control-label" translate="finreApp.treatyTracking.cashSentRecDate">cashSentRecDate</label>
            <input name="cashSentRecDate" class="form-control"
              uib-tooltip="Most recent Actual settlement date within Reporting Period"
                   type="text" class="form-control"
                   ng-model="vm.treatyTracking.cashSentRecDate"
              readonly
               ng-required="vm.treatyTracking.cashDueFlag=='Yes'"
            />
        </div>
        <div class="form-group col-sm-4" ng-if="vm.treaty.agreementType.name!=='Retro – External'">
          <label class="control-label" translate="finreApp.treatyTracking.cashUploadDate" >CashUploadDate</label>
          <div class="input-group">
            <input  type="text" class="form-control" name="cashUploadDate"
                    ng-required="vm.treatyTracking.cashDueFlag=='Yes'"
                    ng-readonly="!vm.treatyTracking.cashDueFlag=='Yes'"
                    onkeyup=" this.value = dateMask(this.value);" maxlength="10"
                    placeholder="YYYY-MM-DD" uib-datepicker-popup="{{dateformat}}"
                    ng-model="vm.treatyTracking.cashUploadDate"
                    is-open="vm.datePickerOpenStatus.cashUploadDate"
                    ng-change="vm.futureDate(vm.treatyTracking.cashUploadDate)"/>
              <span class="input-group-btn">
                  <button id="calendarCashUpload" type="button" class="btn btn-default" ng-click="vm.openCalendar('cashUploadDate')">
                    <em class="glyphicon glyphicon-calendar"></em></button>
              </span>
          </div>
        </div>
        <div class="form-group col-sm-4">
        <label class="control-label">Seriatim Due Date</label><br>
        <input  uib-tooltip="{{vm.seriatimDueDate.frequency.name}} -  {{vm.seriatimDueDate.numberOfDays}} {{vm.seriatimDueDate.dayType}} {{vm.seriatimDueDate.period}}"
                class="form-control" readonly ng-model="vm.treatyTracking.calculatedSeriatimDueDate"
                tooltip-enable="vm.treatyTracking.calculatedSeriatimDueDate !== null && vm.treatyTracking.calculatedSeriatimDueDate !=='N/A'"
        />
        </span>


      </div>
        <!---->
        <div ng-show="vm.treatyTracking.calculatedSeriatimDueDate !='No Seriatim Due Date'" class="form-group col-sm-4">
          <label class="control-label">Seriatim Received Date</label><br>
          <div class="input-group">
            <input class="form-control" ng-model="vm.treatyTracking.seriatimReceivedDate"
            onkeyup="this.value = dateMask(this.value);" maxlength="10"
            placeholder="YYYY-MM-DD" uib-datepicker-popup="{{dateformat}}"
            is-open="vm.datePickerOpenStatus.seriatimReceivedDate"
            ng-change="vm.futureDate(vm.treatyTracking.seriatimReceivedDate)" />
            <span class="input-group-btn">
                <button id="calendarSeriatimRec" type="button" class="btn btn-default" ng-click="vm.openCalendar('seriatimReceivedDate')">
                  <em class="glyphicon glyphicon-calendar"></em></button>
            </span>
          </div>
        </div>
        <!---->


      <div class="form-group col-sm-4">
        <label class="control-label"> Stat. Est. to Finance Date </label>
          <input  type="text" class="form-control" name="financeDate" uib-tooltip="Refer to Deal Tracking"
                  ng-model="vm.financeDate"
                  readonly/>

      </div>
      <div class="form-group col-sm-4" ng-if="vm.treaty.agreementType.name!=='Retro – External'">
        <label class="control-label" translate="finreApp.treatyTracking.reportingValidationDate">Reporting Validation Date</label>
        <input  type="text" class="form-control" name="reportingValidationDate" readonly uib-tooltip="Refer to Deal Tracking"
                ng-model="vm.reportingValidationDate"
        />
      </div>
      <div class="form-group col-sm-4" ng-if="vm.treaty.agreementType.name!=='Retro – External'">
        <label class="control-label" > Report to RM Date </label>
          <input  type="text" class="form-control" name="reportArmDate" uib-tooltip="Refer to Deal Tracking"
                  ng-model="vm.reportArmDate" readonly/>
      </div>

        <div class="form-group col-sm-4">
          <label class="control-label"> Reporting Revised </label>
          <input  type="text" class="form-control" name="financeDate" uib-tooltip="Refer to Deal Tracking"
                  ng-model="vm.reportingRevisedFlag"
                  readonly/>
        </div>
        <div class="form-group col-sm-4">
          <label ng-class="{'inlineWithSwitches':vm.treatyTracking.calculatedSeriatimDueDate != 'No Seriatim Due Date'}" class="control-label"> Password </label>
          <input  type="text" class="form-control" name="financeDate" uib-tooltip="Refer to Deal Tracking"
                  ng-model="vm.password"
                  readonly/>

        </div>

        <div class="form-group col-sm-4">
          <md-switch class="md-switch"   aria-label="RGA Switch"
                     ng-model="vm.treatyTracking.flagEmailRec"
                     aria-label="RGA Switch" ng-true-value="0" ng-false-value="1"
                     class="md-warn"
                     ng-change="vm.switchChange(1)">
            <strong ng-if="vm.reportingConfirmDateFlag===false">Conf. Email Rec'd Date</strong>
            <strong ng-if="(vm.reportingConfirmDateFlag===undefined || vm.reportingConfirmDateFlag) && vm.flagReportingConfirmed"
                    uib-tooltip="Settlement Due for this treaty is calculated based on Reporting Confirmed Date,
            so you cannot turn this off.">Conf. Email Rec'd Date</strong>
          <strong ng-if="(vm.reportingConfirmDateFlag===undefined || vm.reportingConfirmDateFlag) && !vm.flagReportingConfirmed"
                  uib-tooltip="Reporting Confirmed Date">Conf. Email Rec'd Date</strong>
          </md-switch>
          <div ng-hide="vm.treatyTracking.flagEmailRec===0"><input class="form-control" readonly value="N/A"></div>
          <div class="input-group" ng-hide="vm.treatyTracking.flagEmailRec===1">
            <input  type="text" class="form-control" name="confirmationReceivedDate"
                    onkeyup=" this.value = dateMask(this.value);" maxlength="10"
                    placeholder="YYYY-MM-DD"    uib-datepicker-popup="{{dateformat}}" ng-model="vm.treatyTracking.confirmationReceivedDate"
                    is-open="vm.datePickerOpenStatus.confirmationReceivedDate"
                    ng-change="vm.futureDate(vm.treatyTracking.confirmationReceivedDate);vm.calculateDates(vm.treatyTracking.reportingMonthYear,3)"
                    ng-required="vm.treatyTracking.flagEmailRec===0"/>
                  <span class="input-group-btn">
                      <button id="calendarConfirmRec" type="button" class="btn btn-default" ng-click="vm.openCalendar('confirmationReceivedDate')">
                        <em class="glyphicon glyphicon-calendar"></em></button>
                  </span>
          </div>
        </div>
        <div class="form-group col-sm-4" >
          <md-switch class="md-switch"  aria-label="RGA Switch"
                     ng-model="vm.treatyTracking.flagEmail"
                     aria-label="RGA Switch" ng-true-value="0" ng-false-value="1"
                     class="md-warn"
                     ng-change="vm.switchChange(2)">

            <strong ng-if="vm.reportingConfirmDateFlag=== undefined || vm.reportingConfirmDateFlag===true ">Conf. Email Sent Date</strong>
            <strong ng-if="!vm.reportingConfirmDateFlag&& vm.flagReportingConfirmed"
                    uib-tooltip="Settlement Due for this treaty is calculated based on Reporting Confirmed Date,
            so you cannot turn this off.">Conf. Email Sent Date</strong>
            <strong ng-if="!vm.reportingConfirmDateFlag && !vm.flagReportingConfirmed"
                    uib-tooltip="Reporting Confirmed Date">Conf. Email Sent Date</strong>


          </md-switch>
          <div ng-hide="vm.treatyTracking.flagEmail===0">
            <input class="form-control" readonly value="N/A">
          </div>
          <div class="input-group" ng-hide="vm.treatyTracking.flagEmail===1">
            <input  type="text" class="form-control" name="emailDate"
                    onkeyup=" this.value = dateMask(this.value);" maxlength="10"
                    placeholder="YYYY-MM-DD" uib-datepicker-popup="{{dateformat}}"
                    ng-model="vm.treatyTracking.emailDate"
                    is-open="vm.datePickerOpenStatus.emailDate"
                    ng-change="vm.futureDate(vm.treatyTracking.emailDate,$event);vm.calculateDates(vm.treatyTracking.reportingMonthYear,3)"
                    ng-required="vm.treatyTracking.flagEmail===0" />
                  <span class="input-group-btn" ng-hide="vm.treatyTracking.flagEmail===1">
                      <button id="calendarEmail" type="button" class="btn btn-default" ng-click="vm.openCalendar('emailDate')">
                        <em class="glyphicon glyphicon-calendar"></em></button>
                  </span>
          </div>
        </div>
          <div class="form-group col-sm-12">
            <label class="control-label" translate="finreApp.treatyTracking.comments">Comments</label>
            <textarea type="text" class="form-control" ng-model="vm.treatyTracking.comments" ></textarea>
          </div>
      </div>
  </div>
    <div class="modal-footer">
      <button id="cancel" type="button" class="btn btn-default rga-font" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
      </button>
      <button id="noSave" ng-show="editForm.$invalid && vm.treatyTracking.reportingMonthYear==undefined"
         type="submit"
         class="btn btn-default rga-font"  uib-tooltip="You cannot save without specifying the Reporting Period." ng-disabled="editForm.cashDueTypeDropdown.$invalid">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
      </button>
      <button id="saveIncomplete" ng-show="editForm.$invalid && vm.treatyTracking.reportingMonthYear != undefined" type="submit" ng-disabled="isSaving || vm.treatyTracking.reportingMonthYear==undefined || editForm.cashDueTypeDropdown.$invalid" class="btn btn-default rga-font" ng-click="vm.save(1)">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
      </button>

      <button id="saveComplete" ng-show="!editForm.$invalid"  type="submit" ng-disabled="editForm.$invalid || isSaving " class="btn btn-default rga-font" ng-click="vm.saveMessage()">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
      </button>

    </div>
  </form>
</div>
