<div id="myModal">
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" ui-sref-active="current">
      <a id="treatyDetailTab" ui-sref="treaty-detail({id:vm.treatyId,dealId:vm.dealId})">Treaty</a>
    </li>
    <li role="presentation" ui-sref-active="current">
      <a id="contactCompanyTab" ui-sref="contacts-company-detail({id:vm.treatyId,dealId:vm.dealId})">Companies & Contacts
      </a>
    </li>
    <li role="presentation" ui-sref-active="current">
      <a id="treatyTrackingTab" ui-sref="treaty-tracking-all({treatyId:vm.treatyId,dealId:vm.dealId})">Treaty Tracking</a>
    </li>
    <li ng-show="vm.treaty.treatyCurrencies.length==0" role="presentation" ui-sref-active="current">
      <a id="noTransactionTab" uib-tooltip="Cannot add transactions because the treaty has no currencies.">Cash Transactions
      </a>
    </li>
    <li ng-show="vm.treaty.treatyCurrencies.length!=0" role="presentation" ui-sref-active="current">
      <a id="TransactionTab" ui-sref="treaty-transaction-cash({id:vm.treatyId, dealId:vm.dealId})">Cash Transactions</a>
    </li>
    <li role="presentation" ui-sref-active="current">
      <a id="amendmentsTab" ui-sref="treaty-amendments-all({treatyId:vm.treatyId,dealId:vm.dealId})">Amendments</a>
    </li>
  </ul>
  <intro-button options="vm.introOptions" />
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-3">
          <h5>
            <label class="control-label"> Deal Name </label>
            <br> {{ vm.treaty.deal.name }}
          </h5>
        </div>
        <div class="col-sm-3">
          <h5>
            <label class="control-label">Agreement Type</label>
            <br> {{ vm.treaty.agreementType.name }}</h5>
        </div>
        <div class="col-sm-3">
          <h5>
            <label class="control-label">Product Structure</label>
            <br> {{ vm.treaty.productStructure.name }}
          </h5>
        </div>
        <div class="col-sm-3">
          <h5>
            <label class="control-label">Treaty Name</label>
            <br> {{ vm.treaty.treatyName }} </h5>
        </div>
      </div>
    </div>
    <div class="panel-body">
        <button ng-class="{ 'disabled': vm.treaty.disabledTracking || !vm.flagReportingDueDate || vm.reportingConfirmDateFlag === undefined }"
        id="newTracking" class="step1 btn rga-button" ng-click="(!vm.treaty.disabledTracking && vm.flagReportingDueDate && vm.reportingConfirmDateFlag !== undefined) ? vm.go('treaty-tracking-all.new', {dealId:vm.dealId,treatyId:vm.treatyId}):''">
        <span class="glyphicon glyphicon-plus"></span> New Tracking
        <md-tooltip md-direction="top" ng-show="vm.treaty.agreementType.name === 'Retro – Internal'">Tracking is always disabled for 'Retro – Internal'
        </md-tooltip>
        <md-tooltip md-direction="top" ng-show="vm.treaty.treatyName.includes('DO NOT USE')">No new tracking records can be added for 'DO NOT USE'
        </md-tooltip>
        <md-tooltip md-direction="top" ng-show="(vm.treaty.agreementType.name !== 'Retro – Internal' && !vm.treaty.treatyName.includes('DO NOT USE')) && (!vm.flagReportingDueDate && !vm.treaty.disabledTracking)">
          Reporting Due or Settlement Due Information is not complete
        </md-tooltip>
        <md-tooltip md-direction="top" ng-show="(vm.treaty.agreementType.name !== 'Retro – Internal' && !vm.treaty.treatyName.includes('DO NOT USE')) && (vm.flagReportingDueDate && vm.treaty.disabledTracking)">
          Tracking is disabled
        </md-tooltip>
        <md-tooltip md-direction="top" ng-show="vm.reportingConfirmDateFlag === undefined">
          You cannot add tracking records because the treaty must have at least one Ceding company for completion of date calculations.
        </md-tooltip>
        <md-tooltip md-direction="top" ng-show="(vm.treaty.agreementType.name !== 'Retro – Internal' && !vm.treaty.treatyName.includes('DO NOT USE')) && (!vm.flagReportingDueDate && vm.treaty.disabledTracking)">
          Reporting Due or Settlement Due Information
          <br/> is not complete and Tracking is disabled
        </md-tooltip>
      </button>

      <!--<button id="noCompleteTracking" class="btn rga-button" ng-show="!vm.flagReportingDueDate" disabled>-->
      <!--<span class="glyphicon glyphicon-plus"></span>-->
      <!--<span   uib-tooltip='Reporting Due or Settlement Due Information is not complete'  class="hidden-xs">New Tracking</span>-->
      <!--</button>-->
      <button id="backToTreatyDeal" type="submit" ui-sref="treaty-deal({dealId:vm.dealId})" class="step2 btn rga-button-inverse">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Treaty List
      </button>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-4 step3">
          <div class="form-group col-sm-6">
            <label class="control-label">Rpt Period Start</label>
            <br>
            <div class="input-group">
              <input type="text" class="form-control" name="searchStartDate" onkeyup=" this.value = dateMaskYM(this.value);" maxlength="10"
                placeholder="YYYY-MM" uib-datepicker-popup="{{vm.format}}" datepicker-options="vm.dateOptions" ng-model="vm.searchStartDate"
                is-open="vm.datePickerOpenStatus.searchStartDate" />
              <span class="input-group-btn">
                <button id="calendarSearch" type="button" class="btn btn-default" ng-click="vm.openCalendar('searchStartDate')">
                  <em class="glyphicon glyphicon-calendar"></em>
                </button>
              </span>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label">Rpt Period End</label>
            <br>
            <div class="input-group">
              <input type="text" class="form-control" name="searchEndDate" onkeyup=" this.value = dateMaskYM(this.value);" maxlength="10"
                placeholder="YYYY-MM" uib-datepicker-popup="{{vm.format}}" datepicker-options="vm.dateOptions" ng-model="vm.searchEndDate"
                is-open="vm.datePickerOpenStatus.searchEndDate" />
              <span class="input-group-btn">
                <button id="calendarSearchEnd" type="button" class="btn btn-default" ng-click="vm.openCalendar('searchEndDate')">
                  <em class="glyphicon glyphicon-calendar"></em>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div align="left" class="step4 form-group col-sm-7">
          <label class="control-label">&nbsp;</label>
          <br>
          <button id="filter" ng-disabled="vm.searchEndDate==null || vm.searchStartDate==null" class="btn rga-button" ng-click="vm.searchDates()">
            <span class="glyphicon glyphicon-filter"> </span>&nbsp;Filter
          </button>
          <!--
          <button ng-disabled="true" class="btn rga-button">
            <span class="glyphicon glyphicon-filter"> </span>&nbsp;Filter
          </button> -->
          <button id="clearFilter" class="btn rga-button" ng-click="vm.reset()">
            <span class="glyphicon glyphicon-remove"> </span>&nbsp;Clear Filter
          </button>
        </div>
        <label class="control-label">&nbsp;</label>
        <br>
        <div ng-show="vm.deleteMultipleTracking.length>1" align="right" ng-click="vm.deleteMultiple()" class="form-group col-sm-1">
          <button id="delete" class="btn rga-button"> Delete</button>
        </div>
      </div>
    </div>
    <table class="step5 jh-table table table-striped">
      <thead class="rga-thead">
        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
          <th jh-sort-by="reportingMonthYear">
            <span>Reporting Year/Quarter</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>
          <th jh-sort-by="reportingMonthYear">Reporting Month
            <span class="glyphicon glyphicon-sort"></span>
          </th>
          <th jh-sort-by="currency.code">Currency
            <span class="glyphicon glyphicon-sort"></span>
          </th>
          <th jh-sort-by="reportingReceivedDate">
            <span translate="finreApp.treatyTracking.reportingReceivedDate"></span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>
          <th jh-sort-by="cashSentRecDate">
            <span translate="finreApp.treatyTracking.cashSentRecDate"></span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>
          <th jh-sort-by="trackingStatus">
            <span translate="finreApp.treatyTracking.trackingStatus">trackingStatus</span>
            <span class="glyphicon glyphicon-sort"></span>
          </th>
          <th align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Delete Multiples
            <input align="right" ng-model="vm.deleteFlag" type="checkbox" ng-change="vm.deleteFlagChange()"
            />
          </th>
          <th></th>
        </tr>

      </thead>
      <tbody>
        <tr ng-repeat="treatyTracking in vm.treatyTrackings track by treatyTracking.id" class="cursor-pointer">
          <td ui-sref="treaty-tracking-detail({dealId:vm.dealId, treatyId:vm.treatyId,id:treatyTracking.id})">
            {{treatyTracking.quarter}}
          </td>
          <td ui-sref="treaty-tracking-detail({dealId:vm.dealId, treatyId:vm.treatyId,id:treatyTracking.id})">
            {{treatyTracking.month}}
          </td>
          <td ui-sref="treaty-tracking-detail({dealId:vm.dealId, treatyId:vm.treatyId,id:treatyTracking.id})">
            {{treatyTracking.currency.code}}
          </td>
          <td ui-sref="treaty-tracking-detail({dealId:vm.dealId, treatyId:vm.treatyId,id:treatyTracking.id})">
            {{treatyTracking.reportingReceivedDate}}
          </td>
          <td ui-sref="treaty-tracking-detail({dealId:vm.dealId, treatyId:vm.treatyId,id:treatyTracking.id})">
            {{treatyTracking.cashSentRecDate}}
          </td>
          <td ui-sref="treaty-tracking-detail({dealId:vm.dealId, treatyId:vm.treatyId,id:treatyTracking.id})">
            {{treatyTracking.trackingStatus}}
          </td>
          <td class="text-left">
            <div ng-show="!vm.deleteFlag" class="step6 btn-group flex-btn-group-container form-group">
              <button ng-class="{'disabled':vm.treaty.disabledTracking}" ng-show="!vm.deleteFlag" type="submit" ng-click="vm.linkToEditPage(treatyTracking.id)"
                class="btn btn-default rga-font">
                <md-tooltip md-direction="top" ng-show="vm.treaty.disabledTracking">You cannot edit tracking records on
                  <br/>this treaty because tracking is disabled</md-tooltip>
                <md-tooltip md-direction="top" ng-show="!vm.treaty.disabledTracking">Edit Tracking Record</md-tooltip>
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button ng-show="!vm.deleteFlag" type="submit" ui-sref="treaty-tracking-all.delete({dealId:vm.dealId, treatyId:vm.treatyId,id:treatyTracking.id})"
                class="btn btn-default rga-font" uib-tooltip="Delete">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
            <div ng-show="vm.deleteFlag" class="btn-group flex-btn-group-container form-group">
              <input class="form-control inputCheck" ng-model="treatyTracking.checked" ng-click="vm.forDelete(treatyTracking)" type="checkbox"
              />
            </div>
          </td>

          <td>
            <button uib-tooltip="Close & Generate Next Record" ng-click="vm.closeTracking(treatyTracking)" ng-show="treatyTracking.reportingReceivedDate!=null && treatyTracking.cashUploadDate!=null && treatyTracking.trackingStatus=='Open' && treatyTracking.cashDueFlag=='Yes' && treatyTracking.cashSentRecDate!=null && ((treatyTracking.confirmationReceivedDate!= null || treatyTracking.flagEmailRec==1) && (treatyTracking.emailDate!= null || treatyTracking.flagEmail==1) )"
              class="btn btn-default rga-font"> Close
            </button>
            <button uib-tooltip="Close & Generate Next Record" ng-click="vm.closeTracking(treatyTracking)" ng-show="treatyTracking.reportingReceivedDate!=null && treatyTracking.cashUploadDate!=null && treatyTracking.trackingStatus=='Open' && treatyTracking.cashDueFlag=='No' && ((treatyTracking.confirmationReceivedDate!= null || treatyTracking.flagEmailRec==1) && (treatyTracking.emailDate!= null || treatyTracking.flagEmail==1) )"
              class="btn btn-default rga-font"> Close
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="vm.totalItems!=0" class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    <uib-pagination class="step7 pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
  </div>

  <div ng-if="vm.totalItems==0" class="text-center">
    <div id="noPages" class="text-center"> Showing 0 - 0 of 0 items.</div>
    <uib-pagination class="step7 pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
  </div>

</div>
