<ul class="nav nav-pills nav-justified">
  <li role="presentation" class=""><a id="treatyDetailTab"  ui-sref="treaty-detail({id:vm.treatyId,dealId:vm.dealId})">Treaty</a></li>
  <li role="presentation" class=""><a id="contactCompanyTab" ui-sref="contacts-company-detail({id:vm.treatyId,dealId:vm.dealId})">Companies & Contacts</a></li>
  <li role="presentation" class="current"><a id="treatyTrackingTab" ui-sref="treaty-tracking-all({treatyId:vm.treatyId,dealId:vm.dealId})">Treaty Tracking</a></li>
  <li role="presentation" class=""><a id="TransactionTab" ui-sref="treaty-transaction-cash({id:vm.treatyId,dealId:vm.dealId})">Cash Transactions</a></li>
  <li role="presentation" class=""><a id="amendmentsTab" ui-sref="treaty-amendments-all({treatyId:vm.treatyId,dealId:vm.dealId})">Amendments</a></li>
</ul>
<div class="panel ">
  <div class="panel-heading rga-header">
    <div class="row">
      <div class="form-group col-sm-12">
        <div class="col-md-4"> <br>
          <button ng-class="{'disabled':vm.treaty.disabledTracking}"
                  type="submit" ng-click="vm.linkToEditPage()"
                  class="btn btn-default rga-button">
            <md-tooltip md-direction="top" ng-show="vm.treaty.disabledTracking">You cannot edit this tracking record
              <br/> because tracking is disabled on this treaty</md-tooltip>
            <md-tooltip md-direction="top" ng-show="!vm.treaty.disabledTracking">Edit Tracking Record</md-tooltip>
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button id="backToTracking" type="submit"
                  ui-sref="treaty-tracking-all({treatyId:vm.treatyId,dealId:vm.dealId})"
                  class="btn rga-button">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Back to Tracking List
          </button>
        </div>
         <div class="col-sm-8">
      <h3 class="rga-right"><strong class="rga-font fa">
        {{vm.treaty.deal.name}}  - {{vm.treaty.agreementType.name}} - {{vm.treaty.productStructure.name}} - {{vm.treaty.treatyName}}</strong></h3>
        </div>
      </div>

    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="form-group col-sm-9">
        <h4 class="form-group">
          <strong ng-if="!vm.treaty.reportingDueDate.dayType.includes('On')">Reporting Due: {{vm.treaty.reportingFrequency.name}} - {{vm.treaty.reportingDueDate.numberOfDays}}  {{vm.treaty.reportingDueDate.dayType}}  {{vm.treaty.reportingDueDate.period}} </strong>
          <strong ng-if="vm.treaty.reportingDueDate.dayType.includes('On')">Reporting Due: {{vm.treaty.reportingFrequency.name}} - {{vm.treaty.reportingDueDate.dayType}}  {{vm.treaty.reportingDueDate.period}} </strong></h4></strong>
        </h4>
      </div>
      <div class="col-sm-3">
        <h4 class="form-group"><strong>
        Status: {{vm.treatyTracking.trackingStatus}}
        </strong>  </h4>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-2">
        <label class="control-label" translate="finreApp.treatyTracking.reportingPeriod">reportingPeriod</label>
        <p>&nbsp;</p>
        <input type="text" class="form-control" ng-model="vm.treatyTracking.reportingPeriod" readonly/>
      </div>
      <div class="form-group col-sm-2">
        <label class="control-label">Rpt Period End</label>
        <p>&nbsp;</p>
        <input type="text"  class="form-control" ng-model="vm.treatyTracking.reportingMonthYear" readonly/>
      </div>
      <div class="form-group col-sm-2">
        <label class="control-label">Currency</label>
        <p>&nbsp;</p>
       <input class="form-control" readonly ng-model="vm.treatyTracking.currency.code" />
        </select>
      </div>
      <div class="form-group col-sm-2">
        <label class="control-label">Cash Due</label>
        <p>&nbsp;</p>
        <!-- <md-switch class="md-switch"   aria-label="RGA Switch" disabled
                   ng-model="vm.treatyTracking.cashDueFlag"
                   aria-label="RGA Switch" ng-true-value="'Yes'" ng-false-value="'No'"
                   class="md-warn"
        >{{vm.treatyTracking.cashDueFlag}}
        </md-switch> -->
        <input ng-if="vm.treatyTracking.cashDueFlag!=='No'" class="form-control" ng-model="vm.treatyTracking.cashDueType" readonly />
        <input ng-if="vm.treatyTracking.cashDueFlag ==='No'" class="form-control" value="No Cash Due" readonly />
      </div>
      <div class="form-group col-md-4" ng-if="vm.treatyTracking.calculatedReportingDueYex==null && !vm.reportingQuarterFlag">
        <label class="control-label">Reporting Due Date</label><br>
        <p ng-if="!vm.treaty.reportingDueDate.dayType.includes('On')">{{vm.treaty.reportingFrequency.name}} -  {{vm.treaty.reportingDueDate.numberOfDays}}  {{vm.treaty.reportingDueDate.dayType}}  {{vm.treaty.reportingDueDate.period}}</p>
        <p ng-if="vm.treaty.reportingDueDate.dayType.includes('On')">{{vm.treaty.reportingFrequency.name}} -  {{vm.treaty.reportingDueDate.dayType}}  {{vm.treaty.reportingDueDate.period}}</p>
        <input type="text" class="form-control" ng-model="vm.treatyTracking.calculatedReportingDueDate" readonly>
      </div>
      <div class="form-group col-md-4" ng-if="vm.treatyTracking.calculatedReportingDueYex != null && vm.treaty.yearEndException=='Yes'">
        <label class="control-label">Reporting Due Date YX</label><br>
        <p ng-if="!vm.treaty.reportingDueYearEx.dayType.includes('On')">{{vm.treaty.reportingFrequency.name}} -  {{vm.treaty.reportingDueYearEx.numberOfDays}}  {{vm.treaty.reportingDueYearEx.dayType}}  {{vm.treaty.reportingDueYearEx.period}}</p>
        <p ng-if="vm.treaty.reportingDueYearEx.dayType.includes('On')">{{vm.treaty.reportingFrequency.name}} -  {{vm.treaty.reportingDueYearEx.dayType}}  {{vm.treaty.reportingDueYearEx.period}}</p>
        <input type="text" class="form-control" ng-model="vm.treatyTracking.calculatedReportingDueYex" readonly>
      </div>
    </div>
    <div class="row">

   
      <div class="form-group col-md-4" ng-if="vm.reportingQuarterFlag==true">
        <label class="control-label">Reporting Due Date Q-EX </label><br>
        <p ng-if="!vm.treaty.reportingDueQuarterEx.dayType.includes('On')">{{vm.treaty.reportingFrequency.name}} -  {{vm.treaty.reportingDueQuarterEx.numberOfDays}}  {{vm.treaty.reportingDueQuarterEx.dayType}}  {{vm.treaty.reportingDueQuarterEx.period}}</p>
        <p ng-if="vm.treaty.reportingDueQuarterEx.dayType.includes('On')">{{vm.treaty.reportingFrequency.name}} -  {{vm.treaty.reportingDueQuarterEx.dayType}}  {{vm.treaty.reportingDueQuarterEx.period}}</p>
        <input type="text" class="form-control" ng-model="vm.treatyTracking.calculatedReportingDueDate" readonly>
      </div>
      <div class="form-group col-md-4" ng-if="!vm.assumingFlagQuarter">
        <label class="control-label">Grace Per. Expiration - Assuming</label>
        <p ng-if="!vm.treaty.stmntDueAsmGracePeriod.dayType.includes('On')">{{vm.treaty.settlementFrequency.name}} - {{vm.treaty.stmntDueAsmGracePeriod.numberOfDays}}  {{vm.treaty.stmntDueAsmGracePeriod.dayType}}  {{vm.treaty.stmntDueAsmGracePeriod.period}}</p>
        <p ng-if="vm.treaty.stmntDueAsmGracePeriod.dayType.includes('On')">{{vm.treaty.settlementFrequency.name}} - {{vm.treaty.stmntDueAsmGracePeriod.dayType}}  {{vm.treaty.stmntDueAsmGracePeriod.period}}</p>
        <input type="text" class="form-control" ng-model="vm.treatyTracking.calculatedAssumingGraceDate" readonly>
      </div>
      <div class="form-group col-md-4" ng-if="vm.assumingFlagQuarter">
        <label class="control-label">Grace Per. Expiration - Assuming</label>
        <p ng-if="!vm.treaty.stmntDueAsmQuarterEx.dayType.includes('On')">{{vm.treaty.settlementFrequency.name}} - {{vm.treaty.stmntDueAsmQuarterEx.numberOfDays}}  {{vm.treaty.stmntDueAsmQuarterEx.dayType}}  {{vm.treaty.stmntDueAsmQuarterEx.period}}</p>
        <p ng-if="vm.treaty.stmntDueAsmQuarterEx.dayType.includes('On')">{{vm.treaty.settlementFrequency.name}} - {{vm.treaty.stmntDueAsmQuarterEx.dayType}}  {{vm.treaty.stmntDueAsmQuarterEx.period}}</p>
        <input type="text" class="form-control" ng-model="vm.treatyTracking.calculatedAssumingGraceDate" readonly>
      </div>
      <div class="form-group col-md-4" ng-if="!vm.cedingFlagQuarter">
        <label class="control-label">Grace Per. Expiration - Ceding</label>
        <p ng-if="vm.treatyTracking.calculatedCedingGraceDate===null">No Settlement Due - Ceding</p>
        <p ng-if="vm.treatyTracking.calculatedCedingGraceDate!==null && !vm.treaty.stmntDueCedGracePeriod.dayType.includes('On')">{{vm.treaty.stmntFrqncCeding.name}} - {{vm.treaty.stmntDueCedGracePeriod.numberOfDays}}  {{vm.treaty.stmntDueCedGracePeriod.dayType}}  {{vm.treaty.stmntDueCedGracePeriod.period}}</p>
        <p ng-if="vm.treatyTracking.calculatedCedingGraceDate!==null && vm.treaty.stmntDueCedGracePeriod.dayType.includes('On')">{{vm.treaty.stmntFrqncCeding.name}} -  {{vm.treaty.stmntDueCedGracePeriod.dayType}}  {{vm.treaty.stmntDueCedGracePeriod.period}}</p>
        <input  ng-if="vm.treatyTracking.calculatedCedingGraceDate!==null"  type="text" class="form-control" ng-model="vm.treatyTracking.calculatedCedingGraceDate" readonly>
        <input ng-if="vm.treatyTracking.calculatedCedingGraceDate===null" type="text" class="form-control" value="N/A" readonly>
      </div>
      <div class="form-group col-md-4" ng-if="vm.cedingFlagQuarter">
        <label class="control-label">Grace Per. Expiration - Ceding</label>
        <span ng-if="vm.treatyTracking.calculatedCedingGraceDate===null">No Settlement Due - Ceding</span>
        <p ng-if="vm.treatyTracking.calculatedCedingGraceDate===null">N/A</p>
        <p ng-if="vm.treatyTracking.calculatedCedingGraceDate!==null && !vm.treaty.stmntDueCedQuarterEx.dayType.includes('On')">{{vm.treaty.stmntFrqncCeding.name}} - {{vm.treaty.stmntDueCedQuarterEx.numberOfDays}}  {{vm.treaty.stmntDueCedQuarterEx.dayType}}  {{vm.treaty.stmntDueCedQuarterEx.period}}</p>
        <p ng-if="vm.treatyTracking.calculatedCedingGraceDate!==null && vm.treaty.stmntDueCedQuarterEx.dayType.includes('On')">{{vm.treaty.stmntFrqncCeding.name}} -  {{vm.treaty.stmntDueCedQuarterEx.dayType}}  {{vm.treaty.stmntDueCedQuarterEx.period}}   </p>
        <input ng-if="vm.treatyTracking.calculatedCedingGraceDate!==null" type="text" class="form-control" ng-model="vm.treatyTracking.calculatedCedingGraceDate" readonly>
        <input ng-if="vm.treatyTracking.calculatedCedingGraceDate===null" type="text" class="form-control" value="N/A" readonly>

      </div>
      <div class="form-group col-md-4" ng-if="vm.treatyTracking.brokerFeeDueDate" >
        <label class="control-label">Broker Fee Due Date</label><br>
          {{vm.treaty.settlementFrequency.name}} - {{vm.treaty.stmntDueAsmBroker.numberOfDays}} {{vm.treaty.stmntDueAsmBroker.dayType}} {{vm.treaty.stmntDueAsmBroker.period}}
            <p translate="finreApp.treatyTracking.{{vm.brokerFeeEntity.period}}"></p>
          <input type="text" class="form-control" ng-model="vm.treatyTracking.brokerFeeDueDate" readonly>
      </div>
      <div class="form-group col-md-4" ng-if="!vm.treatyTracking.brokerFeeDueDate" >
        <label class="control-label">Broker Fee Due Date</label>
        <p >No Broker Fee Due</p>
        <input readonly class="form-control" value="N/A">
      </div>
      <div class="form-group col-md-4">
        <label class="control-label" translate="finreApp.treatyTracking.reportingReceivedDate">Reporting Rec'd/Sent Date</label>
        <input type="text" class="form-control " name="reportingReceivedDate" ng-model="vm.treatyTracking.reportingReceivedDate" readonly>
      </div>
      <div class="form-group col-md-4">
        <label class="control-label" translate="finreApp.treatyTracking.cashSentRecDate">Cash Sent/Rec'd Date</label>
        <input type="text" class="form-control" ng-model="vm.treatyTracking.cashSentRecDate" readonly>
      </div>
      <div class="form-group col-md-4" ng-if="vm.treaty.agreementType.name!=='Retro – External'">
        <label class="control-label" translate="finreApp.treatyTracking.cashUploadDate">Cash Upload Date</label>
        <input type="text" class="form-control" name="cashUploadDate" ng-model="vm.treatyTracking.cashUploadDate" readonly>
      </div>
      <div class="form-group col-md-4" ng-if="vm.treatyTracking.calculatedSeriatimDueDate" >
        <label class="control-label">Seriatim Due Date</label>
        <input class="form-control" readonly ng-model="vm.treatyTracking.calculatedSeriatimDueDate"
               uib-tooltip="{{vm.seriatimDueDate.frequency.name}} -  {{vm.seriatimDueDate.numberOfDays}} {{vm.seriatimDueDate.dayType}} {{vm.seriatimDueDate.period}}"
        >
      </div>
      <div class="form-group col-md-4" ng-if="!vm.treatyTracking.calculatedSeriatimDueDate" >
        <label class="control-label">Seriatim Due Date</label>
        <input readonly class="form-control" value="No Seriatim Due">
      </div>
      <div class="form-group col-md-4" ng-if="vm.treatyTracking.calculatedSeriatimDueDate" >
        <label class="control-label">Seriatim Recieved Date</label>
        <input class="form-control" readonly ng-model="vm.treatyTracking.seriatimReceivedDate" />
      </div>
      <div class="form-group col-md-4">
        <label class="control-label"> Stat. Est. to Finance Date </label>
          <input  type="text" class="form-control" name="financeDate"
                  ng-model="vm.financeDate"
                  readonly/>
      </div>
      <div class="form-group col-md-4" ng-if="vm.treaty.agreementType.name!=='Retro – External'">
        <label class="control-label" translate="finreApp.treatyTracking.reportingValidationDate">reportingValidationDate</label>
        <input class="form-control" name="reportingValidationDate" readonly ng-model="vm.reportingValidationDate"/>
      </div>
      <div class="form-group col-md-4" ng-if="vm.treaty.agreementType.name!=='Retro – External'">
        <label class="control-label" > Report to RM Date </label>
          <input  type="text" class="form-control" name="reportArmDate" ng-model="vm.reportArmDate" readonly/>
      </div>
      <div class="form-group col-md-4">
        <label class="control-label"> Reporting Revised </label>
        <input  type="text" class="form-control" name="financeDate" uib-tooltip="Refer to Deal Tracking"
                ng-model="vm.reportingRevisedFlag"
                readonly/>

      </div>
      <div class="form-group col-md-4">
      <label class="control-label"> Password </label>
      <input  type="text" class="form-control" name="financeDate" uib-tooltip="Refer to Deal Tracking"
              ng-model="vm.password"
              readonly/> </div>
      <div class="form-group col-md-4" >
        <strong uib-tooltip="Reporting Confirmed Date">Conf. Email Rec'd Date</strong>
        <input  ng-if="vm.treatyTracking.flagEmailRec===1" class="form-control" readonly value="N/A">
        <input ng-if="vm.treatyTracking.flagEmailRec===0"  type="text" class="form-control" name="confirmationReceivedDate"
              ng-model="vm.treatyTracking.confirmationReceivedDate" readonly/>
  </div>
      <div class="form-group col-md-4">
          <strong translate="finreApp.treatyTracking.emailSentDate"></strong>
          <input ng-hide="vm.treatyTracking.flagEmail===0" readonly class="form-control" value="N/A">
          <input ng-hide="vm.treatyTracking.flagEmail===1" type="text" class="form-control" name="emailDate"
                  ng-model="vm.treatyTracking.emailDate" readonly/>
        </div>
      <div class="form-group col-sm-12">
      <label class="control-label" translate="finreApp.treatyTracking.comments">Comments</label>
      <textarea type="text" class="form-control" ng-model="vm.treatyTracking.comments"  readonly></textarea>
    </div>

  </div>
</div>
</div>
