<form name="deleteForm" ng-submit="vm.confirmDelete(vm.treatyTracking.id)">
  <div class="modal-header">
    <button id="confirmDelete" type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
  </div>
  <div class="modal-body">

    <p ng-show="vm.flagTransactions==0" translate="finreApp.treatyTracking.delete.question" translate-values="{id: '{{vm.treatyTracking.id}}'}">Are you
      sure you want to delete this TreatyTracking?</p>

    <p ng-show="vm.flagTransactions!=0"
       translate-values="{id: '{{vm.treatyTracking.id}}'}">You cannot delete this tracking record because it is linked to one or multiple transaction.</p>
  </div>
  <div class="modal-footer">
    <button id="cancelTracking" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button id="deleteTracking" type="submit" ng-show="vm.flagTransactions==0" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
