<!--div ng-switch="vm.isAuthenticated()"-->
<div ng-switch="true">
  <div class="panel panel-default-notifications" ng-switch-when="true">
    <div class="rga-well rga-font ">
      <h4>
        <strong> Hello, {{vm.account.firstName}} {{vm.account.lastName}}! Welcome to FAST !!! </strong>
      </h4>
    </div>

    <intro-button options="vm.introOptions" />

    <div class="homeStep1 panel-body">
      <!------------------- DASHBOARD NOTIFICATIONS  -------------------------->
      <uib-accordion close-others="oneAtATime">

        <!------------------- TREATIES NOTIFICATIONS --------------------- -->
        <uib-accordion-group class="panel panel-default-notifications" is-open="treaty.open" ng-show="vm.authority==='ROLE_APP_FINRE_OPS_ADMIN' && vm.countTreaty > 0">
          <uib-accordion-heading>
            <div class="accordion-header">{{vm.countTreaty}} Completed Treaties in "Pending" Status
              <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': treaty.open, 'glyphicon-triangle-right': !treaty.open}"></em>
            </div>
          </uib-accordion-heading>
          <uib-accordion-group ng-show="gfAssigne.treaty.length>0" ng-repeat="gfAssigne in vm.completeTreatyNotify" class="panel panel-default-notifications"
            is-open="gfAssigne.status">
            <uib-accordion-heading>
              <div class="accordion-header">{{gfAssigne.treaty.length }} Completed Treaties in "Pending" Status. {{gfAssigne.name}}

              </div>
            </uib-accordion-heading>
            <uib-alert ng-repeat="notify in gfAssigne.treaty" type="success">
              <strong>Note!</strong> A treaty has been completed.
              <a ui-sref="treaty-detail.edit-detail({id:notify.id, dealId:notify.deal.id, hash:'generalInfo'})">{{notify.deal.name}} - {{notify.agreementType.name}} - {{notify.productStructure.name}} - {{notify.treatyName}}
                </a>
            </uib-alert>
          </uib-accordion-group>
        </uib-accordion-group>

        <!------------------- DELETED TRANSACTION NOTIFICATIONS  JUST ADMIN --------------------- -->
        <uib-accordion-group class="panel panel-default-notifications" is-open="transaction.open" ng-show="vm.authority==='ROLE_APP_FINRE_OPS_ADMIN' && vm.countTransaction > 0">
          <uib-accordion-heading>
            <div class="accordion-header">{{vm.countTransaction}} Deleted Actual Transactions
              <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': treaty.open, 'glyphicon-triangle-right': !transaction.open}"></em>
            </div>
          </uib-accordion-heading>
          <uib-accordion-group ng-show="gfAssigne.transactions.length>0" ng-repeat="gfAssigne in vm.deletedTransaction" class="panel panel-default-notifications"
            is-open="gfAssigne.status">
            <uib-accordion-heading>
              <div class="accordion-header">{{gfAssigne.transactions.length}} Actual Transactions, assigned to {{gfAssigne.name}}, have been deleted</div>
            </uib-accordion-heading>
            <uib-alert ng-repeat="notify in gfAssigne.transactions" type="warning" close="vm.closeDeleteTransactionNotification(notify,gfAssigne,$index)"
              ng-hide="notify.hide">
              <strong>Treaty:</strong>
              {{notify.treaty.deal.name}} - {{notify.treaty.agreementType.name}} - {{notify.treaty.productStructure.name}} - {{notify.treaty.treatyName}}
              <br>
              <strong>Transaction:</strong> Settlement Date: {{notify.settlementDate}} - Original Amount: {{notify.netTotal | currency}} -
              <strong>Deleted By:</strong> {{notify.lastUserFullname}} -
              <strong>Deleted Reason:</strong> {{notify.deleteReason}}</a>
            </uib-alert>
          </uib-accordion-group>
        </uib-accordion-group>

        <!------------------- AMENDMENT NOTIFICATIONS --------------------- -->
        <uib-accordion-group ng-show="vm.countAmendments > 0 && vm.authority==='ROLE_APP_FINRE_OPS_ADMIN'" class="panel panel-default-notifications"
          is-open="amend.open">
          <uib-accordion-heading>
            <div class="accordion-header">{{vm.countAmendments}} New or Modified Amendments
              <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': amend.open, 'glyphicon-triangle-right': !amend.open}"></em>
            </div>
          </uib-accordion-heading>
          <uib-accordion-group ng-show="gfAssigne.amendment.length>0" ng-repeat="gfAssigne in vm.AmendmentNotify  | orderBy: 'name'"
            class="panel panel-default-notifications" is-open="gfAssigne.status">
            <uib-accordion-heading>
              <div class="accordion-header">{{gfAssigne.amendment.length }} New or Modified Amendments. {{gfAssigne.name}}

              </div>
            </uib-accordion-heading>

            <uib-alert ng-repeat="notify in gfAssigne.amendment |orderBy: 'treaty.deal.name'" type="success">
              <strong>Note!</strong> You have a new amendment to review for
              <a ui-sref="treaty-amendments-all.edit({id:notify.id, treatyId: notify.treaty.id ,dealId: notify.treaty.deal.id})">{{notify.treaty.deal.name}} - {{notify.treaty.agreementType.name}} - {{notify.treaty.productStructure.name}}
                - {{notify.treaty.treatyName}} - {{notify.amendmentName}}
                <strong>Change Date: {{notify.lastUpdate | date:'yyyy-MM-dd'}} </strong>
              </a>
            </uib-alert>
          </uib-accordion-group>
        </uib-accordion-group>
        <!------------------- SETTLEMENT DATE NOTIFICATIONS --------------------- -->
        <uib-accordion-group ng-show="vm.countAsuming>0" class="panel panel-default-notifications" is-open="settle.open">
          <uib-accordion-heading>
            <div class="accordion-header">{{vm.countAsuming}} Settlements Due / Past Due (Assuming Only).
              <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': settle.open, 'glyphicon-triangle-right': !settle.open}"></em>
            </div>
          </uib-accordion-heading>

          <uib-accordion-group ng-show="gfAssigne.dates.length>0|| gfAssigne.datesEX.length>0" ng-repeat="gfAssigne in vm.assumingDates"
            class="panel panel-default-notifications" is-open="gfAssigne.status">
            <uib-accordion-heading>
              <div class="accordion-header">{{gfAssigne.dates.length + gfAssigne.datesEX.length}} Settlements Due / Past Due. {{gfAssigne.name}}

              </div>
            </uib-accordion-heading>
            <uib-alert ng-repeat="notify in gfAssigne.dates" type="success">
              <strong>Note!</strong> You have a settlement (Assuming) that is almost past due.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">
                {{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - {{notify.calculatedAssumingGraceDate}} - {{notify.comments}}
              </a>
            </uib-alert>
            <uib-alert ng-repeat="notify in gfAssigne.datesEX" type="danger">
              <strong>Note!</strong> You have a settlement assuming due date that has passed.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">{{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - {{notify.calculatedAssumingGraceDate}}{{notify.comments
                ? ' - ' + notify.comments : ''}}</a>
            </uib-alert>
          </uib-accordion-group>
        </uib-accordion-group>

        <!------------------- REPORTING DUE NOTIFICATIONS --------------------- -->

        <!-------------------- NEW --------------------------------------------- -->
        <!-------------------- NEW 1 ------------------------------------------- -->


        <uib-accordion-group ng-show="vm.countSettlementAlmostPastDue > 0" class="panel panel-default-notifications" is-open="settlementAlmostPastDue.open">
          <uib-accordion-heading>
            <div class="accordion-header">{{vm.countSettlementAlmostPastDue}} Settlement{{vm.countSettlementAlmostPastDue > 1 ? 's' : ''}} Due
              <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': settlementAlmostPastDue.open, 'glyphicon-triangle-right': !settlementAlmostPastDue.open}"></em>
            </div>
          </uib-accordion-heading>
          <uib-accordion-group ng-show="gfAssigne.dates.length>0" ng-repeat="gfAssigne in vm.settlementAlmostPastDue" class="panel panel-default-notifications"
            is-open="gfAssigne.status">
            <uib-accordion-heading>
              <div class="accordion-header">{{gfAssigne.dates.length}} Settlement{{gfAssigne.dates.length > 1 ? 's' : ''}} for {{gfAssigne.name}}</div>
            </uib-accordion-heading>
            <uib-alert ng-repeat="notify in gfAssigne.dates" type="success">
              <strong>Note!</strong> You have a settlement due, to the {{notify.cashDueType}} company.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">{{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - {{notify.calculatedReportingDueDate}}{{notify.comments
                ? ' - ' + notify.comments : ''}}</a>
            </uib-alert>
          </uib-accordion-group>
        </uib-accordion-group>

        <!-------------------- NEW 1 --------------------------------------------->
        <!-------------------- NEW 2 ------------------------------------------- -->

        <uib-accordion-group ng-show="vm.countSettlementAlmostExpired > 0" class="panel panel-default-notifications" is-open="settlementAlmostExpired.open">
          <uib-accordion-heading>
            <div class="accordion-header">{{vm.countSettlementAlmostExpired}} Settlement{{vm.countSettlementAlmostExpired > 1 ? 's' : ''}} Past Due
              <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': settlementAlmostExpired.open, 'glyphicon-triangle-right': !settlementAlmostExpired.open}"></em>
            </div>
          </uib-accordion-heading>
          <uib-accordion-group ng-show="gfAssigne.dates.length>0" ng-repeat="gfAssigne in vm.settlementAlmostExpired" class="panel panel-default-notifications"
            is-open="gfAssigne.status">
            <uib-accordion-heading>
              <div class="accordion-header">{{gfAssigne.dates.length}} Settlement{{gfAssigne.dates.length > 1 ? 's' : ''}} Past Due for {{gfAssigne.name}}</div>
            </uib-accordion-heading>
            <uib-alert ng-repeat="notify in gfAssigne.dates" type="warning">
              <strong>Note!</strong> You have a settlement past due, to the {{notify.cashDueType}} company.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">{{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - {{notify.calculatedAssumingDate}}{{notify.comments
                ? ' - ' + notify.comments : ''}}</a>
            </uib-alert>
          </uib-accordion-group>
        </uib-accordion-group>

        <!-------------------- NEW 2 --------------------------------------------->
        <!-------------------- NEW 3 ------------------------------------------- -->

        <uib-accordion-group ng-show="vm.countSettlementExpired > 0" class="panel panel-default-notifications" is-open="settlementExpired.open">
          <uib-accordion-heading>
            <div class="accordion-header">{{vm.countSettlementExpired}} Settlement{{vm.countSettlementExpired > 1 ? 's' : ''}} with Expired Grace Periods
              <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': settlementExpired.open, 'glyphicon-triangle-right': !settlementExpired.open}"></em>
            </div>
          </uib-accordion-heading>
          <uib-accordion-group ng-show="gfAssigne.dates.length>0" ng-repeat="gfAssigne in vm.settlementExpired" class="panel panel-default-notifications"
            is-open="gfAssigne.status">
            <uib-accordion-heading>
              <div class="accordion-header">{{gfAssigne.dates.length}} Settlements with Expired Grace Period{{gfAssigne.dates.length > 1 ? 's' : ''}} for {{gfAssigne.name}}</div>
            </uib-accordion-heading>
            <uib-alert ng-repeat="notify in gfAssigne.dates" type="danger">
              <strong>Note!</strong> You have a settlement with an expired grace period, due to the {{notify.cashDueType}} company.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">{{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - <span ng-if="notify.cashDueType==='ASSUMING'">{{notify.calculatedAssumingGraceDate}}</span> <span ng-if="notify.cashDueType==='CEDING'">{{notify.calculatedCedingGraceDate}}</span> {{notify.comments
                ? ' - ' + notify.comments : ''}}</a>
            </uib-alert>
          </uib-accordion-group>


        </uib-accordion-group>
        <!-------------------- NEW 3 --------------------------------------------->

        <!-------------------- NEW --------------------------------------------- -->

        <!--  Start: Cleared Reporting Notifications  -->

        <uib-accordion-group  ng-show="vm.clearedReportingNotificationsCount>0" class="panel panel-default-notifications" is-open="clearedReporting.open">
          <uib-accordion-heading>
            <div class="accordion-header">{{vm.clearedReportingNotificationsCount}} Dismissed Reporting Past Due Notification{{vm.clearedReportingNotificationsCount > 1 ? 's' : ''}}
              <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': clearedReporting.open, 'glyphicon-triangle-right': !clearedReporting.open}"></em>
            </div>
          </uib-accordion-heading>
          <uib-accordion-group ng-show="gfAssigne.dates.length>0"
            ng-repeat="gfAssigne in vm.clearedReportingNotifications" class="panel panel-default-notifications" is-open="gfAssigne.status">
            <uib-accordion-heading>
              <div class="accordion-header">{{gfAssigne.dates.length}} Reporting Past Due Notification{{gfAssigne.dates.length > 1 ? 's':''}} was dismissed by {{gfAssigne.name}}

              </div>
            </uib-accordion-heading>
          <uib-alert ng-repeat="notify in gfAssigne.dates" type="danger">
              <strong>Note!</strong> A Reporting Past Due Notification has been marked for dismissal.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">{{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - {{notify.reportingMonthYear}} - {{notify.reportNotifReason}}</a>
              <button class="close" ng-click="vm.approveReportingNotificationClear(notify)">
                <span aria-hidden="true">×</span>
                <md-tooltip md-direction="top">Take Action</md-tooltip>
              </button>
            </uib-alert>
          </uib-accordion-group>
        </uib-accordion-group>

        <!--  End: Cleared Reporting Notifications  -->

        <uib-accordion-group ng-show="vm.countReortingDue>0" class="panel panel-default-notifications" is-open="reporting.open">
          <uib-accordion-heading>
            <div class="accordion-header">{{vm.countReortingDue}} Reporting Due / Past Due
              <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': reporting.open, 'glyphicon-triangle-right': !reporting.open}"></em>
            </div>
          </uib-accordion-heading>
          <uib-accordion-group ng-show="gfAssigne.dates.length>0|| gfAssigne.datesEX.length>0 || gfAssigne.datesExpGracePeriod.length>0 || gfAssigne.datesExpCashDueNo.length>0 || gfAssigne.datesExpCashDueYesNoGracePeriod.length>0"
            ng-repeat="gfAssigne in vm.expirationReportingDue" class="panel panel-default-notifications" is-open="gfAssigne.status">
            <uib-accordion-heading>
              <div class="accordion-header">{{gfAssigne.dates.length + gfAssigne.datesEX.length + gfAssigne.datesExpGracePeriod.length + gfAssigne.datesExpCashDueNo.length  + gfAssigne.datesExpCashDueYesNoGracePeriod.length}} Reporting Due / Past Due for {{gfAssigne.name}}

              </div>
            </uib-accordion-heading>


            <uib-alert ng-repeat="notify in gfAssigne.datesExpCashDueNo" type="danger" close="vm.closeReporting(notify)">
              <strong>Note!</strong> Reporting is Past Due, but No Cash is due.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">{{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - {{notify.calculatedReportingDueDate}}{{notify.comments
                ? ' - ' + notify.comments : ''}}</a>
            </uib-alert>
            <uib-alert ng-repeat="notify in gfAssigne.datesExpCashDueYesNoGracePeriod" type="danger" close="vm.closeReporting(notify)">
              <strong>Note!</strong> Reporting is Past Due, but Settlement Due/Past Due date cannot be calculated, as the required dates have not yet been populated.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">{{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - {{notify.calculatedReportingDueDate}}{{notify.comments
                ? ' - ' + notify.comments : ''}}</a>
            </uib-alert>

            <uib-alert ng-repeat="notify in gfAssigne.datesExpGracePeriod" type="danger" close="vm.closeReporting(notify)">
              <strong>Note!</strong> You have a reporting due date with an expired grace period.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">{{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - {{notify.calculatedAssumingGraceDate}}{{notify.comments
                ? ' - ' + notify.comments : ''}}</a>
            </uib-alert>
            <uib-alert ng-repeat="notify in gfAssigne.dates" type="warning" close="vm.closeReporting(notify)">
              <strong>Note!</strong> You have a reporting due date that is past due.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">{{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - {{notify.calculatedReportingDueDate}}{{notify.comments
                ? ' - ' + notify.comments : ''}}</a>
            </uib-alert>

            <uib-alert ng-repeat="notify in gfAssigne.datesEX" type="success">
              <strong>Note!</strong> You have a reporting due date that is due.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">{{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - {{notify.calculatedReportingDueDate}}{{notify.comments
                ? ' - ' + notify.comments : ''}}</a>
            </uib-alert>
          </uib-accordion-group>


        </uib-accordion-group>

        <!------------------- SERIATIM NOTIFICATIONS --------------------- -->
        <uib-accordion-group ng-show="vm.countSeriatim>0" class="panel panel-default-notifications" is-open="seriatim.open">
          <uib-accordion-heading>
            <div class="accordion-header">{{vm.countSeriatim}} Seriatim Due / Past Due
              <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': seriatim.open, 'glyphicon-triangle-right': !seriatim.open}"></em>
            </div>
          </uib-accordion-heading>
          <uib-accordion-group ng-show="gfAssigne.dates.length>0|| gfAssigne.datesEX.length>0" ng-repeat="gfAssigne in vm.seriatimDates"
            class="panel panel-default-notifications" is-open="gfAssigne.status">

            <uib-accordion-heading>
              <div class="accordion-header">{{gfAssigne.dates.length + gfAssigne.datesEX.length}} Seriatim Due / Past Due for {{gfAssigne.name}}

              </div>
            </uib-accordion-heading>
            <uib-alert ng-repeat="notify in gfAssigne.dates" type="success">
              <strong>Note!</strong> You have a Seriatim due that is almost past due.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">{{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - {{notify.calculatedSeriatimDueDate}}{{notify.comments
                ? ' - ' + notify.comments : ''}}</a>
            </uib-alert>
            <uib-alert ng-repeat="notify in gfAssigne.datesEX" type="danger">
              <strong>Note!</strong> You have a Seriatim due date that has passed.
              <a ui-sref="treaty-tracking-detail({dealId:notify.treaty.deal.id, treatyId:notify.treaty.id,id:notify.id})">{{notify.treaty.deal.name}} - {{notify.treaty.treatyName}} - {{notify.calculatedSeriatimDueDate}}{{notify.comments
                ? ' - ' + notify.comments : ''}}</a>
            </uib-alert>
          </uib-accordion-group>
        </uib-accordion-group>

      </uib-accordion>
    </div>
  </div>
</div>
