<ul class="nav nav-pills nav-justified">
  <li role="presentation" class=""><a id="dealDetail" ui-sref="deal-detail({dealId:vm.dealId, page:vm.page})">Deal Details</a></li>
  <li role="presentation" class="current"><a id="treatiesTracking" ui-sref="treaty-deal({dealId:vm.dealId, page:vm.page})">Treaties & Tracking</a></li>
  <li role="presentation" class=""><a ui-sref="treaty-transaction-relief({dealId:vm.dealId, page:vm.page})">Relief Transactions</a></li>
  <li ng-show="vm.deal.productSubtype.name=='Structured'" role="presentation" class="">
    <a ui-sref="structured-finance.deal({dealId:vm.dealId})">Structured Finance</a>
  </li>
</ul>
<div class="panel align-right">
  <div class="panel-heading rga-header">
    <div class="row">
      <div class="col-sm-2">
        <h5><label class="control-label" > Deal Name </label><br>
          {{ vm.deal.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Product Line</label> <br>
          {{ vm.deal.productLine.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label" >Product Subtype</label><br>
          {{vm.deal.productSubtype.name}}</h5>
      </div>
      <div class="col-sm-3">
        <h5><label class="control-label" >Effective Date</label><br>
          {{vm.deal.effectiveDate|date: 'mediumDate'}} </h5>
      </div>
      <div class="col-sm-3">
        <h5><label class="control-label" >GFS Assignee</label><br>
          {{vm.deal.gfsAssignee.firstName }}  {{vm.deal.gfsAssignee.lastName }} </h5>
      </div>
    </div>
  </div>

  <p></p>
  <div class="row">
    <div class="form-group col-md-10 col-md-offset-1">
      <md-toolbar layout="row" class="md-primary md-hue-2">
        <div class="md-toolbar-tools rga-list-color-light">
          <div class="form-group col-md-10 md-top">Treaties & Tracking Records</div>
          <a
            uib-tooltip="You cannot add treaty to this deal if the Deal status is Terminated."
            ng-show="vm.deal.dealStatus==='Terminated'" ng-disabled="true"
                 type="button" class="btn rga-button">
              <span class="glyphicon glyphicon-plus"></span>
              <span> New Treaty </span>
            </a>&nbsp;
          <button id="newTreatyNoTerminated" ng-show="vm.deal.dealStatus !== 'Terminated'"
                  type="button" class="btn rga-button"
                  ui-sref="deal-treaty-tracking.new({dealId:vm.dealId})">
            <span class="glyphicon glyphicon-plus"></span>
            <span> New Treaty </span>
          </button>&nbsp;

        </div>
      </md-toolbar>
      <md-list ng-cloak>
        <md-list-item>
          <table class="table table-grey">
            <tbody ng-repeat="treaty in vm.deal.treaties">
            <tr class="success">
              <td><strong class="fa fa-gavel fa-lg"></strong></td>
              <td><a ui-sref="treaty-detail({id:treaty.id,dealId:vm.dealId})">{{treaty.deal.name}}  - {{treaty.agreementType.name}} - {{treaty.productStructure.name}} - {{treaty.treatyName}}</a></td>
              <td>{{treaty.treatyStatus.name}}</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <table class="table table-bordered">
                  <tbody ng-repeat="treatyTracking in treaty.treatyTrackings |orderBy:'-reportingReceivedDate'| orderBy:'-quarter'">
                  <tr class="warning">
                    <td><strong class="fa fa-calendar fa-lg"></strong></td>
                    <td><a ui-sref="treaty-tracking-detail({dealId:vm.dealId,id:treatyTracking.id, treatyId:treaty.id })">Reporting Year/Quarter: {{treatyTracking.quarter}}</a></td>
                    <td>{{treatyTracking.trackingStatus}}</td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>
