<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="step1 current">
    <a id="dealDetail" ui-sref="deal-detail({dealId:vm.dealId, page:vm.page})">Deal Details</a>
  </li>
  <li role="presentation" class="">
    <a id="dealTracking" ui-sref="deal-tracking({dealId:vm.dealId})">Deal Tracking</a>
  </li>
  <li role="presentation" class="">
    <a id="treatiesDeal" ui-sref="treaty-deal({dealId:vm.dealId, page:vm.page})">Treaties & Tracking</a>
  </li>
  <li role="presentation" class="">
    <a id="reliefLink" ui-sref="treaty-transaction-relief({dealId:vm.dealId, page:vm.page})">Relief Transactions</a>
  </li>
  <li ng-show="vm.deal.productSubtype.name=='Structured'" role="presentation" class="">
    <a id="structureLink" ui-sref="structured-finance.deal({dealId:vm.dealId})">Structured Finance</a>
  </li>
</ul>
<intro-button options="vm.introOptions" />
<div class="panel panel-default">
  <div class="step2 panel-heading">
    <div class="row">
      <div class="col-sm-2">
        <h5>
          <label class="control-label"> Deal Name </label>
          <br> {{ vm.deal.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Deal Type</label> <br> {{ vm.deal.dealType.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5>
          <label class="control-label">Product Line</label>
          <br> {{ vm.deal.productLine.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5>
          <label class="control-label">Product Subtype</label>
          <br> {{vm.deal.productSubtype.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5>
          <label class="control-label">Effective Date</label>
          <br> {{vm.deal.effectiveDate|date: 'mediumDate'}} </h5>
      </div>
      <div class="col-sm-2">
        <h5>
          <label class="control-label">GFS Assignee</label>
          <br> {{vm.deal.gfsAssignee.firstName }} {{vm.deal.gfsAssignee.lastName }} </h5>
      </div>
    </div>
  </div>
  <div class="panel-body row">
    <div class="form-group col-md-10 col-md-offset-1">

      <div class="row">
        <div class="col-sm-1 col-xs-2">
          <button id="dealEdit" type="submit" ui-sref="deal-detail.editDetail({dealId:vm.deal.id})" class="step3 btn rga-button">
            <span class="glyphicon glyphicon-pencil"></span>
            <md-tooltip md-direction="top">
              Edit Deal
            </md-tooltip>
          </button>
        </div>
        <div class="col-sm-11 col-xs-10">
          <label id="deal-status" class="step4 control-label">
            <strong> Deal Status:</strong> {{vm.deal.dealStatus}}</label>
        </div>
      </div>
      <br/>
      <div class="col-xs-12 step5 no-padding-right no-padding-left">
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.deal.clientDealName">clientDealName</label>
            <input class="form-control" ng-model="vm.deal.clientDealName" readonly/>
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label">Year End Month</label>

            <input class="form-control" ng-model="vm.deal.yearEndMonth" readonly/>
          </div>
          <!-- <div class="form-group col-sm-2">
            <label class="control-label">Year End Day</label>
            <input class="form-control" ng-model="vm.deal.yearEndDay" readonly/>
          </div> -->
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.country.$invalid}">
            <label class="control-label" translate="finreApp.deal.country">Country</label>
            <input class="form-control" ng-model="vm.deal.country.name" readonly/>
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.deal.region">Region</label>
            <input class="form-control" ng-model="vm.deal.country.region" readonly/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.deal.eucSignificance">EucSignificance</label>
            <input class="form-control" readonly ng-model="vm.deal.eucSignificance.name" />
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.deal.eucComplexity">EucComplexity</label>
            <input class="form-control" readonly ng-model="vm.deal.eucComplexity.name" />
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.deal.eucRisk">EucRisk</label>
            <input class="form-control" readonly ng-model="vm.deal.eucRisk.name" />
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.deal.eucUse">EucUse</label>
            <input class="form-control" readonly ng-model="vm.deal.eucUse.name" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.deal.USStatRisk"></label>
            <input class="form-control" ng-model="vm.deal.usStatRisk" readonly/>
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.deal.effectiveDate">EffectiveDate</label>
            <br>
            <input type="text" max="12" class="form-control" ng-model="vm.deal.effectiveDate" readonly/>
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.deal.terminatedDate">terminatedDate</label>
            <br>
            <input type="text" max="12" class="form-control" ng-model="vm.deal.terminatedDate" readonly/>
          </div>
          <div class="form-group col-sm-3" ng-show="vm.deal.productSubtype.name === 'Structured'">
            <label class="control-label">Maturity Date</label>
            <br>
            <input type="text" max="12" class="form-control" ng-model="vm.deal.maturityDate" readonly/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12" ng-show="vm.deal.productSubtype.name === 'Structured'">
            <label class="control-label">Comments</label>
            <textarea class="form-control" ng-model="vm.deal.comments" readonly></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
