<div>
  <div class="rga-well no-padding-left no-padding-right no-padding-top">
    <div class="container-fluid">
      <div class="dealActionBar row">
        <intro-button options="vm.introOptions" />
        <div class="col-xs-12">
            <h3><strong class="rga-font fa fa-lg"><strong>Deals</strong></strong></h3>
        </div>
        <div class="step1 col-xs-4 col-md-2">
          <button id="newDeal" class="btn btn-block rga-button col-md-2" ui-sref="deal.new">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs" translate="finreApp.deal.home.createLabel">
                New Deal
            </span>
          </button>
        </div>
        <div class="step2 col-xs-4 col-md-2">
          <button id="riskManagement" class="btn btn-block rga-button col-md-2" ui-sref="deal.risk-management">
            <span class="glyphicon glyphicon-upload"></span>
            <span class="hidden-xs">
                          RM Upload
                      </span>
          </button>
        </div>
        <div class="step3 col-xs-4 col-md-2">

          <button id="advanceFilter" class="btn btn-block rga-button col-md-2" ng-click="vm.filterDeal = !vm.filterDeal; vm.clear(); vm.advanceFilter() ">
            <span class="glyphicon glyphicon-filter"></span>
            <span class="hidden-xs">
                     <span ng-if="vm.filterDeal">Clear & Hide Filters</span>
                      <span ng-if="!vm.filterDeal">Show Filters</span>
                      </span>
          </button>
        </div>
        <!--  ui-keypress="{13:'vm.search(vm.searchQuery)'}"
         this is for the search by pressing enter onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch').click()"
        -->
        <div class="step4 col-md-6">
          <form name="searchForm" class="form-inline">
            <div class="input-group pull-right">
              <input ng-disabled="vm.filterDeal" autocomplete="off" type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{vm.filterDeal ? 'Clear Filter to Search by Deal Name' : 'Search by Deal Name'}}"
                onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click();">
              <span class="input-group-btn width-min">
                  <button ng-disabled="vm.filterDeal" id="btnSearch" class="btn btn-block rga-button" ng-click="!vm.filterDeal && vm.search(vm.searchQuery)">
                    <span class="glyphicon glyphicon-search"></span>
              <md-tooltip md-direction="top">
                Search for Deal(s)
              </md-tooltip>
              </button>
              </span>
              <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                  <button id="clearFilter" class="btn btn-block rga-button" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-trash"></span>
              </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="vm.filterDeal" class="text-left">
        <div class="row">
      <div class="col-md-3">
        <label class="control-label">List of Deals</label><br>
        <select class="form-control" name="dealList" ng-model="vm.dealSelect" ng-options="deal as deal.name for deal in vm.dealsList | orderBy:'name'"
          uib-tooltip="CTRL+Click for multi-select" ng-change="advancedFilterNg()" multiple>
        </select>
      </div>
      <div class="col-md-3">
        <label class="control-label">Deal Type</label><br>
        <select class="form-control" name="dealList" ng-model="vm.dealTypeSelected" ng-options="dealTypes  as dealTypes.name for dealTypes  in vm.dealTypes | orderBy:'name'"
                uib-tooltip="CTRL+Click for multi-select" ng-change="advancedFilterNg()" multiple>
        </select>
      </div>
      <div class="col-md-3">
        <label class="control-label">Product Line</label><br>
        <select class="form-control" name="dealList" ng-model="vm.productLineSelected" ng-options="productLines  as productLines.name for productLines  in vm.productLines | orderBy:'name'"
                uib-tooltip="CTRL+Click for multi-select" ng-change="advancedFilterNg()" multiple>
        </select>
      </div>
      <div class="col-md-3">
        <label class="control-label">Product Subtype</label><br>
        <select class="form-control" name="dealList" ng-model="vm.productSubtypeSelect" ng-options="productSubtypes  as productSubtypes.name for productSubtypes  in vm.productSubtypes | orderBy:'name'"
          uib-tooltip="CTRL+Click for multi-select" ng-change="advancedFilterNg()" multiple>
        </select>
      </div>
    </div>
  </br>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Country</label><br>
        <select class="form-control" name="dealListCountry" ng-model="vm.countrySelect" ng-options="country as country.name for country in vm.countries | orderBy:'name'"
          ng-change="advancedFilterNg()" multiple uib-tooltip="CTRL+Click for multi-select">
        </select>
      </div>

      <div class="col-md-3">

        <label class="control-label">GFS Assignee </label><br>
        <select class="form-control" name="dealList" ng-model="vm.GFSAssigneeSelect" ng-options="GFSAssigneeOptions as (GFSAssigneeOptions.firstName + ' ' + GFSAssigneeOptions.lastName) for GFSAssigneeOptions in vm.GFSAssigneeOptions | orderBy :'name'"
          uib-tooltip="CTRL+Click for multi-select" ng-change="advancedFilterNg()" multiple>

        </select>
      </div>
      <div class="col-md-3">

        <label class="control-label">US Stat Risk Transfer </label><br>
        <select class="form-control" name="dealList" ng-model="vm.usStatSelect" ng-options="usStat as usStat for usStat in vm.usStat | orderBy :'usStat'"
          multiple ng-change="advancedFilterNg()" uib-tooltip="CTRL+Click for multi-select">

        </select>
      </div>
      <div class="col-md-3">

        <label class="control-label">Deal Status </label><br>
        <select class="form-control" name="dealList" ng-model="vm.dealStatusSelect" ng-options="dealStatus as dealStatus for dealStatus in vm.dealStatus | orderBy :'dealStatus'"
          uib-tooltip="CTRL+Click for multi-select" ng-change="advancedFilterNg()" multiple>

        </select>
      </div>
    </div>
      <div class="col-md-2 ">
        <br>
        <div>
        </div>
      </div>

   
    <br>
  </div>

  <div class="panel panel-default">

    <div class="table-responsive">

      <table class="step5 rga-thead-fixed jh-table table table-striped table-hover">

        <thead>
          <!-------------------------WHEN WE MAKE FILTER WORK FOR FILTER TOO THIS WILL NOT BE DUPLICATED ANYMORE----------------------------- -->
          <tr ng-show="vm.filterDeal">

            <th></th>
            <th><span translate="finreApp.deal.name">Name</span></th>
            <th style="width:130px"><span translate="finreApp.deal.clientDealName">clientDealName</span></th>
            <th><span>Product Subtype</span></th>
            <th style="width:105px"><span translate="finreApp.deal.country"></span></th>
            <th><span>GFS Assignee</span></th>
            <th><span translate="finreApp.deal.USStatRisk">USStatRisk</span></th>
            <th><span translate="finreApp.deal.effectiveDate">effectiveDate</span></th>
            <th><span translate="finreApp.deal.dealStatus">dealStatus</span></th>
            <th></th>
          </tr>
          <tr ng-show="!vm.filterDeal" jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">

            <th></th>
            <th jh-sort-by="name"><span translate="finreApp.deal.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th style="width:130px" jh-sort-by="clientDealName"><span translate="finreApp.deal.clientDealName">clientDealName</span>
              <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="productSubtype.name"><span>Product Subtype</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th style="width:105px" jh-sort-by="country.name"><span translate="finreApp.deal.country"></span>
              <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="gfsAssignee.firstName"><span>GFS Assignee</span> <span class="glyphicon glyphicon-sort"></span></th>

            <th jh-sort-by="usStatRisk"><span translate="finreApp.deal.USStatRisk">USStatRisk</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="effectiveDate"><span translate="finreApp.deal.effectiveDate">effectiveDate</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="dealStatus"><span translate="finreApp.deal.dealStatus">dealStatus</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th></th>
          </tr>
          <!-------------------------WHEN WE MAKE FILTER WORK FOR FILTER TOO THIS WILL NOT BE DUPLICATED ANYMORE----------------------------- -->
        </thead>
        <tbody ng-repeat="deal in vm.deals track by deal.id">
          <tr class="cursor-pointer">
            <td>
              <button id="collapsed" ng-show="deal.trackingItem.length > 0" type="button" class="btn btn-default btn-xs" ng-click="deal.isCollapsed = !deal.isCollapsed">
              <em class="glyphicon glyphicon-triangle-bottom"></em>
            </button>
              <md-tooltip md-direction="top">
                Expand/Collapse Deal Tracking List
              </md-tooltip>
            </td>

            <td ui-sref="deal-detail({dealId:deal.id ,page:vm.paginationObject.page})">{{deal.name}}</td>
            <td ui-sref="deal-detail({dealId:deal.id ,page:vm.paginationObject.page})">{{deal.clientDealName}}</td>
            <td ui-sref="deal-detail({dealId:deal.id ,page:vm.paginationObject.page})">{{deal.productSubtype.name}}</td>
            <td ui-sref="deal-detail({dealId:deal.id ,page:vm.paginationObject.page})">{{deal.country.name}}</td>
            <td ui-sref="deal-detail({dealId:deal.id ,page:vm.paginationObject.page})">{{deal.gfsAssignee.firstName }} {{deal.gfsAssignee.lastName }}
            </td>
            <td ui-sref="deal-detail({dealId:deal.id ,page:vm.paginationObject.page})">{{deal.usStatRisk}}</td>
            <td ui-sref="deal-detail({dealId:deal.id ,page:vm.paginationObject.page})">{{deal.effectiveDate}}</td>
            <td ui-sref="deal-detail({dealId:deal.id ,page:vm.paginationObject.page})">{{deal.dealStatus}}</td>
            <td class="text-right">
              <div class="step6 flex-btn-group-container">
                <button id="riskManagementLink" type="submit" ui-sref="risk-management-detail({dealId:deal.id})" class="btn btn-default lg">
                <span class="fa fa-exclamation-triangle"></span>
                <md-tooltip md-direction="top">
                  Go To Risk Management
                </md-tooltip>
              </button>
                <button id="treatiesLink" type="submit" ui-sref="treaty-deal({dealId:deal.id})" class="btn btn-default rga-font" ng-show="deal.treatyCount > 0">
                <span><img class="treaties-icon" border="none"></span>
                <md-tooltip md-direction="top">
                  Go To Treaties Listing
                </md-tooltip>
              </button>
                <button id="reliefLink" type="submit" ui-sref="treaty-transaction-relief({dealId:deal.id, page:vm.page})" class="btn btn-default rga-main-font"
                  ng-show="deal.reliefCount > 0">
                <span><img class="relief-icon"></span>
                <md-tooltip md-direction="top">
                  Go To Relief Listing
                </md-tooltip>
              </button>
                <button id="structuredLink" type="submit" ui-sref="structured-finance.deal({dealId:deal.id})" class="btn btn-default rga-font"
                  ng-show="deal.productSubtype.name === 'Structured'">
                <span><img class="structured-icon" border="0"></span>
                <md-tooltip md-direction="top">
                  Go To Structured Finance
                </md-tooltip>
              </button>
                <button id="editdeal" type="submit" ui-sref="deal.edit({dealId:deal.id})" class="btn btn-default rga-main-font">
                <span class="glyphicon glyphicon-pencil"></span>
                <md-tooltip md-direction="top">
                  Edit This Deal
                </md-tooltip>
              </button>
                <button id="deleteDeal" type="submit" ui-sref="deal.delete({id:deal.id})" class="btn btn-default rga-main-font">
                <span class="glyphicon glyphicon-remove"></span>
                <md-tooltip md-direction="top">
                  Delete This Deal
                </md-tooltip>
              </button>
              </div>
            </td>
          </tr>
          <!---------- TRACKING LISTINGS ------------- -->
          <tr ng-show="deal.trackingItem.length > 0" uib-collapse="!deal.isCollapsed">
            <td></td>
            <td></td>
            <td colspan="6">
              <table class="table table-bordered">
                <tbody ng-repeat="dealTracking in deal.trackingItem |orderBy:'-reportingPeriodEndDate'">
                  <tr class="colorTracking">
                    <td><strong class="fa fa-calendar fa-lg"></strong></td>
                    <td><a ui-sref="deal-tracking-detail({dealId:deal.id ,id:dealTracking.id})">

                  Reporting Year/Quarter: {{dealTracking.quarter}}</a></td>
                    <td> Period: {{dealTracking.reportingPeriodEndDate | date:'yyyy-MM' }}</td>
                    <td>{{dealTracking.dealTrackingStatus}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td></td>
            <td></td>
          </tr>

        </tbody>

      </table>
    </div>
  </div>


  <div ng-if="vm.totalItems!=0 && !vm.filterDeal" class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    <uib-pagination class="pagination-sm step7" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
  </div>

  <div ng-if="vm.totalItems==0 && !vm.filterDeal" class="text-center">
    <div id="noPages" class="text-center"> Showing 0 - 0 of 0 items.</div>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
  </div>


</div>
