<div class="rga-modal">
  <form name="editForm" role="form" id="myModal" novalidate  show-validation>
    <div class="modal-header">
      <div class="col-sm-8">
        <h4 class="modal-title" id="myDealLabel"> <strong> <span translate="finreApp.deal.home.createOrEditLabel">  </span> </strong></h4>
      </div>
      <div class="col-sm-3 text-right" align="right">
        <md-switch class="margin-zero" name="dealStatus" ng-model="vm.deal.dealStatus"
                   ng-true-value="'Active'"
                   ng-disabled="vm.authority != 'Admin'"
                   ng-false-value="'Terminated'"
                   ng-required="vm.deal.dealStatus==null"
                   ng-change="vm.dealStatusChange()"
                 >
      <strong> Deal Status:</strong>  {{vm.deal.dealStatus}}
        </md-switch>
        <md-tooltip ng-hide="vm.authority != 'Admin'" md-direction="top"  md-z-index="10000">
          Click to change Deal Status.
        </md-tooltip>
        <md-tooltip ng-hide="vm.authority == 'Admin'" md-direction="top" md-z-index="10000">
          Only Admin Users can change Deal Status.
        </md-tooltip>
      </div>
      <div class="col-sm-1" align="right">
        <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.xclear()">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
      </div>

    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-sm-6" ng-class="{'has-error': editForm.name.$invalid}">
          <label class="control-label" translate="finreApp.deal.name">Name</label>
          <input type="text" class="form-control" name="name"
                 ng-model="vm.deal.name" placeholder="Deal Name" required/>
          <div ng-show="editForm.name.$invalid">
          </div>

      </div>
      </div>

        <div class="row">
        <div class="form-group col-sm-3" ng-class="{'has-error': editForm.dealType.$invalid}">
          <label class="control-label">Deal Type</label>
        <select id='deal-type' class="form-control" name="dealType" ng-model="vm.deal.dealType"
                ng-options="dealType as dealType.name for dealType in vm.dealTypes | orderBy:'name' track by dealType.name "
                required>
          <option value="">-- Select Type --</option>
          </select>
        </div>
        <div class="form-group col-sm-3" ng-class="{'has-error': editForm.productLine.$invalid}">
          <label class="control-label" translate="finreApp.deal.productLine">DealType</label>
          <select  ng-show="vm.deal.mdmId === null || vm.deal.id===null || vm.authority === 'Admin'"
                   class="form-control" name="productLine" ng-model="vm.deal.productLine"
                   ng-options="productLine as productLine.name for productLine in vm.productLines| orderBy:'name' track by productLine.name "
                   required>
            <option value="">-- Select Type --</option>

          </select>
          <input uib-tooltip="Deal Product Line is editable only by Admin Users."
                 ng-show="vm.deal.mdmId != null && vm.authority !== 'Admin'" type="text"
                 class="form-control" name="Clientname"
                 ng-model="vm.deal.productLine.name"
                 placeholder="Client Deal Name" readonly />
        </div>
        <div class="form-group col-sm-3"  ng-class="{'has-error': editForm.subtype.$invalid}">
          <label class="control-label" translate="finreApp.deal.productSubtype">Subtype</label>
          <select class="form-control" ng-model="vm.deal.productSubtype" name="subtype" ng-change="vm.subTypeChange()"
                  ng-options="subtype as subtype.name for subtype in vm.productSubtypes | orderBy:'name' track by subtype.name "
                  required>
            <option value="">-- Select Subtype --</option>
          </select>
        </div>
        <div class="form-group col-sm-3"  ng-class="{'has-error': editForm.gfsAssignee.$invalid}">
          <label class="control-label" translate="finreApp.deal.GfsAssignee">GFS Assignee</label>
          <select class="form-control"  name="gfsAssignee" required
                  ng-model="vm.deal.gfsAssignee"
                  ng-options="gfsAssignee as (gfsAssignee.firstName + ' ' + gfsAssignee.lastName) for gfsAssignee in vm.GFSAssigneeOptions| orderBy:'lastName' track by gfsAssignee.id">
            <option value="">--Options--</option>
          </select>
        </div>
        </div>
      <div class="row">
        <div class="form-group col-sm-3" >
          <label class="control-label" translate="finreApp.deal.clientDealName">clientDealName</label>
          <input id="client-deal-name" type="text" class="form-control" name="Clientname" ng-model="vm.deal.clientDealName" placeholder="Client Deal Name" />
        </div>
        <div class="form-group col-sm-3" ng-class="{'has-error': editForm.yearEndMonth.$invalid}">
          <label class="control-label">Year End Month</label>
          <select class="form-control" ng-model="vm.deal.yearEndMonth" name="yearEndMonth"
                  ng-options="yearEndMonth.id as yearEndMonth.name for yearEndMonth in vm.yearEndMonthOptions"  required>
            <option value="">-- Month --</option>
          </select>
        </div>
        <!-- <div class="form-group col-sm-2" ng-class="{'has-error': editForm.yearEndDay.$invalid}">
          <label class="control-label">Year End Day</label>
          <select class="form-control" ng-model="vm.deal.yearEndDay" name="yearEndDay"
                  ng-options="yearEndDay as yearEndDay for yearEndDay in vm.yearEndDayOptions"  required>
            <option value="">-- Day --</option>
          </select>
        </div> -->
        <div class="form-group col-sm-3" ng-class="{'has-error': editForm.country.$invalid}">
          <label class="control-label" translate="finreApp.deal.country">Country</label>
          <select uib-tooltip="Country" class="form-control" name="country" ng-model="vm.deal.country"
                  ng-options=" country as country.name for country in vm.Countries | orderBy:'name'  track by country.name"
                  required >
            <option value=""></option>
          </select>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" translate="finreApp.deal.region" >Region</label>
          <input uib-tooltip="Region" type="text" class="form-control" name="region"
                 ng-model="vm.deal.country.region" placeholder="Region" readonly/>
        </div>

      </div>


      <div class="row">
        <div class="form-group col-sm-3"   ng-class="{'has-error': editForm.eucSignificance.$invalid}">
          <label class="control-label" translate="finreApp.deal.eucSignificance">EucSignificance</label>
          <select required class="form-control" name="eucSignificance"    ng-model="vm.deal.eucSignificance"
                  ng-options="eucUsesR as eucUsesR.name for eucUsesR in vm.eucUsesR | orderBy:'name'  track by eucUsesR.name" ng-change="vm.eucRules()">
            <option value=""></option>
          </select>
        </div>
        <div class="form-group col-sm-3"  ng-class="{'has-error': editForm.eucComplexity.$invalid}">
          <label class="control-label" translate="finreApp.deal.eucComplexity" for="field_eucComplexity">EucComplexity</label>
          <select required class="form-control" id="field_eucComplexity" name="eucComplexity"      ng-model="vm.deal.eucComplexity"
                  ng-options="eucUsesC as eucUsesC.name for eucUsesC in vm.eucUsesC track by eucUsesC.name" ng-change="vm.eucRules()">
            <option value=""></option>
          </select>

        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" translate="finreApp.deal.eucRisk" for="field_eucRisk">EucRisk</label>
          <select class="form-control" id="field_eucRisk" disabled name="eucRisk"        ng-model="vm.deal.eucRisk"
                  ng-options="eucUsesC as eucUsesC.name for eucUsesC in vm.eucUsesRisk track by eucUsesC.name">
            <option value=""></option>
          </select>
        </div>
        <div class="form-group col-sm-3" ng-class="{'has-error': editForm.eucUse.$invalid}">
          <label class="control-label" translate="finreApp.deal.eucUse" for="field_eucUse">EucUse</label>
          <select required class="form-control" id="field_eucUse" name="eucUse"  ng-model="vm.deal.eucUse"
                  ng-options="eucUses as eucUses.name for eucUses in vm.eucUses  | orderBy:'name'  track by eucUses.id">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3"  ng-class="{'has-error': editForm.usRisk.$invalid}">
          <label class="control-label" translate="finreApp.deal.USStatRisk"></label>
          <br>
          <md-tooltip md-direction="top">
            Click to Change
          </md-tooltip>
          <md-switch  class="margin-zero"  ng-model="vm.deal.usStatRisk" aria-label="RGA Switch"
                      ng-true-value="'Yes'" ng-false-value="'No'"
                      name="usRisk" ng-required="vm.deal.usStatRisk==null">
            <span>{{vm.deal.usStatRisk}}</span>
          </md-switch>
        </div>

        <div class="form-group col-sm-3" ng-class="{'has-error': editForm.effectiveDate.$invalid}">
          <label class="control-label" translate="finreApp.deal.effectiveDate">EffectiveDate</label>
          <div class="input-group">
            <input type="text" class="form-control" name="effectiveDate"
                   onkeyup=" this.value = dateMask(this.value);" maxlength="10"
                   uib-datepicker-popup="{{dateformat}}" ng-model="vm.deal.effectiveDate"
                   is-open="vm.datePickerOpenStatus.effectiveDate"
                   placeholder="YYYY-MM-DD"
                   ng-readonly="vm.deal.dealStatus === 'Terminated'"
                   ng-required="vm.deal.dealStatus === 'Active'"/>
            <span class="input-group-btn" ng-if="vm.deal.dealStatus !== 'Terminated'">
                    <button ng-disabled="vm.deal.dealStatus === 'Terminated'"
                      id="openCalendarEffective" type="button" class="btn btn-default" ng-click="vm.openCalendar('effectiveDate')">
                      <em class="glyphicon glyphicon-calendar"></em>
                    </button>
                </span>
            <md-tooltip md-direction="top">
              Effective Date
            </md-tooltip>
          </div>
        </div>
        <div class="form-group col-sm-3"
             ng-class="{'has-error': editForm.terminatedDate.$invalid}">
          <label class="control-label" translate="finreApp.deal.terminatedDate">terminatedDate</label>
          <div class="input-group">
            <input type="text" class="form-control" name="terminatedDate"
                   onkeyup=" this.value = dateMask(this.value);" maxlength="10"
                   uib-datepicker-popup="{{dateformat}}" ng-model="vm.deal.terminatedDate"
                   is-open="vm.datePickerOpenStatus.terminatedDate"
                   placeholder="YYYY-MM-DD"
                   uib-tooltip="To terminate this deal, ensure that all treaties are Terminated first. Then change Deal Status to Terminated, and you will be required to input a date here."
                   ng-required="vm.deal.dealStatus==='Terminated'"
                   ng-readonly="vm.deal.dealStatus!=='Terminated'"/>
            <md-tooltip md-direction="top">
              Terminated Date
            </md-tooltip>
            <span class="input-group-btn" >
                    <button ng-disabled="vm.deal.dealStatus!=='Terminated'"
                      id="openCalendarTerminated" type="button" class="btn btn-default" ng-click="vm.openCalendar('terminatedDate')">
                      <em class="glyphicon glyphicon-calendar"></em></button>
                </span>
          </div>
        </div>
        <div class="form-group col-sm-3" ng-class="{'has-error': editForm.maturityDate.$invalid}"
             ng-show="vm.deal.productSubtype.name === 'Structured'">
          <label class="control-label">Maturity Date</label>
          <div class="input-group">
            <input type="text" class="form-control" name="maturityDate"
                   onkeyup=" this.value = dateMask(this.value);" maxlength="10"
                   uib-datepicker-popup="{{dateformat}}" ng-model="vm.deal.maturityDate"
                   is-open="vm.datePickerOpenStatus.maturityDate"
                   placeholder="YYYY-MM-DD"
                   ng-required="vm.deal.productSubtype.name === 'Structured'"/>
            <md-tooltip md-direction="top">
              Maturity Date
            </md-tooltip>

            <span class="input-group-btn">
                    <button id="openCalendarMaturity" type="button" class="btn btn-default" ng-click="vm.openCalendar('maturityDate')">
                      <em class="glyphicon glyphicon-calendar"></em></button>
                </span>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="form-group col-sm-12" ng-show="vm.deal.productSubtype.name === 'Structured'">
          <label class="control-label">Structured Comments</label>
          <textarea
            class="form-control" placeholder="Structured Comments"
            ng-model="vm.deal.comments">
          </textarea>
          <md-tooltip md-direction="top">
            Structured Comments
          </md-tooltip>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="cancel" type="button" class="btn btn-default rga-font" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
      </button>
      </button>
      <button id="dealSaveButton" type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-default rga-font" ng-click="vm.save(editForm)">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
      </button>
    </div>
  </form>
</div>
