<form name="deleteForm" ng-submit="vm.confirmDelete(vm.deal.id)">
  <div class="modal-header">
    <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
  </div>
  <div class="modal-body">

    <p ng-if="vm.band==0"  translate="finreApp.deal.delete.question" translate-values="{id: '{{vm.deal.id}}'}">Are you sure you want to
      delete this Deal?</p>

    <p ng-if="vm.band!=0"   translate-values="{id: '{{vm.deal.id}}'}">You cannot delete this deal, because there are associated treaties.
    </p>

  </div>
  <div class="modal-footer">
    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button id="delete" ng-if="vm.band==0"   type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
