body {
	background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

/* ==========================================================================
Version number in nav bar
========================================================================== */
.navbar-version {
	color: #ccc;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browser-upgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.hero-unit {
	margin: 50px auto 0 auto;
	width: 300px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	background-color: #eee;
	border-radius: 6px;
	padding: 60px;
}

.hero-unit h1 {
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px;
}

.error {
	color: #fafafa;
	background-color: #cc0000;
}

.error-msg {
  color: #cc0000;
  font-size: medium;
}

.pad {
	padding: 10px;
}

/* wait auto-pre-fixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.hipster {
		background-size: contain;
	}
}

#threadDump .popover, #healthCheck .popover {
	top: inherit;
	display: block;
	font-size: 10px;
	max-width: 1024px;
}

#healthCheck .popover {
	margin-left: -50px;
}

.health-details {
	min-width: 400px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */

.alerts .alert {
	text-overflow: ellipsis;
}
.alert pre {
	background: none;
	border: none;
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
}

.alert .popover pre {
	font-size: 10px;
}

.alerts .toast {
	position: fixed;
	width: 100%;
}

.alerts .toast.left {
	left: 5px;
}

.alerts .toast.right {
	right: 5px;
}

.alerts .toast.top {
	top: 55px;
}

.alerts .toast.bottom {
	bottom: 55px;
}

@media screen and (min-width: 480px) {
	.alerts .toast {
		width: 50%;
	}
}
/* end of Custom alerts for notification */

.v-offset { margin-top: 2px; }
.v-offset1 { margin-top: 5px; }
.v-offset2 { margin-top: 10px; }
.v-offset3 { margin-top: 15px; }
.v-offset4 { margin-top: 30px; }
.v-offset5 { margin-top: 40px; }
.v-offset6 { margin-top: 60px; }
.v-offset7 { margin-top: 80px; }
.v-offset8 { margin-top: 100px; }
.v-offset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strengthBar {
	display: inline;
	list-style: none;
	margin: 0 0 0 15px;
	padding: 0;
	vertical-align: 2px;
}

.point:last {
	margin: 0 !important;
}
.point {
	background: #ddd;
	border-radius: 2px;
	display: inline-block;
	height: 5px;
	margin-right: 1px;
	width: 20px;
}
/* end Password strength bar style */

.readonly {
	background-color: #eee;
	opacity: 1;
}

/* entity tables helpers */

/* Remove Bootstrap padding from the element http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important;}
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.home-title {
	background: #fafafa;
	color: #cc0000;
    font-size: 3rem;
}

.rga-badge {
    height: 3rem;
    margin-top: -0.6rem;
    margin-right: -1rem;
    padding-left: 2rem;
}

.rga-modal {
    border-radius: 0.4rem;
    border: solid #cc0000 thick;
}

.table-grey
{
  border: none;
}
.table-white
{
  background: white;
}

.rga-modal-header {
    padding: 1.5rem;
    border-bottom: .1rem solid #DE1924;
}

.rga-legend {
    border-bottom: .1rem solid #DE1924;
}

.rga-checkbox {
    margin: 0!important;
}

.rga-button,
.rga-button:active,
.rga-button:focus {
    color: #ffffff;
    background: #C00228;
    font-weight: 600;
    outline: 0;
    /* background: -moz-linear-gradient(top, #e60000 0%, #990000 100%);
    background: -webkit-linear-gradient(top, #e60000 0%, #990000 100%);
    background: -o-linear-gradient(top, #e60000 0%, #990000 100%);
    background: -ms-linear-gradient(top, #e60000 0%, #990000 100%);
    background: linear-gradient(to bottom, #e60000 0%, #990000 100%); */
}

.rga-button:hover{
  color: #fff;
  background-color: #9D001F;
  outline: 0;
}

.rga-button-inverse,
.rga-button-inverse:active{
  color: #C00228;
  border: 1px solid #C00228;
  background-color: #fff;
  font-weight: 600;
}

.rga-button-inverse:focus{
  outline: 0;
}

.rga-button-inverse:hover{
  color: #C00228;
  border: 1px solid #C00228;
  background-color: #ddd;
}

.rga-font{
  color: #C00228;
}
.rga-header-font {
    color: #C00228;
    font-family: FontAwesome;
    font-weight: bold;
    margin: 10px auto;
}

.rga-blue {
  color: #ffffff;
  background: #063857;
}
.rga-main-font {
  color: #000;
}

/* .rga-font:hover {
    color: #b30000;
} */

.nav-tabs > li.current > a,
.nav-tabs > li.current > a:hover,
.nav-tabs > li.current > a:focus {
    color: #cc0000;
}
.nav-tabs.nav-justified > li > a {
    color: #b30000;
}

.nav-pills{
  margin-bottom: 15px;
}

.nav-pills > li > a {
    border-bottom: solid transparent .6rem;
    color: #cc0000;
    background-color: #E8DCDC;
    /* color: #fff;
    background-color: #999; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-right: 3px;
}
.nav-pills > li > a:hover {
    background: #E8DCDC;
    /* background: #999; */
    border-radius: 0;
    border-bottom: solid #CF0322 .6rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.nav-pills > li.current > a,
.nav-pills > li.current > a:hover,
.nav-pills > li.current > a:focus {
    background: #DE8686;
    color: #FFFFFF;
    border-radius: 0;
    border-bottom: solid #CF0322 .6rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.nav-trans > li > a {
  border-bottom: solid transparent .2rem;
  color: #610019;
  font-size: 14px;
  font-weight: bold;
  background-color: #D2D7DC;
}
.nav-trans > li > a:hover {
  background: #AEB2B7;
  border-radius: 0;
  color: #FFFFFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nav-trans > li.current > a,
.nav-trans > li.current > a:hover,
.nav-trans > li.current > a:focus {
  background: #494A54;
  color: #FFFFFF;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
    background-color: #DA0327;
    border-color: #DA0327;
}

.cursor-pointer {
    cursor: pointer!important;
}

.cursor-default {
    cursor: default!important;
}

.reporting-calendar-button {
    margin-left: -2.5rem!important;
}

input[type="checkbox"],
input[type="radio"] {
    box-shadow: none;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
    box-shadow: none;
    outline: none;
}

.company-info-checkbox {
    background-color: transparent;
}

.rga-thead {
    background-color: #5D5757;
    border-color:#000000;
    color: #FFFFFF;
}
.rga-red {
    background-color: #C00;
    border-color:#C00;
    color: #FFFFFF;
}
.rga-row-padding{
    margin-right: 5px;
    margin-left: 5px;
}

.table-heights {
    height: 50px;
}
.rga-required {
  color: #a94442;
}
.rga-header {
  color: #A94442;
  background-color: #f2dede;
  border-color: #CAA5A5;
}
.form-control {
  font-size: 12px;
}

.form-width {
  width: 13%;
}

.select-width {
  width: 11%;
}

.rga-width {
 width: 90%;
}

.rga-back {
  padding: 16px;
}
.rga-well {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f2dede;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.rga-tracking-well {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 2px;
  background-color: #f2dede;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.tracking-well {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #ededed;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.structured-well {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #99bfe8;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.structured-well-red {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f2dede;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}



.nav-pills-structured-red > li > a {
  border-bottom: solid transparent .2rem;
  color: #5e5858;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #C5BFBF;
  margin-right: 3px;
}
.nav-pills-structured-red > li > a:hover {
  background: #C5BFBF;
  border-radius: 0;
  border-bottom: solid #5e5858 .6rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nav-pills-structured-red > li.current > a,
.nav-pills-structured-red > li.current > a:hover,
.nav-pills-structured-red > li.current > a:focus {
  background: #aba5a5;
  color: #FFFFFF;
  border-radius: 0;
  border-bottom: solid #5e5858 .6rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rga-right{
  float: right;
  padding: 8px;
}
.rga-left{
  display: inline-flex;
  float: left;
  padding: 0px;
}
.rga-list-color {

  background-color: #b53f3f;
}
.rga-list-color-light {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #cc0202;
  background-color: #f2dede;
}

h3, .h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.input-group-addon:first-child {
  border-right: 0;
  width: 75px;
}
.rga-display {
  display: inline-flex;
  float: right;
  padding-right: 0px;
}
.css-form input.ng-invalid {
  background-color: #FADADF;
}
.css-form input.ng-invalid-required {
  background-color: #FADADF;
}

.has-error .form-control {
  background-color: #FADADF;
}

.has-required-error .form-control {
  background-color: #dfe6ff;
}

.md-switch {
  display: inline-block;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

}

md-switch {

  display:inline-block;

}

/* .md-dialog-content {
   max-width: 60%;
   max-height: 60%;
 } */

.blink {
  animation: blink-animation 2s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.md-narrow {
  margin: 0 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: inherit;
}

.md-top {
  margin-top: 9px;
}

.structured-icon  {
  border:none;
  outline: none;
  width: 25px;
  height: 25px;
  background: url("./images/money.png") no-repeat center;
  background-size: contain;
}
.treaties-icon{
  border:none;
  outline: none;
  width: 20px;
  height: 25px;
  background: url("./images/treaties2.png") no-repeat center;
  background-size: contain;
}

.risk-icon{
  border:none;
  outline: none;
  width: 20px;
  height: 25px;
  background: url("./images/risk.PNG") no-repeat center;
  background-size: contain;
}
.relief-icon{
  border:none;
  outline: none;
  width: 25px;
  height: 25px;
  background: url("./images/relief.png") no-repeat center;
  background-size: contain;
}


.colorTracking{
  background-color: #f5f5f5;
}

.inputCheck {
  height: 20px;
  font-size: 10px;
  line-height: 14px;
}
.currencyFont{
  font-size: 10px;
}

.input-currency-addon:first-child {
  border-right: 0;
  width: 75px;
}

.margin-zero {
  margin: 0;
}

.fastLogo{
  margin: 0;
  border:none;
  outline: none;
  width: 150px;
  height: 40px;
  background: url("./images/rgaLogo.png") no-repeat center;
  background-size: contain;
}


.fastWelcome{
  margin: 0;
  border:none;
  outline: none;
  width: 200px;
  height: 20px;
  background: url("./images/fastWelcome.png") no-repeat center;
  background-size: contain;
}

.col-xs-1 {
  width: 2.333333%;
}

.md-dialog-container {
  width: 100%;
  height: 100%;
  top: inherit !important;
  bottom: 0px;
  left: 0px;
  position: fixed;
}

.accordion-header {
  font-size: 18px;
  font-weight: bold;
}


.panel-default-notifications > .panel-heading {
  color: #333;
  background-color: rgba(240, 220, 220, 0.67);
  border-color: #fafafa;
}

modal-body-rga {
    position: relative;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}


md-checkbox {
  cursor: pointer;
  padding-right: 0;
  min-height: 18px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.container {
  width: 90%;
}

.disableClickDiv {
  pointer-events: none;
}

textarea:focus {
  display:block;
  margin: 0px;
  white-space: normal;
  width:100%;
  height:200px;
  position:relative;
  background-color:#FFF;
  z-index:9999;
}

.rga-thead-fixed > thead {
  background-color: #5D5757;
  border-color:#000000;
  color: #FFFFFF;
}
.disabled:focus, .disabled:active{
  outline:0;
}
.disabled{
  opacity:.65;
  cursor: not-allowed;
}

.vertical-align-middle{
  vertical-align:middle;

}

.popupTooltip{
  position: relative;
  z-index: 1000000!important;
}

.inlineWithSwitches{
	line-height:30px;
}

.transformCheckboxToRadio{
	-moz-appearance: radio;
	-webkit-appearance: radio;
}
.trackingSwitch{
	width: 80px;
	margin-bottom:0px;
	margin-top:-5px;
}
.trackingSwitch > .badge {
	 margin-top:-30px;
}
.trackingSwitch > md-switch{
	margin: 0 5px;
}
.disabled div{
	cursor: not-allowed;
}
.ammendments th{
  min-width: 130px;
}
md-tooltip{
  height: auto!important;
  line-height: 15px !important;
  padding:8px!important;
  text-align: center;
}
md-tooltip span{
  margin-bottom: 0px;
}
#Status{
  min-width: 120px;
}
.intros{
  border: 1px #ddd solid;
  margin: 15px -15px;
  border-radius: 4px;
  background-color:#fff;
  padding: 15px 10px;
}
.intros h3, .intros small{
  word-wrap: break-word;
}
.intros textarea:focus{
  height: auto;
}
.step{
  padding: 20px;
  margin: 15px 0;
  color: #333;
}
.icons{
  text-align: right;
}
.icons > span {
  font-size: 15px;
  margin: 10px;
  line-height: 25px;
  display: inline-block;
}
button.intro {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: fixed;
  right: 0;
  top: 20vh;
}
.alert-introPage{
  transition: all .5s;
  content: "test";
  min-height: 40px;
  padding: 10px;
}

.mainButtons > div{
  margin: 15px auto;
}
.mainButtons > div > button{
  margin: auto 5px;
}

.fastopediaEdit{
  font-size: 20px;
}

.alignRight{
  text-align: right;
}

.alignCenter{
  text-align: center;
}

.spaceAboveAndBelow{
  margin: 15px auto;
}

.editor > div {
  margin: 15px auto;
}
.wiki blockquote{
  border-left: none;
  margin: 0;
  font-size: 12px;
}
.wiki h1, .wiki h2, .wiki h3{
  margin-top: 10px;
  font-weight: bold;
  word-wrap: break-word;
}
.wiki h1:focus, .wiki h2:focus, .wiki h3:focus {
  outline:0;
}
.wiki h1{
  font-size: 24px;

}
.wiki h2{
  font-size: 20px;
}
.wiki h3{
  font-size: 16px;
}
.wiki > div {
  border-bottom: 1px solid #bbb;
  padding: 15px 0;
}
.caret.caret-up {
  border-top-width: 0;
  border-bottom: 4px solid;
}
.btn-primary:hover{
  background-color: #155C50;
  border-color: #2D7B6E;
}
.btn-primary{
  color: #2D7B6E;
  background-color: rgba(0, 0, 0, 0);
  border: #2D7B6E solid 1px;
  transition: .5s all;
}

.text-primary:hover{
  color: #155C50;
}
.text-primary{
  color: #4C9689;

}
.dealActionBar > div{
  margin: 10px auto;
}

.sticky{
  position: sticky;
  position: -webkit-sticky;
  top:0px;
  background: #F4F4F4;
  z-index: 10;
  opacity: .95;
  border-bottom: #F0F0F0 solid 1px;
}
.level1{
  min-height: 73px;
}
.level2{
  top: 73px;
  z-index: 9;
  min-height: 65px;
}
.level3{
  top: 138px;
  z-index: 8;
}
.content{
  padding-left: 15px;
}
.notSelectedButton{
  opacity: .5;
}
.buttons{
  text-align: center;
  margin: 15px auto 0;
}
.introSpan{
  display: inline-block;
  height: auto;
}

.transactionTable{
  padding: 0;
}
text-angular > div:nth-child(2){
  border-radius: 0;
  border-top: none;
}
text-angular > div:first-child{
  position: sticky;
  top: 0px;
  z-index: 8;
  display: flex;
  justify-content: space-between;
  background-color: #F5F5F5;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-left: 0;
}
.toolbarLevel2 > div:first-child{
  top:73px;
}
.toolbarLevel3 > div:first-child{
  top: 138px;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

.show{
  opacity: 1;
  transition: .5s all;
}
.noshow{
  opacity: 0;
  transition: .5s all;
}
.panel-heading.row > .alert{
  margin-bottom: 0;
}
.spacing{
  padding-top: 0;
  padding-bottom: 0;
}
.spacing > div{
  margin: 15px auto;
}
.noRightMargin{
  margin-right: 0 !important;
}

table.clickable tbody tr{
  cursor: pointer;
}

.inline-block div{
  display: inline-block;
}

.refreshMdm{
  margin-top: -20px;
}

.yrEndExceptionPeriod{
  width: 100%;
}

.yrEndExceptionPeriod > small{
  right: 15px;
  position: absolute;
}

.wiki img{
  max-width: 100%;
}

.controlEk{
  color:red;
}

.panel-group{
  margin-bottom: 0;
}
.well {
  background-color: #f0f0f0;
}

.spacing-no-label{
  font-size: 14px;
}

@keyframes delayOverflow {
  from {overflow-y: hidden;}
  to {overflow-y: visible;}
}

.closeableSlide{
  transition: all .25s;
}

.showCloseableSlide{
  animation: .5s delayOverflow;
  max-height: 200px;
}
.hideCloseableSlide{
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
  overflow-y: hidden;
}

.cashNav{
  margin-bottom: 0;
}

.alert:last-child {
  margin-bottom: 0;
}
.alert-transaction {
  display: inline-flex;
  padding: 7px;
  margin-bottom: 0px;
  border: 0px solid transparent;
  border-radius: 4px;
}
