<ul class="nav nav-pills nav-justified">
  <li role="presentation" class=""><a id="dealDetail" ui-sref="deal-detail({dealId:vm.dealId, page:vm.page})">Deal Details</a></li>
  <li role="presentation" class=""><a id="dealTracking" ui-sref="deal-tracking({dealId:vm.dealId})">Deal Tracking</a></li>
  <li role="presentation" class="step1 current"><a id="treatiesDeal" ui-sref="treaty-deal({dealId:vm.dealId, page:vm.page})">Treaties &
    Tracking</a></li>
  <li role="presentation" class=""><a id="reliefLink" ui-sref="treaty-transaction-relief({dealId:vm.dealId, page:vm.page})">Relief
      Transactions</a></li>
  <li ng-show="vm.deal.productSubtype.name=='Structured'" role="presentation" class="" ngCloak><a id="structureLink" ui-sref="structured-finance.deal({dealId:vm.dealId})">Structured Finance</a></li>
</ul>
<intro-button options="vm.introOptions" />
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-2">
        <h5><label class="control-label"> Deal Name </label><br> {{ vm.deal.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Deal Type</label> <br> {{ vm.deal.dealType.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Product Line</label> <br> {{ vm.deal.productLine.name}}</h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Product Subtype</label><br> {{vm.deal.productSubtype.name}}
        </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">Effective Date</label><br> {{vm.deal.effectiveDate|date: 'mediumDate'}} </h5>
      </div>
      <div class="col-sm-2">
        <h5><label class="control-label">GFS Assignee</label><br> {{vm.deal.gfsAssignee.firstName }} {{vm.deal.gfsAssignee.lastName
          }} </h5>
      </div>
    </div>
  </div>
  <div ng-if="vm.authority !== 'ViewOnly'" class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <button ng-if="vm.deal.dealStatus!=='Terminated'" id="newTreaty" ng-disabled="vm.deal.dealStatus==='Terminated'" class="step2 btn rga-button"
          ui-sref="treaty-deal.new({dealId:vm.dealId})">
                      <span class="glyphicon glyphicon-plus"></span>
                      <span class="hidden-xs" translate="finreApp.treaty.home.createLabel">
                        New Treaty
                      </span>
                    </button>
      </div>
      <div ng-if="vm.deal.dealStatus!=='Terminated'" class="col-md-9">
        <md-switch class="step3 md-switch margin-zero" aria-label="RGA Switch" ng-model="vm.replicateFlag" ng-change="vm.changeReplicateFlag()"
          aria-label="RGA Switch" class="md-warn">
          Replicate Treaties from {{vm.dealTreaty.name ? vm.dealTreaty.name: 'Another Deal'}}
        </md-switch>
      </div>
      <div class="col-md-9" ng-if="vm.deal.dealStatus==='Terminated'">
        <span><strong>Treaties cannot be added or replicated here because the Deal is Terminated.</strong></span>
      </div>
    </div>
  </div>
  <div ng-show="vm.replicateFlag" class="panel-footer">
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">List of Deals</label><br>
        <select uib-tooltip="Select Deal" class="form-control" name="dealList" ng-model="vm.dealTreaty" ng-options="deal as deal.name for deal in vm.dealsList | orderBy :'name'"
          ng-change="vm.findTreaties(id)" ng-required="true">
                  <option value=""></option>
                </select>
      </div>
      <div class="col-md-4" ng-if="vm.dealTreaty">
        <label class="control-label">List of Treaties</label><br>
        <select size="6" uib-tooltip="To select multiple treaties, hold the CTRL key while clicking" class="form-control" name="dealList"
          ng-model="vm.treatyForReplicate" ng-options="treaty as treaty.agreementType.name+' &nbsp; '+treaty.productStructure.name+' &nbsp; '+treaty.oldTreatyName for treaty in vm.treatyList"
          ng-required="true" multiple>
              </select>
      </div>
      <div class="col-md-5" ng-if="vm.dealTreaty">
        <div style="margin-bottom:5px;" class="col-sm-12">
          <label class="control-label">Ready to Replicate</label><br>
          <div class="well" style="overflow-y: auto; overflow-x:hidden; height: 104px; padding: 5px;">
            <p style="margin: 0px; width: 200%;" ng-repeat="treaty in vm.treatyForReplicate"> - {{treaty.agreementType.name}} {{treaty.productStructure.name}} {{treaty.oldTreatyName}}</p>
          </div>
        </div>
        <div class="col-sm-12" ng-if="vm.dealTreaty">
          <button id="Replication" title="Select one or more items from 'List of Treaties' to click" ng-disabled="vm.treatyForReplicate == null || vm.treatyForReplicate.length <= 0"
            class="btn rga-button" ng-click="vm.replicate()">
                  Replicate <span ng-if="vm.treatyForReplicate != null">{{vm.treatyForReplicate.length}}</span><span
                  ng-if="vm.treatyForReplicate == null">0</span>
                </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <table class="step4 jh-table table table-striped ">
    <thead class="rga-thead">
      <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
        <th></th>
        <th jh-sort-by="agreementType.name"><span translate="finreApp.treaty.agreementType"> Agreement Type</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="productStructure.name"><span translate="finreApp.treaty.structureId"> Structure</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="treatyName"><span translate="finreApp.treaty.treatyName"></span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="reportingFrequency.name">Reporting Freq <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="settlementFrequency.name">Settlement Freq <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="treatyStatus.name"><span translate="finreApp.treaty.Status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th>Tracking</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat="treaty in vm.treaties track by treaty.id ">
      <tr class="cursor-pointer ng-class:(treaty.reason === 'Replicated')?'success':'';">
        <td>
          <button id="collapse" ng-show="treaty.treatyTrackings.length > 0" type="button" class="btn btn-default btn-xs" ng-click="treaty.isCollapsed = !treaty.isCollapsed">
                          <em class="glyphicon glyphicon-triangle-bottom"></em>
                        </button>
          <md-tooltip md-direction="top">
            Expand/Collapse Tracking List
          </md-tooltip>
        </td>
        <td ui-sref="treaty-detail({id:treaty.id, dealId:vm.dealId})">{{treaty.agreementType.name}}</td>
        <td ui-sref="treaty-detail({id:treaty.id, dealId:vm.dealId})">{{treaty.productStructure.name}}</td>
        <td ui-sref="treaty-detail({id:treaty.id, dealId:vm.dealId})">{{treaty.treatyName}}</td>
        <td ui-sref="treaty-detail({id:treaty.id, dealId:vm.dealId})">{{treaty.reportingFrequency.name}}</td>
        <td ui-sref="treaty-detail({id:treaty.id, dealId:vm.dealId})">{{treaty.settlementFrequency.name}}</td>
        <td ui-sref="treaty-detail({id:treaty.id, dealId:vm.dealId})">{{treaty.treatyStatus.name}}</td>
        <td class="step5">
          <div class="trackingSwitch form-group">
            <div class="badge">{{treaty.treatyTrackings.length}}</div>
            <md-switch ng-class="{'disabled' : vm.authority === 'ViewOnly' || treaty.treatyTrackings.length > 0 || treaty.agreementType.name === 'Retro – Internal' || treaty.treatyName.includes('DO NOT USE')}"
              ng-model="treaty.disabledTracking" aria-label="Tracking Checkbox" ng-true-value="0" ng-false-value="1" ng-change="vm.toggleTracking(treaty);">
            </md-switch>

            <md-tooltip ng-show="treaty.agreementType.name === 'Retro – Internal'" md-direction="right">
              Tracking is automatically<br/>disabled for "Retro - Internal"
            </md-tooltip>

            <md-tooltip ng-show="treaty.treatyName.includes('DO NOT USE')" md-direction="right">
              Tracking is automatically<br/>disabled for "DO NOT USE"
            </md-tooltip>

            <md-tooltip ng-show="(treaty.agreementType.name !== 'Retro – Internal' && !treaty.treatyName.includes('DO NOT USE')) && treaty.treatyTrackings.length === 0"
              md-direction="right">
              {{treaty.disabledTracking ? 'Enable' : 'Disable'}} Tracking
            </md-tooltip>
            <md-tooltip ng-show="(treaty.agreementType.name !== 'Retro – Internal' && !treaty.treatyName.includes('DO NOT USE')) && treaty.treatyTrackings.length > 0"
              md-direction="right">
              <span>To disable tracking, you must first<br/>close the open tracking record{{treaty.treatyTrackings.length > 1 ? 's':''}}</span>
            </md-tooltip>
          </div>
        </td>
        <td class="step6 text-right">
          <div class="btn-group flex-btn-group-container">
            <a ng-repeat="doc in treaty.docsUrl track by $index" href="{{doc}}" class="btn btn-default rga-font" target="_blank">
                            <span class="glyphicon glyphicon-open-file">
                              <md-tooltip md-direction="left">
                                Treaty Documents
                              </md-tooltip>
                            </span>
                          </a>
            <button id="disabledButton" ng-show="vm.authority !== 'ViewOnly' && vm.deal.dealStatus==='Terminated'" class="btn btn-default rga-font disabled" readonly="true">
                            <span class="glyphicon glyphicon-duplicate"></span>
                            <md-tooltip  md-direction="top">
                              You cannot add treaties to a Terminated Deal.
                            </md-tooltip>
                          </button>
            <button id="copyTreaty" type="submit" ng-click="vm.copyTreaty(treaty)" ng-show="vm.authority !== 'ViewOnly' &&  vm.deal.dealStatus!=='Terminated'" class="btn btn-default rga-font">
                          <span class="glyphicon glyphicon-duplicate"></span>
                          <md-tooltip ng-if="vm.deal.dealStatus!=='Terminated'"  md-direction="top">
                            Copy Treaty
                          </md-tooltip>
                        </button>
            <button id="deleteTreaty" ng-class="{'disabled':vm.deal.dealStatus === 'Terminated'}" ng-show="vm.authority === 'Admin'"
              ng-click="vm.deleteTreaty(treaty.id)" class="btn btn-default rga-font">
                          <span class="glyphicon glyphicon-remove"></span>
                          <md-tooltip ng-show="vm.deal.dealStatus==='Terminated'" md-direction="top">
                            You cannot delete treaties under a Terminated Deal.
                          </md-tooltip>
                          <md-tooltip ng-show="vm.deal.dealStatus!=='Terminated'" md-direction="top">
                            Delete Treaty
                          </md-tooltip>
                        </button>

          </div>
        </td>
      </tr>
      <!---------- TRACKING LISTINGS ------------- -->
      <tr ng-show="treaty.treatyTrackings.length > 0" uib-collapse="!treaty.isCollapsed">
        <td></td>
        <td></td>
        <td colspan="6">
          <table class="table table-bordered">
            <tbody ng-repeat="treatyTracking in treaty.treatyTrackings |orderBy:'-reportingReceivedDate'| orderBy:'-quarter'">
              <tr class="colorTracking">
                <td><strong class="fa fa-calendar fa-lg"></strong></td>
                <td><a ui-sref="treaty-tracking-detail({dealId:vm.dealId,id:treatyTracking.id, treatyId:treaty.id })">Reporting
                          Year/Quarter: {{treatyTracking.quarter}}</a></td>
                <td> Period: {{treatyTracking.reportingMonthYear| date:'yyyy-MM'}}</td>
                <td>{{treatyTracking.trackingStatus}}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-center">
  <jhi-item-count ng-show="vm.treaties.length > 0" page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
  <div id="noPages" ng-show="vm.treaties.length == 0" class=" text-center">
    Showing 0 - 0 of 0 items.
  </div>
  <uib-pagination class="step7 pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>


</div>
