<form name="deleteForm" ng-submit="vm.confirmDelete(vm.treaty.id)">
  <div class="modal-header">
    <button id="confirmDeleteTreaty" type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
  </div>
  <div class="modal-body" ng-if="vm.transactionLength != 0">

    <p>
      You cannot delete this treaty because it has Cash Transactions. Please delete transactions first, and then return to delete the treaty.
    </p>

    </div>
  <div class="modal-body" ng-if="vm.transactionLength === 0">

    <div ng-if="vm.transactionLength === 0" >
      <p translate="finreApp.treaty.delete.question" translate-values="{id: '{{vm.treaty.id}}'}">Are you sure you want to
        delete this Treaty?</p>
    </div>
  </div>
  <div class="modal-footer">
    <button id="cancelDeleteTreaty" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button id="deleteTreaty" ng-if="vm.transactionLength === 0" type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
