<div class="rga-modal" id="myModal">
  <form class="css-form" name="editForm" role="form" novalidate show-validation ng-submit="$event.preventDefault()">
    <div class="modal-header">
      <div class="col-sm-8">
        <h4 id="myTreatyLabel">
          <strong> Create or Edit Treaty Basic Information </strong>
        </h4>
      </div>
      <div class="col-sm-3">
        <md-switch ng-disabled="true" class="md-switch tooltip-relative" ng-model="vm.treaty.inputStatus" aria-label="RGA Switch"
          ng-true-value="'In Process'" ng-false-value="'Complete'">
          Input {{vm.treaty.inputStatus}}
          <md-tooltip md-direction="left">
            Treaty Name
          </md-tooltip>
        </md-switch>
      </div>
      <div class="col-sm-1">
        <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
      </div>
    </div>

    <uib-accordion close-others="true">
      <!--------------- GENERAL INFORMATION SECTION --------------------------- -->
      <uib-accordion-group class="panel panel-default" id="generalInfo" is-open="vm.general">
        <uib-accordion-heading>
          <h4>
            <strong>General Information </strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.general, 'glyphicon-chevron-right': !vm.general}"></em>
          </h4>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>


        <br>
        <br>
        <div ng-if="vm.treaty.copyTreatyMsg" class="row">
          <div class="col-md-12"> This treaty was copied from {{vm.treaty.copyTreatyMsg}}</div>
        </div>
        <div class="row" ng-if="vm.treaty.deal.name===undefined || vm.treaty.agreementType===undefined || vm.treaty.productStructure===undefined">
          <div class="col-md-12">
            <strong class="error-msg">NOTE: In order to click Save or Next, you must specify Agreement Type and Structure (highlighted in
              <span style="color:#a7baff">Blue</span>).</strong>
          </div>
        </div>
        <p></p>
        <div class="row">
          <div class="form-group col-sm-3" ng-class="{'has-required-error': editForm.deal.$invalid}">
            <label translate="finreApp.treaty.deal">deal</label>
            <input class="form-control" ng-model="vm.treaty.deal.name" readonly/>
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treaty.treatyName"></label>
            <input type="text" class="form-control" name="treatyName" ng-model="vm.treaty.treatyName" placeholder="Treaty Name" />
            <md-tooltip md-direction="top">
              Treaty Name
            </md-tooltip>
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-required-error': editForm.agreementType.$invalid}">
            <label class="control-label" translate="finreApp.treaty.agreementType"></label>
            <select uib-tooltip="Select Agreement Type" class="form-control" name="agreementType" ng-model="vm.treaty.agreementType"
              ng-change="vm.agreementTypeChange(vm.treaty)" ng-disabled="vm.flagActualTransaction" ng-options="agreementType as agreementType.name for agreementType in vm.agreementTypes | orderBy:'name'  track by agreementType.id"
              required>
              <option value=""></option>
            </select>
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-required-error': editForm.productStructure.$invalid}">
            <label class="control-label" translate="finreApp.treaty.structureId"></label>
            <select uib-tooltip="Select Structure" class="form-control" name="productStructure"
                    ng-model="vm.treaty.productStructure"
                    ng-change="vm.checkMDM()"
              ng-options=" structureOptions as structureOptions.name for structureOptions in vm.structureOptions|orderBy:'name' track by structureOptions.name"
              required>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3" ng-class="{'has-error': editForm.treatyStatus.$invalid}">
            <label class="control-label" translate="finreApp.treaty.treatyStatusId"></label>

            <select ng-if="vm.treaty.id !=null && vm.treaty.effectiveDate!=null && vm.treaty.deal.dealStatus!=='Terminated'" class="form-control"
              name="treatyStatus" ng-model="vm.treaty.treatyStatus" ng-options=" statusOptions as statusOptions.name for statusOptions in vm.statusOptions track by statusOptions.name"
              ng-disabled="vm.authority!=='Admin' || vm.treaty.deal.dealStatus==='Terminated' || (vm.authority==='Admin' && vm.treaty.lastUser === vm.lastUser)" ng-change="vm.changeStatus()"
              required>
              <option value=""></option>

            </select>

            <input ng-if="vm.treaty.id == undefined || vm.treaty.effectiveDate == null" type="text" class="form-control" name="Clientname"
              ng-model="vm.treaty.treatyStatus.name" placeholder="Client Deal Name" readonly/>


            <input ng-if="vm.treaty.deal.dealStatus==='Terminated'" type="text" class="form-control" ng-model="vm.treaty.treatyStatus.name"
              placeholder="Client Deal Name" readonly uib-tooltip="To remove this treaty from Terminated status, you must first reactivate the deal."
            />
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.effectiveDate.$invalid}">
            <label class="control-label" translate="finreApp.treaty.effectiveDate">EffectiveDate</label>
            <div class="input-group">
              <input uib-tooltip="Enter Effective Date when Status = Pending" type="text" class="form-control" name="effectiveDate" onkeyup="
                   var date = this.value;
                   if (date.match(/^\d{4}$/) !== null) {
                      this.value = date + '-';
                   } else if (date.match(/^\d{4}\-\d{2}$/) !== null) {
                      this.value = date + '-';
                   }" maxlength="10" uib-datepicker-popup="{{dateformat}}" ng-model="vm.treaty.effectiveDate" is-open="datePickerOpenStatus.effectiveDate"
                placeholder="YYYY-MM-DD" ng-readonly="vm.treaty.treatyStatus.name!='Pending'" ng-required="vm.treaty.treatyStatus.name==='Pending'"
              />
              <span class="input-group-btn">
                <button id="calendarEffective" ng-disabled="vm.treaty.id != undefined && vm.treaty.effectiveDate !=null && vm.treaty.treatyStatus.name !='Pending'"
                  type="button" class="btn btn-default" ng-click="openCalendar('effectiveDate')">
                  <em class="glyphicon glyphicon-calendar"></em>
                </button>
              </span>
            </div>
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.terminationDate.$invalid}">
            <label class="control-label" translate="finreApp.treaty.terminationDate">terminationDate</label>
            <div class="input-group">
              <input type="text" class="form-control" name="terminationDate" onkeyup="
                        var date = this.value;
                        if (date.match(/^\d{4}$/) !== null) {
                           this.value = date + '-';
                        } else if (date.match(/^\d{4}\-\d{2}$/) !== null) {
                           this.value = date + '-';
                        }" maxlength="10" uib-datepicker-popup="{{dateformat}}" ng-model="vm.treaty.terminationDate" is-open="datePickerOpenStatus.terminationDate"
                placeholder="YYYY-MM-DD" ng-readonly="vm.treaty.treatyStatus.name!=='Terminated'" ng-required="vm.treaty.treatyStatus.name==='Terminated'"
              />
              <md-tooltip ng-if="vm.treaty.treatyStatus.name!=='Terminated'" md-direction="top" md-z-index="10000">
                Termination Date is applicable only when Treaty Status is Terminated.
              </md-tooltip>
              <md-tooltip ng-if="vm.treaty.treatyStatus.name==='Terminated'" md-direction="top" md-z-index="10000">
                Termination Date is required when Treaty Status is Terminated.
              </md-tooltip>
              <span class="input-group-btn">
                <button id="calendarTermination" ng-disabled="vm.treaty.treatyStatus.name!='Terminated'" type="button" class="btn btn-default"
                  ng-click="openCalendar('terminationDate')">
                  <em class="glyphicon glyphicon-calendar"></em>
                </button>
              </span>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="form-group col-sm-9">
            <div ng-class="{'has-error': editForm.agreementTypeComments.$invalid}">
              <label class="control-label" translate="finreApp.treaty.agreementTypeComment">Agreement Type</label>
              <textarea uib-tooltip="Comments" class="form-control" name="agreementTypeComments" placeholder="Explain 'Other' agreement type or Structure"
                ng-model="vm.treaty.comments" ng-required="vm.treaty.agreementType.name=='Other' && vm.treaty.productStructure.name=='Other'">
              </textarea>
            </div>
          </div>

          <!--
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treaty.broker" >Broker</label>
            <input uib-tooltip="Broker" type="text" class="form-control" name="broker"
                   ng-model="vm.treaty.broker"/>
          </div>-->
        </div>
      </uib-accordion-group>
      <!--------------- MDM ATTRIBUTES SECTION --------------------------- -->
      <uib-accordion-group class="panel panel-default" id="mdmAttr" is-open="vm.mdm">
        <uib-accordion-heading>
          <h4>
            <strong> MDM Attributes </strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.mdm, 'glyphicon-chevron-right': !vm.mdm}"></em>
          </h4>
        </uib-accordion-heading>
        <span>
          <strong> Deal: </strong> {{vm.treaty.deal.name}}
          <br>
          <strong> US Stat Risk</strong>: {{vm.treaty.deal.usStatRisk}} </span>
        <br>
        <span>
          <strong> Treaty: </strong>{{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div ng-if="(vm.EKusStat || vm.EKproductLine || vm.EKproductStructure || vm.EKdealName) && vm.treaty.ekNotificationFlag !==1">
        <span class="controlEk" >
          <strong> NOTE: One (or more) of the EK attributes is different from existing FAST deal/treaty attributes. See FAST Admin to dismiss this message.</strong>
        </span>
          <br>
        <button ng-if="vm.authority ==='Admin'" id="EKNotification" name="EKNotification"
                class="btn btn-xs rga-button"
                ng-click="vm.treaty.ekNotificationFlag =1"
             >Dismiss EK notification </button>
          <br>
          <br>
        </div>
        <div class="row">

          <div class="form-group col-sm-3">
            <div>
              <label class="control-label">Deal Product Line </label>
              <input readonly class="form-control" ng-model="vm.treaty.deal.productLine.name" />
            </div>
          </div>
          <div class="form-group col-sm-1">
            <md-progress-circular ng-if="vm.activated" class="md-hue-2" md-diameter="40px" md-mode="indeterminate"></md-progress-circular>
          </div>
          <div class="form-group col-sm-4">
            <div class="row">
              <div class="col-sm-12">
                <input ng-if="vm.treaty.agreementType!=null && vm.treaty.productStructure!=null" class="form-control col-sm-2" ng-model="vm.enterpriseKey"
                  ng-change="vm.cleanImport()" placeholder="Enterprise Key" />
                <input ng-if="vm.treaty.agreementType==null || vm.treaty.productStructure==null" uib-tooltip="You must first select the Treaty Agreement Type and Structure"
                  class="form-control md-disabled" readonly placeholder="Enterprise Key" />
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <button id="searchEK" ng-disabled="!vm.enterpriseKey" class="btn btn-default rga-font" ng-click="vm.searchEK(vm.enterpriseKey)">
                  <span class="glyphicon glyphicon-search"></span>&nbsp;
                  <span> Search </span>
                </button>
                <button id="importEK" ng-if="vm.mdmOn===0 && vm.ekExist" class="btn btn-default rga-font" ng-click="vm.importEK()">
                  <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                  <span> Import </span>
                </button>
                <br>
                <div ng-if="vm.ekExist ">Found 1 EK
                  <span style="color:#d40202" ng-if="vm.mdmOn==1"> Imported</span>
                </div>
                <div ng-if="!vm.ekExist">
                  <span>No Results</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-4">
            <div ng-if="vm.ekExist">
              <label class="control-label">EK Product Line(Search Result)</label>
              <br>{{vm.ekData.productLineId}} - {{vm.ekData.productLineName}}
              <br>
              <span ng-if="vm.treaty.productLineMatched===false">
                <label class="control-label">
                  <span style="color:#d40202">
                    NOTE: The Product Line of the EK does not match the Product Line of the Deal.
                  </span>
                </label>
              </span>

            </div>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-sm-4">
            <label class="control-label">Enterprise Key</label>
            <button id="editComment" ng-click="vm.editCommentEk()" uib-tooltip="Add Note to EK:{{vm.currentEkId}}">
              <span ng-if="!vm.editCommentEkFlag" class="glyphicon glyphicon-pencil"></span>
              <span ng-if="vm.editCommentEkFlag" class="glyphicon glyphicon-ok"></span>
              <button id="removeEk" ng-click="vm.removeMdm()" class="btn btn-default btn-xs rga-font" ng-if="vm.editCommentEkFlag">Remove EK</button>
            </button>
            <label ng-if="vm.editCommentEkFlag">{{vm.treaty.mdmAttributes[vm.index].enterpriseId}}</label>
            <input class="form-control" ng-if="vm.editCommentEkFlag" ng-model="vm.treaty.mdmAttributes[vm.index].ekComment">

            <select id="mdmId" class="form-control" ng-model="vm.mdmAttribute" multiple ng-options="mdmAttributes as mdmAttributes.enterpriseId  + ' ' + mdmAttributes.ekComment  for mdmAttributes in vm.treaty.mdmAttributes">
            </select>

          </div>
          <div class="form-group col-sm-4">
            <label class="control-label">Business Unit</label>
            <br>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple ng-options="mdmAttributes as mdmAttributes.businessUnitId + ' - ' + mdmAttributes.businessUnitName for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label">Corporate Indicator & Affiliate Type</label>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple ng-options="mdmAttributes as mdmAttributes.corporateIndicator + ' - ' + mdmAttributes.affiliateType for mdmAttributes in vm.treaty.mdmAttributes">
            </select>

          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">

            <label class="control-label" ng-class="{'controlEk':vm.EKdealName}">EK Deal Name</label>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple ng-options="mdmAttributes as mdmAttributes.deal for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" ng-class="{'controlEk': vm.EKusStat}">US Stat Risk</label>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple ng-options="mdmAttributes as mdmAttributes.usStatRisk for mdmAttributes in vm.treaty.mdmAttributes">
            </select>


          </div>
          <div class="form-group col-sm-4">
            <label class="control-label">Effective Status</label>
            <select novalidate="" class="form-control" ng-model="vm.mdmAttribute" multiple ng-options="mdmAttributes as mdmAttributes.effectiveStatusCd for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label class="control-label" ng-class="{'controlEk':vm.EKproductLine}">Product Line</label>
            <select novalidate="" class="form-control" ng-model="vm.mdmAttribute" multiple ng-options="mdmAttributes as mdmAttributes.productLineId+' - '+mdmAttributes.productLineName for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label">Legal Doc</label>

            <button id="editLegalDoc" ng-if="vm.buttonEdit" ng-click="vm.editLegalDoc()">
              <span ng-if="!vm.editLegalDocId" class="glyphicon glyphicon-pencil"></span>
              <span ng-if="vm.editLegalDocId" class="glyphicon glyphicon-ok"></span>
            </button>
            <input class="form-control" ng-if="vm.editLegalDocId" ng-model="vm.treaty.mdmAttributes[vm.index].legalDoc" ng-change="vm.changeLegalDocId(vm.treaty.mdmAttributes[vm.index])">
            <br>
            <select novalidate="" id="mySelect" class="form-control  col-sm-2" ng-model="vm.mdmAttribute" multiple ng-options="mdmAttributes as mdmAttributes.legalDoc for mdmAttributes in vm.treaty.mdmAttributes"
              ng-click="vm.showLegalDoc(mdmAttributes.$index)">
            </select>


          </div>
          <div class="form-group col-sm-4">
            <label class="control-label">Client Company</label>
            <select novalidate="" class="form-control" ng-model="vm.mdmAttribute" multiple ng-options="mdmAttributes as mdmAttributes.clientCompanyId+' - '+mdmAttributes.clientCompanyName for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label class="control-label"  ng-class="{'controlEk':vm.EKproductStructure}">Product Structure</label>
            <select novalidate="" class="form-control" ng-model="vm.mdmAttribute" multiple ng-options="mdmAttributes as mdmAttributes.productStructure.name for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treatyManagement.reportingProduct"></label>
            <select novalidate="" class="form-control" ng-model="vm.mdmAttribute" multiple ng-options="mdmAttributes as (mdmAttributes.reportingProductId + ' - '+ mdmAttributes.reportingProduct) for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treatyManagement.reportingProductComment"></label>
            <textarea type="text" class="form-control" name="reportingProductCmmnt" ng-model="vm.treaty.reportingProductCmmnt"></textarea>
          </div>
        </div>

      </uib-accordion-group>
      <!------------------------ CURRENCY SECTION ------------------------------------------>
      <uib-accordion-group class="panel panel-default" id="treatyCurrency" is-open="vm.currencySection">
        <uib-accordion-heading>
          <h4>
            <strong>Treaty Currencies</strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.currency, 'glyphicon-chevron-right': !vm.currency}"></em>
          </h4>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <label class="control-label">Currency</label>
            <br/>
            <div class="input-group rga-display">
              <input class="form-control" ng-model="vm.currency.code" readonly/>
              <select class="input-group-addon" name="currency" ng-model="vm.currency" uib-tooltip="Currency: {{vm.currency.name }}" ng-options="currencyOptions as currencyOptions.name disable when currencyOptions.disabled for currencyOptions in vm.currencyOptions| unique : 'code'|orderBy:'name' track by currencyOptions.id">
                <option value=""></option>
              </select>
            </div>
            <br/>
            <br>
            <label class="control-label">Currency Comments</label>
            <textarea type="text" class="form-control" ng-model="vm.treaty.currencyComments"></textarea>
          </div>
          <div class="col-md-2">
            <br/>
            <br/>
            <button id="addCurrency" name="addCurrency" class="btn btn-xs rga-button" title="Add Currency" ng-click="vm.currencyAdd()"
              ng-if="!vm.currency.code==''">Add Currency </button>
          </div>
          <div class="form-group col-sm-6">
            <md-toolbar layout="row" class="md-primary md-hue-2">
              <div class="md-toolbar-tools rga-list-color">
                <span>Currency List</span>
              </div>
            </md-toolbar>
            <md-list ng-cloak>
              <md-list-item>
                <table class="table table-condensed table-bordered">
                  <tr class="info">
                    <th class="col-sm-2 text-left">Code</th>
                    <th class="col-sm-8 text-left">Currency</th>
                    <th></th>

                  </tr>
                  <tbody ng-repeat="Currencies in vm.treaty.treatyCurrencies">
                    <tr class="info">
                      <td> {{Currencies.currency.code}}</td>
                      <td>{{Currencies.currency.name}}</td>
                      <td>
                        <button id="deleteCurrency" uib-tooltip="Click X to Delete" class="btn btn-default btn-xs" ng-click="vm.removeCurrency($index)">
                          <span class="glyphicon glyphicon-remove"> </span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-list-item>
            </md-list>

          </div>
        </div>

      </uib-accordion-group>
      <!---------------------- REPORTING DUE SECTION --------------------------- -->
      <uib-accordion-group class="panel panel-default" id="reportingDue" is-open="vm.reporting">
        <uib-accordion-heading>
          <h4>
            <strong>Reporting Due</strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.reporting, 'glyphicon-chevron-right': !vm.reporting}"></em>
          </h4>
        </uib-accordion-heading>

        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.reportingFrecuency.$invalid}">
            <label class="control-label" translate="finreApp.treaty.reportingFrecuency">Reporting Frequency</label>
            <select uib-tooltip="Frequency" class="form-control" name="reportingFrecuency" required ng-model="vm.treaty.reportingFrequency"
              ng-change="vm.changeReportingFrequency(0)" ng-options="periodOptions as periodOptions.name for periodOptions in vm.periodOptions track by periodOptions.id">

              <option value=""></option>
            </select>
          </div>
          <div class="form-group col-sm-2" ng-class="{'has-error': editForm.reportingduedays.$invalid}">
            <label class="control-label" translate="finreApp.treaty.reportingduedays"></label>
            <input type="number" min="0" class="form-control" name="reportingduedays" ng-model="vm.treaty.reportingDueDate.numberOfDays"
              ng-readonly="vm.treaty.reportingDueDate.dayType==='On'" ng-change="vm.numberOfDay(vm.treaty.reportingDueDate)"
              ng-disabled="!vm.treaty.reportingFrequency" ng-required="vm.treaty.reportingFrequency" />
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.reportDayType.$invalid}">
            <label class="control-label">Day Type</label>
            <select class="form-control" ng-model="vm.treaty.reportingDueDate.dayType" name="reportDayType" ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
              ng-change="vm.changeON(vm.treaty.reportingDueDate)" ng-disabled="!vm.treaty.reportingFrequency" ng-required="vm.treaty.reportingFrequency">
              <option value=""></option>
            </select>
          </div>
          <div class="form-group col-sm-4" ng-class="{'has-error': editForm.reportingdueperiod.$invalid}">
            <label class="control-label" translate="finreApp.treaty.reportingdueperiod" for="field_reportingdueperiod">Period</label>
            <select class="form-control" id="field_reportingdueperiod" name="reportingdueperiod" ng-model="vm.treaty.reportingDueDate.period"
              uib-tooltip="Select Frequency first" ng-options="DayTypeOptionsRep as DayTypeOptionsRep for DayTypeOptionsRep in vm.DayTypeOptionsRep track by DayTypeOptionsRep"
              ng-change="vm.changeON(vm.treaty.reportingDueDate)" ng-disabled="!vm.treaty.reportingFrequency" ng-required="vm.treaty.reportingFrequency">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label class="control-label"> Comments </label>
            <br>
            <textarea class="form-control" name="reportingDueComments" ng-model="vm.treaty.reportingDueDate.comments">
            </textarea>

          </div>


        </div>
        <!--- month exception-->
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Quarter End Exception </label>
            <br>
            <md-switch class="md-top" ng-model="vm.treaty.rptDueMonthFlag" ng-disabled="!vm.treaty.reportingFrequency || vm.treaty.reportingFrequency.name!='Monthly'"
              ng-change="vm.changQuarterExceptFlag()" ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn" uib-tooltip="Quarter End Exception is only applicable when Reporting Frequency is Monthly.">
              {{vm.treaty.rptDueMonthFlag}}
            </md-switch>

          </div>
          <div>
            <div class="form-group col-sm-2" ng-if="vm.treaty.rptDueMonthFlag=='Yes'" ng-class="{'has-error': editForm.rptDueMonthDateDays.$invalid}">
              <label class="control-label" translate="finreApp.treaty.reportingduedays"></label>
              <input type="number" min="0" class="form-control" name="rptDueMonthDateDays" ng-model="vm.treaty.reportingDueQuarterEx.numberOfDays"
                ng-required="vm.treaty.rptDueMonthFlag==='Yes'" ng-readonly="vm.treaty.rptDueMonthFlag==='No' || vm.treaty.reportingDueQuarterEx.dayType==='On'"
                ng-change="vm.numberOfDay(vm.treaty.reportingDueQuarterEx)" />
            </div>
            <div class="form-group col-sm-3" ng-if="vm.treaty.rptDueMonthFlag=='Yes'" ng-class="{'has-error': editForm.rptDueMonthDateType.$invalid}">
              <label class="control-label">Day Type</label>
              <select class="form-control" ng-model="vm.treaty.reportingDueQuarterEx.dayType" name="rptDueMonthDateType" ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
                ng-required="vm.treaty.rptDueMonthFlag==='Yes'" ng-change="vm.changeON(vm.treaty.reportingDueQuarterEx)" ng-readonly="vm.treaty.rptDueMonthFlag==='No'">
                <option value=""></option>
              </select>
            </div>
            <div class="form-group col-sm-4" ng-if="vm.treaty.rptDueMonthFlag=='Yes'" ng-class="{'has-error': editForm.rptDueMonthDatePeriod.$invalid}">
              <label class="control-label" translate="finreApp.treaty.reportingdueperiod" for="field_reportingdueperiodYr">Period</label>
              <input class="form-control" id="field_rptDueMonthDatePeriod" name="rptDueMonthDatePeriod" ng-model="vm.treaty.reportingDueQuarterEx.period"
                readonly />
              <!-- <select class="form-control" id="field_rptDueMonthDatePeriod" name="rptDueMonthDatePeriod" ng-model="vm.treaty.reportingDueQuarterEx.period"
                ng-options="DayTypeOptionsRep as DayTypeOptionsRep for DayTypeOptionsRep in vm.QuarterTypeOptions track by DayTypeOptionsRep"
                ng-required="vm.treaty.rptDueMonthFlag==='Yes'" ng-readonly="vm.treaty.rptDueMonthFlag==='No'">
                <option value=""></option>
              </select> -->
            </div>
            <div class="form-group col-sm-12" ng-if="vm.treaty.rptDueMonthFlag=='Yes'">
              <label class="control-label"> Comments </label>
              <br>
              <textarea class="form-control" name="reportingDueYrComments" ng-readonly="vm.treaty.rptDueMonthFlag==='No'" ng-model="vm.treaty.reportingDueQuarterEx.comments">
              </textarea>

            </div>


          </div>
        </div>

        <!---------------------- REPORTING DUE SECTION YEAR EXCEPTION--------------------------- -->
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Year End Exception</label>
            <br>
            <md-switch class="md-top" ng-change="vm.changYearExceptFlag()" ng-model="vm.treaty.yearEndException" aria-label="Year End Exception"
              ng-disabled="!vm.treaty.reportingFrequency || vm.treaty.reportingFrequency.name=='Annual'" ng-true-value="'Yes'"
              ng-false-value="'No'" class="md-warn">
              {{vm.treaty.yearEndException}}
            </md-switch>
          </div>
          <div>
            <div class="form-group col-sm-2" ng-if="vm.treaty.yearEndException=='Yes'" ng-class="{'has-error': editForm.reportingduedaysYr.$invalid}">
              <label class="control-label" translate="finreApp.treaty.reportingduedays"></label>
              <input type="number" min="0" ng-required="vm.treaty.yearEndException==='Yes'" class="form-control" name="reportingduedaysYr"
                ng-model="vm.treaty.reportingDueYearEx.numberOfDays" ng-readonly="vm.treaty.yearEndException==='No' || vm.treaty.reportingDueYearEx.dayType==='On'"
                ng-change="vm.numberOfDay(vm.treaty.reportingDueYearEx)" />
            </div>
            <div class="form-group col-sm-3" ng-if="vm.treaty.yearEndException=='Yes'" ng-class="{'has-error': editForm.reportDayTypeYr.$invalid}">
              <label class="control-label">Day Type</label>
              <select class="form-control" ng-model="vm.treaty.reportingDueYearEx.dayType" name="reportDayTypeYr" ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
                ng-required="vm.treaty.yearEndException==='Yes'" ng-change="vm.changeON(vm.treaty.reportingDueYearEx)" ng-readonly="vm.treaty.yearEndException==='No'">
                <option value=""></option>
              </select>
            </div>
            <div class="form-group col-sm-4" ng-if="vm.treaty.yearEndException=='Yes'" ng-class="{'has-error': editForm.reportingdueperiodYr.$invalid}">
              <label class="yrEndExceptionPeriod control-label" for="field_reportingdueperiodYr">
                Period
                <small>Year End = {{vm.yearEndDate}}</small>
              </label>
              <input class="form-control" id="field_reportingdueperiodYr" name="reportingdueperiodYr" ng-model="vm.treaty.reportingDueYearEx.period"
                readonly />
            </div>
            <div class="form-group col-sm-12" ng-if="vm.treaty.yearEndException=='Yes'">
              <label class="control-label"> Comments </label>
              <br>
              <textarea class="form-control" name="reportingDueYrComments" ng-readonly="vm.treaty.yearEndException==='No'" ng-model="vm.treaty.reportingDueYearEx.comments">
              </textarea>

            </div>


          </div>
        </div>
      </uib-accordion-group>
      <!---------------------- SERIATIM REPORTING INFORMATION SECTION --------------------------- -->
      <uib-accordion-group class="panel panel-default" id="seriatimInfo" is-open="vm.seriatim">
        <uib-accordion-heading>
          <h4>
            <strong>Seriatim Reporting Information</strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.seriatim, 'glyphicon-chevron-right': !vm.seriatim}"></em>
          </h4>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treaty.seriatimType">SeriatimType</label>
            <select class="form-control" name="seriatimType" ng-change="vm.changeSeriatim();" ng-model="vm.seriatimType" ng-options=" seriatimTypes as seriatimTypes.name for seriatimTypes in vm.seriatimTypes | orderBy:'name' track by seriatimTypes.name">
            </select>
          </div>
          <div class="form-group col-sm-2" style="width: 10%;" ng-if="vm.seriatimType.name!='N/A'">
            <label class="control-label">Due Date</label>
            <br>
            <md-switch class="md-top margin-zero" ng-model="vm.seriatimDueDateFlag" ng-change="vm.changeFlagDate(vm.seriatimDueDateFlag,vm.seriatimDueDate)"
              ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn">
              {{vm.seriatimDueDateFlag}}
            </md-switch>
          </div>
          <div ng-if="vm.seriatimDueDateFlag=='Yes' && vm.seriatimType.name!='N/A'" class="form-group col-sm-2" ng-class="{'has-error': editForm.seriatimReportingDueFreq.$invalid}">
            <label class="control-label"> Frequency</label>
            <select class="form-control" name="seriatimReportingDueFreq" ng-model="vm.seriatimFreq" ng-options="periodOptions as periodOptions.name for periodOptions in vm.periodOptions track by periodOptions.id"
              ng-change="vm.changeFrequencySeriatim()">
              <option value=""> --- </option>
            </select>

          </div>
          <div ng-if="vm.seriatimDueDateFlag=='No' &&  vm.seriatimType.name!='N/A'" class="form-group col-sm-2">
            <label class="control-label"> Frequency</label>
            <input disabled type="text" class="form-control" value="Upon Request" />
          </div>
          <div ng-if="vm.seriatimDueDateFlag=='Yes'" class="form-group col-sm-2" style="width: 10%;" ng-class="{'has-error': editForm.seriatimDueDateDays.$invalid}">
            <label class="control-label" translate="finreApp.treaty.reportingduedays"></label>
            <input type="number" min="0" class="form-control" name="seriatimDueDateDays" ng-model="vm.seriatimDueDate.numberOfDays" ng-disabled="vm.seriatimDueDateFlag=='No'"
              ng-readonly="vm.seriatimDueDate.dayType==='On'" ng-change="vm.numberOfDay(vm.seriatimDueDate)" ng-required="vm.seriatimDueDateFlag=='Yes'"
            />
          </div>
          <div class="form-group col-sm-3" style="width: 22%;" ng-if="vm.seriatimDueDateFlag=='Yes'" ng-class="{'has-error': editForm.seriatimDueDateType.$invalid}">
            <label class="control-label">Day Type</label>
            <select class="form-control" ng-model="vm.seriatimDueDate.dayType" name="seriatimDueDateType" ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
              ng-required="vm.seriatimDueDateFlag=='Yes'" ng-change="vm.changeON(vm.seriatimDueDate)" ng-disabled="vm.seriatimDueDateFlag=='No'">
              <option value=""></option>
            </select>
          </div>
          <div ng-if="vm.seriatimDueDateFlag=='Yes'" class="form-group col-sm-2" style="width: 16%;" ng-class="{'has-error': editForm.seriatimDueDatePeriod.$invalid}">
            <label class="control-label" translate="finreApp.treaty.reportingdueperiod">Period</label>
            <select class="form-control" name="seriatimDueDatePeriod" ng-model="vm.seriatimDueDate.period" ng-options="DayTypeOptionsRep as DayTypeOptionsRep for DayTypeOptionsRep in vm.DayTypeOptionsSer track by DayTypeOptionsRep"
              ng-disabled="vm.seriatimDueDateFlag=='No' || vm.seriatimFreq.name!='Monthly'" required>
              <option value=""></option>
            </select>
          </div>
          <div class="form-group col-sm-3" style="width: 23%;" ng-if="vm.seriatimType.name!='N/A'" ng-class="{'has-error': editForm.treatyReferenceSeriatim.$invalid}">
            <label class="control-label" translate="finreApp.treaty.treatyReferenceSeriatim">Treaty Reference</label>
            <textarea type="text" class="form-control" name="treatyReferenceSeriatim" ng-model="vm.treatySeriatimReference" required
              ng-readonly="vm.seriatimType==undefined|| vm.seriatimType.name=='N/A'">

            </textarea>
          </div>
          <div class="form-group col-sm-3" style="width: 23%;" ng-if="vm.seriatimType.name!='N/A'" ng-class="{'has-error': editForm.seriatimReporting.$invalid}">
            <label class="control-label">Seriatim Type Comments</label>
            <textarea type="text" class="form-control" name="seriatimReporting" ng-model="vm.treatySeriatimComment">
            </textarea>
          </div>
        </div>
        <div class="row  text-center" ng-if="vm.seriatimType.id!= undefined && vm.seriatimType.name!='N/A' && ((vm.seriatimDueDateFlag=='Yes'
             && vm.seriatimDueDate.period != null && vm.seriatimDueDate.dayType != null) ||(vm.seriatimDueDateFlag=='No') )&& vm.treatySeriatimReference!=null ">
          <button id="addSeriatim" name="addSeriamType" class="btn btn-xs rga-button" uib-tooltip="Add Seriatim Type and/or Accept Changes"
            ng-click="vm.addSeriamType(vm.seriatimType)"> Add Seriatim Type</button>
        </div>
        <div class="row">
          <div class="form-group col-sm-12" ng-if="!vm.treaty.seriatimTypeTreaties == 0">
            <table class="table" name="tableRiskFee">
              <thead>
                <th class="col-sm-1 text-center">
                  <strong> Seriatim Type</strong>
                </th>
                <th class="col-sm-1 text-center">
                  <strong> Frequency</strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Date Calculation Flag </strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Treaty Reference </strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Comments </strong>
                </th>
                <th class="col-sm-2"> </th>
              </thead>
              <tr ng-repeat="seritatimTypeTreaty in vm.treaty.seriatimTypeTreaties">
                <td class="col-sm-2 text-center"> {{seritatimTypeTreaty.seriatimType.name}}
                </td>
                <td class="col-sm-1 text-center" ng-if="seritatimTypeTreaty.seriatimFreq!=null"> {{seritatimTypeTreaty.seriatimFreq.name}}
                </td>
                <td class="col-sm-1 text-center" ng-if="seritatimTypeTreaty.seriatimFreq==null"> Upon Request
                </td>
                <td class="col-sm-3 text-center">
                  <span class="col-md-12">{{seritatimTypeTreaty.seriatimDueDate.numberOfDays}} {{seritatimTypeTreaty.seriatimDueDate.dayType}} {{seritatimTypeTreaty.seriatimDueDate.period}}</span>
                  <input uib-tooltip="Check here for calculated date to be displayed on Tracking." ng-value="$index" ng-if="seritatimTypeTreaty.seriatimDueDateFlag=='Yes'"
                    type="radio" ng-model="vm.dueDateSelected" ng-change="vm.updateSelection($index, entities)" />
                </td>
                <td class="col-sm-2 text-center"> {{seritatimTypeTreaty.treatySeriatimReference}}
                </td>
                <td class="col-sm-3 text-center"> {{seritatimTypeTreaty.treatySeriatimComment}}
                </td>
                <td class="col-sm-2 btn-group">
                  <button id="removeSeriatim" class="btn btn-default btn-xs" ng-click="removeSeriamType($index)" uib-tooltip="Delete">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <button id="editSeriatimType" class="btn btn-default btn-xs" ng-click="vm.editSeritatimType(seritatimTypeTreaty,$index)"
                    uib-tooltip="Edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </td>
              </tr>
            </table>
          </div>

        </div>

      </uib-accordion-group>
      <!---------------------- SETTLEMENT DUE - ASSUMING SECTION --------------------------- -->
      <uib-accordion-group panel-class="panel panel-default" id="settlementAssuming" is-open="vm.assuming">
        <uib-accordion-heading>
          <h4>
            <strong> Settlement Due - Assuming & Broker Fee Info</strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.assuming, 'glyphicon-chevron-right': !vm.assuming}"></em>
          </h4>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.SettlementFrequency.$invalid}">
            <label class="control-label" translate="finreApp.treaty.frequency"></label>
            <select class="form-control" name="SettlementFrequency" required ng-model="vm.treaty.settlementFrequency" ng-options="periodOptions as periodOptions.name for periodOptions in vm.periodOptions track by periodOptions.id"
              ng-change="vm.changeFrequencyDueAssuming(0)">
              <option value=""> </option>
            </select>
          </div>
          <div class="form-group col-sm-3">
            <label class="control-labe" translate="finreApp.treaty.brokerFee"></label>
            <br>
            <md-switch class="md-top" ng-change="vm.brokerSwitchChange()" ng-model="vm.treaty.brokerFeeSwitchFlag" ng-disabled="!vm.treaty.settlementFrequency"
              aria-label="RGA Switch" ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn">
              {{vm.treaty.brokerFeeSwitchFlag}}
            </md-switch>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            </br>
            <strong> Settlement Due </strong>
          </div>
          <div class="form-group col-sm-2" ng-class="{'has-error': editForm.settlementduedays.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementduedays"></label>
            <input type="number" min="0" class="form-control" name="settlementduedays" id="field_settlementduedays" ng-model="vm.treaty.stmntDueAsm.numberOfDays"
              ng-readonly="vm.treaty.stmntDueAsm.dayType==='On'" ng-change="vm.numberOfDay(vm.treaty.stmntDueAsm)" ng-disabled="!vm.treaty.settlementFrequency"
              ng-required="vm.treaty.settlementFrequency" />
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.settlementduedaytypeAssuming.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementduedaytype"></label>
            <select class="form-control" name="settlementduedaytypeAssuming" ng-model="vm.treaty.stmntDueAsm.dayType" ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
              ng-change="vm.changeON(vm.treaty.stmntDueAsm)" ng-disabled="!vm.treaty.settlementFrequency" ng-required="vm.treaty.settlementFrequency">
              <option value=""></option>
            </select>

          </div>
          <div class="form-group col-sm-4" uib-tooltip="Select Frequency first" ng-class="{'has-error': editForm.settlementdueperiodAssuming.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementdueperiod">Period</label>
            <select class="form-control" name="settlementdueperiodAssuming" required ng-model="vm.treaty.stmntDueAsm.period" ng-options="periodOptionDue as periodOptionDue for periodOptionDue in vm.periodOptionDue track by periodOptionDue"
              ng-disabled="!vm.treaty.settlementFrequency" ng-required="vm.treaty.settlementFrequency">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            </br>
            <strong> Grace Period Expiration </strong>
          </div>
          <div class="form-group col-sm-2" ng-class="{'has-error': editForm.settlementduedayspastAssuming.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementduedayspast"></label>
            <input type="number" class="form-control" name="settlementduedayspastAssuming" ng-model="vm.treaty.stmntDueAsmGracePeriod.numberOfDays"
              ng-readonly="vm.treaty.stmntDueAsmGracePeriod.dayType==='On'" ng-change="vm.numberOfDay(vm.treaty.stmntDueAsmGracePeriod)"
              ng-disabled="!vm.treaty.settlementFrequency" ng-required="vm.treaty.settlementFrequency" />
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.settlementduedaytypepastAssuming.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementduedaytypepast"></label>
            <select class="form-control" name="settlementduedaytypepastAssuming" ng-model="vm.treaty.stmntDueAsmGracePeriod.dayType"
              ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
              ng-change="vm.changeON(vm.treaty.stmntDueAsmGracePeriod)" ng-disabled="!vm.treaty.settlementFrequency" ng-required="vm.treaty.settlementFrequency">
              <option value=""></option>
            </select>
          </div>
          <div class="form-group col-sm-4" uib-tooltip="Select Frequency first" ng-class="{'has-error': editForm.settlementdueperiodpastAssuming.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementdueperiodpast">Period</label>
            <select class="form-control" name="settlementdueperiodpastAssuming" ng-model="vm.treaty.stmntDueAsmGracePeriod.period" ng-disabled="!vm.treaty.settlementFrequency"
              ng-required="vm.treaty.settlementFrequency" ng-options="periodOptionPastDue as periodOptionPastDue for periodOptionPastDue in vm.periodOptionPastDue track by periodOptionPastDue">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="row">

          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.SettlementTreatyReferenceCommentAssuming.$invalid}">

            <label class="control-label">Settlement Due Comments </label>
            <textarea class="form-control" name="SettlementTreatyReferenceCommentAssuming" ng-model="vm.treaty.stmntDueAsm.comments">
            </textarea>
          </div>
          <div class="form-group col-sm-5" ng-class="{'has-error': editForm.SettlementCommentsAssuming.$invalid}">
            <label class="control-label">Grace Period Comments</label>
            <textarea class="form-control" name="SettlementCommentsAssuming" ng-model="vm.treaty.stmntDueAsmGracePeriod.comments">
            </textarea>
          </div>
          <div class="form-group col-sm-4" ng-class="{'has-error': editForm.SettlementTreatyReferenceComment.$invalid}">
            <label class="control-label"> Grace Period Treaty Reference </label>
            <textarea class="form-control" name="SettlementTreatyReferenceComment" ng-model="vm.treaty.stmntDueAsmGracePeriod.treatyRefComments"
              required>
            </textarea>
          </div>
        </div>

        <!--- month exception-->
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Quarter End Exception </label>
            <br>
            <md-switch class="md-top" ng-model="vm.treaty.smntAsmMonthFlag" ng-disabled="!vm.treaty.settlementFrequency || vm.treaty.settlementFrequency.name!='Monthly'"
              ng-change="vm.changeFlagDate(vm.treaty.smntAsmMonthFlag,vm.treaty.stmntDueAsmQuarterEx)" ng-true-value="'Yes'"
              ng-false-value="'No'" class="md-warn" uib-tooltip="Quarter End Exception is only applicable when Reporting Frequency is Monthly.">
              {{vm.treaty.smntAsmMonthFlag}}
            </md-switch>
          </div>
          <div>
            <div class="form-group col-sm-2" ng-if="vm.treaty.smntAsmMonthFlag=='Yes'" ng-class="{'has-error': editForm.smntAsmMonthDateDays.$invalid}">
              <label class="control-label" translate="finreApp.treaty.reportingduedays"></label>
              <input type="number" min="0" class="form-control" name="smntAsmMonthDateDays" ng-model="vm.treaty.stmntDueAsmQuarterEx.numberOfDays"
                ng-required="vm.treaty.smntAsmMonthFlag==='Yes'" ng-readonly="vm.treaty.stmntDueAsmQuarterEx.dayType==='On'"
                ng-change="vm.numberOfDay(vm.treaty.stmntDueAsmQuarterEx)" />
            </div>
            <div class="form-group col-sm-3" ng-if="vm.treaty.smntAsmMonthFlag=='Yes'" ng-class="{'has-error': editForm.smntAsmMonthDateType.$invalid}">
              <label class="control-label">Day Type</label>
              <select class="form-control" ng-model="vm.treaty.stmntDueAsmQuarterEx.dayType" name="smntAsmMonthDateType" ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
                ng-required="vm.treaty.smntAsmMonthFlag==='Yes'" ng-change="vm.changeON(vm.treaty.stmntDueAsmQuarterEx)" ng-readonly="vm.treaty.smntAsmMonthFlag==='No'">
                <option value=""></option>
              </select>
            </div>
            <div class="form-group col-sm-3" ng-if="vm.treaty.smntAsmMonthFlag=='Yes'" ng-class="{'has-error': editForm.smntAsmMonthDatePeriod.$invalid}">
              <label class="control-label" translate="finreApp.treaty.reportingdueperiod" for="field_reportingdueperiodYr">Period</label>
              <select id="QuarterExceptionSettlementAssumingPeriod" class="form-control" name="smntAsmMonthDatePeriod" ng-model="vm.treaty.stmntDueAsmQuarterEx.period" ng-options="DayTypeOptionsRep as DayTypeOptionsRep for DayTypeOptionsRep in vm.QuarterTypeOptions track by DayTypeOptionsRep"
                ng-required="vm.treaty.smntAsmMonthFlag==='Yes'" ng-readonly="vm.treaty.smntAsmMonthFlag==='No'">
                <option value=""></option>
              </select>
            </div>
            <div class="form-group col-sm-12" ng-if="vm.treaty.smntAsmMonthFlag=='Yes'">
              <label class="control-label"> Comments </label>
              <br>
              <textarea class="form-control" name="smntAsmMonthDateComments" ng-readonly="vm.treaty.smntAsmMonthFlag==='No'" ng-model="vm.treaty.stmntDueAsmQuarterEx.comments">
              </textarea>

            </div>


          </div>
        </div>


        <div class="row" ng-if="vm.treaty.brokerFeeSwitchFlag=='Yes'">
          <div class="form-group col-sm-3">
            <br>
            <strong> Broker Fee Due </strong>
          </div>
          <div class="form-group col-sm-2" ng-class="{'has-error': editForm.numberOfDaysBroker.$invalid}">
            <label class="control-label">Days</label>
            <input type="number" min="1" class="form-control" name="numberOfDaysBroker" ng-readonly="vm.treaty.stmntDueAsmBroker.dayType==='On'"
              ng-model="vm.treaty.stmntDueAsmBroker.numberOfDays" required />
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.dayTypePositionBroker.$invalid}">
            <label class="control-label" translate="finreApp.treaty.dayTypePosition"></label>
            <select class="form-control" name="dayTypePositionBroker" ng-model="vm.treaty.stmntDueAsmBroker.dayType" ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptionsBroker track by DayTypeOptions"
              required>
              <option value=""></option>
            </select>

          </div>
          <div class="form-group col-sm-4" uib-tooltip="Broker Period" ng-class="{'has-error': editForm.brokerPeriod.$invalid}">
            <label class="control-label" translate="finreApp.treaty.brokerPeriod">Period</label>
            <input class="form-control" name="brokerPeriod" ng-model="vm.treaty.stmntDueAsmBroker.period" disabled>
            </input>
          </div>
        </div>
        <div class="row" ng-if="vm.treaty.brokerFeeSwitchFlag=='Yes'">
          <div class="form-group col-sm-12">
            <div class="row">
              <div class="form-group col-sm-3" ng-class="{'has-error': editForm.broker.$invalid}">
                <label class="control-label" translate="finreApp.treaty.broker">Broker</label>
                <input uib-tooltip="Broker" type="text" class="form-control" name="broker" ng-model="vm.treaty.broker" required/>
              </div>
              <div class="form-group col-sm-2" ng-class="{'has-error': editForm.brokerFeePercentage.$invalid}">
                <label> Broker Fee &nbsp;</label>
                <div class="input-group">
                  <input type="number" class="form-control" name="brokerFeePercentage" ng-model="vm.treaty.brokerFeePercentage" placeholder="Broker Fee"
                    aria-describedby="field_brokerFee" required>
                  <span class="input-group-addon" id="field_brokerFee">%</span>
                </div>
              </div>
              <div class="form-group col-sm-7" ng-class="{'has-error': editForm.brokerComments.$invalid}">
                <label class="control-label" for="field_brokerComments">Broker Fee Comments </label>
                <textarea type="text" class="form-control" name="brokerComments" id="field_brokerComments" ng-model="vm.treaty.stmntDueAsmBroker.comments"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="vm.treaty.brokerFeeSwitchFlag=='Yes'">
          <div class="form-group col-sm-3">
            <label class="control-label">Minimum Broker Fee</label>
            <br>
            <md-switch class="md-top" ng-change="vm.minBrokerFeeChange()" ng-model="vm.treaty.minBrokerFeeFlag" aria-label="RGA Switch"
              ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn">
              {{vm.treaty.minBrokerFeeFlag}}
            </md-switch>
          </div>
          <div ng-if="vm.treaty.minBrokerFeeFlag==='Yes'" class="form-group col-sm-3" ng-class="{'has-error': editForm.brokerCurrencySelection.$invalid}">
            <label class="control-label"> Currency &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Amount</label>
            <div class="input-group rga-display">
              <span class="input-group-addon"> {{vm.treaty.brokerCurrency.code}}</span>
              <select class="input-group-addon" ng-model="vm.treaty.brokerCurrency" uib-tooltip="Currency: {{vm.treaty.brokerCurrency.name }}"
                ng-options="currencyOptions as currencyOptions.name for currencyOptions in vm.currencyOptionBroker|orderBy:'name'"
                ng-required="vm.treaty.minBrokerFeeFlag==='Yes'" name="brokerCurrencySelection">
                <option value=""></option>
              </select>
              <input class="form-control" type="text" name="currencyBroker" min="1" uib-tooltip="Amount" dataformatas="" ng-model="vm.treaty.brokerFeeAmount"
                placeholder="Broker Fee" ui-number-mask="2" ui-negative-number ng-required="vm.treaty.minBrokerFeeFlag==='Yes'"
              />
            </div>

          </div>
        </div>


      </uib-accordion-group>
      <!---------------------- SETTLEMENT DUE - CEDING SECTION --------------------------- -->
      <uib-accordion-group panel-class="panel panel-default" id="settlementCeding" is-open="vm.ceding">
        <uib-accordion-heading>
          <h4>
            <strong>Settlement Due - Ceding</strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.ceding, 'glyphicon-chevron-right': !vm.ceding}"></em>
          </h4>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>

        <md-switch ng-click="vm.changeCedingFlag(editForm)" ng-model="vm.treaty.cedingFlag" aria-label="RGA Switch" ng-true-value="'Yes'"
          ng-false-value="'No'" class="md-warn">
          <span ng-if="vm.treaty.cedingFlag==='No'"> No {{vm.treaty.notification=''}}</span>
          <span name="notification" ng-if="!editForm.stmntFrqncCeding.$dirty &&
                          !editForm.settlementduedaysCeding.$dirty  &&
                          !editForm.settlementduedaytype.$dirty  &&
                          !editForm.settlementdueperiod.$dirty  &&
                          !editForm.cedingComments.$dirty  &&
                          !editForm.settlementduedayspastCeding.$dirty  &&
                          !editForm.settlementduedaytypepast.$dirty  &&
                          !editForm.settlementdueperiodpast.$dirty  &&
                          !editForm.gpTrCeding.$dirty  &&
                          !editForm.gpCmmtsCeding.$dirty
                          && vm.treaty.cedingFlag==='Yes'
                          && vm.treaty.notification!=' - This information has been copied from Settlement Due - Assuming and has been edited.'
                                    ">
            Yes {{vm.treaty.notification=' - This information has been copied from Settlement Due - Assuming.'}}
          </span>
          <span name="notification" ng-if="
                          vm.treaty.notification==' - This information has been copied from Settlement Due - Assuming and has been edited.' || (
                          editForm.stmntFrqncCeding.$dirty ||
                          editForm.settlementduedaysCeding.$dirty ||
                          editForm.settlementduedaytype.$dirty ||
                          editForm.settlementdueperiod.$dirty ||
                          editForm.cedingComments.$dirty ||
                          editForm.settlementduedayspastCeding.$dirty ||
                          editForm.settlementduedaytypepast.$dirty ||
                          editForm.settlementdueperiodpast.$dirty ||
                          editForm.gpTrCeding.$dirty ||
                          editForm.gpCmmtsCeding.$dirty)
                          && vm.treaty.cedingFlag==='Yes'
                                    ">
            Yes {{vm.treaty.notification=' - This information has been copied from Settlement Due - Assuming and has been edited.'}}
          </span>
        </md-switch>

        <div class="row">
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.stmntFrqncCeding.$invalid}">
            <label class="control-label" translate="finreApp.treaty.SettlementFrequency"></label>
            <select class="form-control" id="field_stmntFrqncCeding" name="stmntFrqncCeding" ng-model="vm.treaty.stmntFrqncCeding" ng-options="periodOptions as periodOptions.name for periodOptions in vm.periodOptions track by periodOptions.id"
              ng-change="vm.changeFrequencyDueCeding(0)" ng-disabled="vm.treaty.cedingFlag==='No'" ng-required="vm.treaty.cedingFlag==='Yes'">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            </br>
            <label class="control-label">Settlement Due</label>
          </div>
          <div class="form-group col-sm-2" ng-class="{'has-error': editForm.settlementduedaysCeding.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementduedays"></label>
            <input type="number" min="0" class="form-control" name="settlementduedaysCeding" ng-model="vm.treaty.stmntDueCed.numberOfDays"
              ng-change="vm.numberOfDay(vm.treaty.stmntDueCed)" ng-readonly="vm.treaty.stmntDueCed.dayType==='On'" ng-disabled="vm.treaty.cedingFlag==='No' || !vm.treaty.stmntFrqncCeding"
              ng-required="vm.treaty.cedingFlag==='Yes' && vm.treaty.stmntFrqncCeding" />
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.settlementduedaytype.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementduedaytype"></label>
            <select class="form-control" name="settlementduedaytype" ng-model="vm.treaty.stmntDueCed.dayType" ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
              ng-disabled="vm.treaty.cedingFlag==='No' || !vm.treaty.stmntFrqncCeding " ng-required="vm.treaty.cedingFlag==='Yes' && vm.treaty.stmntFrqncCeding"
              ng-change="vm.changeON(vm.treaty.stmntDueCed)">
              <option value=""></option>
            </select>

          </div>
          <div class="form-group col-sm-4" uib-tooltip="Select Frequency first" ng-class="{'has-error': editForm.settlementdueperiod.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementdueperiod"></label>
            <select class="form-control" name="settlementdueperiod" ng-model="vm.treaty.stmntDueCed.period" ng-options="periodOptionDueCeding as periodOptionDueCeding for periodOptionDueCeding in vm.periodOptionDueCeding track by periodOptionDueCeding"
              ng-disabled="vm.treaty.cedingFlag==='No' || !vm.treaty.stmntFrqncCeding" ng-required="vm.treaty.cedingFlag==='Yes' && vm.treaty.stmntFrqncCeding">
              <option value=""></option>
            </select>
          </div>

          <div class="form-group col-sm-3">
            </br>
            <label class="control-label">Grace Period Expiration </label>
          </div>
          <div class="form-group col-sm-2" ng-class="{'has-error': editForm.settlementduedayspastCeding.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementduedayspast"></label>
            <input type="number" class="form-control" name="settlementduedayspastCeding" ng-model="vm.treaty.stmntDueCedGracePeriod.numberOfDays"
              ng-readonly="vm.treaty.stmntDueCedGracePeriod.dayType==='On'" ng-disabled="vm.treaty.cedingFlag==='No' ||  vm.treaty.stmntFrqncCeding.id===undefined ||vm.treaty.stmntDueCedGracePeriod.dayType==='On'"
              ng-change="vm.numberOfDay(vm.treaty.stmntDueCedGracePeriod)" ng-required="vm.treaty.cedingFlag==='Yes' && vm.treaty.stmntFrqncCeding.id!==undefined"
            />
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.settlementduedaytypepast.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementduedaytypepast">Period</label>
            <select class="form-control" id="field_settlementduedaytypepast" name="settlementduedaytypepast" ng-model="vm.treaty.stmntDueCedGracePeriod.dayType"
              ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
              ng-disabled="vm.treaty.cedingFlag==='No' || !vm.treaty.stmntFrqncCeding" ng-change="vm.changeON(vm.treaty.stmntDueCedGracePeriod)"
              ng-required="vm.treaty.cedingFlag==='Yes' && vm.treaty.stmntFrqncCeding">

              <option value=""></option>
            </select>
          </div>
          <div class="form-group col-sm-4" uib-tooltip="Select Frequency first" ng-class="{'has-error': editForm.settlementdueperiodpast.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementdueperiodpast">Period</label>
            <select class="form-control" name="settlementdueperiodpast" ng-model="vm.treaty.stmntDueCedGracePeriod.period" ng-options="periodOptionPastDueCeding as periodOptionPastDueCeding for periodOptionPastDueCeding in vm.periodOptionPastDueCeding track by periodOptionPastDueCeding"
              ng-disabled="vm.treaty.cedingFlag==='No' || !vm.treaty.stmntFrqncCeding" ng-required="vm.treaty.cedingFlag==='Yes' && vm.treaty.stmntFrqncCeding">
              <option value=""></option>
            </select>
          </div>

          <div class="form-group col-sm-3">
            <label class="control-label">Settlement Due Comments </label>
            <br>
            <textarea class="form-control" name="cedingComments" ng-model="vm.treaty.stmntDueCed.comments" ng-disabled="vm.treaty.cedingFlag==='No'">
            </textarea>
          </div>
          <div class="form-group col-sm-5">
            <label class="control-label"> Grace Period Comments</label>
            <textarea class="form-control" name="gpCmmtsCeding" ng-model="vm.treaty.stmntDueCedGracePeriod.comments" ng-disabled="vm.treaty.cedingFlag==='No'">
            </textarea>
          </div>
          <div class="form-group col-sm-4" ng-class="{'has-error': editForm.gpTrCeding.$invalid}">
            <label class="control-label"> Grace Period Treaty Reference </label>
            <textarea class="form-control" ng-model="vm.treaty.stmntDueCedGracePeriod.treatyRefComments" name="gpTrCeding" ng-disabled="vm.treaty.cedingFlag==='No'"
              ng-required="vm.treaty.cedingFlag==='Yes'">
            </textarea>
          </div>

        </div>

        <!--- month exception-->
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Quarter End Exception </label>
            <br>
            <md-switch class="md-top" ng-model="vm.treaty.stmntCedMonthFlag" ng-disabled="!vm.treaty.stmntFrqncCeding || vm.treaty.stmntFrqncCeding.name!='Monthly'"
              ng-change="vm.changeFlagDate(vm.treaty.stmntCedMonthFlag,vm.treaty.stmntDueCedQuarterEx)" ng-true-value="'Yes'"
              ng-false-value="'No'" class="md-warn" uib-tooltip="Quarter End Exception is only applicable when Reporting Frequency is Monthly.">
              {{vm.treaty.stmntCedMonthFlag}}
            </md-switch>
          </div>
          <div>
            <div class="form-group col-sm-2" ng-if="vm.treaty.stmntCedMonthFlag=='Yes'" ng-class="{'has-error': editForm.stmntCedMonthDateDays.$invalid}">
              <label class="control-label"> Days </label>
              <input type="number" min="0" id="field_stmntCedMonthDateDays" class="form-control" name="stmntCedMonthDateDays" ng-model="vm.treaty.stmntDueCedQuarterEx.numberOfDays"
                ng-required="vm.treaty.stmntCedMonthFlag==='Yes'" ng-readonly="vm.treaty.stmntDueCedQuarterEx.dayType==='On'"
                ng-change="vm.numberOfDay(vm.treaty.stmntDueCedQuarterEx)" />
            </div>
            <div class="form-group col-sm-3" ng-if="vm.treaty.stmntCedMonthFlag=='Yes'" ng-class="{'has-error': editForm.stmntCedMonthDateType.$invalid}">
              <label class="control-label">Day Type</label>
              <select class="form-control" ng-model="vm.treaty.stmntDueCedQuarterEx.dayType" name="stmntCedMonthDateType" ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
                ng-required="vm.treaty.stmntCedMonthFlag==='Yes'" ng-change="vm.changeON(vm.treaty.stmntDueCedQuarterEx)" ng-readonly="vm.treaty.stmntCedMonthFlag==='No'">
                <option value=""></option>
              </select>
            </div>
            <div class="form-group col-sm-3" ng-if="vm.treaty.stmntCedMonthFlag=='Yes'" ng-class="{'has-error': editForm.stmntCedMonthDatePeriod.$invalid}">
              <label class="control-label" translate="finreApp.treaty.reportingdueperiod" for="field_reportingdueperiodYr">Period</label>
              <select class="form-control" name="stmntCedMonthDatePeriod" ng-model="vm.treaty.stmntDueCedQuarterEx.period" ng-options="DayTypeOptionsRep as DayTypeOptionsRep for DayTypeOptionsRep in vm.QuarterTypeOptions track by DayTypeOptionsRep"
                ng-required="vm.treaty.stmntCedMonthFlag==='Yes'" ng-readonly="vm.treaty.stmntCedMonthFlag==='No'">
                <option value=""></option>
              </select>
            </div>
            <div class="form-group col-sm-12" ng-if="vm.treaty.stmntCedMonthFlag=='Yes'">
              <label class="control-label"> Comments </label>
              <br>
              <textarea class="form-control" name="stmntCedMonthDateComments" ng-readonly="vm.treaty.stmntCedMonthFlag==='No'" ng-model="vm.treaty.stmntDueCedQuarterEx.comments">
              </textarea>

            </div>


          </div>
        </div>

      </uib-accordion-group>
      <!---------------------- INTEREST PENALTY FOR LATE PAYMENT SECTION ----------------------------->
      <uib-accordion-group class="panel panel-default" id="penaltyPay" is-open="vm.penalty">
        <uib-accordion-heading>
          <h4>
            <strong>Interest Penalty for Late Payment</strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.penalty, 'glyphicon-chevron-right': !vm.penalty}"></em>
          </h4>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-2">
            <label class="control-label" translate="finreApp.treaty.latePayment">LatePayment</label>
            <br>
            <md-switch ng-model="vm.treaty.latePayment" aria-label="RGA Switch" ng-true-value="'Yes'" ng-false-value="'No'" ng-change="vm.latepaymentFn()"
              class="md-warn">
              {{vm.treaty.latePayment}}
            </md-switch>

          </div>
          <div class="form-group col-sm-4" ng-class="{'has-error': editForm.latePaymentTreatyReference.$invalid}">
            <label class="control-label" translate="finreApp.treaty.latePaymentTreatyReference">LatePayment</label>
            <textarea type="text" class="form-control" name="latePaymentTreatyReference" ng-model="vm.treaty.treatyRefIntPltyComment"
              ng-required="vm.treaty.latePayment=='Yes'" ng-readonly="vm.treaty.latePayment=='No'"></textarea>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label" translate="finreApp.treaty.commentLatePayment">Comments</label>
            <textarea type="text" class="form-control" name="commentLatePayment" ng-model="vm.treaty.intPenaltyComment" ng-readonly="vm.treaty.latePayment=='No'"></textarea>
          </div>
        </div>
      </uib-accordion-group>
      <!--------------- YEAR END REGULATORY REPORTING --------------------- -->
      <uib-accordion-group class="panel panel-default" id="yearEndRegulatoryPay" is-open="vm.yearEndRegulatory">
        <uib-accordion-heading>
          <h4>
            <strong>Year End Regulatory Reporting</strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.yearEndRegulatory, 'glyphicon-chevron-right': !vm.yearEndRegulatory}"></em>
          </h4>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>

        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treaty.yearEndRegulatoryType"></label>
            <select class="form-control" name="yearEndRegulatoryType" ng-change="vm.changeYearEndRegulatory();" ng-model="vm.yearEndRegulatoryType"
              ng-options=" yearEndRegulatory as yearEndRegulatory for yearEndRegulatory in vm.yearEndRegulatoryTypes">
            </select>
          </div>
          <div class="form-group col-sm-2" style="width: 10%;" ng-if="vm.yearEndRegulatoryType">
            <label class="control-label">Due Date</label>
            <br>
            <md-switch class="md-top margin-zero" ng-model="vm.yearEndRegulatoryDueDateFlag" ng-change="vm.changeFlagDate(vm.yearEndRegulatoryDueDateFlag,vm.yearEndRegulatoryDueDate)"
              ng-true-value="'Yes'" ng-false-value="'No'" class="md-warn">
              {{vm.yearEndRegulatoryDueDateFlag}}
            </md-switch>
          </div>
          <div ng-if="vm.yearEndRegulatoryDueDateFlag=='Yes' && vm.yearEndRegulatoryType" class="form-group col-sm-2" ng-class="{'has-error': editForm.vm.yearEndRegulatoryFreq.$invalid}">
            <label class="control-label"> Frequency</label>
            <input class="form-control" name="yearEndRegulatoryFreq" ng-model="vm.yearEndRegulatoryFreq.name"
              ng-change="vm.changeFlagDate()" readonly/>

          </div>
          <div ng-if="vm.yearEndRegulatoryDueDateFlag=='No' && vm.yearEndRegulatoryType" class="form-group col-sm-2">
            <label class="control-label"> Frequency</label>
            <input disabled type="text" class="form-control" value="Upon Request" />
          </div>
          <div ng-if="vm.yearEndRegulatoryDueDateFlag=='Yes'" class="form-group col-sm-2" style="width: 10%;" ng-class="{'has-error': editForm.yearEndRegulatoryDueDateDays.$invalid}">
            <label class="control-label" translate="finreApp.treaty.reportingduedays"></label>
            <input type="number" min="0" class="form-control" name="yearEndRegulatoryDueDateDays" ng-model="vm.yearEndRegulatoryDueDate.numberOfDays"
              ng-readonly="vm.yearEndRegulatoryDueDate.dayType==='On'" ng-change="vm.numberOfDay(vm.yearEndRegulatoryDueDate)"
              ng-required="vm.yearEndRegulatoryDueDateFlag=='Yes'" />
          </div>
          <div class="form-group col-sm-3" style="width: 22%;" ng-if="vm.yearEndRegulatoryDueDateFlag=='Yes'" ng-class="{'has-error': editForm.yearEndRegulatoryDueDateType.$invalid}">
            <label class="control-label">Day Type</label>
            <select class="form-control" ng-model="vm.yearEndRegulatoryDueDate.dayType" name="yearEndRegulatoryDueDateType" ng-options="DayTypeOptions as DayTypeOptions for DayTypeOptions in vm.DayTypeOptions track by DayTypeOptions"
              ng-required="vm.yearEndRegulatoryDueDateFlag=='Yes'" ng-change="vm.changeON(vm.yearEndRegulatoryDueDate)">
              <option value=""></option>
            </select>
          </div>
          <div ng-if="vm.yearEndRegulatoryDueDateFlag=='Yes'" class="form-group col-sm-2" style="width: 16%;" ng-class="{'has-error': editForm.yearEndRegulatoryDueDatePeriod.$invalid}">
            <label class="control-label" translate="finreApp.treaty.reportingdueperiod">Period</label>
            <select class="form-control" name="yearEndRegulatoryDueDatePeriod" ng-model="vm.yearEndRegulatoryDueDate.period" ng-options="periodRegulatory as periodRegulatory for periodRegulatory in vm.periodRegulatoryOptions track by periodRegulatory"
              required>
              <option value=""></option>
            </select>
          </div>
          <div class="form-group col-sm-3" style="width: 23%;" ng-if="vm.yearEndRegulatoryType" ng-class="{'has-error': editForm.yearEndRegulatorytreatyRefComments.$invalid}">
            <label class="control-label">Treaty Reference</label>
            <textarea type="text" class="form-control" name="yearEndRegulatorytreatyRefComments" ng-model="vm.yearEndRegulatoryDueDate.treatyRefComments"
              required>
            </textarea>
          </div>
          <div class="form-group col-sm-3" style="width: 23%;" ng-if="vm.yearEndRegulatoryType" ng-class="{'has-error': editForm.yearEndRegulatoryReportingComments.$invalid}">
            <label class="control-label">Comments</label>
            <textarea type="text" class="form-control" name="yearEndRegulatoryReportingComments" ng-model="vm.yearEndRegulatoryDueDate.comments">
            </textarea>
          </div>
        </div>
        <div class="row  text-center" ng-if="vm.yearEndRegulatoryType && ((vm.yearEndRegulatoryDueDateFlag=='Yes'
        && vm.yearEndRegulatoryDueDate.period && vm.yearEndRegulatoryDueDate.dayType && vm.yearEndRegulatoryDueDate.numberOfDays != null) ||(vm.yearEndRegulatoryDueDateFlag=='No') ) &&vm.yearEndRegulatoryDueDate.treatyRefComments != null ">
          <button id="addYearRegulatory" name="addYearEndRegulatory" class="btn btn-xs rga-button" ng-click="vm.addYearEndRegulatory()">
          Add Year End Regulatory</button>
        </div>
        <div class="row">
          <div class="form-group col-sm-12" ng-if="!vm.treaty.yearEndRegulatoryList.length == 0">
            <table class="table" name="tableRiskFee">
              <thead>
                <th class="col-sm-1 text-center">
                  <strong> Type</strong>
                </th>
                <th class="col-sm-1 text-center">
                  <strong> Due Date</strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Frequency</strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Date </strong>
                </th>
                <th class="col-sm-3 text-center">
                  <strong> Treaty Reference </strong>
                </th>
                <th class="col-sm-3 text-center">
                  <strong> Comments </strong>
                </th>
              </thead>
              <tr ng-repeat="yearEndRegulatory in vm.treaty.yearEndRegulatoryList">
                <td class="col-sm-1 text-center"> {{yearEndRegulatory.yearEndRegulatoryType}}
                </td>
                <td class="col-sm-1 text-center"> {{yearEndRegulatory.regulatoryDueDateFlag}}
                </td>
                <td class="col-sm-2 text-center" ng-if="yearEndRegulatory.regulatoryFrequency!=null"> {{yearEndRegulatory.regulatoryFrequency.name}}
                </td>
                <td class="col-sm-2 text-center" ng-if="yearEndRegulatory.regulatoryFrequency==null"> Upon Request
                </td>
                <td class="col-sm-2 text-center"> {{yearEndRegulatory.regulatoryDueDate.numberOfDays}} {{yearEndRegulatory.regulatoryDueDate.dayType}} {{yearEndRegulatory.regulatoryDueDate.period}}
                </td>
                <td class="col-sm-3 text-center"> {{yearEndRegulatory.regulatoryDueDate.treatyRefComments}}
                </td>
                <td class="col-sm-3 text-center"> {{yearEndRegulatory.regulatoryDueDate.comments}}
                </td>
                <td>
                  <button id="removeEndRegulatory" class="btn btn-default btn-xs" ng-click="vm.removeYearEndRegulatory($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </td>
              </tr>
            </table>
          </div>

        </div>



      </uib-accordion-group>
    </uib-accordion>

    <div class="modal-footer">
      <button id="closeWindowTreaty" type="button" class="btn btn-default rga-font" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
        <span translate="entity.action.cancel">Cancel</span>
      </button>
      <button id="saveIncomplete" ng-if="editForm.$invalid && vm.treaty.inputStatus==='In Process'" type="submit" ng-disabled="(editForm.deal.$invalid || editForm.agreementType.$invalid || editForm.productStructure.$invalid) || vm.treaty.inputStatus==='Complete' "
        class="btn btn-default rga-font" ng-click="vm.saveTreaty(0)">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span translate="entity.action.save">Save</span>
      </button>
      <button id="saveIncompleteAndCompleteBlue" ng-if="editForm.$invalid && vm.treaty.inputStatus==='Complete'" type="submit"
        ng-disabled="(editForm.deal.$invalid || editForm.agreementType.$invalid || editForm.productStructure.$invalid) || vm.treaty.inputStatus==='In Process' "
        class="btn btn-default rga-font" ng-click="vm.saveTreaty(3)">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span translate="entity.action.save">Save</span>
      </button>
      <button id="saveComplete" ng-if="editForm.$valid" type="submit" class="btn btn-default rga-font" ng-click="vm.saveTreaty(1)">
        <span class="glyphicon glyphicon-save"></span>&nbsp;
        <span translate="entity.action.save">Save</span>
      </button>

    </div>
  </form>
</div>
