<ul class="nav nav-pills nav-justified">
  <li role="presentation" ui-sref-active="current">
    <a id="treatyDetailTab" ui-sref="treaty-detail({id:vm.treatyId, dealId:vm.dealId})">Treaty</a>
  </li>
  <li role="presentation" ui-sref-active="current">
    <a id="contactCompanyTab" ui-sref="contacts-company-detail({id:vm.treatyId,dealId:vm.dealId})">Companies & Contacts</a>
    <li ng-show="vm.treaty.disabledTracking===0 || vm.trackingCount > 0" role="presentation" ui-sref-active="current">
      <a id="treatyTrackingTab" ui-sref="treaty-tracking-all({treatyId:vm.treatyId, dealId:vm.dealId})">Treaty Tracking</a>
    </li>
    <li ng-show="vm.treaty.treatyCurrencies.length==0" role="presentation" ui-sref-active="current">
      <a id="noTransactionTab" uib-tooltip="Cannot add transactions because the treaty has no currencies." readonly>Cash Transactions</a>
    </li>
    <li ng-show="vm.treaty.treatyCurrencies.length!=0" role="presentation" ui-sref-active="current">
      <a id="TransactionTab" ui-sref="treaty-transaction-cash({id:vm.treatyId, dealId:vm.dealId})">Cash Transactions</a>
    </li>
    <li role="presentation" ui-sref-active="current">
      <a id="amendmentsTab" ui-sref="treaty-amendments-all({treatyId:vm.treatyId, dealId:vm.dealId})">Amendments</a>
    </li>
</ul>
<intro-button options="vm.introOptions" />
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-3">
        <h5>
          <label class="control-label"> Deal Name </label>
          <br> {{ vm.treaty.deal.name }}
        </h5>
      </div>
      <div class="col-sm-3">
        <h5>
          <label class="control-label">Agreement Type</label>
          <br> {{ vm.treaty.agreementType.name }}</h5>
      </div>
      <div class="col-sm-3">
        <h5>
          <label class="control-label">Product Structure</label>
          <br> {{ vm.treaty.productStructure.name }}
        </h5>
      </div>
      <div class="col-sm-3">
        <h5>
          <label class="control-label">Treaty Name</label>
          <br> {{ vm.treaty.treatyName }} </h5>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <button id="copyTreaty" type="submit" ng-show="vm.treaty.deal.dealStatus!=='Terminated'" ng-click="vm.copyTreaty(vm.treaty)"
      class="step1 btn rga-button" uib-tooltip="Copy Treaty">
      <span class="glyphicon glyphicon-duplicate"></span> Duplicate Treaty
    </button>
    <button id="backToTreatyList" type="submit" ui-sref="treaty-deal({id:vm.treatyId,dealId:vm.dealId})" class="step2 btn rga-button-inverse">
      <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Treaty List
    </button>
    <button id="copyTreatyDisabled" ng-show="vm.treaty.deal.dealStatus==='Terminated'" class="btn rga-button disabled" uib-tooltip="You cannot add treaties to a Terminated Deal.">
      <span class="glyphicon glyphicon-duplicate"></span>
    </button>
    <strong style="color:#dc0202; font-size:14px">
      <strong ng-show="vm.treaty.inputStatus=='In Process' && vm.treatyManagement.inputStatus=='In Process'">
        <span>Treaty Basic Info and Management Info is incomplete.</span>
      </strong>
      <strong ng-show="vm.treatyManagement.inputStatus=='In Process' && vm.treaty.inputStatus!='In Process'">
        <span>Management Info is incomplete.</span>
      </strong>
      <strong ng-show="vm.treaty.inputStatus=='In Process' && vm.treatyManagement.inputStatus!='In Process'">
        <span>Treaty Basic Info is incomplete.</span>
      </strong>
    </strong>
  </div>
</div>
  <!------------------ MAIN  ----------------- -->
<div class="step3 panel panel-default">
  <div class="panel-heading">
    <h3>Basic Information</h3>
  </div>
  <div class="panel-body">
    <uib-accordion close-others="oneAtATime">
      <!---------------------- GENERAL INFORMATION ------------------------------- -->
      <uib-accordion-group class="panel panel-default" name="generalInfoPanel" is-open="general.open">
        <uib-accordion-heading>
          <div class="accordion-header">General Information
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': general.open, 'glyphicon-triangle-right': !general.open}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-8">
            <button type="submit" id="btnTreatyDetailEditGeneralInfo" ui-sref="treaty-detail.edit-detail({id:vm.treatyId, dealId:vm.dealId, hash:'generalInfo'})"
              class="btn btn-default rga-font" uib-tooltip="Edit General Info">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <span ng-show="vm.treaty.copyTreatyMsg"> This treaty was copied from {{vm.treaty.copyTreatyMsg}}</span>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3" ng-class="{'has-required-error': editForm.deal.$invalid}">
            <label translate="finreApp.treaty.deal">deal</label>
            <input class="form-control" ng-model="vm.treaty.deal.name" readonly/>
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treaty.treatyName"></label>
            <input class="form-control" ng-model="vm.treaty.treatyName" readonly/>
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-required-error': editForm.agreementType.$invalid}">
            <label class="control-label" translate="finreApp.treaty.agreementType"></label>
            <input class="form-control" ng-model="vm.treaty.agreementType.name" readonly/>
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-required-error': editForm.productStructure.$invalid}">
            <label class="control-label" translate="finreApp.treaty.structureId"></label>
            <input class="form-control" ng-model="vm.treaty.productStructure.name" readonly />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-3" ng-class="{'has-error': editForm.treatyStatus.$invalid}">
            <label class="control-label" translate="finreApp.treaty.treatyStatusId"></label>
            <input class="form-control" ng-model="vm.treaty.treatyStatus.name" readonly/>
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.effectiveDate.$invalid}">
            <label class="control-label" translate="finreApp.treaty.effectiveDate">EffectiveDate</label>
            <br>
            <input type="text" max="12" class="form-control" ng-model="vm.treaty.effectiveDate" readonly/>
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.terminationDate.$invalid}">
            <label class="control-label" translate="finreApp.treaty.terminationDate">terminationDate</label>
            <br>
            <input type="text" max="12" class="form-control" ng-model="vm.treaty.terminationDate" readonly/>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label">Comments</label>
            <br>
            <textarea class="form-control" ng-model="vm.treaty.comments" readonly></textarea>
          </div>
        </div>
        <div class="row">

          <div class="form-group col-sm-9" ng-if="vm.treaty.agreementType.name == 'Other' || vm.treaty.productStructure.name == 'Other'">
            <div>
              <label class="control-label" translate="finreApp.treaty.agreementTypeComment">Agreement Type</label>
              <textarea class="form-control" ng-model="vm.treaty.comments" readonly>

              </textarea>
            </div>
          </div>

        </div>
      </uib-accordion-group>
      <!---------------------- MDM ATTRIBUTES ------------------------------- -->
      <uib-accordion-group class="panel panel-default" name="mdmAttributesPanel" is-open="mdm.open">
        <uib-accordion-heading>
          <div class="accordion-header">MDM Attributes
            <strong ng-if="vm.treaty.mdmAttributes.length > 0 && vm.updateMdmOn==false" style="color:#cb0202" class="rga-font fa fa-md blink align-right">
              <strong> - - ALERT: - - MDM has updated information.</strong>
            </strong>
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': mdm.open, 'glyphicon-triangle-right': !mdm.open}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div ng-if="(vm.EKusStat || vm.EKproductLine || vm.EKproductStructure || vm.EKdealName) && vm.treaty.ekNotificationFlag !==1">
          <span class="controlEk">
            <strong> NOTE: One (or more) of the EK attributes is different from existing FAST deal/treaty attributes. See FAST Admin
              to dismiss this message.</strong>
          </span>
          <br>
          <br>
          <br>
        </div>

        <div class="row">
          <div class="form-group col-sm-4">
            <button id="editMDMAttribute" type="submit" ui-sref="treaty-detail.edit-detail({id:vm.treatyId, dealId:vm.dealId, hash:'mdmAttr'})"
              class="btn btn-default rga-font" uib-tooltip="Edit MDM Attributes">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>

            <button id="updateMdm" type="submit" ng-if="vm.treaty.mdmAttributes.length > 0 && vm.updateMdmOn===false" class="btn btn-default rga-font"
              ng-click="vm.updateMdmAttributes(vm.treaty.mdmAttributes)" uib-tooltip="Refresh MDM Attributes">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <strong ng-if="vm.treaty.mdmAttributes.length > 0 && vm.updateMdmOn==true" style="color:#3acb17">
              <strong> MDM data is current.</strong>
            </strong>
            <em ng-if="vm.treaty.mdmAttributes.length > 0 && vm.updateMdmOn==false && vm.spinner==true" class="fa fa-spinner fa-spin"
              style="font-size:24px"></em>

          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Deal Product Line </label>
            <input readonly class="form-control" ng-model="vm.treaty.deal.productLine.name" />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label class="control-label">Enterprise Key</label>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple readonly ng-options=" mdmAttributes as  mdmAttributes.enterpriseId  + ' ' + mdmAttributes.ekComment for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label">Business Unit</label>
            <br>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple readonly ng-options=" mdmAttributes as mdmAttributes.businessUnitId + ' - ' + mdmAttributes.businessUnitName for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label">Corporate Indicator & Affiliate Type</label>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple readonly ng-options=" mdmAttributes as mdmAttributes.corporateIndicator+' - '+mdmAttributes.affiliateType for mdmAttributes in vm.treaty.mdmAttributes">
            </select>

          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label class="control-label" ng-class="{'controlEk':vm.EKdealName}">EK Deal Name</label>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple readonly ng-options=" mdmAttributes as mdmAttributes.deal for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" ng-class="{'controlEk': vm.EKusStat}">US Stat Risk</label>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple readonly ng-options=" mdmAttributes as mdmAttributes.usStatRisk for mdmAttributes in vm.treaty.mdmAttributes">
            </select>

          </div>
          <div class="form-group col-sm-4">
            <label class="control-label">Effective Status</label>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple readonly ng-options=" mdmAttributes as mdmAttributes.effectiveStatusCd for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label class="control-label" ng-class="{'controlEk':vm.EKproductLine}">Product Line</label>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple readonly ng-options=" mdmAttributes as (mdmAttributes.productLineId + ' - ' + mdmAttributes.productLineName) for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label">Legal Doc</label>
            <br>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple readonly ng-options=" mdmAttributes as mdmAttributes.legalDoc for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label">Client Company</label>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple readonly ng-options=" mdmAttributes as (mdmAttributes.clientCompanyId + ' - ' +mdmAttributes.clientCompanyName) for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label class="control-label" ng-class="{'controlEk':vm.EKproductStructure}">Product Structure</label>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple readonly ng-options=" mdmAttributes as mdmAttributes.productStructure.name for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treatyManagement.reportingProduct "></label>
            <select class="form-control" ng-model="vm.mdmAttribute" multiple readonly ng-options=" mdmAttributes as (mdmAttributes.reportingProductId + ' - '+ mdmAttributes.reportingProduct) for mdmAttributes in vm.treaty.mdmAttributes">
            </select>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treatyManagement.reportingProductComment"></label>
            <textarea class="form-control" readonly ng-model="vm.treaty.reportingProductCmmnt"></textarea>
          </div>
        </div>
      </uib-accordion-group>
      <!---------------------- CURRENCY SECTION ------------------------------- -->
      <uib-accordion-group class="panel panel-default" name="treatyCurrenciesPanel" is-open="currency.open">
        <uib-accordion-heading>
          <div class="accordion-header">Treaty Currencies
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': currency.open, 'glyphicon-triangle-right': !currency.open}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3">
            <button type="submit" id="btnTreatyDetailEditCurrencies" ui-sref="treaty-detail.edit-detail({id:vm.treatyId, dealId:vm.dealId, hash:'currency'})"
              class="btn btn-default rga-font" uib-tooltip="Edit Currencies">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6">
            <md-toolbar layout="row" class="md-primary md-hue-2">
              <div class="md-toolbar-tools rga-list-color">
                <span>Currency List</span>
              </div>
            </md-toolbar>
            <md-list ng-cloak>
              <md-list-item>
                <table class="table table-condensed table-bordered">
                  <tr class="info">
                    <th class="col-sm-2 text-left">Code</th>
                    <th class="col-sm-8 text-left">Currency</th>

                  </tr>
                  <tbody ng-repeat="Currencies in vm.treaty.treatyCurrencies">
                    <tr class="info">
                      <td> {{Currencies.currency.code}}</td>
                      <td>{{Currencies.currency.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </md-list-item>
            </md-list>
          </div>
          <div class="col-sm-6">
            <label class="control-label">Currency Comments</label>
            <textarea type="text" class="form-control" readonly ng-model="vm.treaty.currencyComments"></textarea>
          </div>
        </div>
      </uib-accordion-group>
      <!---------------------- REPORTING DUE ------------------------------- -->
      <uib-accordion-group class="panel panel-default" name="reportingDuePanel" is-open="reporting.open">
        <uib-accordion-heading>
          <div class="accordion-header">Reporting Due
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': reporting.open, 'glyphicon-triangle-right': !reporting.open}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3">
            <button type="submit" id="btnTreatyDetailEditReportingDue" ui-sref="treaty-detail.edit-detail({id:vm.treatyId, dealId:vm.dealId, hash:'reportingDue'})"
              class="btn btn-default rga-font" uib-tooltip="Edit Reporting Due Info">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.reportingFrecuency.$invalid}">
            <label class="control-label" translate="finreApp.treaty.reportingFrecuency"></label>
            <input class="form-control" ng-model="vm.treaty.reportingFrequency.name" readonly/>
          </div>
          <div class="form-group col-sm-2" ng-class="{'has-error': editForm.reportingduedays.$invalid}">
            <label class="control-label" translate="finreApp.treaty.reportingduedays"></label>
            <input class="form-control" ng-model="vm.treaty.reportingDueDate.numberOfDays" readonly />
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.reportDayType.$invalid}">
            <label class="control-label">Day Type</label>
            <input class="form-control" ng-model="vm.treaty.reportingDueDate.dayType" readonly />
          </div>
          <div class="form-group col-sm-4" ng-class="{'has-error': editForm.reportingdueperiod.$invalid}">
            <label class="control-label" translate="finreApp.treaty.reportingdueperiod"></label>
            <input class="form-control" ng-model="vm.treaty.reportingDueDate.period" readonly />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label class="control-label"> Comments </label>
            <br>
            <textarea class="form-control" name="reportingDueComments" ng-model="vm.treaty.reportingDueDate.comments" readonly>
            </textarea>

          </div>


        </div>
        <!--- month exception-->
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Quarter End Exception </label>
            <br>
            <input class="form-control" ng-model="vm.treaty.rptDueMonthFlag" readonly/>

          </div>
          <div ng-if="vm.treaty.rptDueMonthFlag==='Yes'">
            <div class="form-group col-sm-2">
              <label class="control-label" translate="finreApp.treaty.reportingduedays"></label>
              <input type="number" min="0" class="form-control" name="rptDueMonthDateDays" ng-model="vm.treaty.reportingDueQuarterEx.numberOfDays"
                readonly />
            </div>
            <div class="form-group col-sm-3" ng-class="{'has-error': editForm.rptDueMonthDateType.$invalid}">
              <label class="control-label">Day Type</label>
              <input class="form-control" ng-model="vm.treaty.reportingDueQuarterEx.dayType" name="rptDueMonthDateType" readonly/>

            </div>
            <div class="form-group col-sm-4" ng-class="{'has-error': editForm.rptDueMonthDatePeriod.$invalid}">
              <label class="control-label" translate="finreApp.treaty.reportingdueperiod">Period</label>
              <input class="form-control" id="field_rptDueMonthDatePeriod" name="rptDueMonthDatePeriod" ng-model="vm.treaty.reportingDueQuarterEx.period"
                readonly />

            </div>
            <div class="form-group col-sm-12">
              <label class="control-label"> Comments </label>
              <br>
              <textarea class="form-control" name="reportingDueYrComments" readonly ng-model="vm.treaty.reportingDueQuarterEx.comments">
              </textarea>
            </div>
          </div>
        </div>
        <!---------------------- REPORTING DUE SECTION YEAR EXCEPTION--------------------------- -->
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Year End Exception</label>
            <br>
            <input class="form-control" ng-model="vm.treaty.yearEndException" readonly />
          </div>
          <div ng-if="vm.treaty.yearEndException==='Yes'">
            <div class="form-group col-sm-2" ng-class="{'has-error': editForm.reportingduedaysYr.$invalid}">
              <label class="control-label" translate="finreApp.treaty.reportingduedays"></label>
              <input class="form-control" ng-model="vm.treaty.reportingDueYearEx.numberOfDays" readonly />
            </div>
            <div class="form-group col-sm-3" ng-class="{'has-error': editForm.reportDayTypeYr.$invalid}">
              <label class="control-label"> Day Type</label>
              <input class="form-control" ng-model="vm.treaty.reportingDueYearEx.dayType" readonly/>
            </div>
            <div class="form-group col-sm-4" ng-class="{'has-error': editForm.reportingdueperiodYr.$invalid}">
              <label class="control-label yrEndExceptionPeriod">
                Period
                <small>Year End = {{vm.yearEndDate}}</small>
              </label>
              <input class="form-control" ng-model="vm.treaty.reportingDueYearEx.period" readonly/>
            </div>

            <div class="form-group col-sm-12">
              <label class="control-label"> Comments </label>
              <br>
              <textarea readonly class="form-control" name="reportingDueYrComments" ng-model="vm.treaty.reportingDueYearEx.comments">
              </textarea>
            </div>
          </div>
        </div>
      </uib-accordion-group>

      <!--------------- SERIATIM REPORTING INFORMATION ----------------- -->
      <uib-accordion-group class="panel panel-default" name="seriatimReportingInfoPanel" is-open="seriatim.open">
        <uib-accordion-heading>
          <div class="accordion-header">Seriatim Reporting Information
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': seriatim.open, 'glyphicon-triangle-right': !seriatim.open}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3">
            <button id="editSeriatim" type="submit" ui-sref="treaty-detail.edit-detail({id:vm.treatyId, dealId:vm.dealId, hash:'seriatimInfo'})"
              class="btn btn-default rga-font" uib-tooltip="Edit Seriatim Reporting Info">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-12" ng-show="!vm.treaty.seriatimTypeTreaties == 0">
            <table class="table" name="tableRiskFee">
              <thead>
                <th class="col-sm-1 text-center">
                  <strong> Seriatim Type</strong>
                </th>
                <th class="col-sm-1 text-center">
                  <strong> Due Date</strong>
                </th>
                <th class="col-sm-1 text-center">
                  <strong> Frequency</strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Date - Calculation </strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Treaty Reference </strong>
                </th>
                <th class="col-sm-3 text-center">
                  <strong> Comments </strong>
                </th>
              </thead>
              <tr ng-repeat="seritatimTypeTreaty in vm.treaty.seriatimTypeTreaties">
                <td class="col-sm-1 text-center"> {{seritatimTypeTreaty.seriatimType.name}}
                </td>
                <td class="col-sm-1 text-center"> {{seritatimTypeTreaty.seriatimDueDateFlag}}
                </td>
                <td class="col-sm-1 text-center" ng-show="seritatimTypeTreaty.seriatimFreq!=null"> {{seritatimTypeTreaty.seriatimFreq.name}}
                </td>
                <td class="col-sm-1 text-center" ng-show="seritatimTypeTreaty.seriatimFreq==null"> Upon Request
                </td>
                <td class="col-sm-3 text-center">
                  <span class="col-md-12">{{seritatimTypeTreaty.seriatimDueDate.numberOfDays}} {{seritatimTypeTreaty.seriatimDueDate.dayType}} {{seritatimTypeTreaty.seriatimDueDate.period}}</span>
                  <input class="transformCheckboxToRadio" ng-if="seritatimTypeTreaty.seriatimDueDateFlag=='Yes'" type="checkbox" ng-model="seritatimTypeTreaty.calculationFlag"
                    disabled />
                </td>
                <td class="col-sm-3 text-center"> {{seritatimTypeTreaty.treatySeriatimReference}}
                </td>
                <td class="col-sm-3 text-center"> {{seritatimTypeTreaty.treatySeriatimComment}}
                </td>
              </tr>
            </table>
          </div>

        </div>


      </uib-accordion-group>
      <!--------------- SETTLEMENT DUE - ASSUMING ----------------- -->
      <uib-accordion-group panel-class="panel panel-default" name="settlementDueAssumPanel" is-open="assuming">
        <uib-accordion-heading>
          <div class="accordion-header">Settlement Due - Assuming & Broker Fee Info
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': assuming.open, 'glyphicon-triangle-right': !assuming.open}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3">
            <button type="submit" id="btnTreatyDetailEditSettDueAssuming" ui-sref="treaty-detail.edit-detail({id:vm.treatyId, dealId:vm.dealId, hash:'settlementAssuming'})"
              class="btn btn-default rga-font" uib-tooltip="Edit Settlement Due - Assuming Info">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treaty.frequency"></label>
            <br>
            <input class="form-control" ng-model="vm.treaty.settlementFrequency.name" readonly/>
          </div>
          <div class="form-group col-sm-2">
            <label class="control-labe" translate="finreApp.treaty.brokerFee"></label>
            <br>
            <input class="form-control" ng-model="vm.treaty.brokerFeeSwitchFlag" readonly/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <br>
            <strong> Settlement Due </strong>
          </div>
          <div class="form-group col-sm-2" ng-class="{'has-error': editForm.settlementduedays.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementduedays"></label>
            <br>
            <input class="form-control" ng-model="vm.treaty.stmntDueAsm.numberOfDays" readonly/>
          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.settlementduedaytypeAssuming.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementduedaytype"></label>
            <br>
            <input class="form-control" ng-model="vm.treaty.stmntDueAsm.dayType" readonly/>
          </div>
          <div class="form-group col-sm-4" uib-tooltip="Select Frequency first" ng-class="{'has-error': editForm.settlementdueperiodAssuming.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementdueperiod">Period</label>
            <br>
            <input class="form-control" ng-model="vm.treaty.stmntDueAsm.period" readonly/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <br>
            <strong> Grace Period Expiration </strong>
          </div>
          <div class="form-group col-sm-2" ng-class="{'has-error': editForm.settlementduedayspastAssuming.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementduedayspast"></label>
            <br>
            <input class="form-control" ng-model="vm.treaty.stmntDueAsmGracePeriod.numberOfDays" readonly/>

          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.settlementduedaytypepastAssuming.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementduedaytypepast"></label>
            <br>
            <input class="form-control" ng-model="vm.treaty.stmntDueAsmGracePeriod.dayType" readonly/>
          </div>
          <div class="form-group col-sm-4" uib-tooltip="select a frequency first" ng-class="{'has-error': editForm.settlementdueperiodpastAssuming.$invalid}">
            <label class="control-label" translate="finreApp.treaty.settlementdueperiodpast">Period</label>
            <br>
            <input class="form-control" ng-model="vm.treaty.stmntDueAsmGracePeriod.period" readonly/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Settlement Due Comments </label>
            <textarea class="form-control" name="SettlementTreatyReferenceCommentAssuming" ng-model="vm.treaty.stmntDueAsm.comments"
              readonly>
            </textarea>
          </div>
          <div class="form-group col-sm-5">
            <label class="control-label"> Grace Period Comments</label>
            <textarea class="form-control" name="SettlementCommentsAssuming" readonly ng-model="vm.treaty.stmntDueAsmGracePeriod.comments">
            </textarea>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label"> Grace Period Treaty Reference </label>
            <textarea class="form-control" name="SettlementTreatyReferenceComment" ng-model="vm.treaty.stmntDueAsmGracePeriod.treatyRefComments"
              readonly>
            </textarea>
          </div>
        </div>
        <!--Month end exception -->
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Quarter End Exception </label>
            <input class="form-control" ng-model="vm.treaty.smntAsmMonthFlag" readonly />
          </div>
          <div ng-if="vm.treaty.smntAsmMonthFlag=='Yes'">
            <div class="form-group col-sm-2">
              <label class="control-label" translate="finreApp.treaty.reportingduedays"></label>
              <input type="number" class="form-control" name="smntAsmMonthDateDays" ng-model="vm.treaty.stmntDueAsmQuarterEx.numberOfDays"
                readonly />
            </div>
            <div class="form-group col-sm-3" ng-class="{'has-error': editForm.smntAsmMonthDateType.$invalid}">
              <label class="control-label">Day Type</label>
              <input class="form-control" ng-model="vm.treaty.stmntDueAsmQuarterEx.dayType" name="smntAsmMonthDateType" readonly />

            </div>
            <div class="form-group col-sm-3" ng-class="{'has-error': editForm.smntAsmMonthDatePeriod.$invalid}">
              <label class="control-label" translate="finreApp.treaty.reportingdueperiod">Period</label>
              <input class="form-control" name="smntAsmMonthDatePeriod" ng-model="vm.treaty.stmntDueAsmQuarterEx.period" readonly="" />

            </div>
            <div class="form-group col-sm-12">
              <label class="control-label"> Comments </label>
              <br>
              <textarea class="form-control" name="smntAsmMonthDateComments" readonly ng-model="vm.treaty.stmntDueAsmQuarterEx.comments">
              </textarea>
            </div>
          </div>
        </div>

        <div class="row" ng-if="vm.treaty.brokerFeeSwitchFlag=='Yes'">
          <div class="form-group col-sm-3">
            <br>
            <strong> Broker Fee Due </strong>
          </div>
          <div class="form-group col-sm-2" ng-class="{'has-error': editForm.numberOfDaysBroker.$invalid}">
            <label class="control-label">Days</label>
            <br>
            <input class="form-control" ng-model="vm.treaty.stmntDueAsmBroker.numberOfDays" readonly/>

          </div>
          <div class="form-group col-sm-3" ng-class="{'has-error': editForm.dayTypePositionBroker.$invalid}">
            <label class="control-label" translate="finreApp.treaty.dayTypePosition"></label>
            <br>
            <input class="form-control" ng-model="vm.treaty.stmntDueAsmBroker.dayType" readonly/>
          </div>
          <div class="form-group col-sm-4" uib-tooltip="Broker Period" ng-class="{'has-error': editForm.brokerPeriod.$invalid}">
            <label class="control-label" translate="finreApp.treaty.brokerPeriod">Period</label>
            <br>
            <input class="form-control" ng-model="vm.treaty.stmntDueAsmBroker.period" readonly/>
          </div>
        </div>
        <div class="row" ng-if="vm.treaty.brokerFeeSwitchFlag=='Yes'">
          <div class="form-group col-sm-12">
            <div class="row">
              <div class="form-group col-sm-3" ng-class="{'has-error': editForm.broker.$invalid}">
                <label class="control-label" translate="finreApp.treaty.broker">Broker</label>
                <br>
                <input class="form-control" ng-model="vm.treaty.broker" readonly/>
              </div>
              <div class="form-group col-sm-2" ng-class="{'has-error': editForm.brokerFeePercentage.$invalid}">
                <label> Broker Fee &nbsp;</label>
                <div class="input-group">
                  <input type="number" class="form-control" name="brokerFeePercentage" ng-model="vm.treaty.brokerFeePercentage" placeholder="Broker Fee"
                    aria-describedby="field_brokerFee" required readonly>
                  <span class="input-group-addon" id="field_brokerFee">%</span>
                </div>
              </div>
              <div class="form-group col-sm-7" ng-class="{'has-error': editForm.brokerComments.$invalid}">
                <label class="control-label">Broker Fee Comments </label>
                <br>
                <textarea class="form-control" ng-model="vm.treaty.stmntDueAsmBroker.comments" readonly></textarea>

              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="vm.treaty.brokerFeeSwitchFlag=='Yes'">
          <div class="form-group col-sm-3">
            <label class="control-label">Minimum Broker Fee</label>
            <br>
            <md-switch class="md-top" ng-model="vm.treaty.minBrokerFeeFlag" ng-disabled="true" aria-label="RGA Switch" ng-true-value="'Yes'"
              ng-false-value="'No'" class="md-warn">
              {{vm.treaty.minBrokerFeeFlag}}
            </md-switch>
          </div>
          <div ng-if="vm.treaty.minBrokerFeeFlag==='Yes'" class="form-group col-sm-2" ng-class="{'has-error': editForm.currencyBroker.$invalid}">
            <label class="control-label"> Currency &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Amount</label>
            <div class="input-group rga-display">
              <span class="input-group-addon"> {{vm.treaty.brokerCurrency.code}}</span>
              <select class="input-group-addon" ng-model="vm.treaty.brokerCurrency" uib-tooltip="Currency: {{vm.treaty.brokerCurrency.name }}"
                ng-options="currencyOptions as currencyOptions.name for currencyOptions in vm.treaty.treatyCurrencies|orderBy:'name' track by currencyOptions.id"
                readonly>
                <option value=""></option>
              </select>
              <input class="form-control" type="text" name="currencyBroker" uib-tooltip="Amount" dataformatas="" ng-model="vm.treaty.brokerFeeAmount"
                placeholder="Broker Fee" ui-number-mask="2" ui-negative-number readonly/>
            </div>

          </div>
        </div>


      </uib-accordion-group>
      <!--------------- SETTLEMENT DUE - CEDING ----------------- -->
      <uib-accordion-group panel-class="panel panel-default" name="settlementDueCedPanel" is-open="ceding.open">
        <uib-accordion-heading>
          <div class="accordion-header">Settlement Due - Ceding
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': ceding.open, 'glyphicon-triangle-right': !ceding.open}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          {{vm.treaty.notification}}
          <div class="form-group col-sm-3">
            <button id="editSettlement" type="submit" ui-sref="treaty-detail.edit-detail({id:vm.treatyId, dealId:vm.dealId, hash:'settlementCeding'})"
              class="btn btn-default rga-font" uib-tooltip="Edit Settlement Due - Ceding Info">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treaty.SettlementFrequency"></label>
            <input class="form-control" ng-model="vm.treaty.stmntFrqncCeding.name" readonly/>
          </div>
          <div class="form-group col-sm-2">
            <label class="control-label" translate="finreApp.treaty.settlementduedays"></label>
            <input class="form-control" ng-model="vm.treaty.stmntDueCed.numberOfDays" readonly />
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treaty.settlementduedaytype"></label>
            <input class="form-control" ng-model="vm.treaty.stmntDueCed.dayType" readonly/>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treaty.settlementdueperiod"></label>
            <input class="form-control" ng-model="vm.treaty.stmntDueCed.period" readonly />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Grace Period Expiration</label>
          </div>
          <div class="form-group col-sm-2">
            <label class="control-label" translate="finreApp.treaty.settlementduedayspast"></label>
            <input class="form-control" ng-model="vm.treaty.stmntDueCedGracePeriod.numberOfDays" readonly/>
          </div>
          <div class="form-group col-sm-3">
            <label class="control-label" translate="finreApp.treaty.settlementduedaytypepast">Period</label>
            <input class="form-control" ng-model="vm.treaty.stmntDueCedGracePeriod.dayType" readonly>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treaty.settlementdueperiodpast">Period</label>
            <input class="form-control" ng-model="vm.treaty.stmntDueCedGracePeriod.period" readonly/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Settlement Due Comments </label>
            <textarea class="form-control" ng-model="vm.treaty.stmntDueCed.comments" readonly></textarea>
          </div>

          <div class="form-group col-sm-5">
            <label class="control-label">Grace Period Comments</label>
            <textarea class="form-control" ng-model="vm.treaty.stmntDueCedGracePeriod.comments" readonly> </textarea>
          </div>

          <div class="form-group col-sm-4">
            <label class="control-label"> Grace Period Treaty Reference</label>
            <textarea class="form-control" ng-model="vm.treaty.stmntDueCedGracePeriod.treatyRefComments" readonly></textarea>
          </div>

        </div>
        <!--- month exception-->
        <div class="row">
          <div class="form-group col-sm-3">
            <label class="control-label">Quarter End Exception </label>
            <input class="form-control" ng-model="vm.treaty.stmntCedMonthFlag" readonly/>

          </div>
          <div ng-if="vm.treaty.stmntCedMonthFlag==='Yes'">
            <div class="form-group col-sm-2">
              <label class="control-label"> Days </label>
              <input type="number" min="0" class="form-control" name="stmntCedMonthDateDays" ng-model="vm.treaty.stmntDueCedQuarterEx.numberOfDays"
                readonly />
            </div>
            <div class="form-group col-sm-3" ng-class="{'has-error': editForm.stmntCedMonthDateType.$invalid}">
              <label class="control-label">Day Type</label>
              <input class="form-control" ng-model="vm.treaty.stmntDueCedQuarterEx.dayType" name="stmntCedMonthDateType" readonly />

            </div>
            <div class="form-group col-sm-3" ng-class="{'has-error': editForm.stmntCedMonthDatePeriod.$invalid}">
              <label class="control-label" translate="finreApp.treaty.reportingdueperiod">Period</label>
              <input class="form-control" name="stmntCedMonthDatePeriod" ng-model="vm.treaty.stmntDueCedQuarterEx.period" readonly />

            </div>
            <div class="form-group col-sm-12">
              <label class="control-label"> Comments </label>
              <br>
              <textarea class="form-control" name="stmntCedMonthDateComments" readonly ng-model="vm.treaty.stmntDueCedQuarterEx.comments">
              </textarea>
            </div>
          </div>
        </div>
      </uib-accordion-group>
      <!--------------- INTEREST PENALTY FOR LATE PAYMENT --------------------- -->
      <uib-accordion-group class="panel panel-default" name="penaltyPanel" is-open="penalty.open">
        <uib-accordion-heading>
          <div class="accordion-header">Interest Penalty for Late Payment
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': penalty.open, 'glyphicon-triangle-right': !penalty.open}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3">
            <button id="editLatePayment" type="submit" ui-sref="treaty-detail.edit-detail({id:vm.treatyId, dealId:vm.dealId, hash:'penaltyPay'})"
              class="btn btn-default rga-font" uib-tooltip="Edit Interest Penalty for Late Payment">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-2">
            <label class="control-label" translate="finreApp.treaty.latePayment">LatePayment</label>
            <br>
            <input class="form-control" ng-model="vm.treaty.latePayment" readonly/>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.treaty.latePaymentTreatyReference">LatePayment</label>
            <textarea class="form-control" ng-model="vm.treaty.treatyRefIntPltyComment" readonly></textarea>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label" translate="finreApp.treaty.commentLatePayment">Comments</label>
            <textarea class="form-control" ng-model="vm.treaty.intPenaltyComment" readonly></textarea>
          </div>
        </div>
      </uib-accordion-group>

      <!--------------- YEAR END REGULATORY REPORTING --------------------- -->
      <uib-accordion-group class="panel panel-default" name="yearEndRegulatoryPanel" is-open="yearEndRegulatory.open">
        <uib-accordion-heading>
          <div class="accordion-header">Year End Regulatory Reporting
            <em class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': yearEndRegulatory.open, 'glyphicon-triangle-right': !yearEndRegulatory.open}"></em>
          </div>
        </uib-accordion-heading>
        <span> {{vm.treaty.deal.name}} {{vm.treaty.agreementType.name}} {{vm.treaty.productStructure.name}} {{vm.treaty.treatyName}}</span>
        <br>
        <br>
        <div class="row">
          <div class="form-group col-sm-3">
            <button id="editEndRegulatory" type="submit" ui-sref="treaty-detail.edit-detail({id:vm.treatyId, dealId:vm.dealId, hash:'yearEndRegulatory'})"
              class="btn btn-default rga-font" uib-tooltip="Edit Year End Regulatory Reporting">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12" ng-show="!vm.treaty.yearEndRegulatoryList.length == 0">
            <table class="table" name="tableRiskFee">
              <thead>
                <th class="col-sm-2 text-center">
                  <strong> Type</strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Due Date</strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Frequency</strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Date </strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Treaty Reference </strong>
                </th>
                <th class="col-sm-2 text-center">
                  <strong> Comments </strong>
                </th>
              </thead>
              <tr ng-repeat="yearEndRegulatory in vm.treaty.yearEndRegulatoryList">
                <td class="col-sm-3 text-center"> {{yearEndRegulatory.yearEndRegulatoryType}}
                </td>
                <td class="col-sm-1 text-center"> {{yearEndRegulatory.regulatoryDueDateFlag}}
                </td>
                <td class="col-sm-2 text-center" ng-if="yearEndRegulatory.regulatoryFrequency!=null"> {{yearEndRegulatory.regulatoryFrequency.name}}
                </td>
                <td class="col-sm-2 text-center" ng-if="yearEndRegulatory.regulatoryFrequency==null"> Upon Request
                </td>
                <td class="col-sm-3 text-center"> {{yearEndRegulatory.regulatoryDueDate.numberOfDays}} {{yearEndRegulatory.regulatoryDueDate.dayType}} {{yearEndRegulatory.regulatoryDueDate.period}}
                </td>
                <td class="col-sm-1 text-center"> {{yearEndRegulatory.regulatoryDueDate.treatyRefComments}}
                </td>
                <td class="col-sm-1 text-center"> {{yearEndRegulatory.regulatoryDueDate.comments}}
                </td>
                <td>
                  <button id="removeSeriatim" class="btn btn-default btn-xs" ng-click="removeSeriamType($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </td>
              </tr>
            </table>
          </div>

        </div>

      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>
<!------------------------------------------------------------------------->
<!-------------------------- MANAGEMENT ------------------------------------>
<!------------------------------------------------------------------------->
<!-- ngInclude: 'app/entities/treaty-management/treaty-management-detail.html' -->
<div class="step4" ng-include="'app/entities/treaty-management/treaty-management-detail.html'" class="ng-scope">

</div>
