<div class="panel panel-default container-fluid">
  <div class="panel-heading row">
    <h2>Deal Types</h2>
  </div>
  <div class="panel-body row">
    <button class="btn rga-button" ui-sref="deal-type.new">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs">
        Deal Type
      </span>
    </button>
  </div>
</div>
    <br/>
  <div class="panel panel-default table-responsive">
    <table class="jh-table table table-striped table-hover clickable">
      <thead class="rga-thead">
                <tr>
                    <th><span data-translate="finreApp.dealType.name">Name</span></th>
                    <th><span data-translate="finreApp.dealType.description">Description</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dealType in vm.dealTypes track by dealType.id">
                    <td ui-sref="deal-type.edit({id:dealType.id})">{{dealType.name}}</td>
                    <td ui-sref="deal-type.edit({id:dealType.id})">{{dealType.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
