<div class="container-fluid panel panel-default">
  <div class="row panel-heading">
    <h2>Funding Types</h2>
  </div>
  <div class="row panel-body">
    <button class="btn rga-button" ui-sref="funding-type.new">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs">
        Funding Type
      </span>
    </button>
  </div>
</div>
<div class="panel panel-default table-responsive">
  <table class="jh-table table table-striped table-hover clickable">
    <thead class="rga-thead">
      <tr>
        <th>
          <span translate="finreApp.fundingType.name">Name</span>
        </th>
        <th>
          <span translate="finreApp.fundingType.description">Description</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ui-sref="funding-type-detail({id:fundingType.id})" ng-repeat="fundingType in vm.fundingTypes track by fundingType.id">
        <td>{{fundingType.name}}</td>
        <td>{{fundingType.description}}</td>
      </tr>
    </tbody>
  </table>
</div>
