<div>
  <h2 translate="finreApp.productLine.home.title">ProductLines</h2>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 no-padding-left">
        <button class="btn btn-primary" ui-sref="product-line.new">
          <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="finreApp.productLine.home.createLabel">
                        Create new ProductLine
                    </span>
        </button>
      </div>
      <div class="col-xs-8 no-padding-right">
        <form name="searchForm" class="form-inline">
          <div class="input-group pull-right">
            <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                   placeholder="{{ 'finreApp.productLine.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                              <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                              <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br/>
  <div class="table-responsive">
    <table class="jh-table table table-striped">
      <thead>
      <tr>
        <th><span translate="global.field.id">ID</span></th>
        <th><span translate="finreApp.productLine.name">Name</span></th>
        <th><span translate="finreApp.productLine.description">Description</span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="productLine in vm.productLines track by productLine.id">
        <td><a ui-sref="product-line-detail({id:productLine.id})">{{productLine.id}}</a></td>
        <td>{{productLine.name}}</td>
        <td>{{productLine.description}}</td>
        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    ui-sref="product-line-detail({id:productLine.id})"
                    class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
            </button>
            <button type="submit"
                    ui-sref="product-line.edit({id:productLine.id})"
                    class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
            </button>
            <button type="submit"
                    ui-sref="product-line.delete({id:productLine.id})"
                    class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-remove-circle"></span>
              <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
