<div class="rga-modal" id="myModal">
  <form name="editForm"  role="form" class="css-form" novalidate ng-submit="vm.save()" show-validation>
    <div class="modal-header">
      <button id="closeWindow" type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clearx()">
        <span class="glyphicon glyphicon-remove-circle"></span>
      </button>
      <h4 class="modal-title"><strong>Create or Edit Contact Information</strong></h4>
    </div>
    <div class="modal-body">

      <div class="panel panel-default">
        <div class="panel-heading"> <h4><strong>Contact Information</strong> </h4>  </div>
        <div class="panel-body">
          <div class="row">

            <div class="form-group col-sm-2">
              <label class="control-label" translate="finreApp.contact.salutation">Salutation</label>
              <select class="form-control" name="salutation"   ng-model="vm.contact.salutation"
                      ng-options="salutationOptions as salutationOptions.name for salutationOptions in vm.salutationOptions track by salutationOptions.name"
                       uib-tooltip="Salutation">
                <option value=""> Salutation  </option>
              </select>
            </div>
            <div class="form-group col-sm-3"  ng-class="{'has-error': editForm.firstName.$invalid}">
              <label class="control-label" translate="finreApp.contact.firstName">FirstName</label>
              <input type="text" class="form-control" name="firstName"
                     ng-model="vm.contact.firstName" placeholder="First Name"
                     required uib-tooltip="Enter First Name"/>

            </div>
            <div class="form-group col-sm-3"  ng-class="{'has-error': editForm.lastName.$invalid}">
              <label class="control-label" translate="finreApp.contact.lastName">LastName</label>
              <input type="text" class="form-control" name="lastName"
                     ng-model="vm.contact.lastName" placeholder="Last Name"
                     required uib-tooltip="Enter Last Name"/>
            </div>
            <div class="form-group col-sm-4"  ng-class="{'has-error': editForm.contactCompanyName.$invalid}">
              <label class="control-label">Company Name</label>
              <input type="text" class="form-control" name="contactCompanyName"
                     ng-model="vm.contact.contactCompanyName" placeholder="Company Name"
                     uib-tooltip="Enter Company Name"/>
            </div>
          </div>
          <div class="row" ng-if="vm.contact.international===0">
            <!--<div class="form-group col-sm-1">
            <md-switch  aria-label="RGA Switch"  ng-model="vm.contact.international" ng-true-value="1" ng-false-value="0" class="md-warn" uib-tooltip="International"/>
            </md-switch>
              </div>-->
            <div class="form-group col-sm-3">
              <label class="control-label">Phone Number </label>
              <input type="text" class="form-control" name="phoneNumber"
                     ng-model="vm.contact.phoneNumber" placeholder="Phone Number" uib-tooltip="Enter Phone Number" />
            </div>
            <div class="form-group col-sm-3">
              <label class="control-label" translate="finreApp.contact.faxNumber">FaxNumber</label>
              <input type="text" class="form-control" name="faxNumber"
                     ng-model="vm.contact.faxNumber" placeholder="Fax Number" uib-tooltip="Enter Fax Number"
              />
            </div>
            <div class="form-group col-sm-3">
              <label class="control-label" translate="finreApp.contact.mobileNumber">MobileNumber</label>
              <input type="text" class="form-control" name="mobileNumber" maxlength="14"
                     ng-model="vm.contact.mobileNumber" placeholder="Mobile Number" uib-tooltip="Enter Mobile Number" />
            </div>
            <div class="form-group col-sm-3">
              <label class="control-label" translate="finreApp.contact.email">Email</label>
              <input type="email" class="form-control" name="email"
                     ng-model="vm.contact.email" placeholder="Email Address"
                     uib-tooltip="Enter Email Address"/>
            </div>
          </div>

          <div class="row" ng-if="vm.contact.international===1">
            <!--<div class="form-group col-sm-1">
              <md-switch  aria-label="RGA Switch"  ng-model="vm.contact.international" ng-true-value="1" ng-false-value="0" class="md-warn" uib-tooltip="Domestic"/>
              </md-switch>
            </div>-->
            <div class="form-group col-sm-3">
              <label class="control-label">Phone Number </label>
              <input type="text" class="form-control" name="phoneNumber"
                     ng-model="vm.contact.phoneNumber" placeholder="Phone Number" uib-tooltip="Enter Phone Number" />
            </div>
            <div class="form-group col-sm-3">
              <label class="control-label" translate="finreApp.contact.faxNumber">FaxNumber</label>
              <input type="text" class="form-control" name="faxNumber"
                     ng-model="vm.contact.faxNumber" placeholder="Fax Number" uib-tooltip="Enter Fax Number"  ui-us-phone-number
              />
            </div>
            <div class="form-group col-sm-3">
              <label class="control-label" translate="finreApp.contact.mobileNumber">MobileNumber</label>
              <input type="text" class="form-control" name="mobileNumber" maxlength="14"
                     ng-model="vm.contact.mobileNumber" placeholder="Mobile Number" uib-tooltip="Enter Mobile Number" ui-us-phone-number/>
            </div>
            <div class="form-group col-sm-3">
              <label class="control-label" translate="finreApp.contact.email" >Email</label>
              <input type="email" class="form-control" name="email"
                     ng-model="vm.contact.email" placeholder="Email Address"
                     uib-tooltip="Enter Email Address"/>
            </div>
          </div>
          <div class="row">
              <div class="form-group col-sm-12">
              <textarea class="form-control" name="contactComment" ng-model="vm.contact.comments"
                        placeholder="Comments" rows="4"></textarea>
            </div>
          </div>
          <div class="row">
          </div>
      </div>

      </div>
      <div class="panel panel-default">
        <div class="panel-heading"> <h4><strong>Address</strong> </h4>  </div>
        <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-6" ng-class="{'has-error': editForm.country.$invalid}">
            <label class="control-label" translate="finreApp.contact.country">Country</label>
            <select class="form-control" name="country" ng-model="vm.contact.country"
                    ng-options=" country as country.name for country in vm.gfsCountries |orderBy:'name' track by country.name"
                    ng-change="vm.selectedCountry()" uib-tooltip="Select Country" required>
              <option value="">-- Country --</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label" translate="finreApp.contact.region">Region</label>
            <input type="text" class="form-control" name="region"
                   ng-model="vm.contact.country.region" placeholder="Region"
            readonly/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label class="control-label" translate="finreApp.contact.address1">Address1</label>
            <input type="text" class="form-control" name="address1"
                   ng-model="vm.contact.address1" placeholder="Address1" uib-tooltip="Input Address" />
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label" translate="finreApp.contact.address2">Address2</label>
            <input type="text" class="form-control" name="address2"
                   ng-model="vm.contact.address2" placeholder="Address2" uib-tooltip="Input second address"/>
          </div>

        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label class="control-label" translate="finreApp.contact.city">City</label>
            <input type="text" class="form-control" name="city"
                   ng-model="vm.contact.city" placeholder="City"  uib-tooltip="Input City"/>
          </div>
          <div class="form-group col-sm-4">
            <label class="control-label">{{vm.stateLbl}}</label>
            <div ng-show="vm.toggleState">
              <select class="form-control" name="state" ng-model="vm.contact.state"
                      ng-options="state as state.name for state in vm.states | orderBy:'name' track by state.name"
                      uib-tooltip="Select State">
                <option value="">-- State --</option>
              </select>
            </div>
            <div ng-show="!vm.toggleState">
              <input type="text" class="form-control" name="province"
                     ng-model="vm.contact.province" placeholder="{{vm.stateLbl}}"   uib-tooltip="Input Province"/>
            </div>
          </div>
          <div class="form-group col-sm-4"   ng-if="vm.contact.international===1">
            <label class="control-label">{{vm.zipLbl}}</label>
            <input type="text" class="form-control" name="postalCode" ng-pattern="/^(\d{5})(-\d{4})?$/"
                   ng-model="vm.contact.postalCode" placeholder="{{vm.zipLbl}}"  uib-tooltip="Input {{vm.zipLbl}} format: 12345 or 12345-6789"/>
          </div>
          <div class="form-group col-sm-4"   ng-if="vm.contact.international===0">
            <label class="control-label">{{vm.zipLbl}}</label>
            <input type="text" class="form-control" name="postalCode"
                   ng-model="vm.contact.postalCode" placeholder="{{vm.zipLbl}}" uib-tooltip="{{vm.zipLbl}}"/>
          </div>
        </div>
          </div>
      </div>

    </div>
    <div class="modal-footer">
      <button id="cancel" type="button" class="btn btn-default rga-font" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
      </button>
      <button id="saveContact" type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-default rga-font">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
      </button>
    </div>
  </form>
</div>
