<div>
  <div class="rga-well">
    <h3><strong class="rga-font fa fa-lg"> <strong translate="finreApp.contact.home.title"></strong></strong></h3>
  <div class="container-fluid">
    <div class="row">
      <intro-button options="vm.introOptions"/>
      <div class="col-xs-2 no-padding-left">
        <button id="newContact" class="step1 btn btn-block rga-button" ui-sref="contact.new">
          <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs" translate="finreApp.contact.home.createLabel">
                Create new Contact
            </span>
        </button>
      </div>
      <div class="col-sm-4 text-center">
    <!--    <button class="btn btn-default rga-font" ng-click="loadAll()"
                title="{{ 'global.form.button.refresh' | translate }}"><span class="fa fa-refresh fa-lg"></span>
          <md-tooltip md-direction="top">
            Refresh the Contacts List
          </md-tooltip>
        </button>-->
      </div>
      <div class="step2 col-xs-6 no-padding-right">
        <form name="searchForm" class="form-inline">
          <div class="input-group pull-right">
            <input type="text" class="form-control" ng-model="vm.searchQuery"
              placeholder="To search, type a complete or partial First Name OR Last Name"
                   onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch').click()">
              <span class="input-group-btn width-min">
                <button id="btnSearch" class="btn btn-block rga-button" ng-click="vm.search(vm.searchQuery)">
                  <span class="glyphicon glyphicon-search"></span>
                   <md-tooltip md-direction="top">
                     To search, type a complete or partial First Name OR Last Name
                  </md-tooltip>
                </button>
              </span>
              <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                <button id="clear" class="btn btn-block rga-button" ng-click="vm.clear()">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <div class="panel panel-default">
    <table class="step3 jh-table table table-striped table-hover">
      <thead class="rga-thead">
      <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
        <th jh-sort-by="firstName"><span translate="finreApp.contact.firstName">FirstName</span> <span
          class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="lastName"><span translate="finreApp.contact.lastName">LastName</span> <span
          class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="contactCompanyName"><span>Company Name</span> <span
          class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="phoneNumber"><span translate="finreApp.contact.phoneNumber"></span> <span
          class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="email"><span translate="finreApp.contact.email"></span> <span
          class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="country.name"><span translate="finreApp.contact.country">Country</span> <span
          class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="country.region"><span translate="finreApp.contact.region">Region</span> <span
          class="glyphicon glyphicon-sort"></span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="contact in vm.contacts track by contact.id" class="cursor-pointer">
        <td ui-sref="contact-detail({id:contact.id})">{{contact.firstName}}</td>
        <td ui-sref="contact-detail({id:contact.id})">{{contact.lastName}}</td>
        <td ui-sref="contact-detail({id:contact.id})">{{contact.contactCompanyName}}</td>
        <td ui-sref="contact-detail({id:contact.id})">{{contact.phoneNumber}}</td>
        <td ui-sref="contact-detail({id:contact.id})">{{contact.email}}</td>
        <td ui-sref="contact-detail({id:contact.id})">{{contact.country.name}}</td>
        <td ui-sref="contact-detail({id:contact.id})">{{contact.country.region}}</td>
        <td class="text-right">
          <div class="step4 btn-group flex-btn-group-container">
            <button id="contactEdit" type="submit"
                    ui-sref="contact.edit({id:contact.id})"
                    class="btn btn-default rga-font">
              <span class="glyphicon glyphicon-pencil"></span>
              <md-tooltip md-direction="top">
                Edit Contact
              </md-tooltip>
            </button>
            <button id="deleteContact" type="submit"
                    ui-sref="contact.delete({id:contact.id})"
                    class="btn btn-default rga-font">
              <span class="glyphicon glyphicon-remove"></span>
              <md-tooltip md-direction="top">
                Delete Contact
              </md-tooltip>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="vm.totalItems!=0" class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    <uib-pagination class="step5 pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                    ng-change="vm.transition()"></uib-pagination>
  </div>

  <div ng-if="vm.totalItems==0" class="text-center">
    <div  id="noPages"  class="text-center"> Showing 0 - 0 of 0 items.</div>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                    ng-change="vm.transition()"></uib-pagination>
  </div>
</div>
