<div class="panel align-right">
  <div class="panel-heading rga-header">

    <div class="row">
      <div class="form-group col-sm-12">
        <div class="col-sm-4"> <br>
                  <button id="editContact" type="submit"
                  ui-sref="contact-detail.edit({id:vm.treatyId})"
                  class="btn btn-default rga-button"
                  uib-tooltip="Edit Contact">
            <span class="glyphicon glyphicon-pencil"></span>
                  </button>
          <button id="backToList" type="submit"
                  ui-sref="contact"
                  class="btn rga-button">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Back to Contacts List
          </button>
        </div>
        <div class="col-sm-8">
          <h3 class="rga-right"><strong class="rga-font fa">
            <span>{{vm.contact.firstName}}</span> <span>{{vm.contact.lastName}}</span></strong></h3>
        </div>
      </div>
    </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading"> <h4><strong>Contact Information</strong> </h4>  </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-sm-2">
          <label class="control-label" translate="finreApp.contact.salutation">Salutation</label>
        <input class="form-control" readonly ng-model="vm.contact.salutation" />
        </div>
        <div class="form-group col-sm-3"  ng-class="{'has-error': editForm.firstName.$invalid}">
          <label class="control-label" translate="finreApp.contact.firstName">FirstName</label>
          <input class="form-control" readonly ng-model="vm.contact.firstName"/>
        </div>
        <div class="form-group col-sm-3"  ng-class="{'has-error': editForm.lastName.$invalid}">
          <label class="control-label" translate="finreApp.contact.lastName">LastName</label>
          <input class="form-control" readonly ng-model="vm.contact.lastName"/>
        </div>
        <div class="form-group col-sm-4">
          <label class="control-label" >Company Name</label>
          <input class="form-control" readonly ng-model="vm.contact.contactCompanyName"/>
        </div>
      </div>
      <div class="row" ng-if="vm.contact.international===0">

        <div class="form-group col-sm-2">
          <label class="control-label">Phone Number </label>
          <input class="form-control" readonly ng-model="vm.contact.phoneNumber"/>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" translate="finreApp.contact.faxNumber">FaxNumber</label>
          <input class="form-control" readonly ng-model="vm.contact.faxNumber"/>

        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" translate="finreApp.contact.mobileNumber">MobileNumber</label>
          <input class="form-control" readonly ng-model="vm.contact.mobileNumber"/>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" translate="finreApp.contact.email">Email</label>
          <input class="form-control" readonly ng-model="vm.contact.email"/>

        </div>
      </div>

      <div class="row" ng-if="vm.contact.international===1">
        <div class="form-group col-sm-2">
          <label class="control-label">Phone Number </label>
          <input class="form-control" readonly ng-model="vm.contact.phoneNumber"/>
          </div>
        <div class="form-group col-sm-3">
          <label class="control-label" translate="finreApp.contact.faxNumber">FaxNumber</label>
          <input class="form-control" readonly ng-model="vm.contact.faxNumber"/>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" translate="finreApp.contact.mobileNumber">MobileNumber</label>
          <input class="form-control" readonly ng-model="vm.contact.mobileNumber"/>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" translate="finreApp.contact.email" >Email</label>
          <input class="form-control" readonly ng-model="vm.contact.email"/>
        </div>
      </div>
      <div class="row">



        <div class="form-group col-sm-12">
          <label class="control-label" >Comments</label>
          <input class="form-control" readonly ng-model="vm.contact.comments"/>
        </div>
      </div>
      <div class="row">
      </div>
    </div>

  </div>
  <div class="panel panel-default">
    <div class="panel-heading"> <h4><strong>Address Information</strong> </h4>  </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-sm-6" ng-class="{'has-error': editForm.country.$invalid}">
          <label class="control-label" translate="finreApp.contact.country">Country</label>
          <input class="form-control" readonly ng-model="vm.contact.country.name"/>
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label" translate="finreApp.contact.region">Region</label>
          <input class="form-control" readonly ng-model="vm.contact.country.region"/>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label class="control-label" translate="finreApp.contact.address1">Address1</label>
          <input class="form-control" readonly ng-model="vm.contact.address1"/>
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label" translate="finreApp.contact.address2">Address2</label>
          <input class="form-control" readonly ng-model="vm.contact.address2"/>
        </div>

      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label class="control-label" translate="finreApp.contact.city">City</label>
          <input class="form-control" readonly ng-model="vm.contact.city"/>
        </div>
        <div class="form-group col-sm-4">
          <label class="control-label">State/Province </label>
          <div ng-show="vm.toggleState">
            <input class="form-control" readonly ng-model="vm.contact.state"/>
          </div>
          <div ng-show="!vm.toggleState">
            <input class="form-control" readonly ng-model="vm.contact.province"/>
          </div>
        </div>
        <div class="form-group col-sm-4"   ng-if="vm.contact.international===1">
          <label class="control-label">Postal/Code</label>
          <input class="form-control" readonly ng-model="vm.contact.postalCode"/>
        </div>
        <div class="form-group col-sm-4"   ng-if="vm.contact.international===0">
          <label class="control-label">Postal/Code</label>
          <input class="form-control" readonly ng-model="vm.contact.postalCode"/>

        </div>
      </div>
    </div>
  </div>
</div>
