<form name="deleteForm" ng-submit="vm.confirmDelete(vm.contact.id)">
  <div class="modal-header">
    <button id="deleteContact" type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" >Confirm delete operation</h4>
  </div>
  <div class="modal-body">

    <p  translate-values="{id: '{{vm.contact.id}}'}">
      This contact is associated with {{vm.treatyList.length}} treaties.
      When deleting the contact, it will be removed from all treaties.
    </p>
  </div>
  <div class="modal-footer">
    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
    </button>
    <button id="delete" type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
